<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="Viewforumtopicform" (ngSubmit)="onUpdateForumTopic(forumtopic)" class="tcs_licfrm">
        <div class="row">




          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Forum_Id">Forum Id</label>
             


                <select id="Forum_Id" class="form-control" name="Forum_Id" (change)="test($event)" [(ngModel)]="forumtopic.Forum_Id" formControlName="forumtopic.Forum_Id">

                  <option *ngFor="let item of listofForums" [value]="item.Id">{{item.ForumName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="Viewforumtopicform.controls['forumtopic.Forum_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              
            </div>
          </div>





          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Member_Id">Member_Id</label>
             


                <select id="Member_Id" class="form-control" name="Member_Id" (change)="test3($event)" [(ngModel)]="forumtopic.Member_Id" formControlName="forumtopic.Member_Id">

                  <option *ngFor="let item of listofMembers" [value]="item.Id">{{item.UserName}}</option>

                </select>
                <ul class="help-block">
                  <li *ngIf="Viewforumtopicform.controls['forumtopic.Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

            
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">

            
              <label for="ForumTopicTitle">ForumTopicTitle</label>
              <input type="text" class="form-control tcslgn_inp" id="ForumTopicTitle" placeholder="ForumTopicTitle" [(ngModel)]="forumtopic.ForumTopicTitle" [formControl]="Viewforumtopicform.controls['forumtopic.ForumTopicTitle']" />
            
            <ul class="hp_blk">
              <li *ngIf="Viewforumtopicform.controls['forumtopic.ForumTopicTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">

          
              <label for="ForumTopicContent">ForumTopicContent</label>
              <input type="text" class="form-control tcslgn_inp" id="ForumTopicContent" placeholder="ForumTopicContent" [(ngModel)]="forumtopic.ForumTopicContent" [formControl]="Viewforumtopicform.controls['forumtopic.ForumTopicContent']" />
            
            <ul class="hp_blk">
              <li *ngIf="Viewforumtopicform.controls['forumtopic.ForumTopicContent'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">

            
              <label for="ForumTopicType">ForumTopicType</label>
              <input type="text" class="form-control tcslgn_inp" id="ForumTopicType" placeholder="ForumTopicType" [(ngModel)]="forumtopic.ForumTopicType" [formControl]="Viewforumtopicform.controls['forumtopic.ForumTopicType']" />
            
            <ul class="hp_blk">
              <li *ngIf="Viewforumtopicform.controls['forumtopic.ForumTopicType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">


            <label for="ForumTopicFile1">ForumTopicFile1</label>
            <input type="file" class="form-control tcslgn_inp" id="ForumTopicFile1" />


          </div>

          <div class="col-12 col-md-6 mb-1">


            <label for="ForumTopicFile2">ForumTopicFile2</label>
            <input type="file" class="form-control tcslgn_inp" id="ForumTopicFile2" />


          </div>

          <div class="col-12 col-md-6 mb-1">


            <label for="ForumTopicFile3">ForumTopicFile3</label>
            <input type="file" class="form-control tcslgn_inp" id="ForumTopicFile3" />


          </div>




          <div class="col-12 col-md-6 mb-1">
           
              <label for="ForumTopicStatus">ForumTopicStatus :</label>
              <select id="ForumTopicStatus" class="form-control" name="ForumTopicStatus" [(ngModel)]="forumtopic.ForumTopicStatus" placeholder="ForumTopicStatus" formControlName="forumtopic.ForumTopicStatus">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Active</option>
                <option>InActive</option>
              </select>
              <ul class="hp_blk">
                <li *ngIf="Viewforumtopicform.controls['forumtopic.ForumTopicStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
          
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="ForumTopicIsModerated">

              <input type="checkbox" [checked]="ForumTopicIsModerated?'checked':''" [(ngModel)]="forumtopic.ForumTopicIsModerated" name="ForumTopicIsModerated" id="ForumTopicIsModerated" [formControl]="Viewforumtopicform.controls['forumtopic.ForumTopicIsModerated']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">ForumTopic IsModerated</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
