
<div class="container-fluid table_wrap">
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>

    <div class="rht_btns">
      <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
      <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

      <div class="clearfix"></div>
    </div>

    <!--<div class="clearfix"></div>-->
    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>

    <!--<h3>ContentCategory</h3>-->
    <!--<div class="table-responsive">
    <table width=99.90% datatable class="table row-border hover mytbl">
      <thead>
        <tr class="thdr">
          <th style="width:80px;">Id</th>
          <th>Name</th>
          <th>ContentCategory CreatedDate</th>
          <th style="width:60px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rec of this.listofcontentcategory let i=index" class="trdata">
          <td>{{i+1}}</td>
          <td>{{rec.ContentCategoryName}}</td>
          <td>{{rec.ContentCategoryCreatedDate}}</td>
          <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
        </tr>
      </tbody>

    </table>




  </div>-->
  </div>
</div>



<div class="create_popup" id="crpop" >
  <h3 class="pop_heading">Create Content Category</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">
        <!--<h3>Create AccountManagement</h3>-->
        <!--popup content goes here-->
        <form [formGroup]="form" (ngSubmit)="onCreateContentCategory()" class="tcs_licfrm">
          <div class="row">
            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ContentCategoryName.valid && form.controls.ContentCategoryName.errors && form.controls.ContentCategoryName.dirty && form.get('ContentCategoryName').touched,
                                  'text-success': form.controls.ContentCategoryName.valid && form.controls.ContentCategoryName.dirty}">
                <label for="email">Content Category Name</label>
                <input type="text" class="form-control tcslgn_inp" id="ContentCategoryName" placeholder="Content Category Name" [(ngModel)]="ContentCategoryName" [formControl]="form.controls['ContentCategoryName']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ContentCategoryName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            </div>
            <div class="col-12 col-md-6 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ContentCategoryType.valid && form.controls.ContentCategoryType.errors && form.controls.ContentCategoryType.dirty && form.get('ContentCategoryType').touched,
                                  'text-success': form.controls.ContentCategoryType.valid && form.controls.ContentCategoryType.dirty}">
                <label for="pwd">Content Category Type</label>

                <select id="ContentCategoryType" class="form-control tcslgn_inp" name="ContentCategoryType" [(ngModel)]="ContentCategoryType" [formControl]="form.controls['ContentCategoryType']">
                  <option [ngValue]="undefined" disabled selected>Content Category Type </option>
                  <option>Audio</option>
                  <option>Video</option>
                  <option>Files</option>

                </select>

            
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ContentCategoryType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ContentCategoryStartedDate.valid && form.controls.ContentCategoryStartedDate.errors && form.controls.ContentCategoryStartedDate.dirty && form.get('ContentCategoryStartedDate').touched,
                                  'text-success': form.controls.ContentCategoryStartedDate.valid && form.controls.ContentCategoryStartedDate.dirty}">
                <label for="pwd">Content Category StartedDate</label>

                <input type="date" class="form-control tcslgn_inp" id="ContentCategoryStartedDate" placeholder="Content Category Started Date" [(ngModel)]="ContentCategoryStartedDate" [formControl]="form.controls['ContentCategoryStartedDate']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ContentCategoryStartedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ContentCategoryValidTill.valid && form.controls.ContentCategoryValidTill.errors && form.controls.ContentCategoryValidTill.dirty && form.get('ContentCategoryValidTill').touched,
                                  'text-success': form.controls.ContentCategoryValidTill.valid && form.controls.ContentCategoryValidTill.dirty}">
                <label for="pwd">Content Category ValidTill</label>

                <input type="date" class="form-control tcslgn_inp" format='yyyy-mm-dd' id="ContentCategoryValidTill" placeholder="Content Category Valid Till" [(ngModel)]="ContentCategoryValidTill" [formControl]="form.controls['ContentCategoryValidTill']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ContentCategoryValidTill'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
                <div class="validation-error" style="color:red" *ngIf="ContentCategoryStartedDate > ContentCategoryValidTill">
                  End Date Should Be Greater Than Start Date
                </div>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-12 col-md-6 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ContentCategoryStatus.valid && form.controls.ContentCategoryStatus.errors && form.controls.ContentCategoryStatus.dirty && form.get('ContentCategoryStatus').touched,
                                  'text-success': form.controls.ContentCategoryStatus.valid && form.controls.ContentCategoryStatus.dirty}">
                <label for="pwd">Content Category Status</label>
                <select id="ContentCategoryStatus" class="form-control tcslgn_inp" name="ContentCategoryStatus" [(ngModel)]="ContentCategoryStatus" placeholder="Content Category Status" [formControl]="form.controls['ContentCategoryStatus']">
                  <option [ngValue]="undefined" disabled selected> Select Status </option>
                  <option>Active</option>
                  <option>InActive</option>

                </select>
              
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ContentCategoryStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
          </div>


          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


