<div class="container-fluid memberform">
  <div class="row">
    <!--<h3>View Member ProgramPurchase</h3>-->


    <div class="col-12 vmp">
      <h3>View Member ProgramPurchase</h3>
      <hr>
      <p><span><strong>Member Name</strong> </span> : <span class="um">{{userName}}</span></p>
      <p><span><strong>PaymentTransactionRef_Id</strong> </span> : <span class="um">{{servicepurchase.PaymentTransactionRef_Id}}</span></p>
      <p><span><strong>PaymentMode </strong> </span> : <span class="um">{{servicepurchase.PaymentMode}}</span></p>
      <p><span><strong>ServiceValidStartDate</strong>  </span> : <span class="um">{{servicepurchase.ServiceValidStartDate}}</span></p>
      <p><span><strong>ServiceValidTillDate </strong> </span> : <span class="um">{{servicepurchase.ServiceValidTillDate}}</span></p>
      <p><span><strong>ServiceAccessDuration</strong> </span> : <span class="um">{{servicepurchase.ServiceAccessDuration}}</span></p>
      <p><span><strong>NextRenewalDate </strong> </span> : <span class="um">{{servicepurchase.NextRenewalDate}}</span></p>
      <p><span><strong>ServiceStatus </strong> </span> : <span class="um">{{servicepurchase.ServiceStatus}}</span></p>
      <p><span><strong>PaymentStatus </strong></span> : <span class="um">{{servicepurchase.PaymentStatus}}</span></p>


    </div>
    <!--<div class="col-12">
    <label>Member Name : {{userName}}</label>
    <br />
    <label> PaymentTransactionRef_Id : {{servicepurchase.PaymentTransactionRef_Id}}</label>
    <br />
    <label>PaymentMode:{{servicepurchase.PaymentMode}}</label>
    <br />
    <label>ServiceValidStartDate:{{servicepurchase.ServiceValidStartDate}}</label>
    <br />
    <label>ServiceValidTillDate:{{servicepurchase.ServiceValidTillDate}}</label>
    <br />
    <label>NextRenewalDate:{{servicepurchase.NextRenewalDate}}</label>
    <br />
    <label>ServiceAccessDuration:{{servicepurchase.ServiceAccessDuration}}</label>
    <br />
    <label>ServiceStatus:{{servicepurchase.ServiceStatus}}</label>
    <br />
    <label>PaymentStatus:{{servicepurchase.PaymentStatus}}</label>
  </div>-->
  </div>
</div>
