<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount" class="form-control" name="MasterAccount" (change)="onChange($event)" [(ngModel)]="MasterAccount">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>




      </div>

    </div>




    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>ForumName</th>

            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofthemestudio let i=index" class="trdata">
            <td>{{i+1}}</td>
            <td>{{rec.ExerciseTitle}}</td>


            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>

<div class="create_popup" id="crpop" >

  <h3 class="pop_heading">Create Exercise Type</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>

  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">

        <form method="post" [formGroup]="form" (ngSubmit)="onCreateExerciseType()" class="tcs_licfrm">
          <div class="row">
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MasterAccount_Id">MasterAccount Name</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.MasterAccount_Id.valid && form.controls.MasterAccount_Id.errors
                         && form.controls.MasterAccount_Id.dirty && form.get('MasterAccount_Id').touched,
                'text-success': form.controls.MasterAccount_Id.valid &&form.controls.MasterAccount_Id.dirty}">


                  <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="test($event)" [(ngModel)]="MasterAccount_Id" formControlName="MasterAccount_Id">

                    <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ExerciseTypeName.valid && form.controls.ExerciseTypeName.errors && form.controls.ExerciseTypeName.dirty && form.get('ExerciseTypeName').touched,
                                  'text-success': form.controls.ExerciseTypeName.valid && form.controls.ExerciseTypeName.dirty}">
                <label for="ExerciseTypeName">Exercise Type Name</label>
                <input type="text" class="form-control tcslgn_inp" id="ExerciseTypeName" placeholder="Exercise Type Name" [(ngModel)]="ExerciseTypeName" [formControl]="form.controls['ExerciseTypeName']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseTypeName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ExerciseTypeIcon">ExerciseType Icon</label>
                <input type="file" class="form-control tcslgn_inp" id="ExerciseTypeIcon" name="ExerciseTypeIcon" />
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ExerciseTypeDescription.valid && form.controls.ExerciseTypeDescription.errors && form.controls.ExerciseTypeDescription.dirty && form.get('ExerciseTypeDescription').touched,
                                  'text-success': form.controls.ExerciseTypeDescription.valid && form.controls.ExerciseTypeDescription.dirty}">
                <label for="ExerciseTypeDescription">ExerciseTypeDescription</label>
                <input type="text" class="form-control tcslgn_inp" id="ExerciseTypeDescription" placeholder="Exercise Type Description" [(ngModel)]="ExerciseTypeDescription" [formControl]="form.controls['ExerciseTypeDescription']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseTypeDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>

            <div class="col-12 col-md-6 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ExerciseTypeStatus.valid && form.controls.ExerciseTypeStatus.errors && form.controls.ExerciseTypeStatus.dirty && form.controls('ExerciseTypeStatus').touched,
                                  'text-success': form.controls.ExerciseTypeStatus.valid && form.controls.ExerciseTypeStatus.dirty}">
                <label for="ExerciseTypeStatus">Exercise Type Status :</label>
                <select id="ExerciseTypeStatus" class="form-control" name="ExerciseTypeStatus" [(ngModel)]="ExerciseTypeStatus" placeholder="Exercise Type Status" formControlName="ExerciseTypeStatus">
                  <option [ngValue]="undefined" disabled selected> Select Status </option>
                  <option>Active</option>
                  <option>InActive</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ExerciseTypeStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>




          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


