
<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>


   


      </div>

    </div>


    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>

    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>ForumTopicTitle</th>

            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofforumtopic let i=index" class="trdata">
            <td>{{i+1}}</td>
            <td>{{rec.ForumTopicTitle}}</td>


            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>



<div class="create_popup" id="crpop">

  <h3 class="pop_heading">Create ForumTopic</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>

  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">

        <form [formGroup]="form" (ngSubmit)="onCreateForumTopic()" class="tcs_licfrm">
          <div class="row">




            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="Forum_Id">Forum Id</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.Forum_Id.valid && form.controls.Forum_Id.errors
                         && form.controls.Forum_Id.dirty && form.get('Forum_Id').touched,
                'text-success': form.controls.Forum_Id.valid &&form.controls.Forum_Id.dirty}">


                  <select id="Forum_Id" class="form-control" name="Forum_Id" (change)="test($event)" [(ngModel)]="Forum_Id" formControlName="Forum_Id">

                    <option *ngFor="let item of listofForums" [value]="item.Id">{{item.ForumName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['Forum_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>





            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="Member_Id">Member_Id</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.Member_Id.valid && form.controls.Member_Id.errors
                         && form.controls.Member_Id.dirty && form.get('Member_Id').touched,
                'text-success': form.controls.Member_Id.valid &&form.controls.Member_Id.dirty}">


                  <select id="Member_Id" class="form-control" name="Member_Id" (change)="test3($event)" [(ngModel)]="Member_Id" formControlName="Member_Id">

                    <option *ngFor="let item of listofMembers" [value]="item.Id">{{item.UserName}}</option>

                  </select>
                  <ul class="help-block">
                    <li *ngIf="form.controls['Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

              <div class="col-12 col-md-6 mb-1">

                <div [ngClass]="{'has-error' : !form.controls.ForumTopicTitle.valid && form.controls.ForumTopicTitle.errors && form.controls.ForumTopicTitle.dirty && form.get('ForumTopicTitle').touched,
                                  'text-success': form.controls.ForumTopicTitle.valid && form.controls.ForumTopicTitle.dirty}">
                  <label for="ForumTopicTitle">ForumTopicTitle</label>
                  <input type="text" class="form-control tcslgn_inp" id="ForumTopicTitle" placeholder="ForumTopicTitle" [(ngModel)]="ForumTopicTitle" [formControl]="form.controls['ForumTopicTitle']" />
                </div>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ForumTopicTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>


              <div class="col-12 col-md-6 mb-1">

                <div [ngClass]="{'has-error' : !form.controls.ForumTopicContent.valid && form.controls.ForumTopicContent.errors && form.controls.ForumTopicContent.dirty && form.get('ForumTopicContent').touched,
                                  'text-success': form.controls.ForumTopicContent.valid && form.controls.ForumTopicContent.dirty}">
                  <label for="ForumTopicContent">ForumTopicContent</label>
                  <input type="text" class="form-control tcslgn_inp" id="ForumTopicContent" placeholder="ForumTopicContent" [(ngModel)]="ForumTopicContent" [formControl]="form.controls['ForumTopicContent']" />
                </div>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ForumTopicContent'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>


              <div class="col-12 col-md-6 mb-1">

                <div [ngClass]="{'has-error' : !form.controls.ForumTopicType.valid && form.controls.ForumTopicType.errors && form.controls.ForumTopicType.dirty && form.get('ForumTopicType').touched,
                                  'text-success': form.controls.ForumTopicType.valid && form.controls.ForumTopicType.dirty}">
                  <label for="ForumTopicType">ForumTopicType</label>
                  <input type="text" class="form-control tcslgn_inp" id="ForumTopicType" placeholder="ForumTopicType" [(ngModel)]="ForumTopicType" [formControl]="form.controls['ForumTopicType']" />
                </div>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ForumTopicType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>


              <div class="col-12 col-md-6 mb-1">


                <label for="ForumTopicFile1">ForumTopicFile1</label>
                <input type="file" class="form-control tcslgn_inp" id="ForumTopicFile1" />


              </div>

              <div class="col-12 col-md-6 mb-1">


                <label for="ForumTopicFile2">ForumTopicFile2</label>
                <input type="file" class="form-control tcslgn_inp" id="ForumTopicFile2" />


              </div>

              <div class="col-12 col-md-6 mb-1">


                <label for="ForumTopicFile3">ForumTopicFile3</label>
                <input type="file" class="form-control tcslgn_inp" id="ForumTopicFile3" />


              </div>




              <div class="col-12 col-md-6 mb-1">
                <div [ngClass]="{'has-error' : !form.controls.ForumTopicStatus.valid && form.controls.ForumTopicStatus.errors && form.controls.ForumTopicStatus.dirty && form.controls('ForumTopicStatus').touched,
                                  'text-success': form.controls.ForumTopicStatus.valid && form.controls.ForumTopicStatus.dirty}">
                  <label for="ForumTopicStatus">ForumTopicStatus :</label>
                  <select id="ForumTopicStatus" class="form-control" name="ForumTopicStatus" [(ngModel)]="ForumTopicStatus" placeholder="ForumTopicStatus" formControlName="ForumTopicStatus">
                    <option [ngValue]="undefined" disabled selected> Select Status </option>
                    <option>Active</option>
                    <option>InActive</option>
                  </select>
                  <ul class="hp_blk">
                    <li *ngIf="form.controls['ForumTopicStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                </div>
              </div>


              <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

                <label class="custom-control custom-checkbox mb-3" for="ForumTopicIsModerated">

                  <input type="checkbox" [checked]="ForumTopicIsModerated?'checked':''" [(ngModel)]="ForumTopicIsModerated" name="ForumTopicIsModerated" id="ForumTopicIsModerated" [formControl]="form.controls['ForumTopicIsModerated']" />
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">ForumTopic IsModerated</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-info">Submit</button>
            </div>
</form>
      </div>
    </div>
  </div>

</div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>
