<nav class="menu spnl" [style.background-image]="'url(\'assets/images/dbg.jpg\')'">
  
  <div class="site_logo">
    <img src="assets/images/tcslogo.png" class="logo" alt="" width="100%;">
    
  </div>

  <ul class="navigation sidetop">
    <!--<li *ngFor="let item of this.menuItems.getAll()">
    <a [routerLink]="['/', item.state]">{{item.name}}</a>
  </li>-->




    <li id="nochild" (click)="hideSubmenu()">
      <a [routerLink]="'/admindashboards'" routerLinkActive="act">
        <img src="assets/images/size.png" width="18" alt="dashboard" title="dashboard"> Dashboard
      </a>
    </li>
    <li id="nochild" (click)="hideSubmenu()">
      <a [routerLink]="'/webclient'" routerLinkActive="act">
        <img src="assets/images/customer.png" width="18" alt="Client Master" title="Client Master"> Clients
      </a>
    </li>
    <li id="nochild" (click)="hideSubmenu()">
      <a [routerLink]="'/instancemanager'" routerLinkActive="act">
        <img src="assets/images/network.png" width="18" alt="Instance Manager" title="Instance Manager"> Instances
      </a>
    </li>
    <li id="nochild" (click)="hideSubmenu()">
      <a [routerLink]="'/license'" routerLinkActive="act">
        <img src="assets/images/identity-card.png" width="18" alt="License Manager" title="License Manager"> License
      </a>
    </li>
    <li id="nochild" (click)="hideSubmenu()">
      <a [routerLink]="'/accountmanagement'" routerLinkActive="act">
        <img src="assets/images/size.png" width="18" alt="Account Master" title="Account Master"> Account Master
      </a>
    </li>

    <!--<li id="nochild" (click)="hideSubmenu()">
    <a [routerLink]="'/accountmanagement'" routerLinkActive="act">
      <img src="assets/images/size.png" width="18" alt="Account Master" title="Account Master"> Account Master
    </a>
  </li>-->
    <!--<li id="nochild" (click)="hideSubmenu()">
    <a [routerLink]="'/accountmembership'" routerLinkActive="act">
      <img src="assets/images/account.png" width="18" alt="Account Membership" title="Membershipashboard"> Account Membership
    </a>
  </li>-->
    <!--<li id="nochild" (click)="hideSubmenu()">
    <a [routerLink]="'/members'" routerLinkActive="act">
      <img src="assets/images/mems.png" width="18" alt="Members" title="Members"> Members
    </a>
  </li>-->
    <!--<li id="nochild" (click)="hideSubmenu()">
    <a [routerLink]="'/exercisequestion'" routerLinkActive="act">
      <img src="assets/images/exce.png" width="18" alt="Exercise Question" title="dashbExercise Questionoard"> Exercise Question
    </a>
  </li>-->
    <!--<li id="nochild" (click)="hideSubmenu()">
    <a [routerLink]="'/exerciseanswer'" routerLinkActive="act">
      <img src="assets/images/asking.png" width="18" alt="Exercise Answer" title="Exercise Answer"> Exercise Answer
    </a>
  </li>-->
    <!--<li id="nochild" (click)="hideSubmenu()">
    <a [routerLink]="'/accountprograms'" routerLinkActive="act">
      <img src="assets/images/coding.png" width="18" alt="dashboAccount Programard" title="Account Program"> Account Program
    </a>
  </li>-->

    <!--<li (mouseover)="showSubMenu1()" (mouseout)="hideSubmenu()" data-toggle="dropdown">
      <a>
        <img src="assets/images/cmng.png" width="18" alt="dashboard" title="dashboard"> Accounts<span class="arw_down" id="arw1"><i class="fas fa-angle-down arwicn"></i></span>
      </a>
      <ul class="sub_hdlist" id="cm_dropdown">
        <li>
          <a [routerLink]="'/accountmanagement'" routerLinkActive="act">
            <img src="assets/images/size.png" width="18" alt="Account Master" title="Account Master"> Account Master
          </a>
        </li>
        <li>
          <a [routerLink]="'/accountmembership'" routerLinkActive="act">
            <img src="assets/images/account.png" width="18" alt="Account Membership" title="Membershipashboard"> Account Membership
          </a>
        </li>
        <li>
          <a [routerLink]="'/accountprograms'" routerLinkActive="act">
            <img src="assets/images/coding.png" width="18" alt="dashboAccount Programard" title="Account Program"> Account Program
          </a>
        </li>


      </ul>
    </li>-->

    <!--<li (mouseover)="showSubMenu2()" (mouseout)="hideSubmenu()">
    <a>
      <img src="assets/images/programming.png" width="18" alt="dashboard" title="dashboard"> Programs <span class="arw_down" id="arw2"><i class="fas fa-angle-down arwicn"></i></span>
    </a>
    <ul class="sub_hdlist" id="pm_dropdown">

      <li>
        <a [routerLink]="'/programstructure'" routerLinkActive="act">
          <img src="assets/images/cap.png" width="18" alt="Program Structure" title="Program Structure"> Program Structure
        </a>
      </li>


      <li>
        <a [routerLink]="'/capabilities'" routerLinkActive="act">
          <img src="assets/images/cap.png" width="18" alt="Capabilities" title="Capabilities"> Capabilities
        </a>
      </li>
      <li>
        <a [routerLink]="'/modules'" routerLinkActive="act">
          <img src="assets/images/module.png" width="18" alt="Modules" title="Modules"> Modules
        </a>
      </li>
    </ul>

  </li>-->
    <!--<li (mouseover)="showSubMenu3()" (mouseout)="hideSubmenu()">
    <a>
      <img src="assets/images/cmng.png" width="18" alt="dashboard" title="dashboard"> Exercise<span class="arw_down" id="arw1"><i class="fas fa-angle-down arwicn"></i></span>
    </a>
    <ul class="sub_hdlist" id="ex_dropdown">

      <li>
        <a [routerLink]="'/exercise'" routerLinkActive="act">
          <img src="assets/images/coding.png" width="18" alt="Exercise" title="Exercise"> Exercise
        </a>
      </li>

      <li>
        <a [routerLink]="'/exercisetype'" routerLinkActive="act">
          <img src="assets/images/coding.png" width="18" alt="Exercise Type" title="Exercise Type"> Exercise Type
        </a>
      </li>



      <li>
        <a [routerLink]="'/exercisequestion'" routerLinkActive="act">
          <img src="assets/images/exce.png" width="18" alt="Exercise Question" title="dashbExercise Questionoard"> Exercise Question
        </a>
      </li>
      <li>
        <a [routerLink]="'/exerciseanswer'" routerLinkActive="act">
          <img src="assets/images/asking.png" width="18" alt="Exercise Answer" title="Exercise Answer"> Exercise Answer
        </a>
      </li>



    </ul>
  </li>-->
    <!--<li (mouseover)="showSubMenu4()" (mouseout)="hideSubmenu()">
    <a>
      <img src="assets/images/cmng.png" width="18" alt="dashboard" title="dashboard"> Content Manager <span class="arw_down" id="arw1"><i class="fas fa-angle-down arwicn"></i></span>
    </a>
    <ul class="sub_hdlist" id="cmr_dropdown">
      <li>
        <a [routerLink]="'/contentcategory'" routerLinkActive="act">
          <img src="assets/images/web.png" width="18" alt="Content Category" title="Content Category"> Content Category
        </a>
      </li>
      <li>
        <a [routerLink]="'/programcategory'" routerLinkActive="act">
          <img src="assets/images/prgdets.png" width="18" alt="Program Category" title="Program Category"> Program Category
        </a>
      </li>
    </ul>
  </li>-->
    <!--<li id="nochild" (click)="hideSubmenu()">
    <a [routerLink]="'/webinar'" routerLinkActive="act">
      <img src="assets/images/mems.png" width="18" alt="Webinar" title="Webinar"> Webinars
    </a>
  </li>-->
    <!--<li (mouseover)="showSubMenu5()" (mouseout)="hideSubmenu()">
    <a>
      <img src="assets/images/cmng.png" width="18" alt="dashboard" title="dashboard">Events<span class="arw_down" id="arw1"><i class="fas fa-angle-down arwicn"></i></span>
    </a>
    <ul class="sub_hdlist" id="ev_dropdown">
      <li>
        <a [routerLink]="'/eventtype'" routerLinkActive="act">
          <img src="assets/images/web.png" width="18" alt="Event Type" title="Event Type"> Event Type
        </a>
      </li>
      <li>
        <a [routerLink]="'/eventmaster'" routerLinkActive="act">
          <img src="assets/images/prgdets.png" width="18" alt="Event Master" title="Event Master"> Event Master
        </a>
      </li>
      <li>
        <a [routerLink]="'/eventregistration'" routerLinkActive="act">
          <img src="assets/images/prgdets.png" width="18" alt="Event Registration" title="Event Registration"> Event Registration
        </a>
      </li>
      <li>
        <a [routerLink]="'/membereventpurchase'" routerLinkActive="act">
          <img src="assets/images/prgdets.png" width="18" alt="Member EventPurchase" title="Member EventPurchase"> Member EventPurchase
        </a>
      </li>
    </ul>
  </li>



  <li (mouseover)="showSubMenu6()" (mouseout)="hideSubmenu()">
    <a>
      <img src="assets/images/cmng.png" width="18" alt="dashboard" title="dashboard">Forums<span class="arw_down" id="arw1"><i class="fas fa-angle-down arwicn"></i></span>
    </a>
    <ul class="sub_hdlist" id="frm_dropdown">
      <li>
        <a [routerLink]="'/forum'" routerLinkActive="act">
          <img src="assets/images/web.png" width="18" alt="Forum" title="Forum"> Forum
        </a>
      </li>
      <li>
        <a [routerLink]="'/forumtopic'" routerLinkActive="act">
          <img src="assets/images/prgdets.png" width="18" alt="Forum Topic" title="Forum Topic"> Forum Topic
        </a>
      </li>
      <li>
        <a [routerLink]="'/forumdiscussion'" routerLinkActive="act">
          <img src="assets/images/prgdets.png" width="18" alt="Forum Discussion" title="Forum Discussion"> Forum Discussion
        </a>
      </li>
    </ul>
  </li>



  <li (mouseover)="showSubMenu7()" (mouseout)="hideSubmenu()">
    <a>
      <img src="assets/images/cmng.png" width="18" alt="dashboard" title="dashboard">Service<span class="arw_down" id="arw1"><i class="fas fa-angle-down arwicn"></i></span>
    </a>
    <ul class="sub_hdlist" id="ser_dropdown">
      <li>
        <a [routerLink]="'/service'" routerLinkActive="act">
          <img src="assets/images/web.png" width="18" alt="Service" title="Service"> Service
        </a>
      </li>
      <li>
        <a [routerLink]="'/servicetype'" routerLinkActive="act">
          <img src="assets/images/web.png" width="18" alt="ServiceType" title="ServiceType"> ServiceType
        </a>
      </li>
      <li>
        <a [routerLink]="'/servicepurchases'" routerLinkActive="act">
          <img src="assets/images/prgdets.png" width="18" alt="Service Purchase" title="Service Purchase"> Service Purchase
        </a>
      </li>

    </ul>
  </li>



  <li id="nochild" (click)="hideSubmenu()">
    <a [routerLink]="'/memberprogrampurchase'" routerLinkActive="act">
      <img src="assets/images/mems.png" width="18" alt="MemberProgramPurchase" title="MemberProgramPurchase"> MemberProgramPurchase
    </a>
  </li>-->



  </ul>
</nav>

<!--<div class="cont">
  <div class="top_row">
    <div class="col-12">
      <div class="row">
   
    <div class="col-12 col-sm-6 col-md-6">
      <h4 class="inpage_title">{{ongetpagename()}}</h4>
    </div>

    <div class="col-12 col-sm-6 col-md-6">
      <div class="prof_data">
        <div class="mess"><i class="far fa-envelope fa-2x ic"></i></div>
        <div class="notes"><i class="far fa-bell fa-2x ic"></i></div>
        <div class="prfl">
            <div class="prof_circle"><img src="assets/images/boy.png" width="100%"></div>
            <span class="admion_use">Admin <i class="fas fa-angle-down"></i></span>
        </div>
      
    </div>
      <div class="clearfix"></div>
    </div>
    
  </div>
</div>
</div>





  <router-outlet></router-outlet>
</div>-->



<div class="cont">
  <div class="top_row">
    <div class="col-12">
      <div class="row">

        <div class="col-12 col-sm-6 col-md-6">
          <h4 class="inpage_title">{{ongetpagename()}}</h4>
        </div>

        <div class="col-12 col-sm-6 col-md-6">
          <div class="prof_data">
            <!--<div id="ms" class="mess" (click)="showMsgBox()"><i class="far fa-envelope fa-2x ic"></i></div>
            <div id="nt" class="notes" (click)="showNotsBox()"><i class="far fa-bell fa-2x ic"></i></div>-->
            <div id="lg" class="prfl" (click)="showlogsBox()">
              <div class="prof_circle"><img src="assets/images/boy.png" width="100%"></div>
              <span class="admion_use">Admin <i class="fas fa-angle-down"></i></span>
            </div>

            <div class="message_data" id="msg">
              <h3>Messages</h3>
              <hr>
              <p>John Messaged you</p>
              <p>Kelly Messaged you</p>
            </div>

            <div class="message_data" id="nots">
              <h3>Notifications</h3>
              <hr>
              <p>John Messaged you</p>
              <p>Kelly Messaged you</p>
            </div>

            <div class="message_data" id="log">
              <!--<h3>Welcome Hari</h3>-->
              <hr>
              <p (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</p>
            </div>

          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>





  <router-outlet></router-outlet>
</div>
