.menu {
  width: 248px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 30px #999;
  -moz-box-shadow: 0px 0px 30px #999;
  -ms-box-shadow: 0px 0px 30px #999;
  box-shadow: 0px 0px 30px #999;
}


.logo {
  width: 10rem;
   /*width:250px;
  height: 70px;*/
  
}

.cont {
  width: 100%;
  padding-left: 250px;
}

.top_row {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.bgcolor {
}

.sidetop::-webkit-scrollbar {
  width: 0px;
}


.sidetop {
  align-items: center;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
  overflow: auto;
}

.spnl2 {
  background-color: #000;
  border-bottom: 1px solid #333;
}

.sidetop li {
  list-style: none;
}

  .sidetop li a {
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 12px 30px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

    .sidetop li a:hover {
      background-color: rgba(0,0,0,.5);
      color: #fff;
    }

    .sidetop li a > img {
      position: relative;
      left: -5px;
    }

a:focus, a:hover {
  cursor: pointer;
  color: green;
  text-decoration: none;
  outline: 0;
  color: white
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -10px;
}

.site_logo {
  background-color: #fff;
  display: block;
  padding: 20px;
}

.prof_circle {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  top: 5px;
  overflow: hidden;
}

.prof_data {
  float: right;
  cursor: pointer;
}

.inpage_title {
  font-size: 15px;
  color: #333;
  padding: 20px;
}

.admion_use {
  position: relative;
  top: -10px;
  font-weight: bold;
  font-size: 14px;
}

.mess {
  display: block;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  float: left;
  height: 60px;
  width: 65px;
}

.notes {
  display: block;
  border-right: 1px solid #ddd;
  height: 60px;
  width: 65px;
  float: left;
}

.prfl {
  float: left;
  height: 60px;
  width: 130px;
  padding-left: 20px;
}

.ic {
  font-size: 1.4rem;
  text-align: center;
  position: relative;
  top: 20px;
  left: 20px;
}


#cnc {
  display: none;
}

.myItem {
  display: block;
}

.arwicn {
  font-size: 1.2rem;
}

.arw_down {
  position: relative;
  left: 10px;
  top: 3px;
}

.sub_hdlist {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: none;
}

  .sub_hdlist > li {
    font-size: 13px;
  }

    .sub_hdlist > li a {
      font-size: 13px;
      padding: 5px 0px 5px 40px;
    }

.show_sublist {
  display: block;
}

.tgl_icn {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.act {
  background-color: rgba(0,0,0,.5);
  color: #fff;
}


/*top popups */
.message_data {
  -webkit-box-shadow: 0px 0px 35px #ddd;
  -moz-box-shadow: 0px 0px 35px #ddd;
  box-shadow: 0px 0px 35px #ddd;
  padding: 30px 20px 20px 20px;
  margin-top: 60px;
  position: relative;
  z-index: 200;
  background-color: #f5f5f5;
  display: none;
}

  .message_data > h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
  }

  .message_data > p {
    font-size: 13px;
    font-weight: 300;
    padding: 5px 0px;
    margin: 0px;
  }

.show_boxes {
  display: block;
}

.add_active {
  background-color: #f5f5f5;
  color: #259dd0 !important;
}
.inpage_title{ text-transform:capitalize;}
