<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>


  


      </div>

    </div>





    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>ForumName</th>

            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofthemestudio let i=index" class="trdata">
            <td>{{i+1}}</td>
            <td>{{rec.ExerciseTitle}}</td>


            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>

<div class="create_popup" id="crpop">

  <h3 class="pop_heading">Create Exercise</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>

  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">

        <form method="post" [formGroup]="form" (ngSubmit)="onCreateExercise()" class="tcs_licfrm">
          <div class="row">




            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ExerciseTitle.valid && form.controls.ExerciseTitle.errors && form.controls.ExerciseTitle.dirty && form.get('ExerciseTitle').touched,
                                  'text-success': form.controls.ExerciseTitle.valid && form.controls.ExerciseTitle.dirty}">
                <label for="ExerciseTitle">Exercise Title</label>
                <input type="text" class="form-control tcslgn_inp" id="ExerciseTitle" placeholder="Exercise Title" [(ngModel)]="ExerciseTitle" [formControl]="form.controls['ExerciseTitle']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <!--<div class="col-12 col-md-6 mb-1">

    <div [ngClass]="{'has-error' : !form.controls.ExerciseType_Id.valid && form.controls.ExerciseType_Id.errors && form.controls.ExerciseType_Id.dirty && form.get('ExerciseType_Id').touched,
                        'text-success': form.controls.ExerciseType_Id.valid && form.controls.ExerciseType_Id.dirty}">
      <label for="Exercise_Type_Id">ExerciseType Id</label>
      <input type="text" class="form-control tcslgn_inp" id="ExerciseType_Id" placeholder="ExerciseType Id" [(ngModel)]="ExerciseType_Id" [formControl]="form.controls['ExerciseType_Id']" />
    </div>
    <ul class="hp_blk">
      <li *ngIf="form.controls['ExerciseType_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ExerciseType_Id">ExerciseType Name</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.ExerciseType_Id.valid && form.controls.ExerciseType_Id.errors
                         && form.controls.ExerciseType_Id.dirty && form.get('ExerciseType_Id').touched,
                'text-success': form.controls.ExerciseType_Id.valid &&form.controls.ExerciseType_Id.dirty}">


                  <select id="ExerciseType_Id" class="form-control" name="ExerciseType_Id" (change)="test($event)" [(ngModel)]="ExerciseType_Id" formControlName="ExerciseType_Id">

                    <option *ngFor="let item of listofexercisetype" [value]="item.Id">{{item.ExerciseTypeName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['ExerciseType_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.NoofQuestions.valid && form.controls.NoofQuestions.errors && form.controls.NoofQuestions.dirty && form.get('NoofQuestions').touched,
                                  'text-success': form.controls.NoofQuestions.valid && form.controls.NoofQuestions.dirty}">
                <label for="NoofQuestions">No Of Questions</label>
                <input type="text" class="form-control tcslgn_inp" id="NoofQuestions" placeholder="No Of Questions" [(ngModel)]="NoofQuestions" [formControl]="form.controls['NoofQuestions']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['NoofQuestions'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ExerciseDescription.valid && form.controls.ExerciseDescription.errors && form.controls.ExerciseDescription.dirty && form.get('ExerciseDescription').touched,
                                  'text-success': form.controls.ExerciseDescription.valid && form.controls.ExerciseDescription.dirty}">
                <label for="ExerciseDescription">Exercise Description</label>
                <input type="text" class="form-control tcslgn_inp" id="ExerciseDescription" placeholder="Exercise Description" [(ngModel)]="ExerciseDescription" [formControl]="form.controls['ExerciseDescription']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ExerciseSynopsis.valid && form.controls.ExerciseSynopsis.errors && form.controls.ExerciseSynopsis.dirty && form.get('ExerciseSynopsis').touched,
                                  'text-success': form.controls.ExerciseSynopsis.valid && form.controls.ExerciseSynopsis.dirty}">
                <label for="ExerciseSynopsis">Exercise Synopsis</label>
                <input type="text" class="form-control tcslgn_inp" id="ExerciseSynopsis" placeholder="Exercise Synopsis" [(ngModel)]="ExerciseSynopsis" [formControl]="form.controls['ExerciseSynopsis']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseSynopsis'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ExerciseObjectives.valid && form.controls.ExerciseObjectives.errors && form.controls.ExerciseObjectives.dirty && form.get('ExerciseObjectives').touched,
                                  'text-success': form.controls.ExerciseObjectives.valid && form.controls.ExerciseObjectives.dirty}">
                <label for="ExerciseObjectives">Exercise Objectives</label>
                <input type="text" class="form-control tcslgn_inp" id="ExerciseObjectives" placeholder="Exercise Objectives" [(ngModel)]="ExerciseObjectives" [formControl]="form.controls['ExerciseObjectives']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseObjectives'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ExerciseAccessType.valid && form.controls.ExerciseAccessType.errors && form.controls.ExerciseAccessType.dirty && form.get('ExerciseAccessType').touched,
                                  'text-success': form.controls.ExerciseAccessType.valid && form.controls.ExerciseAccessType.dirty}">
                <label for="ExerciseAccessType">Exercise Access Type</label>
                <input type="text" class="form-control tcslgn_inp" id="ExerciseAccessType" placeholder="Exercise Access Type" [(ngModel)]="ExerciseAccessType" [formControl]="form.controls['ExerciseAccessType']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseAccessType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>




            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ExerciseDependency.valid && form.controls.ExerciseDependency.errors && form.controls.ExerciseDependency.dirty && form.get('ExerciseDependency').touched,
                                    'text-success': form.controls.ExerciseDependency.valid && form.controls.ExerciseDependency.dirty}">
                <label for="CapabilityDependency">Exercise Dependency</label>
                <select class="form-control tcslgn_inp" id="ExerciseDependency" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="ExerciseDependency" [(ngModel)]="ExerciseDependency" [formControl]="form.controls['ExerciseDependency']">
                  <option [ngValue]="undefined" disabled selected> Select Dependency</option>
                  <option>Mutual Dependent</option>
                  <option>Mutual Independent</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ExerciseDependency'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>



            <div class="col-12 col-md-6 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ExerciseStatus.valid && form.controls.ExerciseStatus.errors && form.controls.ExerciseStatus.dirty && form.controls('ExerciseStatus').touched,
                                  'text-success': form.controls.ExerciseStatus.valid && form.controls.ExerciseStatus.dirty}">
                <label for="LoginStatus">Exercise Status :</label>
                <select id="ExerciseStatus" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" class="form-control tcslgn_inp" name="ExerciseStatus" [(ngModel)]="ExerciseStatus" placeholder="Exercise Status" formControlName="ExerciseStatus">
                  <option [ngValue]="undefined" disabled selected> Select Status </option>
                  <option>Active</option>
                  <option>InActive</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ExerciseStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label class="custom-control custom-checkbox mb-3" for="IsExerciseModerated">

                <input type="checkbox" [checked]="IsExerciseModerated?'checked':''" [(ngModel)]="IsExerciseModerated" name="IsExerciseModerated" id="IsExerciseModerated" [formControl]="form.controls['IsExerciseModerated']" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">IsExercise Moderated</span>
              </label>
            </div>

          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>

