<div class="container-fluid memberform">
  <div class="row">
   

    <div class="col-12 vmp">
      <h3>View Event Registration</h3>
      <hr>
      <p><span><strong>Member Name</strong> </span> : <span class="um">{{userName}}</span></p>
      <p><span><strong>EventName</strong> </span> : <span class="um">{{eventregistration.EventName}}</span></p>
      <p><span><strong>EventStartDate </strong> </span> : <span class="um">{{eventregistration.EventStartDate}}</span></p>
      <p><span><strong>EventStartTime</strong>  </span> : <span class="um">{{eventregistration.EventStartTime}}</span></p>
      <p><span><strong>EventEndDate </strong> </span> : <span class="um">{{eventregistration.EventEndDate}}</span></p>
      <p><span><strong>EventEndTime</strong> </span> : <span class="um">{{eventregistration.EventEndTime}}</span></p>
      <p><span><strong>EventStatus </strong> </span> : <span class="um">{{eventregistration.EventStatus}}</span></p>
      <!--<p><span><strong>ServiceStatus </strong> </span> : <span class="um">{{eventregistration.ServiceStatus}}</span></p>
  <p><span><strong>PaymentStatus </strong></span> : <span class="um">{{eventregistration.PaymentStatus}}</span></p>-->


    </div>



    <!--<div class="col-12">
    <label>Member Name : {{userName}}</label>
    <br />
    <label> EventName : {{eventregistration.EventName}}</label>
    <br />
    <label>EventStartDate:{{eventregistration.EventStartDate}}</label>
    <br />
    <label>EventStartTime:{{eventregistration.EventStartTime}}</label>
    <br />
    <label>EventEndDate:{{eventregistration.EventEndDate}}</label>
    <br />
    <label>EventEndTime:{{eventregistration.EventEndTime}}</label>
    <br />
    <label>EventStatus:{{eventregistration.EventStatus}}</label>
    <br />

  </div>-->
  </div>
</div>
