<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>




      </div>

    </div>


    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>

    <!--<h3>ProgramCategory Details</h3>-->
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>Program Category Name</th>
            <th>Program Category Description</th>
            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofprogramcategory; let i=index" class="trdata">

            <td>{{i+1}}</td>
            <td>{{rec.ProgramCategoryName}}</td>
            <td>{{rec.ProgramCategoryDescription}}</td>
            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>

<div class="create_popup" id="crpop">

  <h3 class="pop_heading">Create ProgramStructure</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>

  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">

        <form [formGroup]="form" (ngSubmit)="onCreateprogramstructure()" class="tcs_licfrm">
          <div class="row">



            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ProgramStrName.valid && form.controls.ProgramStrName.errors && form.controls.ProgramStrName.dirty && form.get('ProgramStrName').touched,
                                  'text-success': form.controls.ProgramStrName.valid && form.controls.ProgramStrName.dirty}">
                <label for="ExerciseTypeName">ProgramStr Name</label>
                <input type="text" class="form-control tcslgn_inp" id="ProgramStrName" placeholder="ProgramStr Name" [(ngModel)]="ProgramStrName" [formControl]="form.controls['ProgramStrName']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ProgramStrName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <!--<div class="col-12 col-md-6 mb-1">

    <div [ngClass]="{'has-error' : !form.controls.NoOfCapabilities.valid && form.controls.NoOfCapabilities.errors && form.controls.NoOfCapabilities.dirty && form.get('NoOfCapabilities').touched,
                        'text-success': form.controls.NoOfCapabilities.valid && form.controls.NoOfCapabilities.dirty}">
      <label for="NoOfCapabilities">NoOfCapabilities</label>
      <input type="text" class="form-control tcslgn_inp" id="NoOfCapabilities" placeholder="NoOfCapabilities" [(ngModel)]="NoOfCapabilities" [formControl]="form.controls['NoOfCapabilities']" />
    </div>
    <ul class="hp_blk">
      <li *ngIf="form.controls['NoOfCapabilities'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->
            <!--<div class="col-12 col-md-6 mb-1">

    <div [ngClass]="{'has-error' : !form.controls.NoOfModules.valid && form.controls.NoOfModules.errors && form.controls.NoOfModules.dirty && form.get('NoOfModules').touched,
                        'text-success': form.controls.NoOfModules.valid && form.controls.NoOfModules.dirty}">
      <label for="NoOfModules">NoOfModules</label>
      <input type="text" class="form-control tcslgn_inp" id="NoOfModules" placeholder="NoOfModules" [(ngModel)]="NoOfModules" [formControl]="form.controls['NoOfModules']" />
    </div>
    <ul class="hp_blk">
      <li *ngIf="form.controls['NoOfModules'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ProgramStrType.valid && form.controls.ProgramStrType.errors && form.controls.ProgramStrType.dirty && form.get('ProgramStrType').touched,
                                  'text-success': form.controls.ProgramStrType.valid && form.controls.ProgramStrType.dirty}">
                <label for="ProgramStrType">ProgramStr Type</label>
                <select id="ProgramStrType" class="form-control" name="ProgramStrType" [(ngModel)]="ProgramStrType" placeholder="ProgramStr Type" formControlName="ProgramStrType">
                  <option [ngValue]="undefined" disabled selected> Select Status </option>
                  <option>Capabilities</option>
                  <option>Modules</option>
                  <option>Exercise</option>
                </select>
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ProgramStrType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>







            <!--<div *ngIf="secret">-->
            <!--<div class="col-12 col-md-6 mb-1">

            <div [ngClass]="{'has-error' : !form.controls.ProgramStrTitle.valid && form.controls.ProgramStrTitle.errors && form.controls.ProgramStrTitle.dirty && form.get('ProgramStrTitle').touched,
  'text-success': form.controls.ProgramStrTitle.valid && form.controls.ProgramStrTitle.dirty}">
              <label for="ProgramStrTitle">ProgramStrTitle</label>
              <select id="ProgramStrTitle" class="form-control" name="ProgramStrTitle" (change)="test($event)" [(ngModel)]="name" formControlName="ProgramStrTitle">

                <option *ngFor="let item of this.dropdown" [value]="item.id">{{item.value}}</option>


              </select>

            </div>
            <ul class="hp_blk">
              <li *ngIf="form.controls['ProgramStrTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>-->
            <!--</div>-->

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ProgramStrDependency.valid && form.controls.ProgramStrDependency.errors && form.controls.ProgramStrDependency.dirty && form.get('ProgramStrDependency').touched,
                                  'text-success': form.controls.ProgramStrDependency.valid && form.controls.ProgramStrDependency.dirty}">
                <label for="ProgramStrDependency">ProgramStr Dependency</label>
                <select id="ProgramStrDependency" class="form-control" name="ProgramStrDependency" [(ngModel)]="ProgramStrDependency" placeholder="ProgramStr Dependency" formControlName="ProgramStrDependency">
                  <option [ngValue]="undefined" disabled selected> Select Status </option>
                  <option>Mutual Dependent</option>
                  <option>Mutual In- Dependent</option>

                </select>
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ProgramStrDependency'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>





            <div class="col-12 col-md-6 mb-1">


              <label for="ProgramStrCapabilities">Select Capabilities :</label>
              <div class="multiselect">
                <div class="selectBox" (click)="capabilitiestest()">
                  <select class="form-control lg_email reg_email prefbx"
                          placeholder="ex : Football, Cricket" id="ProgramStrCapabilities"
                          [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                          [(ngModel)]="ProgramStrCapabilities" name="ProgramStrCapabilities" (click)="capabilitiestest()" formControlName="ProgramStrCapabilities">

                    <option>Please Select options </option>

                  </select>
                  <div class="overSelect"> </div>
                </div>
                <div *ngIf="secret">
                  <div id="ProgramStrCapabilities" *ngFor="let item of this.listofcapabilities">
                    <label for="one">
                      <input type="checkbox" id="one" value="{{item.Id}}" (change)="capabilities(item.Id)" />{{item.CapabilityName}}
                      l>
                    </label>

                  </div>
                </div>

              </div>



            </div>
            <div class="col-12 col-md-6 mb-1">


              <label for="ProgramStrModules">Select Modules :</label>
              <div class="multiselect">
                <div class="selectBox" (click)="modulestest()">
                  <select class="form-control lg_email reg_email prefbx"
                          id="ProgramStrModules"
                          [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                          [(ngModel)]="ProgramStrModules" name="ProgramStrModules" (click)="modulestest()" formControlName="ProgramStrModules">

                    <option>Please Select options </option>

                  </select>
                  <div class="overSelect"> </div>
                </div>

                <div *ngIf="secretmodule">
                  <div id="ProgramStrModules" *ngFor="let item of this.listofModules">
                    <label for="one">
                      <input type="checkbox" id="one" value="{{item.Id}}" (change)="modules(item.Id)" />{{item.ModuleTitle}}
                      l>
                    </label>

                  </div>
                </div>
              </div>

            </div>
            <div class="col-12 col-md-6 mb-1">


              <label for="ProgramStrExercise">Select Exercises :</label>
              <div class="multiselect">
                <div class="selectBox" (click)="exercisetest()">
                  <select class="form-control lg_email reg_email prefbx"
                          id="ProgramStrExercise"
                          [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                          [(ngModel)]="ProgramStrExercise" name="ProgramStrExercise" (click)="exercisestest()" formControlName="ProgramStrExercise">

                    <option>Please Select options </option>

                  </select>
                  <div class="overSelect"> </div>
                </div>

                <div *ngIf="secretexercise">
                  <div id="ProgramStrExercise" *ngFor="let item of this.listofexercise">
                    <label for="one">
                      <input type="checkbox" id="one" value="{{item.Id}}" (change)="exercise(item.Id)" />{{item.ExerciseTitle}}
                      l>
                    </label>

                  </div>
                </div>
              </div>

            </div>

            <!--<div class="col-12 col-md-6 mb-1">

    <div [ngClass]="{'has-error' : !form.controls.ProgramStrExercise.valid && form.controls.ProgramStrExercise.errors && form.controls.ProgramStrExercise.dirty && form.get('ProgramStrExercise').touched,
                        'text-success': form.controls.ProgramStrExercise.valid && form.controls.ProgramStrExercise.dirty}">
      <label for="ProgramStrExercise">ProgramStrExercise :</label>
      <select id="ProgramStrExercise" class="form-control" name="ProgramStrExercise" [(ngModel)]="ProgramStrExercise" placeholder="ProgramStrExercise" formControlName="ProgramStrExercise">
        <option [ngValue]="undefined" disabled selected> Select Status </option>
        <option>Active</option>
        <option>InActive</option>
      </select>
    </div>
    <ul class="hp_blk">
      <li *ngIf="form.controls['ProgramStrExercise'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ProgramStrAccessType.valid && form.controls.ProgramStrAccessType.errors && form.controls.ProgramStrAccessType.dirty && form.get('ProgramStrAccessType').touched,
                                  'text-success': form.controls.ProgramStrAccessType.valid && form.controls.ProgramStrAccessType.dirty}">
                <label for="ProgramStrAccessType">ProgramStr Access Type :</label>
                <select id="ProgramStrAccessType" class="form-control" name="ProgramStrAccessType" [(ngModel)]="ProgramStrAccessType" placeholder="ProgramStr Access Type" formControlName="ProgramStrAccessType">
                  <option [ngValue]="undefined" disabled selected> Select Status </option>
                  <option>Public</option>
                  <option>Private</option>
                </select>
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ProgramStrAccessType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
            <div class="col-12 col-md-6 mb-1">


              <label for="ProgramCategory_Id">Program Category Name :</label>
              <div class="multiselect">
                <div class="selectBox" (click)="ProgramCategorytest()">
                  <select class="form-control lg_email reg_email prefbx"
                          placeholder="ex : Football, Cricket" id="ProgramCategory"
                          [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                          [(ngModel)]="ProgramCategory" name="ProgramCategory" (click)="ProgramCategorytest()" formControlName="ProgramCategory">

                    <option>Please Select options </option>

                  </select>
                  <div class="overSelect"> </div>
                </div>
                <div *ngIf="secretprogram">
                  <div id="ProgramCategory" *ngFor="let item of listofprogramcategory">
                    <label for="one">
                      <input type="checkbox" id="one" value="{{item.Id}}" (change)="Programcategory(item.Id)" />{{item.ProgramCategoryName}}
                      l>
                    </label>

                  </div>
                </div>

              </div>



            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ProgramStrCoverPicture">ProgramStrCoverPicture</label>
                <input type="file" class="form-control tcslgn_inp" id="ProgramStrCoverPicture" name="ProgramStrCoverPicture" />
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ProgramStrListedPrice.valid && form.controls.ProgramStrListedPrice.errors && form.controls.ProgramStrListedPrice.dirty && form.get('ProgramStrListedPrice').touched,
                        'text-success': form.controls.ProgramStrListedPrice.valid && form.controls.ProgramStrListedPrice.dirty}">
                <label for="ProgramStrListedPrice">ProgramStrListedPrice</label>
                <input type="text" class="form-control tcslgn_inp" id="ProgramStrListedPrice" placeholder="ProgramStrListedPrice" [(ngModel)]="ProgramStrListedPrice" [formControl]="form.controls['ProgramStrListedPrice']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ProgramStrListedPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ProgramStrDiscountPrice.valid && form.controls.ProgramStrDiscountPrice.errors && form.controls.ProgramStrDiscountPrice.dirty && form.get('ProgramStrDiscountPrice').touched,
                        'text-success': form.controls.ProgramStrDiscountPrice.valid && form.controls.ProgramStrDiscountPrice.dirty}">
                <label for="ProgramStrDiscountPrice">Discounted Price</label>
                <input type="text" class="form-control tcslgn_inp" id="ProgramStrDiscountPrice" placeholder="Discounted Price" [(ngModel)]="ProgramStrDiscountPrice" [formControl]="form.controls['ProgramStrDiscountPrice']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ProgramStrDiscountPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ProgramStrDescription.valid && form.controls.ProgramStrDescription.errors && form.controls.ProgramStrDescription.dirty && form.get('ProgramStrDescription').touched,
                        'text-success': form.controls.ProgramStrDescription.valid && form.controls.ProgramStrDescription.dirty}">
                <label for="ProgramStrDescription">ProgramStrDescription</label>
                <input type="text" class="form-control tcslgn_inp" id="ProgramStrDescription" placeholder="Discounted Price" [(ngModel)]="ProgramStrDescription" [formControl]="form.controls['ProgramStrDescription']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ProgramStrDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>

            <div class="col-12 col-md-6 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ProgramStrStatus.valid && form.controls.ProgramStrStatus.errors && form.controls.ProgramStrStatus.dirty && form.controls('ProgramStrStatus').touched,
                                  'text-success': form.controls.ProgramStrStatus.valid && form.controls.ProgramStrStatus.dirty}">
                <label for="ProgramStrStatus">ProgramStrStatus :</label>
                <select id="ProgramStrStatus" class="form-control" name="ProgramStrStatus" [(ngModel)]="ProgramStrStatus" placeholder="ProgramStr Status" formControlName="ProgramStrStatus">
                  <option [ngValue]="undefined" disabled selected> Select Status </option>
                  <option>Active</option>
                  <option>InActive</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ProgramStrStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label class="custom-control custom-checkbox mb-3" for="ProgramStrIsFree">

                <input type="checkbox" [checked]="ProgramStrIsFree?'checked':''" [(ngModel)]="ProgramStrIsFree" name="ProgramStrIsFree" id="ProgramStrIsFree" [formControl]="form.controls['ProgramStrIsFree']" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">ProgramStr IsFree</span>
              </label>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>







</div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


