<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">



      <form [formGroup]="ViewEventmasterform" (ngSubmit)="onUpdateEventmaster(eventmaster)" class="tcs_licfrm">
        <div class="row">

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="EventType_Id">EventName</label>
             

                <select id="eventmaster.EventType_Id" class="form-control" name="eventmaster.EventType_Id" (change)="test($event)" [(ngModel)]="eventmaster.EventType_Id" [formControl]="ViewEventmasterform.controls['eventmaster.EventType_Id']">

                  <option *ngFor="let item of listofeventtypes" [value]="item.Id">{{item.EventName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="ViewEventmasterform.controls['eventmaster.EventType_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

             
            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramCategory_Id">ProgramCategory_Id</label>
             


                <select id="eventmaster.ProgramCategory_Id" class="form-control" name="eventmaster.ProgramCategory_Id" (change)="test1($event)" [(ngModel)]="eventmaster.ProgramCategory_Id" [formControl]="ViewEventmasterform.controls['eventmaster.ProgramCategory_Id']">

                  <option *ngFor="let item of listofprogramcategory" [value]="item.Id">{{item.ProgramCategoryName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="ViewEventmasterform.controls['eventmaster.ProgramCategory_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventTitle"> EventTitle</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventTitle" placeholder="eventmaster.EventTitle" [(ngModel)]="eventmaster.EventTitle" [formControl]="ViewEventmasterform.controls['eventmaster.EventTitle']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
         
          </div>




          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventName">EventName</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventName" placeholder="EventName" [(ngModel)]="eventmaster.EventName" [formControl]="ViewEventmasterform.controls['eventmaster.EventName']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventDescription"> EventDescription</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventDescription" placeholder="EventDescription" [(ngModel)]="eventmaster.EventDescription" [formControl]="ViewEventmasterform.controls['eventmaster.EventDescription']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
           
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="EventImageUrl">EventImageUrl</label>
            <input type="file" class="form-control tcslgn_inp" id="EventImageUrl" placeholder="EventImageUrl" />

          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventScheduledStartDate">EventScheduledStartDate </label>
              <input type="date" class="form-control tcslgn_inp" id="eventmaster.EventScheduledStartDate" placeholder="EventScheduledStartDate" [(ngModel)]="eventmaster.EventScheduledStartDate" [formControl]="ViewEventmasterform.controls['eventmaster.EventScheduledStartDate']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventScheduledStartDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventScheduledStartTime">EventScheduledStartTime</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventScheduledStartTime" placeholder="EventScheduledStartTime" [(ngModel)]="eventmaster.EventScheduledStartTime" [formControl]="ViewEventmasterform.controls['eventmaster.EventScheduledStartTime']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventScheduledStartTime'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
         
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventScheduledEndDate">EventScheduledEndDate</label>
              <input type="date" class="form-control tcslgn_inp" id="eventmaster.EventScheduledEndDate" placeholder="EventScheduledEndDate" [(ngModel)]="eventmaster.EventScheduledEndDate" [formControl]="ViewEventmasterform.controls['eventmaster.EventScheduledEndDate']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventScheduledEndDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventScheduledEndTime">EventScheduledEndTime</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventScheduledEndTime" placeholder="EventScheduledEndTime" [(ngModel)]="eventmaster.EventScheduledEndTime" [formControl]="ViewEventmasterform.controls['eventmaster.EventScheduledEndTime']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventScheduledEndTime'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          
              <label for="EventAccessUrl">EventAccessUrl</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventAccessUrl" placeholder="EventAccessUrl" [(ngModel)]="eventmaster.EventAccessUrl" [formControl]="ViewEventmasterform.controls['eventmaster.EventAccessUrl']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventAccessUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventRegistrationUrl">EventRegistrationUrl</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventRegistrationUrl" placeholder="EventRegistrationUrl" [(ngModel)]="eventmaster.EventRegistrationUrl" [formControl]="ViewEventmasterform.controls['eventmaster.EventRegistrationUrl']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventRegistrationUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="EventPresenterImageUrl">EventPresenterImageUrl</label>
            <input type="file" class="form-control tcslgn_inp" id="EventPresenterImageUrl" placeholder="EventPresenterImageUrl" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            
              <label for="EventCompletionTemplate">EventCompletionTemplate</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventCompletionTemplate" placeholder="EventCompletionTemplate" [(ngModel)]="eventmaster.EventCompletionTemplate" [formControl]="ViewEventmasterform.controls['eventmaster.EventCompletionTemplate']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventCompletionTemplate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
           
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            
              <label for="EventReminderTemplate">EventReminderTemplate</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventReminderTemplate" placeholder="EventReminderTemplate" [(ngModel)]="eventmaster.EventReminderTemplate" [formControl]="ViewEventmasterform.controls['eventmaster.EventReminderTemplate']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventReminderTemplate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
         
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            
              <label for="EventResultsUrl">EventResultsUrl</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventResultsUrl" placeholder="EventResultsUrl" [(ngModel)]="eventmaster.EventResultsUrl" [formControl]="ViewEventmasterform.controls['eventmaster.EventResultsUrl']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventResultsUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
          
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventSurveyUrl">EventSurveyUrl</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventSurveyUrl" placeholder="EventSurveyUrl" [(ngModel)]="eventmaster.EventSurveyUrl" [formControl]="ViewEventmasterform.controls['eventmaster.EventSurveyUrl']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventSurveyUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
         
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            
              <label for="EventExerciseUrl">EventExerciseUrl</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventExerciseUrl" placeholder="EventExerciseUrl" [(ngModel)]="eventmaster.EventExerciseUrl" [formControl]="ViewEventmasterform.controls['eventmaster.EventExerciseUrl']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventExerciseUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            
              <label for="EventAssignmentUrl">EventAssignmentUrl</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventAssignmentUrl" placeholder="EventAssignmentUrl" [(ngModel)]="eventmaster.EventAssignmentUrl" [formControl]="ViewEventmasterform.controls['eventmaster.EventAssignmentUrl']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventAssignmentUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            
              <label for="EventFeedbackUrl">EventFeedbackUrl</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventFeedbackUrl" placeholder="EventFeedbackUrl" [(ngModel)]="eventmaster.EventFeedbackUrl" [formControl]="ViewEventmasterform.controls['eventmaster.EventFeedbackUrl']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventFeedbackUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
           
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="EventParticipationCount">EventParticipationCount</label>
              <input type="text" class="form-control tcslgn_inp" id="eventmaster.EventParticipationCount" placeholder="EventParticipationCount" [(ngModel)]="eventmaster.EventParticipationCount" [formControl]="ViewEventmasterform.controls['eventmaster.EventParticipationCount']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventParticipationCount'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventStatus">EventStatus</label>
              <select class="form-control tcslgn_inp" id="eventmaster.EventStatus"  name="EventStatus" [(ngModel)]="eventmaster.EventStatus" placeholder="EventStatus" [formControl]="ViewEventmasterform.controls['eventmaster.EventStatus']">
                <option [ngValue]="undefined" disabled selected> Select Status</option>
                <option>Active</option>
                <option>InActive</option>
              </select>
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>




          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventLocation">EventLocation</label>
              <input type="text" class="form-control" id="eventmaster.EventLocation" placeholder="EventLocation" [(ngModel)]="eventmaster.EventLocation" [formControl]="ViewEventmasterform.controls['eventmaster.EventLocation']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventLocation'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="EventPrice">EventPrice</label>
              <input type="text" class="form-control" id="eventmaster.EventPrice" placeholder="EventPrice" [(ngModel)]="eventmaster.EventPrice" [formControl]="ViewEventmasterform.controls['eventmaster.EventPrice']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          
              <label for="EventCategoryName">EventCategoryName</label>
              <input type="text" class="form-control" id="eventmaster.EventCategoryName" placeholder="EventCategoryName" [(ngModel)]="eventmaster.EventCategoryName" [formControl]="ViewEventmasterform.controls['eventmaster.EventCategoryName']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventCategoryName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
          
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
            <label for="GuidelineName">EventGuideline Name</label>
              <input type="text" class="form-control" id="eventmaster.EventGuidelines.GuidelineName" placeholder="GuidelineName" [(ngModel)]="eventmaster.EventGuidelines.GuidelineName" [formControl]="ViewEventmasterform.controls['eventmaster.EventGuidelines.GuidelineName']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventGuidelines.GuidelineName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
            <label for="GuidelineDescription">EventGuideline Description</label>
              <input type="text" class="form-control" id="eventmaster.EventGuidelines.GuidelineDescription" placeholder="GuidelineDescription" [(ngModel)]="eventmaster.EventGuidelines.GuidelineDescription" [formControl]="ViewEventmasterform.controls['eventmaster.EventGuidelines.GuidelineDescription']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventGuidelines.GuidelineDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
           
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
            <label for="TemplateName">EventRegistrationTemplate Name</label>
              <input type="text" class="form-control" id="eventmaster.EventRegistrationTemplate.TemplateName" placeholder="TemplateName" [(ngModel)]="eventmaster.EventRegistrationTemplate.TemplateName" [formControl]="ViewEventmasterform.controls['eventmaster.EventRegistrationTemplate.TemplateName']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventRegistrationTemplate.TemplateName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            
            <label for="Attributes">EventRegistration Attributes</label>
              <input type="text" class="form-control" id="eventmaster.EventRegistrationTemplate.Attributes" placeholder="Attributes" [(ngModel)]="eventmaster.EventRegistrationTemplate.Attributes" [formControl]="ViewEventmasterform.controls['eventmaster.EventRegistrationTemplate.Attributes']" />
              <ul class="hp_blk">
                <li *ngIf="ViewEventmasterform.controls['eventmaster.EventRegistrationTemplate.Attributes'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="EventIsRemindersEnabled">

              <input type="checkbox" [checked]="EventIsRemindersEnabled?'checked':''" [(ngModel)]="eventmaster.EventIsRemindersEnabled" name="eventmaster.EventIsRemindersEnabled" id="eventmaster.EventIsRemindersEnabled" [formControl]="ViewEventmasterform.controls['eventmaster.EventIsRemindersEnabled']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Event IsRemindersEnabled</span>
            </label>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="EventIsNotificationsEnabled">

              <input type="checkbox" [checked]="EventIsNotificationsEnabled?'checked':''" [(ngModel)]="eventmaster.EventIsNotificationsEnabled" name="eventmaster.EventIsNotificationsEnabled" id="eventmaster.EventIsNotificationsEnabled" [formControl]="ViewEventmasterform.controls['eventmaster.EventIsNotificationsEnabled']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Event IsNotificationsEnabled</span>
            </label>
          </div>

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
