<div class="container-fluid memberform">
  <div class="row">
    <!--<h3>Generate License</h3>-->
    <div class="col-12">
      <form [formGroup]="licenseUpdateFormGroup" (ngSubmit)="onGenerateLicenses(license)" class="tcs_licfrm">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 mb-1">

            <label for="CompanyName">Company Name</label>
            <input type="text" class="form-control tcslgn_inp" readonly="readonly" id="license.CompanyName" name="CompanyName" placeholder="CompanyName" [(ngModel)]="license.CompanyName" [formControl]="licenseUpdateFormGroup.controls['license.CompanyName']" />
            <ul class="hp_blk">
              <li *ngIf="licenseUpdateFormGroup.controls['license.CompanyName'].hasError('required') && isSubmitted" class="err">Company Name is Required</li>
            </ul>
          </div>


          <div class="col-xl-4 col-lg-4 col-md-4 mb-1">

            <label for="RegistrationNumber">Registration Number</label>
            <input type="text" class="form-control tcslgn_inp" readonly="readonly" id="license.RegistrationNumber" name="RegistrationNumber" placeholder="RegistrationNumber" [(ngModel)]="license.RegistrationNumber" [formControl]="licenseUpdateFormGroup.controls['license.RegistrationNumber']" />
            <ul class="hp_blk">
              <li *ngIf="licenseUpdateFormGroup.controls['license.RegistrationNumber'].hasError('required') && isSubmitted" class="err">Registration Number is Required</li>
            </ul>
          </div>


          <div class="col-xl-4 col-lg-4 col-md-4 mb-1">

            <label for="PrimaryAdminEmailID">Primar Admin Email ID</label>
            <input type="text" class="form-control tcslgn_inp" readonly="readonly" id="license.PrimaryAdminEmailID" name="PrimaryAdminEmailID" placeholder="PrimaryAdminEmailID" [(ngModel)]="license.PrimaryAdminEmailID" [formControl]="licenseUpdateFormGroup.controls['license.PrimaryAdminEmailID']" />
            <ul class="hp_blk">
              <li *ngIf="licenseUpdateFormGroup.controls['license.PrimaryAdminEmailID'].hasError('required') && isSubmitted" class="err">Primar Admin Email ID is Required</li>
            </ul>

          </div>





          <div class="col-xl-4 col-lg-4 col-md-4 mb-1">

            <label for="CompanyEmailID">Company Phone</label>
            <input type="text" class="form-control tcslgn_inp" readonly="readonly" id="license.CompanyPhone" name="CompanyPhone" placeholder="CompanyPhone" [(ngModel)]="license.CompanyPhone" [formControl]="licenseUpdateFormGroup.controls['license.CompanyPhone']" />
            <ul class="hp_blk">
              <li *ngIf="licenseUpdateFormGroup.controls['license.CompanyPhone'].hasError('required') && isSubmitted" class="err">Company Phone is Required</li>
            </ul>
          </div>



          <div class="col-xl-4 col-lg-4 col-md-4 mb-1">

            <label for="LicenseStartDate">License Start Date</label>
            <input type="date" class="form-control tcslgn_inp" id="license.LicenseStartDate" name="LicenseStartDate" placeholder="LicenseStartDate" [(ngModel)]="license.LicenseStartDate" [formControl]="licenseUpdateFormGroup.controls['license.LicenseStartDate']" />
            <ul class="hp_blk">
              <li *ngIf="licenseUpdateFormGroup.controls['license.LicenseStartDate'].hasError('required') && isSubmitted" class="err">License Start Date is Required</li>
            </ul>

          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 mb-1">

            <label for="LicenseEndDate">License End Date</label>
            <input type="date" class="form-control tcslgn_inp" id="license.LicenseEndDate" name="LicenseEndDate" placeholder="LicenseEndDate" [(ngModel)]="license.LicenseEndDate" [formControl]="licenseUpdateFormGroup.controls['license.LicenseEndDate']" />
            <ul class="hp_blk">
              <li *ngIf="licenseUpdateFormGroup.controls['license.LicenseEndDate'].hasError('required') && isSubmitted" class="err">License End Date is Required</li>
            </ul>
            <div class="validation-error" style="color:red" *ngIf="license.LicenseStartDate > license.LicenseEndDate">
              End Date Should Be Greater Than Start Date
            </div>
          </div>
          <!--<div class="col-xl-4 col-lg-4 col-md-4 mb-1">

            <label for="LicenseType">License Type</label>
            <select id="license.LicenseType" class="form-control tcslgn_inp" [(ngModel)]="license.LicenseType" [formControl]="licenseUpdateFormGroup.controls['license.LicenseType']">
              <option value="" selected>select</option>
              <option>SingleInstance-SingleAccount</option>
              <option>SingleInstance-MultiAccount</option>
              <option>MultiInstance-MultiAccount</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="licenseUpdateFormGroup.controls['license.LicenseType'].hasError('required') && isSubmitted" class="err">License Type is Required</li>
            </ul>
          </div>-->
          <div class="col-xl-4 col-lg-4 col-md-4 mb-1">

            <label for="RequestStatus">Request Status</label>
            <select id="license.RequestStatus" class="form-control tcslgn_inp" [(ngModel)]="license.RequestStatus" placeholder="Country" [formControl]="licenseUpdateFormGroup.controls['license.RequestStatus']">
              <option value="" selected>Select</option>
              <!--<option>Requestreceived</option>-->
              <option>InProcess</option>
              <option>Approved</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="licenseUpdateFormGroup.controls['license.RequestStatus'].hasError('required') && isSubmitted" class="err">Request Status is Required</li>
            </ul>
          </div>
          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">

  <label for="LicenseKey">LicenseKey :</label>-->
          <!-- <input type="text" class="form-control" id="license.LicenseKey" name="LicenseKey" placeholder="LicenseKey" [(ngModel)]="license.LicenseKey" [formControl]="licenseUpdateFormGroup.controls['license.LicenseKey']" />-->
          <!--<label for="LicenseKey">{{license.LicenseKey}}</label>
  </div>-->
          <!--<div class="col-xl-4 col-lg-4 col-md-4 mb-1">

            <label for="LicenseStatus">License Status</label>
            <select id="license.LicenseStatus" class="form-control tcslgn_inp" [(ngModel)]="license.LicenseStatus" [formControl]="licenseUpdateFormGroup.controls['license.LicenseStatus']">
              <option value="" selected>Select</option>
              <option>Active</option>
              <option>InActive</option>

            </select>
            <ul class="hp_blk">
              <li *ngIf="licenseUpdateFormGroup.controls['license.LicenseStatus'].hasError('required') && isSubmitted" class="err">License Status is Required</li>
            </ul>
          </div>-->

        </div>
   
        <div class="form-group">
          <button type="submit" class="btn btn-info">Generate License</button>
  
        </div>
      </form>
    </div>
  </div>
</div>
