.lgncrte {
  margin-bottom: 10px;
  outline: none;
  /*background: -moz-linear-gradient(left, #259dd0 0%, #162448 100%);
    background: -webkit-linear-gradient(left, #259dd0 0%,#162448 100%);
    background: linear-gradient(to right, #259dd0 0%,#162448 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#259dd0', endColorstr='#162448',GradientType=1 );*/
  border: none;
  background: #4895c8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.btn_submit {
  background: #4895c8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.bedit {
  background-color: white;
  color: black;
  border: /*2px solid #008CBA*/ none;
}

  .bedit:hover {
    background-color: #008CBA;
    color: white;
  }

.create_popup {
  width: 90%;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 50px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.crpop {
  display: block;
}

.create_mask {
  width: 100%;
  z-index: 99;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: crosshair;
  display: none;
}

table {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  padding: 0px;
}

.table_wrap {
  background-color: #fff;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.mid_table {
  margin: 0px 20px;
  background-color: #fff;
  padding: 20px;
}

.err {
  border-color: aliceblue;
  padding: 5px 0px 0px 0px;
  color: red;
  top: 0px;
  font-size: 12px;
  list-style: none;
}

.member {
  /* width: 40%;
      float:left; */
  margin-bottom: 15px;
}

.memberform {
  padding: 50px;
}

.member > label {
  display: block;
  font-size: 13px;
}

.member > input {
  display: block;
  width: 96%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
  font-size: 13px;
}

.member > select {
  display: block;
  width: 96%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
  font-size: 13px;
}

.member > checkbox {
  font-size: 13px;
}

.frmlable > label {
  display: block !important;
}

.myfrm {
  display: block;
  width: 100%;
}


.gear_icn {
  text-align: center;
  position: relative;
}

.gric {
  color: #ccc;
  cursor: pointer;
  font-size: 1.2rem;
}

.pop_actions {
  background-color: #fff;
  text-align: left;
  position: absolute;
  left: 5px;
  z-index: 10;
  box-shadow: 0px 0px 10px #666;
}

  .pop_actions p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

.tcsclose_btn {
  position: fixed;
  top: 30px;
  right: 30px;
}

.mycrooser {
  font-size: 1.3rem;
  cursor: pointer;
}

.pop_heading {
  text-align: center;
  font-size: 20px;
  color: #555;
}

.tcs_licfrm > .row > .mb-1 > div > label {
  font-size: 13px;
  color: #999;
}

.tcslgn_inp {
  font-size: 12px;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 14px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

  .tcslgn_inp::-webkit-input-placeholder {
    color: #ccc;
  }

  .tcslgn_inp:focus {
    border-color: #000;
    color: #000;
    box-shadow: none;
  }

.create_btn {
  background: #4895c8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}


.rht_btns {
  width: 125px;
  float: right;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-right: 26px;
}

.wxpicn {
  font-size: 1.5em;
  position: relative;
  top: 3px;
}


td.dataTables_empty {
  display: none;
}

.thdr th.sorting {
  position: relative;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 1px solid #e0e0ef;
  border-right: none;
  border-top: none;
  border-left: none;
}

.thdr th.sorting_asc {
  position: relative;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 1px solid #e0e0ef;
  border-right: none;
  border-top: none;
  border-left: none;
}

.thdr th.sorting:before {
  right: 0px;
  content: "\2191";
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
  line-height: 2.5;
  font-size: 0.65rem;
}

.thdr th.sorting:after {
  font-size: 0.65rem;
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
  right: 0.5em;
  content: "\2193";
}

table#DataTables_Table_0 {
  border: 1px solid rgba(242, 242, 242, 0.58);
  box-shadow: 0 0.75rem 1.5rem rgba(236, 242, 247, 0.56);
}


.rpt_stat {
  margin: 0px -10px 0px;
  padding: 0px;
  float: right;
}

  .rpt_stat li {
    list-style: none;
    display: inline-block;
    margin: 0px 0px 0px 10px;
  }

    .rpt_stat li button.btn.btn-primary {
      background: none;
      font-size: 15px;
      color: #333;
      border-color: rgba(0, 0, 0, 0.12);
      border-radius: 0px;
    }

      .rpt_stat li button.btn.btn-primary:hover {
        background-color: #009fd7;
        color: #fff;
        border-color: #009fd7;
      }

.down_rpt {
  background: none;
  font-size: 15px;
  color: #333;
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 7px 7px;
  text-decoration: none;
}

  .down_rpt:hover {
    background-color: #009fd7;
    color: #fff;
    border-color: #009fd7;
  }


.member[_ngcontent-c2] > select[_ngcontent-c2] {
  display: block;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
  font-size: 13px;
}

button.btn.btn-info.btn_submit {
  margin: 0px auto;
  text-align: center;
  border-radius: 0px;
  padding: 10px 62px;
}

.form-group.frm_btn {
  margin: 0px auto;
  text-align: center;
  border-radius: 0px;
}



.usr__prf {
  background-color: #fafafa;
}

.user-profile {
  width: 100%;
  margin: 16px 0px 0px;
  background-color: white;
}

.user-profile__header {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 64px;
  font-weight: bold;
  font-size: 16px;
  padding: 22px 24px;
  border-bottom: 1px solid #F0F0F5;
  box-sizing: border-box;
  line-height: 20px;
}

  .user-profile__header .c-button {
    font-family: 'Poppins', sans-serif;
    float: right;
    margin-top: -6px;
    background-color: #14BEF0;
    color: white;
    border-radius: 2px;
    border-style: solid;
    font-weight: 500;
    font-size: 14px;
    padding: 4px 20px;
    border-color: #14BEF0;
    cursor: pointer;
    margin-left: 10px;
  }

.user-profile__cont {
  background-color: #ebf6fa;
  width: 100%;
}

.usr__pic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font: 0/0 a;
  text-align: left;
}

  .usr__pic img {
    width: 100%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

.clearfix {
  clear: both;
}

.usr_dts {
  background-color: #fff;
  padding: 20px 20px;
}

.usr_pic {
  width: 150px;
  height: 150px;
}

  .usr_pic img {
    width: 100%;
    border-radius: 50%;
  }

.usr_dts .table-responsive table.table.table-borderless.w-100 tbody tr td {
  border: 0px;
}

.usr_dts .table-responsive table.table.table-borderless.w-100 tbody tr td {
  color: #036aa4;
}

  .usr_dts .table-responsive table.table.table-borderless.w-100 tbody tr td strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #212529;
  }

ul.hp_blk {
  margin: 0px;
  padding: 0px;
}
