
<div class="container-fluid table_wrap">
  <div class="mid_table">

    <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
    <div class="clearfix"></div>


    <div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>ThemeName</th>

            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofthemestudio let i=index" class="trdata">
            <td>{{i+1}}</td>
            <td>{{rec.ThemeName}}</td>


            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>
  </div>
</div>



<div class="create_popup" id="crpop">

  <h3 class="pop_heading">Create ThemeStudio</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>

  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">

        <form method="post" [formGroup]="form" (ngSubmit)="onCreateThemeStudio()" class="tcs_licfrm">
          <div class="row">



            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.Client_Id.valid && form.controls.Client_Id.errors && form.controls.Client_Id.dirty && form.get('Client_Id').touched,
                                  'text-success': form.controls.Client_Id.valid && form.controls.Client_Id.dirty}">
                <label for="Client_Id">Client_Id</label>
                <input type="text" class="form-control tcslgn_inp" id="Client_Id" placeholder="Client_Id" [(ngModel)]="Client_Id" [formControl]="form.controls['Client_Id']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['Client_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeName.valid && form.controls.ThemeName.errors && form.controls.ThemeName.dirty && form.get('ThemeName').touched,
                                  'text-success': form.controls.ThemeName.valid && form.controls.ThemeName.dirty}">
                <label for="ThemeName">ThemeName</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeName" placeholder="ThemeName" [(ngModel)]="ThemeName" [formControl]="form.controls['ThemeName']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeTitle.valid && form.controls.ThemeTitle.errors && form.controls.ThemeTitle.dirty && form.get('ThemeTitle').touched,
                                  'text-success': form.controls.ThemeTitle.valid && form.controls.ThemeTitle.dirty}">
                <label for="ThemeTitle">ThemeTitle</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeTitle" placeholder="ThemeTitle" [(ngModel)]="ThemeTitle" [formControl]="form.controls['ThemeTitle']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemePrimaryColor.valid && form.controls.ThemePrimaryColor.errors && form.controls.ThemePrimaryColor.dirty && form.get('ThemePrimaryColor').touched,
                                  'text-success': form.controls.ThemePrimaryColor.valid && form.controls.ThemePrimaryColor.dirty}">
                <label for="ThemePrimaryColor">ThemePrimaryColor</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemePrimaryColor" placeholder="ThemePrimaryColor" [(ngModel)]="ThemePrimaryColor" [formControl]="form.controls['ThemePrimaryColor']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemePrimaryColor'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeSecondaryColor.valid && form.controls.ThemeSecondaryColor.errors && form.controls.ThemeSecondaryColor.dirty && form.get('ThemeSecondaryColor').touched,
                                  'text-success': form.controls.ThemeSecondaryColor.valid && form.controls.ThemeSecondaryColor.dirty}">
                <label for="ThemeSecondaryColor">ThemeSecondaryColor</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeSecondaryColor" placeholder="ThemeSecondaryColor" [(ngModel)]="ThemeSecondaryColor" [formControl]="form.controls['ThemeSecondaryColor']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeSecondaryColor'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeLogoUrl.valid && form.controls.ThemeLogoUrl.errors && form.controls.ThemeLogoUrl.dirty && form.get('ThemeLogoUrl').touched,
                                  'text-success': form.controls.ThemeLogoUrl.valid && form.controls.ThemeLogoUrl.dirty}">
                <label for="ThemeLogoUrl">ThemeLogoUrl</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeLogoUrl" placeholder="ThemeLogoUrl" [(ngModel)]="ThemeLogoUrl" [formControl]="form.controls['ThemeLogoUrl']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeLogoUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeH1.valid && form.controls.ThemeH1.errors && form.controls.ThemeH1.dirty && form.get('ThemeH1').touched,
                           'text-success': form.controls.ThemeH1.valid && form.controls.ThemeH1.dirty}">
                <label for="ThemeH1">ThemeH1</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeH1" placeholder="ThemeH1" [(ngModel)]="ThemeH1" [formControl]="form.controls['ThemeH1']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeH1'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeH2.valid && form.controls.ThemeH2.errors && form.controls.ThemeH2.dirty && form.get('ThemeH2').touched,
                        'text-success': form.controls.ThemeH2.valid && form.controls.ThemeH2.dirty}">
                <label for="ThemeH2">ThemeH2</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeH2" placeholder="ThemeH2" [(ngModel)]="ThemeH2" [formControl]="form.controls['ThemeH2']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeH2'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeH3.valid && form.controls.ThemeH3.errors && form.controls.ThemeH3.dirty && form.get('ThemeH3').touched,
                        'text-success': form.controls.ThemeH3.valid && form.controls.ThemeH3.dirty}">
                <label for="ThemeH3">ThemeH3</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeH3" placeholder="ThemeH3" [(ngModel)]="ThemeH3" [formControl]="form.controls['ThemeH3']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeH3'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeHeader.valid && form.controls.ThemeHeader.errors && form.controls.ThemeHeader.dirty && form.get('ThemeHeader').touched,
                        'text-success': form.controls.ThemeHeader.valid && form.controls.ThemeHeader.dirty}">
                <label for="ThemeHeader">ThemeHeader</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeHeader" placeholder="ThemeHeader" [(ngModel)]="ThemeHeader" [formControl]="form.controls['ThemeHeader']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeHeader'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeSubHeader.valid && form.controls.ThemeSubHeader.errors && form.controls.ThemeSubHeader.dirty && form.get('ThemeSubHeader').touched,
              'text-success': form.controls.ThemeSubHeader.valid && form.controls.ThemeSubHeader.dirty}">
                <label for="ThemeSubHeader">ThemeSubHeader</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeSubHeader" placeholder="ThemeSubHeader" [(ngModel)]="ThemeSubHeader" [formControl]="form.controls['ThemeSubHeader']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeSubHeader'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeNormalText.valid && form.controls.ThemeNormalText.errors && form.controls.ThemeNormalText.dirty && form.get('ThemeNormalText').touched,
              'text-success': form.controls.ThemeNormalText.valid && form.controls.ThemeNormalText.dirty}">
                <label for="ThemeNormalText">ThemeNormalText</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeNormalText" placeholder="ThemeNormalText" [(ngModel)]="ThemeNormalText" [formControl]="form.controls['ThemeNormalText']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeNormalText'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeParagraphText.valid && form.controls.ThemeParagraphText.errors && form.controls.ThemeParagraphText.dirty && form.get('ThemeParagraphText').touched,
                        'text-success': form.controls.ThemeParagraphText.valid && form.controls.ThemeParagraphText.dirty}">
                <label for="ThemeParagraphText">ThemeParagraphText</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeParagraphText" placeholder="ThemeParagraphText" [(ngModel)]="ThemeParagraphText" [formControl]="form.controls['ThemeParagraphText']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeParagraphText'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemePrimaryFont.valid && form.controls.ThemePrimaryFont.errors && form.controls.ThemePrimaryFont.dirty && form.get('ThemePrimaryFont').touched,
                        'text-success': form.controls.ThemePrimaryFont.valid && form.controls.ThemePrimaryFont.dirty}">
                <label for="ThemePrimaryFont">ThemePrimaryFont</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemePrimaryFont" placeholder="ThemePrimaryFont" [(ngModel)]="ThemePrimaryFont" [formControl]="form.controls['ThemePrimaryFont']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemePrimaryFont'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeSecondaryFont.valid && form.controls.ThemeSecondaryFont.errors && form.controls.ThemeSecondaryFont.dirty && form.get('ThemeSecondaryFont').touched,
                        'text-success': form.controls.ThemeSecondaryFont.valid && form.controls.ThemeSecondaryFont.dirty}">
                <label for="ThemeSecondaryFont">ThemeSecondaryFont</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeSecondaryFont" placeholder="ThemeSecondaryFont" [(ngModel)]="ThemeSecondaryFont" [formControl]="form.controls['ThemeSecondaryFont']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeSecondaryFont'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeBorderColor.valid && form.controls.ThemeBorderColor.errors && form.controls.ThemeBorderColor.dirty && form.get('ThemeBorderColor').touched,
                                  'text-success': form.controls.ThemeBorderColor.valid && form.controls.ThemeBorderColor.dirty}">
                <label for="ThemeBorderColor">ThemeBorderColor</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeBorderColor" placeholder="ThemeBorderColor" [(ngModel)]="ThemeBorderColor" [formControl]="form.controls['ThemeBorderColor']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeBorderColor'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeBorderWidth.valid && form.controls.ThemeBorderWidth.errors && form.controls.ThemeBorderWidth.dirty && form.get('ThemeBorderWidth').touched,
                                  'text-success': form.controls.ThemeBorderWidth.valid && form.controls.ThemeBorderWidth.dirty}">
                <label for="ThemeBorderWidth">ThemeBorderWidth</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeBorderWidth" placeholder="ThemeBorderWidth" [(ngModel)]="ThemeBorderWidth" [formControl]="form.controls['ThemeBorderWidth']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeBorderWidth'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>




            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeALink.valid && form.controls.ThemeALink.errors && form.controls.ThemeALink.dirty && form.get('ThemeALink').touched,
                        'text-success': form.controls.ThemeALink.valid && form.controls.ThemeALink.dirty}">
                <label for="ThemeALink">ThemeALink</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeALink" placeholder="ThemeALink" [(ngModel)]="ThemeALink" [formControl]="form.controls['ThemeALink']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeALink'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeHrefLink.valid && form.controls.ThemeHrefLink.errors && form.controls.ThemeHrefLink.dirty && form.get('ThemeHrefLink').touched,
                        'text-success': form.controls.ThemeHrefLink.valid && form.controls.ThemeHrefLink.dirty}">
                <label for="ThemeHrefLink">ThemeHrefLink</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeHrefLink" placeholder="ThemeHrefLink" [(ngModel)]="ThemeHrefLink" [formControl]="form.controls['ThemeHrefLink']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeHrefLink'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeLiStyle.valid && form.controls.ThemeLiStyle.errors && form.controls.ThemeLiStyle.dirty && form.get('ThemeLiStyle').touched,
                        'text-success': form.controls.ThemeLiStyle.valid && form.controls.ThemeLiStyle.dirty}">
                <label for="ThemeLiStyle">ThemeLiStyle</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeLiStyle" placeholder="ThemeLiStyle" [(ngModel)]="ThemeLiStyle" [formControl]="form.controls['ThemeLiStyle']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeLiStyle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeButton.valid && form.controls.ThemeButton.errors && form.controls.ThemeButton.dirty && form.get('ThemeButton').touched,
                        'text-success': form.controls.ThemeButton.valid && form.controls.ThemeButton.dirty}">
                <label for="ThemeButton">ThemeButton</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeButton" placeholder="ThemeButton" [(ngModel)]="ThemeButton" [formControl]="form.controls['ThemeButton']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeButton'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeControlColor.valid && form.controls.ThemeControlColor.errors && form.controls.ThemeControlColor.dirty && form.get('ThemeControlColor').touched,
                        'text-success': form.controls.ThemeControlColor.valid && form.controls.ThemeControlColor.dirty}">
                <label for="ThemeControlColor">ThemeControlColor</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeControlColor" placeholder="ThemeControlColor" [(ngModel)]="ThemeControlColor" [formControl]="form.controls['ThemeControlColor']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeControlColor'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeTextBoxStyle.valid && form.controls.ThemeTextBoxStyle.errors && form.controls.ThemeTextBoxStyle.dirty && form.get('ThemeTextBoxStyle').touched,
                        'text-success': form.controls.ThemeTextBoxStyle.valid && form.controls.ThemeTextBoxStyle.dirty}">
                <label for="ThemeTextBoxStyle">ThemeTextBoxStyle</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeTextBoxStyle" placeholder="ThemeTextBoxStyle" [(ngModel)]="ThemeTextBoxStyle" [formControl]="form.controls['ThemeTextBoxStyle']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeTextBoxStyle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeAreaStyle.valid && form.controls.ThemeAreaStyle.errors && form.controls.ThemeAreaStyle.dirty && form.get('ThemeAreaStyle').touched,
                        'text-success': form.controls.ThemeAreaStyle.valid && form.controls.ThemeAreaStyle.dirty}">
                <label for="ThemeAreaStyle">ThemeAreaStyle</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeAreaStyle" placeholder="ThemeAreaStyle" [(ngModel)]="ThemeAreaStyle" [formControl]="form.controls['ThemeAreaStyle']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeAreaStyle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeControlStyle.valid && form.controls.ThemeControlStyle.errors && form.controls.ThemeControlStyle.dirty && form.get('ThemeControlStyle').touched,
                        'text-success': form.controls.ThemeControlStyle.valid && form.controls.ThemeControlStyle.dirty}">
                <label for="ThemeControlStyle">ThemeControlStyle</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeControlStyle" placeholder="ThemeControlStyle" [(ngModel)]="ThemeControlStyle" [formControl]="form.controls['ThemeControlStyle']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeControlStyle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>




            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ThemeEmbeddedStyle.valid && form.controls.ThemeEmbeddedStyle.errors && form.controls.ThemeH3.dirty && form.get('ThemeEmbeddedStyle').touched,
                        'text-success': form.controls.ThemeEmbeddedStyle.valid && form.controls.ThemeEmbeddedStyle.dirty}">
                <label for="ThemeEmbeddedStyle">ThemeEmbeddedStyle</label>
                <input type="text" class="form-control tcslgn_inp" id="ThemeEmbeddedStyle" placeholder="ThemeEmbeddedStyle" [(ngModel)]="ThemeEmbeddedStyle" [formControl]="form.controls['ThemeEmbeddedStyle']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ThemeEmbeddedStyle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>




            <!-- <div class="col-12 col-md-6">

     <div [ngClass]="{'has-error' : !form.controls.ThemeCreatedDate.valid && form.controls.ThemeCreatedDate.errors && form.controls.ThemeCreatedDate.dirty && form.get('ThemeCreatedDate').touched,
               'text-success': form.controls.ThemeCreatedDate.valid && form.controls.ThemeCreatedDate.dirty}">
       <label for="ThemeCreatedDate">ThemeCreatedDate</label>
       <input type="text" class="form-control tcslgn_inp" id="ThemeCreatedDate" placeholder="ThemeCreatedDate" [(ngModel)]="ThemeCreatedDate" [formControl]="form.controls['ThemeCreatedDate']" />
     </div>
     <ul class="hp_blk">
       <li *ngIf="form.controls['ThemeCreatedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
     </ul>
   </div>


   <div class="col-12 col-md-6">

     <div [ngClass]="{'has-error' : !form.controls.ThemeCreatedBy.valid && form.controls.ThemeCreatedBy.errors && form.controls.ThemeCreatedBy.dirty && form.get('ThemeCreatedBy').touched,
               'text-success': form.controls.ThemeCreatedBy.valid && form.controls.ThemeCreatedBy.dirty}">
       <label for="ThemeCreatedBy">ThemeCreatedBy</label>
       <input type="text" class="form-control tcslgn_inp" id="ThemeCreatedBy" placeholder="ThemeCreatedBy" [(ngModel)]="ThemeCreatedBy" [formControl]="form.controls['ThemeCreatedBy']" />
     </div>
     <ul class="hp_blk">
       <li *ngIf="form.controls['ThemeCreatedBy'].hasError('required') && isSubmitted" class="err">This field is Required</li>
     </ul>
   </div>



   <div class="col-12 col-md-6">

     <div [ngClass]="{'has-error' : !form.controls.ThemeUpdatedDate.valid && form.controls.ThemeUpdatedDate.errors && form.controls.ThemeUpdatedDate.dirty && form.get('ThemeUpdatedDate').touched,
               'text-success': form.controls.ThemeUpdatedDate.valid && form.controls.ThemeUpdatedDate.dirty}">
       <label for="ThemeUpdatedDate">ThemeUpdatedDate</label>
       <input type="text" class="form-control tcslgn_inp" id="ThemeUpdatedDate" placeholder="ThemeUpdatedDate" [(ngModel)]="ThemeUpdatedDate" [formControl]="form.controls['ThemeUpdatedDate']" />
     </div>
     <ul class="hp_blk">
       <li *ngIf="form.controls['ThemeUpdatedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
     </ul>
   </div>



   <div class="col-12 col-md-6">

     <div [ngClass]="{'has-error' : !form.controls.ThemeUpdatedBy.valid && form.controls.ThemeUpdatedBy.errors && form.controls.ThemeUpdatedBy.dirty && form.get('ThemeUpdatedBy').touched,
               'text-success': form.controls.ThemeUpdatedBy.valid && form.controls.ThemeUpdatedBy.dirty}">
       <label for="ThemeUpdatedBy">ThemeUpdatedBy</label>
       <input type="text" class="form-control tcslgn_inp" id="ThemeUpdatedBy" placeholder="ThemeUpdatedBy" [(ngModel)]="ThemeUpdatedBy" [formControl]="form.controls['ThemeUpdatedBy']" />
     </div>
     <ul class="hp_blk">
       <li *ngIf="form.controls['ThemeUpdatedBy'].hasError('required') && isSubmitted" class="err">This field is Required</li>
     </ul>
   </div>



   <div class="col-12 col-md-6">

     <div [ngClass]="{'has-error' : !form.controls.ThemeStatus.valid && form.controls.ThemeStatus.errors && form.controls.ThemeStatus.dirty && form.get('ThemeStatus').touched,
               'text-success': form.controls.ThemeStatus.valid && form.controls.ThemeStatus.dirty}">
       <label for="ThemeStatus">ThemeStatus</label>
       <input type="text" class="form-control tcslgn_inp" id="ThemeStatus" placeholder="ThemeStatus" [(ngModel)]="ThemeStatus" [formControl]="form.controls['ThemeStatus']" />
     </div>
     <ul cla ss="hp_blk">
       <li *ngIf="form.controls['ThemeStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
     </ul>
   </div>-->

            <div class="col-12 col-md-6 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ThemeStatus.valid && form.controls.ThemeStatus.errors && form.controls.ThemeStatus.dirty && form.controls('ThemeStatus').touched,
                                  'text-success': form.controls.ThemeStatus.valid && form.controls.ThemeStatus.dirty}">
                <label for="ThemeStatus">ThemeStatus :</label>
                <select id="ThemeStatus" class="form-control" name="ThemeStatus" [(ngModel)]="ExerciseTypeStatus" placeholder="ThemeStatus" formControlName="ThemeStatus">
                  <option [ngValue]="undefined" disabled selected> Select Status </option>
                  <option>Active</option>
                  <option>InActive</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ThemeStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>




          </div>









          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>




