<div class="container-fluid memberform">
  <button class="btn btn-primary lgncrte top_space" (click)="openCpopup1()" type="button">Send Notifications</button>
  <div class="create_popup" id="crpop1">

    <h3 class="pop_heading">Send Notifications</h3>
    <hr />
    <div class="tcsclose_btn" (click)="closeCpopup1()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>

    <div class="container-fluid memberform">
      <div class="row">

        <div class="col-12">

          <form method="post" [formGroup]="Sendnotificationsform" (ngSubmit)="NotificationsSubmit()" class="tcs_licfrm">
            <!--<div class="row">-->
              <div class="col-12 col-md-12 mb-1">
                <div [ngClass]="{'has-error' : !Sendnotificationsform.controls.ActivityType.valid && Sendnotificationsform.controls.ActivityType.errors && Sendnotificationsform.controls.ActivityType.dirty && Sendnotificationsform.controls('ActivityType').touched,
                                  'text-success': Sendnotificationsform.controls.ActivityType.valid && Sendnotificationsform.controls.ActivityType.dirty}">
                  <label for="ActivityType">Activity Type :</label>
                  <select id="ActivityType" class="form-control" name="ActivityType" [(ngModel)]="ActivityType" formControlName="ActivityType">
                    <option [ngValue]="undefined" disabled selected> Select Status </option>
                    <option>Marketing</option>
                    <option>Webinar</option>
                  </select>
                  <ul class="hp_blk">
                    <li *ngIf="Sendnotificationsform.controls['ActivityType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                </div>
              </div>
              <!--<div class="col-12 col-md-6 mb-1">
    <div class="form-group">
      <label for="MasterAccount_Id">MasterAccount Name</label>
      <div class="member" [ngClass]="{'has-error' : !form.controls.MasterAccount_Id.valid && form.controls.MasterAccount_Id.errors
             && form.controls.MasterAccount_Id.dirty && form.get('MasterAccount_Id').touched,
    'text-success': form.controls.MasterAccount_Id.valid &&form.controls.MasterAccount_Id.dirty}">


        <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="test($event)" [(ngModel)]="MasterAccount_Id" formControlName="MasterAccount_Id">

          <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


        </select>

        <ul class="help-block">
          <li *ngIf="form.controls['MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
        </ul>

      </div>
    </div>
  </div>-->
              <div class="col-12 col-md-12 mb-1">
                <div [ngClass]="{'has-error' : !Sendnotificationsform.controls.NotificationChanelType.valid && Sendnotificationsform.controls.NotificationChanelType.errors && Sendnotificationsform.controls.NotificationChanelType.dirty && Sendnotificationsform.controls('NotificationChanelType').touched,
                                  'text-success': Sendnotificationsform.controls.NotificationChanelType.valid && Sendnotificationsform.controls.NotificationChanelType.dirty}">
                  <label for="NotificationChanelType">NotificationChanel Type :</label>
                  <select id="NotificationChanelType" class="form-control" name="NotificationChanelType" [(ngModel)]="NotificationChanelType" formControlName="NotificationChanelType">
                    <option [ngValue]="undefined" disabled selected> Select Status </option>
                    <option>Email_Notification</option>
                    <option>Push_Notification</option>
                  </select>
                  <ul class="hp_blk">
                    <li *ngIf="Sendnotificationsform.controls['NotificationChanelType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                </div>
              </div>

              <div class="col-12 col-md-12 mb-1">

                <div [ngClass]="{'has-error' : !Sendnotificationsform.controls.Message.valid && Sendnotificationsform.controls.Message.errors && Sendnotificationsform.controls.Message.dirty && Sendnotificationsform.get('Message').touched,
                                  'text-success': Sendnotificationsform.controls.Message.valid && Sendnotificationsform.controls.Message.dirty}">
                  <label for="Message">Message</label>
                  <input type="text" class="form-control tcslgn_inp" id="Message" placeholder="Message" [(ngModel)]="Message" [formControl]="Sendnotificationsform.controls['Message']" />
                </div>
                <ul class="hp_blk">
                  <li *ngIf="Sendnotificationsform.controls['Message'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>

              <!--<div class="col-12 col-md-6 mb-1">

                <div [ngClass]="{'has-error' : !Sendnotificationsform.controls.Message.valid && Sendnotificationsform.controls.Message.errors && Sendnotificationsform.controls.Message.dirty && Sendnotificationsform.get('Message').touched,
                                  'text-success': Sendnotificationsform.controls.Message.valid && Sendnotificationsform.controls.Message.dirty}">
                  <label for="Message">Message</label>
                  <input type="text" class="form-control tcslgn_inp" id="Message" placeholder="Message" [(ngModel)]="Message" [formControl]="Sendnotificationsform.controls['Message']" />
                </div>
                <ul class="hp_blk">
                  <li *ngIf="Sendnotificationsform.controls['Message'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>-->
              <div class="col-12 col-md-6 mb-1">

                <div [ngClass]="{'has-error' : !Sendnotificationsform.controls.MessageBody.valid && Sendnotificationsform.controls.MessageBody.errors && Sendnotificationsform.controls.MessageBody.dirty && Sendnotificationsform.get('MessageBody').touched,
                                  'text-success': Sendnotificationsform.controls.MessageBody.valid && Sendnotificationsform.controls.MessageBody.dirty}">
                  <label for="Body">Body</label>
                  <input type="text" class="form-control tcslgn_inp" id="MessageBody" placeholder="Body" [(ngModel)]="MessageBody" [formControl]="Sendnotificationsform.controls['MessageBody']" />
                </div>
                <ul class="hp_blk">
                  <li *ngIf="Sendnotificationsform.controls['MessageBody'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>


            <!--</div>-->

            <div class="form-group">
              <button type="submit" class="btn btn-info">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12">

      <form [formGroup]="viewmembersUpdateFormGroup" (ngSubmit)="onUpdateMembers(viewmembers)" class="tcs_licfrm">
        <div class="row">
          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">First Name</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.FirstName.valid && MembersForm.controls.FirstName.errors
               && MembersForm.controls.FirstName.dirty && MembersForm.get('FirstName').touched,
      'text-success': MembersForm.controls.FirstName.valid && MembersForm.controls.FirstName.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.FirstName"
                   placeholder="First Name" [(ngModel)]="viewmembers.FirstName"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.FirstName']" />


            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.FirstName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>


          <div class="col-12 col-md-6 mb-1">

            <label>Last Name</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.LastName.valid &&
              MembersForm.controls.LastName.errors
               && MembersForm.controls.LastName.dirty && MembersForm.get('LastName').touched,
      'text-success': MembersForm.controls.LastName.valid && MembersForm.controls.LastName.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.LastName"
                   placeholder="Last Name" [(ngModel)]="viewmembers.LastName"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.LastName']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.LastName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>


        </div>
        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Middle Name</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.MiddleName.valid && MembersForm.controls.MiddleName.errors
               && MembersForm.controls.MiddleName.dirty && MembersForm.get('MiddleName').touched,
      'text-success': MembersForm.controls.MiddleName.valid && MembersForm.controls.MiddleName.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.MiddleName"
                   placeholder="Middle Name" [(ngModel)]="viewmembers.MiddleName"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.MiddleName']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.MiddleName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>

          <div class="col-12 col-md-6 mb-1">

            <label>User Name</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.UserName.valid &&
              MembersForm.controls.UserName.errors
               && MembersForm.controls.UserName.dirty && MembersForm.get('UserName').touched,
      'text-success': MembersForm.controls.UserName.valid && MembersForm.controls.UserName.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.UserName"
                   placeholder="User Name" [(ngModel)]="viewmembers.UserName"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.UserName']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.UserName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>





        <div class="row">

          <!--<div class="col-12 col-md-6 mb-1">

              <label>Password</label>


              <input type="Password" class="form-control tcslgn_inp" id="viewmembers.Password"
                     placeholder="Password" [(ngModel)]="viewmembers.Password"
                     [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.Password']" />

              <ul class="help-block">
      <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.Password'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>

            </div>-->
          <!--<div class="col-12 col-md-6 mb-1">

              <label>Confirm Password</label>


              <input type="Password" class="form-control tcslgn_inp" id="viewmembers.ConfirmPassword"
                     placeholder="Confirm Password" [(ngModel)]="viewmembers.ConfirmPassword"
                     [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.ConfirmPassword']" />

              <ul class="help-block">
      <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.ConfirmPassword'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>

            </div>-->


        </div>
        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label>Marital Status</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.MaritalStatus.valid &&
              MembersForm.controls.MaritalStatus.errors
               && MembersForm.controls.MaritalStatus.dirty && MembersForm.get('MaritalStatus').touched,
      'text-success': MembersForm.controls.MaritalStatus && MembersForm.controls.MaritalStatus.dirty}">-->

            <select class="form-control tcslgn_inp" id="viewmembers.MaritalStatus"
                    placeholder="Marital Status" [(ngModel)]="viewmembers.MaritalStatus"
                    [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.MaritalStatus']">
              <option [ngValue]="undefined" disabled selected> Select MaritalStatus</option>
              <option>Married</option>
              <option>Unmarried</option>
            </select>
            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.MaritalStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>

          <div class="col-12 col-md-6 mb-1">

            <label>DOB</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.DOB.valid &&
              MembersForm.controls.DOB.errors
               && MembersForm.controls.DOB.dirty && MembersForm.get('DOB').touched,
      'text-success': MembersForm.controls.DOB.valid && MembersForm.controls.DOB.dirty}">-->

            <input type="Date" class="form-control tcslgn_inp" id="viewmembers.DOB"
                   placeholder="DOB" [(ngModel)]="viewmembers.DOB"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.DOB']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.DOB'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>



        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Mobile Number</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.MobileNumber.valid && MembersForm.controls.MobileNumber.errors
               && MembersForm.controls.MobileNumber.dirty && MembersForm.get('MobileNumber').touched,
      'text-success': MembersForm.controls.MobileNumber.valid && MembersForm.controls.MobileNumber.dirty}">-->

            <input type="number" class="form-control tcslgn_inp" id="viewmembers.MobileNumber"
                   placeholder="Mobile Number" [(ngModel)]="viewmembers.MobileNumber"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.MobileNumber']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.MobileNumber'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>


          <div class="col-12 col-md-6 mb-1">

            <label>Email</label>


            <input type="email" class="form-control tcslgn_inp" id="viewmembers.Email"
                   [(ngModel)]="viewmembers.Email"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.Email']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.Email'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <div [hidden]="viewmembersUpdateFormGroup.controls['viewmembers.Email'].valid || viewmembersUpdateFormGroup.controls['viewmembers.Email'].pristine" class="alert alert-danger err2">
              <div [hidden]="!viewmembersUpdateFormGroup.controls['viewmembers.Email'].hasError('required')">Email is required</div>
              <div [hidden]="!viewmembersUpdateFormGroup.controls['viewmembers.Email'].hasError('pattern')">
                Email format should be
                <small> <b>john@something.com</b> </small>
              </div>
            </div>
          </div>
        </div>






        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Gender</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Gender.valid && MembersForm.controls.Gender.errors
               && MembersForm.controls.Gender.dirty && MembersForm.get('Gender').touched,
      'text-success': MembersForm.controls.Gender.valid && MembersForm.controls.Gender.dirty}">-->

            <select class="form-control tcslgn_inp" id="viewmembers.Gender"
                    placeholder="Gender" [(ngModel)]="viewmembers.Gender"
                    [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.Gender']">
              <option [ngValue]="undefined" disabled selected> Select Gender</option>
              <option>Male</option>
              <option>Female</option>
            </select>
            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.Gender'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>


          <div class="col-12 col-md-6 mb-1">

            <label>Industry</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Industry.valid &&
              MembersForm.controls.Industry.errors
               && MembersForm.controls.Industry.dirty && MembersForm.get('Industry').touched,
      'text-success': MembersForm.controls.Industry.valid && MembersForm.controls.Industry.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.Industry"
                   placeholder="Industry" [(ngModel)]="viewmembers.Industry"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.Industry']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.Industry'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>


        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Profession</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Profession.valid && MembersForm.controls.Profession.errors
               && MembersForm.controls.Profession.dirty && MembersForm.get('Profession').touched,
      'text-success': MembersForm.controls.Profession.valid && MembersForm.controls.Profession.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.Profession"
                   placeholder="Profession" [(ngModel)]="viewmembers.Profession"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.Profession']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.Profession'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>
          <!--</div>-->


          <div class="col-12 col-md-6 mb-1">

            <label>Address Line1</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.AddressLine1.valid &&
              MembersForm.controls.AddressLine1.errors
               && MembersForm.controls.AddressLine1.dirty && MembersForm.get('AddressLine1').touched,
      'text-success': MembersForm.controls.AddressLine1.valid && MembersForm.controls.AddressLine1.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.AddressLine1"
                   placeholder="Address Line1" [(ngModel)]="viewmembers.AddressLine1"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.AddressLine1']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.AddressLine1'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>



        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Address Line2</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.AddressLine2.valid && MembersForm.controls.AddressLine2.errors
               && MembersForm.controls.AddressLine2.dirty && MembersForm.get('AddressLine2').touched,
      'text-success': MembersForm.controls.AddressLine2.valid && MembersForm.controls.AddressLine2.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.AddressLine2"
                   placeholder="Address Line2" [(ngModel)]="viewmembers.AddressLine2"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.AddressLine2']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.AddressLine2'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label>City</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.City.valid &&
              MembersForm.controls.City.errors
               && MembersForm.controls.City.dirty && MembersForm.get('City').touched,
      'text-success': MembersForm.controls.City.valid && MembersForm.controls.City.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.City"
                   placeholder="City" [(ngModel)]="viewmembers.City"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.City']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.City'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>


        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">State</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.State.valid && MembersForm.controls.State.errors
               && MembersForm.controls.State.dirty && MembersForm.get('State').touched,
      'text-success': MembersForm.controls.State.valid && MembersForm.controls.State.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.State"
                   placeholder="State" [(ngModel)]="viewmembers.State"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.State']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.State'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>


          <div class="col-12 col-md-6 mb-1">

            <label>ZIP Code</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.ZipCode.valid &&
              MembersForm.controls.ZipCode.errors
               && MembersForm.controls.ZipCode.dirty && MembersForm.get('ZipCode').touched,
      'text-success': MembersForm.controls.ZipCode.valid && MembersForm.controls.ZipCode.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.ZipCode"
                   placeholder="Zip Code" [(ngModel)]="viewmembers.ZipCode"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.ZipCode']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.ZipCode'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>



        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="Country">Country</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Country.valid && MembersForm.controls.Country.errors
               && MembersForm.controls.Country.dirty && MembersForm.get('Country').touched,
      'text-success': MembersForm.controls.Country.valid && MembersForm.controls.Country.dirty}">-->

            <select class="form-control tcslgn_inp" id="viewmembers.Country"
                    placeholder="Country" [(ngModel)]="viewmembers.Country"
                    [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.Country']">



              <option [ngValue]="undefined" disabled selected> Select Country</option>
              <option>India</option>
              <option>Australia</option>
              <option>US</option>
              <option>Canada</option>
            </select>

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.Country'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label>Company Name</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyName.valid &&
              MembersForm.controls.CompanyName.errors
               && MembersForm.controls.CompanyName.dirty && MembersForm.get('CompanyName').touched,
      'text-success': MembersForm.controls.CompanyName.valid && MembersForm.controls.CompanyName.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.CompanyName"
                   placeholder="Company Name" [(ngModel)]="viewmembers.CompanyName"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.CompanyName']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.CompanyName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>




        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Company Address Line1</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyAddressLine1.valid && MembersForm.controls.CompanyAddressLine1.errors
               && MembersForm.controls.CompanyAddressLine1.dirty && MembersForm.get('CompanyAddressLine1').touched,
      'text-success': MembersForm.controls.CompanyAddressLine1.valid && MembersForm.controls.CompanyAddressLine1.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.CompanyAddressLine1"
                   placeholder="Company Address Line1" [(ngModel)]="viewmembers.CompanyAddressLine1"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.CompanyAddressLine1']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.CompanyAddressLine1'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label>Company Address Line2</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyAddressLine2.valid &&
              MembersForm.controls.CompanyAddressLine2.errors
               && MembersForm.controls.CompanyAddressLine2.dirty && MembersForm.get('CompanyAddressLine2').touched,
      'text-success': MembersForm.controls.CompanyAddressLine2.valid && MembersForm.controls.CompanyAddressLine2.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.CompanyAddressLine2"
                   placeholder="Company Address Line2" [(ngModel)]="viewmembers.CompanyAddressLine2"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.CompanyAddressLine2']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.CompanyAddressLine2'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>


        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Company City</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyCity.valid && MembersForm.controls.CompanyCity.errors
               && MembersForm.controls.CompanyCity.dirty && MembersForm.get('CompanyCity').touched,
      'text-success': MembersForm.controls.CompanyCity.valid && MembersForm.controls.CompanyCity.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.CompanyCity"
                   placeholder="Company City" [(ngModel)]="viewmembers.CompanyCity"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.CompanyCity']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.CompanyCity'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label>Company Country</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyCountry.valid &&
              MembersForm.controls.CompanyCountry.errors
               && MembersForm.controls.CompanyCountry.dirty && MembersForm.get('CompanyCountry').touched,
      'text-success': MembersForm.controlsCompanyCountryvalid && MembersForm.controls.CompanyCountry.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.CompanyCountry"
                   placeholder="Company Country" [(ngModel)]="viewmembers.CompanyCountry"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.CompanyCountry']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.CompanyCountry'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>


        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Company Email</label>
            <input type="text" class="form-control tcslgn_inp" id="viewmembers.CompanyEmail"
                   [(ngModel)]="viewmembers.CompanyEmail"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.CompanyEmail']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.CompanyEmail'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <div [hidden]="viewmembersUpdateFormGroup.controls['viewmembers.CompanyEmail'].valid || viewmembersUpdateFormGroup.controls['viewmembers.CompanyEmail'].pristine" class="alert alert-danger err2">
              <div [hidden]="!viewmembersUpdateFormGroup.controls['viewmembers.CompanyEmail'].hasError('required')">Email is required</div>
              <div [hidden]="!viewmembersUpdateFormGroup.controls['viewmembers.CompanyEmail'].hasError('pattern')">
                Email format should be
                <small> <b>john@something.com</b> </small>
              </div>
            </div>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label>Alternate Phone Number</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.AlternatePhoneNumber.valid &&
              MembersForm.controls.AlternatePhoneNumber.errors
               && MembersForm.controls.AlternatePhoneNumber.dirty && MembersForm.get('AlternatePhoneNumber').touched,
      'text-success': MembersForm.controls.AlternatePhoneNumber && MembersForm.controls.AlternatePhoneNumber.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.AlternatePhoneNumber"
                   placeholder="Alternate Phone Number" [(ngModel)]="viewmembers.AlternatePhoneNumber"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.AlternatePhoneNumber']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.AlternatePhoneNumber'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>


        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Blood Group</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.BloodGroup.valid && MembersForm.controls.BloodGroup.errors
               && MembersForm.controls.BloodGroup.dirty && MembersForm.get('BloodGroup').touched,
      'text-success': MembersForm.controls.BloodGroup.valid && MembersForm.controls.BloodGroup.dirty}">-->

            <select class="form-control tcslgn_inp" id="viewmembers.BloodGroup"
                    [(ngModel)]="viewmembers.BloodGroup"
                    [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.BloodGroup']">
              <option [ngValue]="undefined" disabled selected> Select BloodGroup</option>
              <option>A+</option>
              <option>A-</option>
              <option>B+</option>
              <option>B-</option>
              <option>O+</option>
              <option>O-</option>
              <option>AB+</option>
              <option>AB-</option>
            </select>




            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.BloodGroup'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label>Family Type</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.FamilyType.valid &&
              MembersForm.controls.FamilyType.errors
               && MembersForm.controls.FamilyType.dirty && MembersForm.get('FamilyType').touched,
      'text-success': MembersForm.controls.FamilyType && MembersForm.controls.FamilyType.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.FamilyType"
                   placeholder="Family Type" [(ngModel)]="viewmembers.FamilyType"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.FamilyType']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.FamilyType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>


        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Origin</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Origin.valid && MembersForm.controls.Origin.errors
               && MembersForm.controls.Origin.dirty && MembersForm.get('Origin').touched,
      'text-success': MembersForm.controls.Origin.valid && MembersForm.controls.Origin.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.Origin"
                   placeholder="Origin" [(ngModel)]="viewmembers.Origin"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.Origin']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.Origin'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label>Time Zone</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.TimeZone.valid &&
              MembersForm.controls.TimeZone.errors
               && MembersForm.controls.TimeZone.dirty && MembersForm.get('TimeZone').touched,
      'text-success': MembersForm.controls.TimeZone && MembersForm.controls.TimeZone.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.TimeZone"
                   placeholder="Time Zone" [(ngModel)]="viewmembers.TimeZone"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.TimeZone']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.TimeZone'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>



        <div class="row">

          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Hobbies</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Hobbies.valid && MembersForm.controls.Hobbies.errors
               && MembersForm.controls.Hobbies.dirty && MembersForm.get('Hobbies').touched,
      'text-success': MembersForm.controls.Hobbies.valid && MembersForm.controls.Hobbies.dirty}">-->

            <input type="text" class="form-control tcslgn_inp" id="viewmembers.Hobbies"
                   placeholder="Hobbies" [(ngModel)]="viewmembers.Hobbies"
                   [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.Hobbies']" />

            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.Hobbies'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="MembersId">Member Status</label>
            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.MemberStatus.valid && MembersForm.controls.MemberStatus.errors
               && MembersForm.controls.MemberStatus.dirty && MembersForm.get('MemberStatus').touched,
      'text-success': MembersForm.controls.MemberStatus.valid && MembersForm.controls.MemberStatus.dirty}">-->

            <select class="form-control tcslgn_inp" id="viewmembers.MemberStatus"
                    [(ngModel)]="viewmembers.MemberStatus"
                    [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.MemberStatus']">
              <option>select</option>
              <option>Active</option>
              <option>Inactive</option>
            </select>
            <ul class="help-block">
              <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.MemberStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ImageUrl">ImageUrl</label>

              <input type="file" class="form-control tcslgn_inp" id="imageFile" (change)="readURL($event)" name="imageFile" />




            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-12 col-md-6 mb-1">


            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.IsMobileVerified.valid &&
              MembersForm.controls.IsMobileVerified.errors
               && MembersForm.controls.IsMobileVerified.dirty && MembersForm.get('IsMobileVerified').touched,
      'text-success': MembersForm.controls.IsMobileVerified && MembersForm.controls.IsMobileVerified.dirty}">-->

            <label>
              <input type="checkbox" class="form-control" id="viewmembers.IsMobileVerified"
                     placeholder="Is Mobile Verified" [(ngModel)]="viewmembers.IsMobileVerified"
                     [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.IsMobileVerified']" />IsMobileVerified
            </label>

            <!--<ul class="help-block">
        <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.IsMobileVerified'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>-->
            <!--</div>-->
          </div>

          <div class="col-12 col-md-6 mb-1">


            <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.IsEmailVerified.valid &&
              MembersForm.controls.IsEmailVerified.errors
               && MembersForm.controls.IsEmailVerified.dirty && MembersForm.get('IsEmailVerified').touched,
      'text-success': MembersForm.controls.IsEmailVerified && MembersForm.controls.IsEmailVerified.dirty}">-->

            <label>
              <input type="checkbox" class="form-control" id="viewmembers.IsEmailVerified"
                     placeholder="Is Email Verified" [(ngModel)]="viewmembers.IsEmailVerified"
                     [formControl]="viewmembersUpdateFormGroup.controls['viewmembers.IsEmailVerified']" />IsEmailVerified
            </label>

            <!--<ul class="help-block">
        <li *ngIf="viewmembersUpdateFormGroup.controls['viewmembers.IsEmailVerified'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>-->
            <!--</div>-->
          </div>
        </div>




        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
          <button class="btn btn-primary lgncrte nofloat" (click)="openCpopup()"
                  type="button">
            Change Password
          </button>
        </div>


      </form>





    </div>
  </div>
</div>
<div class="create_popup" id="crpop">


  <button type="button" class="close" aria-label="Close" (click)="closeCpopup()">
    <span aria-hidden="true">&times;</span>
  </button>
  <form [formGroup]="ChangePassword"
        (click)="onchangepasswordSubmit()" class="tcs_licfrm">
    <div class="form-group">

      <label>Email</label>


      <input type="text" class="form-control tcslgn_inp" id="Email"
             placeholder="Email" [(ngModel)]="Email" readonly="readonly"
             [formControl]="ChangePassword.controls['Email']" />



    </div>
    <div class="form-group">
      <label for="Password">New Password</label>

      <div class="member" [ngClass]="{'has-error' : !ChangePassword.controls.Password.valid &&
ChangePassword.controls.Password.errors }">

        <input type="password" class="form-control tcslgn_inp" id="Password" name="Password"
               [(ngModel)]="Password" placeholder="Password" formControlName="Password">

        <ul class="help-block">
          <li *ngIf="ChangePassword.controls['Password'].hasError('required') && isSubmittedpwd"
              class="err">This field is Required</li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label for="ConfirmPassword">Confirm Password</label>
      <div class="member" [ngClass]="{'has-error' : !ChangePassword.controls.ConfirmPassword.valid &&
        ChangePassword.controls.ConfirmPassword.errors,
'text-success': ChangePassword.controls.ConfirmPassword.valid}">
        <input type="password" class="form-control tcslgn_inp" id="ConfirmPassword" name="ConfirmPassword"
               [(ngModel)]="ConfirmPassword" placeholder="ConfirmPassword" formControlName="ConfirmPassword">
        <ul class="help-block">
          <li *ngIf="ChangePassword.controls['ConfirmPassword'].hasError('required') && isSubmittedpwd"
              class="err">This field is Required</li>
        </ul>

      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-info">Submit</button>

    </div>
  </form>

</div>
<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>
<div class="create_mask" id="crmask1" (click)="closeCpopup1()"></div>
