<div class="container-fluid programsform">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="viewmodulesUpdateFormGroup" (ngSubmit)="onUpdatemodules(viewmodules)">

        <div class="row">

          <!--<div class="col-12 col-md-6">
    <div class="form-group">
      <label for="ModuleID">ModuleID</label>

      <input type="text" class="form-control"
             id="viewmodules.Module_Id"
             placeholder="ModuleID" [(ngModel)]="viewmodules.Module_Id"
             [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.Module_Id']" />

      <ul class="help-block">
        <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.Module_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>

    </div>
  </div>-->

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Capability_Id">Capability Name</label>


              <select id="Capability_Id" class="form-control" name="Capability_Id" (change)="capability($event)" [(ngModel)]="viewmodules.Capability_Id" formControlName="viewmodules.Capability_Id">

                <option *ngFor="let item of listofcapabilities" [value]="item.Id">{{item.CapabilityName}}</option>


              </select>
              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.Capability_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramStr_Id">ProgramStr Name</label>



              <select id="ProgramStr_Id" class="form-control" name="ProgramStr_Id" (change)="test($event)" [(ngModel)]="viewmodules.ProgramStr_Id" formControlName="viewmodules.ProgramStr_Id">

                <option *ngFor="let item of listofprogramstructure" [value]="item.Id">{{item.ProgramStrName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ProgramStr_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>



          <div class="col-12 col-md-6 mb-1">


            <label for="ProgramCategory_Id">Program Category Name :</label>
            <div class="multiselect">
              <div class="selectBox" (click)="ProgramCategorytest()">
                <select class="form-control lg_email reg_email prefbx"
                        placeholder="ex : Football, Cricket" id="ProgramCategory_Id"
                        [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                        [(ngModel)]="viewmodules.ProgramCategory_Id" [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ProgramCategory_Id']" name="ProgramCategory_Id" (click)="ProgramCategorytest()">

                  <option>Please Select options </option>

                </select>
                <div class="overSelect"> </div>
              </div>
              <div *ngIf="secret">
                <div id="ProgramCategory" *ngFor="let item of listofprogramcategory">
                  <label for="one">
                    <input type="checkbox" id="one" value="{{item.Id}}" (change)="Programcategory(item.Id)" />{{item.ProgramCategoryName}}
                  </label>

                </div>
              </div>

            </div>



          </div>



          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>ModuleTitle</label>


              <input type="text" class="form-control" id="viewmodules.ModuleTitle"
                     placeholder="ModuleTitle" [(ngModel)]="viewmodules.ModuleTitle"
                     [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleTitle']" />

              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="ModuleType">ModuleType</label>


              <select class="form-control" id="viewmodules.ModuleType"
                      placeholder="ModuleType" [(ngModel)]="viewmodules.ModuleType"
                      [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleType']">
                <option value="" selected>select</option>
                <option>Audio</option>
                <option>Video</option>
                <option>Blocks</option>
                <option>Webseries</option>
              </select>

              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>ModuleArea</label>


              <input type="text" class="form-control" id="viewmodules.ModuleArea"
                     placeholder="ModuleArea" [(ngModel)]="viewmodules.ModuleArea"
                     [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleArea']" />

              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleArea'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            </div>
          </div>

        </div>


        <div class="row">

          <!--<div class="col-12 col-md-6">
            <div class="form-group">
              <label for="ModuleMedia">ModuleMedia</label>


              <input type="text" class="form-control" id="viewmodules.ModuleMedia"
                     placeholder="ModuleMedia" [(ngModel)]="viewmodules.ModuleMedia"
                     [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleMedia']" />


              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleMedia'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>-->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>ModuleAccessType</label>


              <select class="form-control" id="ModuleAccessType"
                      placeholder="ModuleAccessType" [(ngModel)]="viewmodules.ModuleAccessType"
                      [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleAccessType']">
                <option value="" selected>select</option>
                <option>Public</option>
                <option>Private</option>

              </select>
              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleAccessType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="ModuleListedPrice">ModuleListedPrice</label>


              <input type="text" class="form-control" id="viewmodules.ModuleListedPrice"
                     placeholder="ModuleListedPrice" [(ngModel)]="viewmodules.ModuleListedPrice"
                     [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleListedPrice']" />


              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleListedPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>ModuleDiscountPrice</label>


              <input type="text" class="form-control" id="viewmodules.ModuleDiscountPrice"
                     placeholder="ModuleDiscountPrice" [(ngModel)]="viewmodules.ModuleDiscountPrice"
                     [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleDiscountPrice']" />

              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleDiscountPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="ModuleDisplayDate">ModuleDisplayDate</label>


              <input type="date" class="form-control" id="viewmodules.ModuleDisplayDate"
                     placeholder="ModuleDisplayDate" [(ngModel)]="viewmodules.ModuleDisplayDate"
                     [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleDisplayDate']" />


              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleDisplayDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>ModuleValidTill</label>

              <input type="date" class="form-control" id="viewmodules.ModuleValidTill"
                     placeholder="ModuleValidTill" [(ngModel)]="viewmodules.ModuleValidTill"
                     [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleValidTill']" />

              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleValidTill'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="ModuleStatus">ModuleStatus</label>


              <select class="form-control" id="viewmodules.ModuleStatus"
                      placeholder="ModuleStatus" [(ngModel)]="viewmodules.ModuleStatus"
                      [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleStatus']">
                <option [ngValue]="undefined" disabled selected> Select Status</option>
                <option>Active</option>
                <option>Inactive</option>
              </select>

              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>

          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ModuleDependency">Module Dependency</label>
            <select class="form-control tcslgn_inp" id="ModuleDependency" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="viewmodules.ModuleDependency" [(ngModel)]="viewmodules.ModuleDependency" [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleDependency']">
              <option [ngValue]="undefined" disabled selected> Select Dependency</option>
              <option>Mutual Dependent</option>
              <option>Mutual Independent</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleDependency'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>
          <div class="col-12 col-md-6">

            <div class="form-group">
              <label>
                <input type="checkbox" class="form-control"
                       id="viewmodules.IsModuleTracking"
                       placeholder="IsModuleTracking" [(ngModel)]="viewmodules.IsModuleTracking"
                       [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.IsModuleTracking']" />IsModuleTracking
              </label>

              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.IsModuleTracking'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>
          <div class="col-12 col-md-6">

            <div class="form-group">
              <label>
                <input type="checkbox" class="form-control"
                       id="viewmodules.ModuleIsFree"
                       placeholder="ModuleIsFree" [(ngModel)]="viewmodules.ModuleIsFree"
                       [formControl]="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleIsFree']" />ModuleIsFree
              </label>

              <ul class="help-block">
                <li *ngIf="viewmodulesUpdateFormGroup.controls['viewmodules.ModuleIsFree'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
        </div>


      </form>

    </div>
  </div>
</div>
<form [formGroup]="Form" (ngSubmit)="onAddMedia()" class="tcs_licfrm">
  <div>
    <div class="row">
      <div class="col-12 col-md-6 mb-1">
        <div class="form-group">
          <label>Module Media Name </label>
          <!--<div class="member" [ngClass]="{'has-error' : !Form.controls.ModuleMediaName.valid &&
                Form.controls.ModuleMediaName.errors
                 && Form.controls.ModuleMediaName.dirty && Form.get('ModuleMediaName').touched,
        'text-success':Form.controls.ModuleMediaName.valid && Form.controls.ModuleMediaName.dirty}">-->

          <input type="text" class="form-control tcslgn_inp" id="ModuleMediaName" name="ModuleMediaName" [(ngModel)]="viewmodules.ModuleMediaName"  [formControl]="Form.controls['viewmodules.ModuleStatus']"/>

          <ul class="help-block">
          <li *ngIf="Form.controls['viewmodules.ModuleMediaName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
        </ul>
        <!--</div>-->
        </div>
      </div>

      <div class="col-12 col-md-6 mb-1">
        <div class="form-group">
          <label for="ModuleMediaType">Module Media Type </label>
          <!--<div class="member" [ngClass]="{'has-error' : !Form.controls.ModuleMediaType.valid && Form.controls.ModuleMediaType.errors
                 && Form.controls.ModuleMediaType.dirty && Form.get('ModuleMediaType').touched,
        'text-success': Form.controls.ModuleMediaType.valid &&Form.controls.ModuleMediaType.dirty}">-->

          <select class="form-control tcslgn_inp" id="ModuleMediaType" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="ModuleMediaType" [(ngModel)]="viewmodules.ModuleMediaType" placeholder="Module Media Type"  [formControl]="Form.controls['viewmodules.ModuleStatus']">
            <option [ngValue]="undefined" disabled selected> Select ModuleType</option>
            <option>Audio</option>
            <option>Video</option>
            <option>Blocks</option>
            <option>Webseries</option>
          </select>

          <ul class="help-block">
            <li *ngIf="Form.controls['viewmodules.ModuleMediaType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>

        <!--</div>-->
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

        <label for="ModuleMediaFilePath">Module Media File Path</label>
        <input type="file" class="form-control tcslgn_inp" id="ModuleMediaFilePath" placeholder="Module Media File Path" />

      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-info">Add Media</button>
    </div>

  </div>
</form>
