<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">

    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount">MasterAccount Name</label>
            <select id="MasterAccount" class="form-control" name="MasterAccount" (change)="onChange($event)" [(ngModel)]="MasterAccount">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>


      


      </div>

    </div>


    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>
    <!--<h3>AccountProgram Details</h3>-->
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl" >
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>Account Program StartDate</th>
            <th>Account Program AccessType</th>
            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofAccountPrograms; let i=index" class="trdata">

            <td>{{i+1}}</td>
            <td>{{rec.AccountProgramStartDate}}</td>
            <td>{{rec.AccountProgramAccessType}}</td>

            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>



<div class="create_popup" id="crpop" >
  <h3 class="pop_heading">Create Account Program</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
  <div class="row">
    <div class="col-12">

      <form [formGroup]="AccountprogramsForm" (ngSubmit)="onRegisterSubmit()" class="tcs_licfrm">

        <div class="row">

        

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Client_Id">Client CompanyName</label>
              <div class="member" [ngClass]="{'has-error' : !AccountprogramsForm.controls.Client_Id.valid && AccountprogramsForm.controls.Client_Id.errors
                 && AccountprogramsForm.controls.Client_Id.dirty && AccountprogramsForm.get('Client_Id').touched,
        'text-success': AccountprogramsForm.controls.Client_Id.valid &&AccountprogramsForm.controls.Client_Id.dirty}">


                <select id="Client_Id" class="form-control" name="Client_Id" (change)="client($event)" [(ngModel)]="Client_Id" formControlName="Client_Id">

                  <option *ngFor="let item of webclientslist" [value]="item.Id">{{item.CompanyName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="AccountprogramsForm.controls['Client_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Capability_Id">Capability Name</label>
              <div class="member" [ngClass]="{'has-error' : !AccountprogramsForm.controls.Capability_Id.valid && AccountprogramsForm.controls.Capability_Id.errors
                 && AccountprogramsForm.controls.Capability_Id.dirty && AccountprogramsForm.get('Capability_Id').touched,
        'text-success': AccountprogramsForm.controls.Capability_Id.valid &&AccountprogramsForm.controls.Capability_Id.dirty}">


                <select id="Capability_Id" class="form-control" name="Capability_Id" (change)="capability($event)" [(ngModel)]="Capability_Id" formControlName="Capability_Id">

                  <option *ngFor="let item of listofcapabilities" [value]="item.Id">{{item.CapabilityName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="AccountprogramsForm.controls['Capability_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>

          

        </div>


        <div class="row">

          
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Capability_Id">MasterAccount Name</label>
              <div class="member" [ngClass]="{'has-error' : !AccountprogramsForm.controls.MasterAccount_Id.valid && AccountprogramsForm.controls.MasterAccount_Id.errors
                       && AccountprogramsForm.controls.MasterAccount_Id.dirty && AccountprogramsForm.get('MasterAccount_Id').touched,
              'text-success': AccountprogramsForm.controls.MasterAccount_Id.valid &&AccountprogramsForm.controls.MasterAccount_Id.dirty}">


                <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="account($event)" [(ngModel)]="MasterAccount_Id" formControlName="MasterAccount_Id">

                  <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="AccountprogramsForm.controls['MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>


          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label>Account Program Start Date</label>
              <div class="member" [ngClass]="{'has-error' : !AccountprogramsForm.controls.AccountProgramStartDate.valid &&
                                  AccountprogramsForm.controls.AccountProgramStartDate.errors
                                   && AccountprogramsForm.controls.AccountProgramStartDate.dirty &&AccountprogramsForm.get('AccountProgramStartDate').touched,
                          'text-success':AccountprogramsForm.controls.AccountProgramStartDate.valid && AccountprogramsForm.controls.AccountProgramStartDate.dirty}">

                <input type="date" class="form-control tcslgn_inp" id="AccountProgramStartDate" name="AccountProgramStartDate" [(ngModel)]="AccountProgramStartDate" placeholder="Account Program Start Date" [formControl]="AccountprogramsForm.controls['AccountProgramStartDate']" />

                <ul class="help-block">
                  <li *ngIf="AccountprogramsForm.controls['AccountProgramStartDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>

        </div>


        <div class="row">

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ClientID">Account Program End Date</label>
              <div class="member" [ngClass]="{'has-error' : !AccountprogramsForm.controls.AccountProgramEndDate.valid && AccountprogramsForm.controls.AccountProgramEndDate.errors
                                     && AccountprogramsForm.controls.AccountProgramEndDate.dirty && AccountprogramsForm.get('AccountProgramEndDate').touched,
                            'text-success': AccountprogramsForm.controls.AccountProgramEndDate.valid &&AccountprogramsForm.controls.AccountProgramEndDate.dirty}">

                <input type="date" class="form-control tcslgn_inp" id="AccountProgramEndDate" name="AccountProgramEndDate" [(ngModel)]="AccountProgramEndDate" placeholder="Account Program End Date" [formControl]="AccountprogramsForm.controls['AccountProgramEndDate']"  />

                <ul class="help-block">
                  <li *ngIf="AccountprogramsForm.controls['AccountProgramEndDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
                <div class="validation-error" style="color:red" *ngIf="AccountProgramStartDate > AccountProgramEndDate">
                  End Date Should Be Greater Than Start Date
                </div>
              </div>
            </div>
          </div>

       
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label> Account Program Access Type</label>
                <div class="member" [ngClass]="{'has-error' : !AccountprogramsForm.controls. AccountProgramAccessType.valid &&
                                                    AccountprogramsForm.controls.AccountProgramAccessType.errors
                                                     && AccountprogramsForm.controls.AccountProgramAccessType.dirty &&AccountprogramsForm.get('AccountProgramAccessType').touched,
                                            'text-success':AccountprogramsForm.controls.AccountProgramAccessType.valid && AccountprogramsForm.controls.AccountProgramAccessType.dirty}">

                  <select class="form-control tcslgn_inp" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" id="AccountProgramAccessType" name="AccountProgramAccessType" [(ngModel)]="AccountProgramAccessType" placeholder="Account Program Access Type" [formControl]="AccountprogramsForm.controls['AccountProgramAccessType']">
                    <option [ngValue]="undefined" disabled selected> Select AccessType</option>
                    <option>Public</option>
                    <option>Private</option>
                  </select>
                  <ul class="help-block">
                    <li *ngIf="AccountprogramsForm.controls['AccountProgramAccessType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
          </div>


        <div class="row">

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ClientID">Account Program Business Rule</label>
              <div class="member" [ngClass]="{'has-error' : !AccountprogramsForm.controls.AccountProgramBusinessRule.valid && AccountprogramsForm.controls.AccountProgramBusinessRule.errors
                                                       && AccountprogramsForm.controls.AccountProgramBusinessRule.dirty && AccountprogramsForm.get('AccountProgramBusinessRule').touched,
                                              'text-success': AccountprogramsForm.controls.AccountProgramBusinessRule.valid &&AccountprogramsForm.controls.AccountProgramBusinessRule.dirty}">

                <input type="text" class="form-control tcslgn_inp" id="AccountProgramBusinessRule" name="AccountProgramBusinessRule" [(ngModel)]="AccountProgramBusinessRule" placeholder="Account Program Business Rule" [formControl]="AccountprogramsForm.controls['AccountProgramBusinessRule']" />

                <ul class="help-block">
                  <li *ngIf="AccountprogramsForm.controls['AccountProgramBusinessRule'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label> Account Program Status</label>
              <div class="member" [ngClass]="{'has-error' : !AccountprogramsForm.controls.AccountProgramStatus.valid &&
                                                          AccountprogramsForm.controls.AccountProgramStatus.errors
                                                           && AccountprogramsForm.controls.AccountProgramStatus.dirty &&AccountprogramsForm.get('AccountProgramStatus').touched,
                                                  'text-success':AccountprogramsForm.controls.AccountProgramStatus.valid && AccountprogramsForm.controls.AccountProgramStatus.dirty}">

                <select class="form-control tcslgn_inp" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" id="AccountProgramStatus" name="AccountProgramStatus" [(ngModel)]="AccountProgramStatus" placeholder="Account Program Status" [formControl]="AccountprogramsForm.controls['AccountProgramStatus']">
                  <option [ngValue]="undefined" disabled selected> Select Status</option>
                  <option>Active</option>
                  <option>InActive</option>
                </select>
                <ul class="help-block">
                  <li *ngIf="AccountprogramsForm.controls['AccountProgramStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>
          <!--<div>
    <input type="text" id="ProgramName" />

    <input type="file" id="ProgramCoverPicture"/>
  </div>-->

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramName">Program Name</label>
              <div class="member" [ngClass]="{'has-error' : !AccountprogramsForm.controls.ProgramName.valid && AccountprogramsForm.controls.ProgramName.errors
                                                       && AccountprogramsForm.controls.ProgramName.dirty && AccountprogramsForm.get('ProgramName').touched,
                                              'text-success': AccountprogramsForm.controls.ProgramName.valid &&AccountprogramsForm.controls.ProgramName.dirty}">

                <input type="text" class="form-control tcslgn_inp" id="ProgramName" name="ProgramName" [(ngModel)]="ProgramName" placeholder="Program Name" [formControl]="AccountprogramsForm.controls['ProgramName']" />

                <ul class="help-block">
                  <li *ngIf="AccountprogramsForm.controls['ProgramName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramName">Program Description</label>
              <div class="member" [ngClass]="{'has-error' : !AccountprogramsForm.controls.ProgramDescription.valid && AccountprogramsForm.controls.ProgramDescription.errors
                                                       && AccountprogramsForm.controls.ProgramDescription.dirty && AccountprogramsForm.get('ProgramDescription').touched,
                                              'text-success': AccountprogramsForm.controls.ProgramDescription.valid &&AccountprogramsForm.controls.ProgramDescription.dirty}">

                <input type="text" class="form-control tcslgn_inp" id="ProgramDescription" name="ProgramDescription" [(ngModel)]="ProgramDescription" placeholder="Program Description" [formControl]="AccountprogramsForm.controls['ProgramDescription']" />

                <ul class="help-block">
                  <li *ngIf="AccountprogramsForm.controls['ProgramDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramName">Program Cover Picture</label>
             
                <input type="file" class="form-control tcslgn_inp" id="ProgramCoverPicture" name="ProgramCoverPicture"  />

               

            
            </div>
          </div>





        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>


      </form>

    </div>
  </div>
</div>



<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>



