
<form class="form-group">
  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <label for="email">Coach ID</label>
    <input type="email" class="form-control" id="email" placeholder="">
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <label for="pwd">Coach Name</label>
    <input type="text" class="form-control" id="pwd" placeholder="">
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <label for="pwd">Description</label>
    <!--<input type="text" class="form-control" id="pwd" placeholder="">-->
    <textarea rows="4" class="form-control" cols="50" placeholder="Enter Description" name="comment" form="usrform"></textarea>
  </div>
  <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <label for="pwd">License</label>
    <input type="text" class="form-control" id="pwd" placeholder="">
  </div>-->

  <button align="center" type="submit" class="btn btn-default">Submit</button>
</form>

