<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>


    


      </div>

    </div>




    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>
  </div>
</div>



<div class="create_popup" id="crpop">

  <h3 class="pop_heading">Create Service</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>

  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">

        <form method="post" [formGroup]="form" (ngSubmit)="onCreateService()" class="tcs_licfrm">
          <div class="row">


            <!--<div class="col-12 col-md-6 mb-1">

    <div [ngClass]="{'has-error' : !form.controls.ServiceType_Id.valid && form.controls.ServiceType_Id.errors && form.controls.ServiceType_Id.dirty && form.get('ServiceType_Id').touched,
                        'text-success': form.controls.ServiceType_Id.valid && form.controls.ServiceType_Id.dirty}">
      <label for="ServiceType_Id">ServiceType</label>
      <input type="text" class="form-control tcslgn_inp" id="ServiceType_Id" placeholder="ServiceType_Id" [(ngModel)]="ServiceType_Id" [formControl]="form.controls['ServiceType_Id']" />
    </div>
    <ul class="hp_blk">
      <li *ngIf="form.controls['ServiceType_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ServiceType_Id">ServiceType</label>
                <div [ngClass]="{'has-error' : !form.controls.ServiceType_Id.valid && form.controls.ServiceType_Id.errors && form.controls.ServiceType_Id.dirty && form.get('ServiceType_Id').touched,
                        'text-success': form.controls.ServiceType_Id.valid && form.controls.ServiceType_Id.dirty}">


                  <select id="ServiceType_Id" class="form-control" name="ServiceType_Id" (change)="services($event)" [(ngModel)]="ServiceType_Id" formControlName="ServiceType_Id">

                    <option *ngFor="let item of listofservicetypes" [value]="item.Id">{{item.ServiceName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['ServiceType_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ServiceTitle.valid && form.controls.ServiceTitle.errors && form.controls.ServiceTitle.dirty && form.get('ServiceTitle').touched,
                                  'text-success': form.controls.ServiceTitle.valid && form.controls.ServiceTitle.dirty}">
                <label for="ServiceTitle">ServiceTitle</label>
                <input type="text" class="form-control tcslgn_inp" id="ServiceTitle" placeholder="ServiceTitle" [(ngModel)]="ServiceTitle" [formControl]="form.controls['ServiceTitle']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ServiceTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ServiceDescription.valid && form.controls.ServiceDescription.errors && form.controls.ServiceDescription.dirty && form.get('ServiceDescription').touched,
                                  'text-success': form.controls.ServiceDescription.valid && form.controls.ServiceDescription.dirty}">
                <label for="ServiceDescription">ServiceDescription</label>
                <input type="text" class="form-control tcslgn_inp" id="ServiceDescription" placeholder="ServiceDescription" [(ngModel)]="ServiceDescription" [formControl]="form.controls['ServiceDescription']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ServiceDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ServiceContributor.valid && form.controls.ServiceContributor.errors && form.controls.ServiceContributor.dirty && form.get('ServiceContributor').touched,
                                  'text-success': form.controls.ServiceContributor.valid && form.controls.ServiceContributor.dirty}">
                <label for="ServiceContributor">ServiceContributor</label>
                <input type="text" class="form-control tcslgn_inp" id="ServiceContributor" placeholder="ServiceContributor" [(ngModel)]="ServiceContributor" [formControl]="form.controls['ServiceContributor']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ServiceContributor'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>






            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ServiceTag.valid && form.controls.ServiceTag.errors && form.controls.ServiceTag.dirty && form.get('ServiceTag').touched,
                        'text-success': form.controls.ServiceTag.valid && form.controls.ServiceTag.dirty}">
                <label for="ServiceTag">ServiceTag</label>
                <input type="text" class="form-control tcslgn_inp" id="ServiceTag" placeholder="Ex:Coach,Coach One" [(ngModel)]="ServiceTag" [formControl]="form.controls['ServiceTag']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ServiceTag'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ServiceLink.valid && form.controls.ServiceLink.errors && form.controls.ServiceLink.dirty && form.get('ServiceLink').touched,
                        'text-success': form.controls.ServiceLink.valid && form.controls.ServiceLink.dirty}">
                <label for="ServiceLink">ServiceLink</label>
                <input type="text" class="form-control tcslgn_inp" id="ServiceLink" placeholder="Ex:Twitter,Facebook" [(ngModel)]="ServiceLink" [formControl]="form.controls['ServiceLink']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ServiceLink'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
            <!--<div class="col-12 col-md-6 mb-1">


    <span class="mr-auto prcode">ServiceTag</span>
    <select multiple class="form-control prcinp" [(ngModel)]="ServiceTag" name="ServiceTag" id="ServiceTag" [formControl]="form.controls['ServiceTag']" (change)="onSelectServiceTag(ServiceTag)">
      <option value="Coach">Coach</option>
      <option value="Coach 1">Coach 1</option>
      <option value="Coach 2">Coach 2</option>
    </select>


  </div>-->
            <!--<div class="col-12 col-md-6 mb-1">


    <span class="mr-auto prcode">ServiceLink </span>
    <select multiple class="form-control prcinp" [(ngModel)]="ServiceLink" name="ServiceLink" id="ServiceLink" [formControl]="form.controls['ServiceLink']" (change)="onSelectServiceLink(ServiceLink)">
      <option value="Twitter">Twitter</option>
      <option value="Facebook">Facebook</option>
      <option value="Instagram">Instagram</option>
    </select>


  </div>-->
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label for="ServiceCoverPicture">ServiceCoverPicture</label>
              <input type="file" class="form-control tcslgn_inp" id="ServiceCoverPicture" placeholder="Module Media File Path" />

            </div>






            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ServiceDiscountedPrice.valid && form.controls.ServiceDiscountedPrice.errors && form.controls.ServiceDiscountedPrice.dirty && form.get('ServiceDiscountedPrice').touched,
                           'text-success': form.controls.ServiceDiscountedPrice.valid && form.controls.ServiceDiscountedPrice.dirty}">
                <label for="ServiceDiscountedPrice">ServiceDiscountedPrice</label>
                <input type="text" class="form-control tcslgn_inp" id="ServiceDiscountedPrice" placeholder="ServiceDiscountedPrice" [(ngModel)]="ServiceDiscountedPrice" [formControl]="form.controls['ServiceDiscountedPrice']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ServiceDiscountedPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ServiceValidStartDate.valid && form.controls.ServiceValidStartDate.errors && form.controls.ServiceValidStartDate.dirty && form.get('ServiceValidStartDate').touched,
                        'text-success': form.controls.ServiceValidStartDate.valid && form.controls.ServiceValidStartDate.dirty}">
                <label for="ServiceStartDate">ServiceStartDate</label>
                <input type="date" class="form-control tcslgn_inp" id="ServiceValidStartDate" placeholder="ServiceValidStartDate" [(ngModel)]="ServiceValidStartDate" [formControl]="form.controls['ServiceValidStartDate']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ServiceValidStartDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ServiceValidEndDate.valid && form.controls.ServiceValidEndDate.errors && form.controls.ServiceValidEndDate.dirty && form.get('ServiceValidEndDate').touched,
                        'text-success': form.controls.ServiceValidEndDate.valid && form.controls.ServiceValidEndDate.dirty}">
                <label for="ServiceValidEndDate">ServiceValidEndDate</label>
                <input type="date" class="form-control tcslgn_inp" id="ServiceValidEndDate" placeholder="ServiceValidEndDate" [(ngModel)]="ServiceValidEndDate" [formControl]="form.controls['ServiceValidEndDate']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ServiceValidEndDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
              <div class="validation-error" style="color:red" *ngIf="ServiceValidStartDate > ServiceValidEndDate">
                End Date Should Be Greater Than Start Date
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ServiceListedPrice.valid && form.controls.ServiceListedPrice.errors && form.controls.ServiceListedPrice.dirty && form.get('ServiceListedPrice').touched,
                        'text-success': form.controls.ServiceListedPrice.valid && form.controls.ServiceListedPrice.dirty}">
                <label for="ServiceListedPrice">ServiceListedPrice</label>
                <input type="text" class="form-control tcslgn_inp" id="ServiceListedPrice" placeholder="ServiceListedPrice" [(ngModel)]="ServiceListedPrice" [formControl]="form.controls['ServiceListedPrice']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ServiceListedPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <div class="col-12 col-md-6 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ServiceStatus.valid && form.controls.ServiceStatus.errors && form.controls.ServiceStatus.dirty && form.controls('ServiceStatus').touched,
                                  'text-success': form.controls.ServiceStatus.valid && form.controls.ServiceStatus.dirty}">
                <label for="ServiceStatus">ServiceStatus :</label>
                <select id="ServiceStatus" class="form-control" name="ServiceStatus" [(ngModel)]="ServiceStatus" placeholder="ServiceStatus" formControlName="ServiceStatus">
                  <option [ngValue]="undefined" disabled selected> Select Status </option>
                  <option>Active</option>
                  <option>InActive</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ServiceStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <label class="custom-control custom-checkbox mb-3" for="IsFreeService">
                <!--<input type="checkbox" class="custom-control-input" [checked]="account.IsMobileEnableOrNot?'checked':''" [(ngModel)]="account.IsMobileEnableOrNot" name="account.IsMobileEnableOrNot" id="account.IsMobileEnableOrNot">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">IsMobileEnableOrNot</span>-->
                <input type="checkbox" [checked]="IsFreeService?'checked':''" [(ngModel)]="IsFreeService" name="IsFreeService" id="IsFreeService" [formControl]="form.controls['IsFreeService']" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">IsFree Service</span>
              </label>
            </div>

          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>




