.lgncrte {
  margin-bottom: 10px;
  outline: none;
  /*background: -moz-linear-gradient(left, #259dd0 0%, #162448 100%);
    background: -webkit-linear-gradient(left, #259dd0 0%,#162448 100%);
    background: linear-gradient(to right, #259dd0 0%,#162448 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#259dd0', endColorstr='#162448',GradientType=1 );*/
  border: none;
  background: #4895c8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.btn_submit {
  background: #4895c8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.bedit {
  background-color: white;
  color: black;
  border: /*2px solid #008CBA*/ none;
}

  .bedit:hover {
    background-color: #008CBA;
    color: white;
  }

.create_popup {
  width: 90%;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 50px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.crpop {
  display: block;
}

.create_mask {
  width: 100%;
  z-index: 99;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: crosshair;
  display: none;
}

table {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  padding: 0px;
}

.table_wrap {
  background-color: #fff;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.mid_table {
  margin: 0px 20px;
  background-color: #fff;
  padding: 20px;
}

.err {
  background-color: none !important;
  border-color: none !important;
  padding: 5px 0px 0px 0px;
  color: red;
}

.member {
  /* width: 40%;
      float:left; */
  margin-bottom: 15px;
}

.memberform {
  padding: 50px;
}

.member > label {
  display: block;
  font-size: 13px;
}

.member > input {
  display: block;
  width: 96%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
  font-size: 13px;
}

.member > select {
  display: block;
  width: 96%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
  font-size: 13px;
}

.member > checkbox {
  font-size: 13px;
}

.frmlable > label {
  display: block !important;
}

.myfrm {
  display: block;
  width: 100%;
}


.gear_icn {
  text-align: center;
  position: relative;
}

.gric {
  color: #ccc;
  cursor: pointer;
  font-size: 1.2rem;
}

.pop_actions {
  background-color: #fff;
  text-align: left;
  position: absolute;
  left: 5px;
  z-index: 10;
  box-shadow: 0px 0px 10px #666;
}

  .pop_actions p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

.tcsclose_btn {
  position: fixed;
  top: 30px;
  right: 30px;
}

.mycrooser {
  font-size: 1.3rem;
  cursor: pointer;
}

.pop_heading {
  text-align: center;
  font-size: 20px;
  color: #555;
}

.tcs_licfrm > .row > .mb-1 > div > label {
  font-size: 13px;
  color: #999;
}

.tcslgn_inp {
  font-size: 12px;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 14px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

  .tcslgn_inp::-webkit-input-placeholder {
    color: #ccc;
  }

  .tcslgn_inp:focus {
    border-color: #000;
    color: #000;
    box-shadow: none;
  }

.create_btn {
  background: #4895c8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}


/*Smart Table*/

.txtcls {
  float: right;
  margin-right: -55px;
  max-width: 300px;
  background-color: #fff;
  margin-bottom: 10px;
}

.excol {
  color: green;
  position: absolute;
  right: 17px;
  height: 38px;
  margin-top: -4px;
}

.selectBx {
  max-width: 72px;
  background-color: white;
  position: relative;
  float: right;
  bottom: 1px;
}
/*ng2-smart-table*/
:host /deep/ ng2-smart-table {
  font-size: 16px;
}

:host /deep/ tr.ng2-smart-filters {
  display: none;
}

:host /deep/ .page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #259dd0;
  border-color: #259dd0;
}

:host /deep/ .page-item .page-link {
  height: 35px;
}

:host /deep/ ng2-smart-table-title > a {
  /*color: #000000;*/
  color: rgba(0, 0, 0, 0.87);
}

:host /deep/ ng2-smart-table thead > tr > th {
  background-color: #eceeef;
}
/*padding: 1em;*/
/*a{
color: #000000; // black
}
a:hover {
color: #fff; // white
text-decoration: none; // for remove under line of link
}*/
/*end of ng2-smart-table*/
.frmgrp {
  width: 45%;
  float: left;
}

.reset_btn {
  position: relative;
  top: 31px;
  left: 9px;
}

.rht_btns {
  width: 125px;
  float: right;
  position: relative;
  top: 31px;
}
.wxpicn {
  font-size: 1.5em;
  position: relative;
  top: 3px;
}
.rht_btns2 {
  margin-right: 35px;
}
