<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>


 


      </div>

    </div>


    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>

    <!--<h3>ProgramCategory Details</h3>-->
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>Program Category Name</th>
            <th>Program Category Description</th>
            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofprogramcategory; let i=index" class="trdata">

            <td>{{i+1}}</td>
            <td>{{rec.ProgramCategoryName}}</td>
            <td>{{rec.ProgramCategoryDescription}}</td>
            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>



<div class="create_popup" id="crpop">
  <h3 class="pop_heading">Create Forum Discussion</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">



        <form [formGroup]="form" (ngSubmit)="onCreateForumdiscussion()" class="tcs_licfrm">
          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="Forum_Id">Forum Name</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.Forum_Id.valid && form.controls.Forum_Id.errors
                         && form.controls.Forum_Id.dirty && form.get('Forum_Id').touched,
                'text-success': form.controls.Forum_Id.valid &&form.controls.Forum_Id.dirty}">


                  <select id="Forum_Id" class="form-control" name="Forum_Id" (change)="test($event)" [(ngModel)]="Forum_Id" formControlName="Forum_Id">

                    <option *ngFor="let item of listofForums" [value]="item.Id">{{item.ForumName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['Forum_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ForumTopics_Id">ForumTopics Name</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.ForumTopics_Id.valid && form.controls.ForumTopics_Id.errors
                         && form.controls.ForumTopics_Id.dirty && form.get('ForumTopics_Id').touched,
                'text-success': form.controls.ForumTopics_Id.valid &&form.controls.ForumTopics_Id.dirty}">


                  <select id="ForumTopics_Id" class="form-control" name="ForumTopics_Id" (change)="test1($event)" [(ngModel)]="ForumTopics_Id" formControlName="ForumTopics_Id">

                    <option *ngFor="let item of listofForumtopics" [value]="item.Id">{{item.ForumTopicTitle}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['ForumTopics_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="Member_Id">Member Name</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.Member_Id.valid && form.controls.Member_Id.errors
                         && form.controls.Member_Id.dirty && form.get('Member_Id').touched,
                'text-success': form.controls.Member_Id.valid &&form.controls.Member_Id.dirty}">


                  <select id="Member_Id" class="form-control" name="Member_Id" (change)="test2($event)" [(ngModel)]="Member_Id" formControlName="Member_Id">

                    <option *ngFor="let item of listofMembers" [value]="item.Id">{{item.UserName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ForumDiscussionComments.valid && form.controls.ForumDiscussionComments.errors && form.controls.ForumDiscussionComments.dirty && form.get('ForumDiscussionComments').touched,
                                    'text-success': form.controls.ForumDiscussionComments.valid && form.controls.ForumDiscussionComments.dirty}">
                <label for="ForumDiscussionComments"> Forum Discussion Comments</label>
                <input type="text" class="form-control tcslgn_inp" id="ForumDiscussionComments" placeholder="Forum Discussion Comments" [(ngModel)]="ForumDiscussionComments" [formControl]="form.controls['ForumDiscussionComments']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ForumDiscussionComments'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>


            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label for="ForumDiscussionFile1">Forum Discussion File1</label>
              <input type="file" class="form-control tcslgn_inp" id="ForumDiscussionFile1" />

            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label for="ForumDiscussionFile2">Forum Discussion File2</label>
              <input type="file" class="form-control tcslgn_inp" id="ForumDiscussionFile2" />

            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label for="ForumDiscussionFile3">Forum Discussion File3</label>
              <input type="file" class="form-control tcslgn_inp" id="ForumDiscussionFile3" />

            </div>




            <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ForumDiscussionPositiveCounters.valid && form.controls.ForumDiscussionPositiveCounters.errors && form.controls.ForumDiscussionPositiveCounters.dirty && form.get('ForumDiscussionPositiveCounters').touched,
                                    'text-success': form.controls.ForumDiscussionPositiveCounters.valid && form.controls.ForumDiscussionPositiveCounters.dirty}">
                <label for="ForumDiscussionPositiveCounters">Forum Discussion Positive Counters </label>
                <input type="text" class="form-control tcslgn_inp" id="ForumDiscussionPositiveCounters" placeholder="Forum Discussion Positive Counters" [(ngModel)]="ForumDiscussionPositiveCounters" [formControl]="form.controls['ForumDiscussionPositiveCounters']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ForumDiscussionPositiveCounters'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>-->



            <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ForumDiscussionNegativeCounters.valid && form.controls.ForumDiscussionNegativeCounters.errors && form.controls.ForumDiscussionNegativeCounters.dirty && form.get('ForumDiscussionNegativeCounters').touched,
                                    'text-success': form.controls.ForumDiscussionNegativeCounters.valid && form.controls.ForumDiscussionNegativeCounters.dirty}">
                <label for="ForumDiscussionNegativeCounters">Forum Discussion Negative Counters</label>
                <input type="text" class="form-control tcslgn_inp" id="ForumDiscussionNegativeCounters" placeholder="Forum Discussion Negative Counters" [(ngModel)]="ForumDiscussionNegativeCounters" [formControl]="form.controls['ForumDiscussionNegativeCounters']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ForumDiscussionNegativeCounters'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>-->



            
           
           
           
           


           
           
          
          

           
            
           
           


            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ForumDiscussionStatus.valid && form.controls.ForumDiscussionStatus.errors && form.controls.ForumDiscussionStatus.dirty && form.get('ForumDiscussionStatus').touched,
                                    'text-success': form.controls.ForumDiscussionStatus.valid && form.controls.ForumDiscussionStatus.dirty}">
                <label for="ForumDiscussionStatus">Forum Discussion Status</label>
                <select class="form-control tcslgn_inp" id="EventStatus" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="ForumDiscussionStatus" [(ngModel)]="ForumDiscussionStatus" placeholder="Forum Discussion Status" [formControl]="form.controls['ForumDiscussionStatus']">
                  <option [ngValue]="undefined" disabled selected> Select Status</option>
                  <option>Active</option>
                  <option>InActive</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ForumDiscussionStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>

            <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label class="custom-control custom-checkbox mb-3" for="ForumDiscussionIsModerated">

                <input type="checkbox" [checked]="ForumDiscussionIsModerated?'checked':''" [(ngModel)]="ForumDiscussionIsModerated" name="ForumDiscussionIsModerated" id="ForumDiscussionIsModerated" [formControl]="form.controls['ForumDiscussionIsModerated']" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Forum Discussion Is Moderated</span>
              </label>
            </div>-->
    
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


