<div class="container-fluid memberform">
  <div class="row">
 
    <div class="col-12 vmp">
      <h3>View Member EventPurchase</h3>
      <hr>
      <p><span><strong>Member Name</strong> </span> : <span class="um">{{userName}}</span></p>
      <p><span><strong>PaymentMode </strong> </span> : <span class="um">{{membereventpurchase.PaymentMode}}</span></p>
      <p><span><strong>PaymentGatewayResponseCode</strong>  </span> : <span class="um">{{membereventpurchase.PaymentGatewayResponseCode}}</span></p>
      <p><span><strong>MEPStatus </strong> </span> : <span class="um">{{membereventpurchase.MEPStatus}}</span></p>
      <p><span><strong>PaymentStatus </strong></span> : <span class="um">{{membereventpurchase.PaymentStatus}}</span></p>


    </div>
    <!--<div class="col-12">
    <label>Member Name : {{userName}}</label>
    <br />
    <label> PaymentMode : {{membereventpurchase.PaymentMode}}</label>
    <br />
    <label>PaymentStatus:{{membereventpurchase.PaymentStatus}}</label>
    <br />
    <label>PaymentGatewayResponseCode:{{membereventpurchase.PaymentGatewayResponseCode}}</label>
    <br />
    <label>MEPStatus:{{membereventpurchase.MEPStatus}}</label>
    <br />

  </div>-->
  </div>
</div>
