
<div class="container-fluid table_wrap">

  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>



  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-12 col-md-8 mb-1"  *ngIf="roleId != ''">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>

       
      </div>


      <div class="clearfix"></div>
      <div>
        <div class="form-group">
          <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
          <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
            <option [value]="50">50</option>
            <option [value]="100">100</option>
            <option [value]="250">250</option>
            <option [value]="500">500</option>
          </select>
        </div>
        <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
        </ng2-smart-table>
      </div>

      <!--<h3>Account Membership Details</h3>-->
      <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>Account Member Name </th>
            <th>Last Login</th>
            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofaccountmembership; let i=index" class="trdata">

            <td>{{i+1}}</td>
            <td>{{rec.ACM_UserName}}</td>
            <td>{{rec.ACM_LastLogin}}</td>
            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
    </div>
  </div>
  </div>


<div class="create_popup" id="crpop">

  <h3 class="pop_heading">Create Account Membership</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="onCreateAccountMembership()" class="tcs_licfrm">

        <div class="row">
          <!--<div class="col-12 col-md-6 mb-1">

    <div [ngClass]="{'has-error' : !form.controls.Member_Id.valid && form.controls.Member_Id.errors && form.controls.Member_Id.dirty && form.controls('Member_Id').touched,
                          'text-success': form.controls.Member_Id.valid && form.controls.Member_Id.dirty}">
      <label for="MemberID">Member ID</label>
      <input type="text" class="form-control tcslgn_inp" id="Member_Id" placeholder="Member ID" [(ngModel)]="Member_Id" [formControl]="form.controls['Member_Id']" />
      <ul class="hp_blk">
        <li *ngIf="form.controls['Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>

  </div>-->
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Member_Id">Member Name</label>
              <div class="member" [ngClass]="{'has-error' : !form.controls.Member_Id.valid && form.controls.Member_Id.errors
                         && form.controls.Member_Id.dirty && form.get('Member_Id').touched,
                'text-success': form.controls.Member_Id.valid &&form.controls.Member_Id.dirty}">


                <select id="Member_Id" class="form-control" name="Member_Id" (change)="member($event)" [(ngModel)]="Member_Id" formControlName="Member_Id">

                  <option *ngFor="let item of listofMembers" [value]="item.Id">{{item.UserName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="form.controls['Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>

          <!--<div class="col-12 col-md-6 mb-1">
    <div [ngClass]="{'has-error' : !form.controls.MemberAccount_Id.valid && form.controls.MemberAccount_Id.errors && form.controls.MemberAccount_Id.dirty && form.controls('MemberAccount_Id').touched,
                          'text-success': form.controls.MemberAccount_Id.valid && form.controls.MemberAccount_Id.dirty}">
      <label for="MemberAccountId">Member Account Id</label>
      <input type="text" class="form-control tcslgn_inp" id="MemberAccount_Id" placeholder="Member Account Id" [(ngModel)]="MemberAccount_Id" [formControl]="form.controls['MemberAccount_Id']" />
      <ul class="hp_blk">
        <li *ngIf="form.controls['MemberAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>
  </div>-->

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="MemberAccount_Id">MasterAccount Name</label>
              <div class="member" [ngClass]="{'has-error' : !form.controls.MemberAccount_Id.valid && form.controls.MemberAccount_Id.errors
                         && form.controls.MemberAccount_Id.dirty && form.get('MemberAccount_Id').touched,
                'text-success': form.controls.MemberAccount_Id.valid &&form.controls.MemberAccount_Id.dirty}">


                <select id="MemberAccount_Id" class="form-control" name="MemberAccount_Id" (change)="test($event)" [(ngModel)]="MemberAccount_Id" formControlName="MemberAccount_Id">

                  <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="form.controls['MemberAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ACM_UserName.valid && form.controls.ACM_UserName.errors && form.controls.ACM_UserName.dirty && form.controls('ACM_UserName').touched,
                                  'text-success': form.controls.ACM_UserName.valid && form.controls.ACM_UserName.dirty}">
              <label for="UserName">User Name</label>
              <input type="text" class="form-control tcslgn_inp" id="ACM_UserName" placeholder="ACM_UserName" [(ngModel)]="ACM_UserName" [formControl]="form.controls['ACM_UserName']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ACM_UserName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>


          <div class="col-12 col-md-6 mb-1">
            <div>
              <!--<div [ngClass]="{'has-error' : !form.controls.ACM_Email.valid && form.controls.ACM_Email.errors && form.controls.ACM_Email.dirty && form.controls('ACM_Email').touched,
      'text-success': form.controls.ACM_Email.valid && form.controls.ACM_Email.dirty}">-->
              <label for="email">Email</label>
              <input type="text" class="form-control tcslgn_inp" id="ACM_Email" [(ngModel)]="ACM_Email" [formControl]="form.controls['ACM_Email']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" required />
              <ul class="hp_blk">
                <li *ngIf="form.controls.ACM_Email.hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
              <div [hidden]="form.controls.ACM_Email.valid || form.controls.ACM_Email.pristine" class="alert alert-danger err2">
                <div [hidden]="!form.controls.ACM_Email.hasError('required')">Email is required</div>
                <div [hidden]="!form.controls.ACM_Email.hasError('pattern')">
                  Email format should be
                  <small> <b>john@something.com</b> </small>
                </div>
              </div>
            </div>
            <!--</div>-->
          </div>




          <div class="col-12 col-md-6 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ACM_Password.valid && form.controls.ACM_Password.errors && form.controls.ACM_Password.dirty && form.controls('ACM_Password').touched,
                                  'text-success': form.controls.ACM_Password.valid && form.controls.ACM_Password.dirty}">
              <label for="Password">Password</label>
              <input type="password" class="form-control tcslgn_inp" id="ACM_Password" placeholder="Password" [(ngModel)]="ACM_Password" [formControl]="form.controls['ACM_Password']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ACM_Password'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ACM_ImageUrl">ACM ImageUrl</label>

              <input type="file" class="form-control tcslgn_inp" id="ACM_ImageUrl" name="ACM_ImageUrl" />




            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ACM_LastLogin.valid && form.controls.ACM_LastLogin.errors && form.controls.ACM_LastLogin.dirty && form.controls('ACM_LastLogin').touched,
                                  'text-success': form.controls.ACM_LastLogin.valid && form.controls.ACM_LastLogin.dirty}">
              <label for="LastLogin">Last Login</label>
              <input type="date" class="form-control tcslgn_inp" id="ACM_LastLogin" placeholder="Last Login" [(ngModel)]="ACM_LastLogin" [formControl]="form.controls['ACM_LastLogin']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ACM_LastLogin'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>


          <div class="col-12 col-md-6 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ACM_Role_Id.valid && form.controls.ACM_Role_Id .errors && form.controls.ACM_Role_Id.dirty && form.controls('ACM_Role_Id').touched,
                                  'text-success': form.controls.ACM_Role_Id.valid && form.controls.ACM_Role_Id.dirty}">
              <label for="RoleID">Role ID</label>
              <input type="text" class="form-control tcslgn_inp" id="ACM_Role_Id" placeholder="Role ID" [(ngModel)]="ACM_Role_Id" [formControl]="form.controls['ACM_Role_Id']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ACM_Role_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>


          <div class="col-12 col-md-6 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ACM_LoginStatus.valid && form.controls.ACM_LoginStatus.errors && form.controls.ACM_LoginStatus.dirty && form.controls('ACM_LoginStatus').touched,
                                  'text-success': form.controls.ACM_LoginStatus.valid && form.controls.ACM_LoginStatus.dirty}">
              <label for="LoginStatus">Login Status :</label>
              <select id="ACM_LoginStatus" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" class="form-control tcslgn_inp" name="LoginStatus" [(ngModel)]="ACM_LoginStatus" placeholder="LoginStatus" formControlName="ACM_LoginStatus">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Active</option>
                <option>InActive</option>
              </select>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ACM_LoginStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>
        </div>




        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

    <div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


