<div class="container-fluid table_wrap">
<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col-md-12">
          <div class="mid_table">
            <div class="row" *ngIf="message">
              <div class="col">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">
                    <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
                    <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
                    <!--<strong>{{successMessage}}</strong>-->
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="tlt_cnt">Total Clients:{{count}}</div>
              </div>
            </div>
            <ul class=" rpt_stat">
              <li>
                <button class="btn btn-primary" (click)="openCpopup()" type="button"><i class="fas fa-plus"></i> Create</button>
              </li>
              <li> <a href="javascript:;" (click)="onExport()" class="down_rpt"><i class="fas fa-download"></i> Download Report</a></li>
              <div class="clearfix"></div>
            </ul>

            <!--<div class="clearfix"></div>-->
            <div class="form-group">
              <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
              <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
                <option [value]="50">50</option>
                <option [value]="100">100</option>
                <option [value]="250">250</option>
                <option [value]="500">500</option>
              </select>
            </div>
            <ng2-smart-table [settings]="settings" class="sai" [source]="source" (custom)="onEdit($event)">
            </ng2-smart-table>

          </div>
        </div>
    </div>
  </div>
</div>
</div>

<div class="modal hide" id="crpop" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h3 class="pop_heading">Create a New Client</h3>
                <hr />
                <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
                <!--<h3>Create AccountManagement</h3>-->
                <!--popup content goes here-->
            </div>
            <div class="modal-content">
                <div class="col-md-12">
                    <form class="myfrm tcs_licfrm" method="post" [formGroup]="form" (ngSubmit)="onCreateclient()">

                        <!-- Sk Start -->
                        <div class="crt_add">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.CompanyName.valid && form.controls.CompanyName.errors && form.controls.CompanyName.dirty && form.get('CompanyName').touched,
                          'text-success': form.controls.CompanyName.valid && form.controls.CompanyName.dirty}">
                                                    <label for="email">Company Name</label>
                                                    <input type="text" class="form-control tcslgn_inp" id="CompanyName" maxlength="150" placeholder="Company Name" [(ngModel)]="CompanyName" [formControl]="form.controls['CompanyName']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['CompanyName'].hasError('required') && isSubmitted" class="err">Company Name is Required</li>
                                                    </ul>
                                                    <!--<div [hidden]="form.controls['CompanyName'].valid || form.controls['CompanyName'].pristine"
                                class="err">

                              <div [hidden]="!form.controls['CompanyName'].hasError('pattern')">Only alphabetsallowed</div>
                            </div>-->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.LegalName.valid && form.controls.LegalName.errors && form.controls.LegalName.dirty && form.controls('LegalName').touched,
                          'text-success': form.controls.LegalName.valid && form.controls.LegalName.dirty}">
                                                    <label for="LegalName">Legal Name</label>
                                                    <input type="text" class="form-control tcslgn_inp" maxlength="150" id="LegalName" placeholder="Legal Name" [(ngModel)]="LegalName" [formControl]="form.controls['LegalName']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['LegalName'].hasError('required') && isSubmitted" class="err">Legal Name is Required</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.CompanyAddressLine1.valid && form.controls.CompanyAddressLine1.errors && form.controls.CompanyAddressLine1.dirty && form.get('CompanyAddressLine1').touched,
                          'text-success': form.controls.CompanyAddressLine1.valid && form.controls.CompanyAddressLine1.dirty}">
                                                    <label for="pwd">Company Address Line1</label>
                                                    <input type="text" class="form-control tcslgn_inp" id="CompanyAddressLine1" maxlength="150" placeholder="Company Address Line1" [(ngModel)]="CompanyAddressLine1" [formControl]="form.controls['CompanyAddressLine1']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['CompanyAddressLine1'].hasError('required') && isSubmitted" class="err">Company Address Line1 is Required</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.CompanyAddressLine2.valid && form.controls.CompanyAddressLine2.errors && form.controls.CompanyAddressLine2.dirty && form.get('CompanyAddressLine2').touched,
                          'text-success': form.controls.CompanyAddressLine2.valid && form.controls.CompanyAddressLine2.dirty}">
                                                    <label for="pwd">Company Address Line2</label>
                                                    <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                                                    <input type="text" class="form-control tcslgn_inp" id="CompanyAddressLine2" maxlength="150" placeholder="Company Address Line2" [(ngModel)]="CompanyAddressLine2" [formControl]="form.controls['CompanyAddressLine2']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['CompanyAddressLine2'].hasError('required') && isSubmitted" class="err">Company Address Line2 is Required</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="size_red" for="companyregistrationnumber">Company Registration Number</label>
                                                <div [ngClass]="{'has-error' : !form.controls.CompanyRegistrationNumber.valid && form.controls.CompanyRegistrationNumber.errors && form.controls.CompanyRegistrationNumber.dirty && form.get('CompanyRegistrationNumber').touched,
                                  'text-success': form.controls.CompanyRegistrationNumber.valid && form.controls.CompanyRegistrationNumber.dirty}">
                                                    <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                                                    <input type="text" class="form-control tcslgn_inp" id="CompanyRegistrationNumber" maxlength="150" placeholder="Company Registration Number" [(ngModel)]="CompanyRegistrationNumber" [formControl]="form.controls['CompanyRegistrationNumber']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['CompanyRegistrationNumber'].hasError('required') && isSubmitted" class="err">Company Registration Number is Required</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <!--<div [ngClass]="{'has-error' : !form.controls.CompanyEmailID.valid && form.controls.CompanyEmailID.errors && form.controls.CompanyEmailID.dirty && form.get('CompanyEmailID').touched,
                'text-success': form.controls.CompanyEmailID.valid && form.controls.CompanyEmailID.dirty}">-->
                                                <label for="CompanyEmailID">Company Email ID</label>
                                                <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                                                <input type="email" class="form-control tcslgn_inp" maxlength="254" id="CompanyEmailID" [(ngModel)]="CompanyEmailID" [formControl]="form.controls['CompanyEmailID']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />
                                                <ul class="hp_blk">
                                                    <li *ngIf="form.controls.CompanyEmailID.hasError('required') && isSubmitted" class="err">Company Email ID is Required</li>
                                                </ul>
                                                <div [hidden]="form.controls.CompanyEmailID.valid || form.controls.CompanyEmailID.pristine" class="err">
                                                    <!--<div [hidden]="!form.controls.CompanyEmailID.hasError('required')">Company Email ID is required</div>-->
                                                    <div [hidden]="!form.controls.CompanyEmailID.hasError('pattern')">
                                                        Company Email ID format should be
                                                        <small> <b>john@something.com</b> </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--</div>-->
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.CompanyType.valid && form.controls.CompanyType.errors && form.controls.CompanyType.dirty && form.get('CompanyType').touched,
                          'text-success': form.controls.CompanyType.valid && form.controls.CompanyType.dirty}">
                                                    <label for="pwd">Company Type</label>
                                                    <select class="form-control tcslgn_inp" [(ngModel)]="CompanyType" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="CompanyType" id="CompanyType" [formControl]="form.controls['CompanyType']">
                                                        <option [ngValue]="undefined" disabled selected> Select</option>
                                                        <option value="public">Public</option>
                                                        <option value="private ">Private </option>
                                                        <option value="corporation">Corporation</option>
                                                    </select>
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['CompanyType'].hasError('required') && isSubmitted" class="err">Company Type is Required</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                                            <!-- <input type="text" id="webclient.CompanyType" placeholder="CompanyType" [(ngModel)]="webclient.CompanyType" [formControl]="form.controls['webclient.CompanyType']" />-->
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.CompanyEstablishedDate.valid && form.controls.CompanyEstablishedDate.errors && form.controls.CompanyEstablishedDate.dirty && form.get('CompanyEstablishedDate').touched,
                          'text-success': form.controls.CompanyEstablishedDate.valid && form.controls.CompanyEstablishedDate.dirty}">
                                                    <label for="pwd">Company Established Date</label>
                                                    <input type="date" class="form-control tcslgn_inp" format='MM-DD-YYYY' (change)="onCheckDOB()" [(ngModel)]="CompanyEstablishedDate" name="CompanyEstablishedDate" id="CompanyEstablishedDate" [formControl]="form.controls['CompanyEstablishedDate']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['CompanyEstablishedDate'].hasError('required') && isSubmitted" class="err">Company Established Date is Required</li>
                                                    </ul>
                                                    <div class="form-control-feedback err" *ngIf="doBCheck">Company Established Date Shouldn't be Greater Than Current Date</div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.DisplayNameOfCompany.valid && form.controls.DisplayNameOfCompany.errors && form.controls.DisplayNameOfCompany.dirty && form.get('DisplayNameOfCompany').touched,
                          'text-success': form.controls.DisplayNameOfCompany.valid && form.controls.DisplayNameOfCompany.dirty}">
                                                    <label for="pwd">Display Name Of Company</label>
                                                    <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                                                    <input type="text" class="form-control tcslgn_inp" id="DisplayNameOfCompany" maxlength="150" placeholder="Display Name Of Company" [(ngModel)]="DisplayNameOfCompany" [formControl]="form.controls['DisplayNameOfCompany']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['DisplayNameOfCompany'].hasError('required') && isSubmitted" class="err">Display Name Of Company is Required</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.CompanyPhone.valid && form.controls.CompanyPhone.errors && form.controls.CompanyPhone.dirty && form.get('CompanyPhone').touched,
                                  'text-success': form.controls.CompanyPhone.valid && form.controls.CompanyPhone.dirty}">
                                                    <label for="CompanyPhone">Company Phone Number</label>
                                                    <input type="text" class="form-control tcslgn_inp" id="CompanyPhone" placeholder="Company Phone Number" [(ngModel)]="CompanyPhone" [formControl]="form.controls['CompanyPhone']" pattern="[0-9]*" maxlength="15" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['CompanyPhone'].hasError('required') && isSubmitted" class="err">Please Enter Valid Company Phone Number</li>
                                                    </ul>
                                                    <div [hidden]="form.controls.CompanyPhone.valid || form.controls.CompanyPhone.pristine">

                                                        <div [hidden]="!form.controls.CompanyPhone.hasError('minlength')" class="err">Company Phone Number Should be 15 digit</div>
                                                        <!--<div [hidden]="!form.controls.AdminPhoneNumber.hasError('required')" class="err">Mobile is required</div>-->
                                                        <div [hidden]="!form.controls.CompanyPhone.hasError('pattern')" class="err">Please Enter Valid Company Phone Number</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.LogoUrl.valid && form.controls.LogoUrl.errors && form.controls.LogoUrl.dirty && form.get('LogoUrl').touched,
                          'text-success': form.controls.LogoUrl.valid && form.controls.LogoUrl.dirty}">
                                                    <label for="pwd">Logo Url</label>
                                                    <input type="text" class="form-control tcslgn_inp" required pattern="https?://.+" id="LogoUrl" placeholder="Logo Url" [(ngModel)]="LogoUrl" [formControl]="form.controls['LogoUrl']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['LogoUrl'].hasError('required') && isSubmitted" class="err">Logo Url is Required</li>
                                                    </ul>

                                                    <div [hidden]="!form.controls.LogoUrl.hasError('pattern')" class="err">
                                                        Must be a valid URL!
                                                        <!--<small> <b>john@something.com</b> </small>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.CompanyPersonName.valid && form.controls.CompanyPersonName.errors && form.controls.CompanyPersonName.dirty && form.get('CompanyPersonName').touched,
                          'text-success': form.controls.CompanyPersonName.valid && form.controls.CompanyPersonName.dirty}">
                                                    <label for="CompanyPersonName">Company Person Name</label>
                                                    <input type="text" class="form-control tcslgn_inp" id="CompanyPersonName" maxlength="150" placeholder="Company Person Name" [(ngModel)]="CompanyPersonName" [formControl]="form.controls['CompanyPersonName']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['CompanyPersonName'].hasError('required') && isSubmitted" class="err">Company Person Name is Required</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="CompanyPersonEmailID">Company Person Email ID</label>
                                                <input type="email" class="form-control tcslgn_inp" id="CompanyPersonEmailID" maxlength="254" [(ngModel)]="CompanyPersonEmailID" [formControl]="form.controls['CompanyPersonEmailID']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />
                                                <ul class="hp_blk">
                                                    <li *ngIf="form.controls.CompanyPersonEmailID.hasError('required') && isSubmitted" class="err">Company Person Email ID is Required</li>
                                                </ul>
                                                <div [hidden]="form.controls.CompanyPersonEmailID.valid || form.controls.CompanyPersonEmailID.pristine" class="err">
                                                    <!--<div [hidden]="!form.controls.CompanyPersonEmailID.hasError('required')">Company Person Email ID is required</div>-->
                                                    <div [hidden]="!form.controls.CompanyPersonEmailID.hasError('pattern')">
                                                        Company Person Email ID format should be
                                                        <small> <b>john@something.com</b> </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.CompanyPersonPhoneNumber.valid && form.controls.CompanyPersonPhoneNumber.errors && form.controls.CompanyPersonPhoneNumber.dirty && form.get('CompanyPersonPhoneNumber').touched,
                                  'text-success': form.controls.CompanyPersonPhoneNumber.valid && form.controls.CompanyPersonPhoneNumber.dirty}">
                                                    <label for="CompanyPersonPhoneNumber">Company Person Phone Number</label>
                                                    <input type="text" class="form-control tcslgn_inp" id="CompanyPersonPhoneNumber" placeholder="Company Person Phone Number" [(ngModel)]="CompanyPersonPhoneNumber" [formControl]="form.controls['CompanyPersonPhoneNumber']" pattern="[0-9]*" maxlength="15" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['CompanyPersonPhoneNumber'].hasError('required') && isSubmitted" class="err">Please Enter Valid Company Person Phone Number</li>
                                                    </ul>
                                                    <div [hidden]="form.controls.CompanyPersonPhoneNumber.valid || form.controls.CompanyPersonPhoneNumber.pristine">

                                                        <div [hidden]="!form.controls.CompanyPersonPhoneNumber.hasError('minlength')" class="err">Company Person Phone Number Should be 15 digit</div>
                                                        <!--<div [hidden]="!form.controls.AdminPhoneNumber.hasError('required')" class="err">Mobile is required</div>-->
                                                        <div [hidden]="!form.controls.CompanyPersonPhoneNumber.hasError('pattern')" class="err">Please Enter Valid Company Person Phone Number</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="col-md-12">
                                    <div class="hd_tit">Admin Details</div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.AdminUserName.valid && form.controls.AdminUserName.errors && form.controls.AdminUserName.dirty && form.get('AdminUserName').touched,
                                  'text-success': form.controls.AdminUserName.valid && form.controls.AdminUserName.dirty}">
                                                    <label for="pwd">User Name</label>
                                                    <input type="text" class="form-control tcslgn_inp" maxlength="150" id="AdminUserName" placeholder="User Name" [(ngModel)]="AdminUserName" [formControl]="form.controls['AdminUserName']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['AdminUserName'].hasError('required') && isSubmitted" class="err">Admin User Name is Required</li>
                                                    </ul>
                                                    <div [hidden]="form.controls['AdminUserName'].valid || form.controls['AdminUserName'].pristine" class="err">
                                                        <!--<div [hidden]="!form.controls['InstanceName'].hasError('required')">Name is required</div>-->
                                                        <div [hidden]="!form.controls['AdminUserName'].hasError('pattern')">Only alphabetsallowed</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="pwd">Email ID</label>
                                                <input type="email" class="form-control tcslgn_inp" id="PrimaryAdminEmailID" [(ngModel)]="PrimaryAdminEmailID" [formControl]="form.controls['PrimaryAdminEmailID']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />
                                                <ul class="hp_blk">
                                                    <li *ngIf="form.controls.PrimaryAdminEmailID.hasError('required') && isSubmitted" class="err">Primary Admin Email ID is Required</li>
                                                </ul>
                                                <div [hidden]="form.controls.PrimaryAdminEmailID.valid || form.controls.PrimaryAdminEmailID.pristine" class="err">
                                                    <!--<div [hidden]="!form.controls.PrimaryAdminEmailID.hasError('required')">Primary Admin Email ID is required</div>-->
                                                    <div [hidden]="!form.controls.PrimaryAdminEmailID.hasError('pattern')">
                                                        Primary Admin Email ID format should be
                                                        <small> <b>john@something.com</b> </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.AdminPhoneNumber.valid && form.controls.AdminPhoneNumber.errors && form.controls.AdminPhoneNumber.dirty && form.get('AdminPhoneNumber').touched,
                                  'text-success': form.controls.AdminPhoneNumber.valid && form.controls.AdminPhoneNumber.dirty}">
                                                    <label for="AdminPhoneNumber">Phone Number</label>
                                                    <input type="text" class="form-control tcslgn_inp" id="AdminPhoneNumber" placeholder="Admin Phone Number" [(ngModel)]="AdminPhoneNumber" maxlength="15" [formControl]="form.controls['AdminPhoneNumber']" pattern="[0-9]*" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['AdminPhoneNumber'].hasError('required') && isSubmitted" class="err">Please Enter Valid Admin Phone Number</li>
                                                    </ul>
                                                    <div [hidden]="form.controls.AdminPhoneNumber.valid || form.controls.AdminPhoneNumber.pristine">

                                                        <div [hidden]="!form.controls.AdminPhoneNumber.hasError('minlength')" class="err">Admin Phone Number should be 15digit</div>
                                                        <!--<div [hidden]="!form.controls.AdminPhoneNumber.hasError('required')" class="err">Mobile is required</div>-->
                                                        <div [hidden]="!form.controls.AdminPhoneNumber.hasError('pattern')" class="err">Please Enter Valid Admin Phone Number</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div [ngClass]="{'has-error' : !form.controls.AdminPersonDesignation.valid && form.controls.AdminPersonDesignation.errors && form.controls.AdminPersonDesignation.dirty && form.get('AdminPersonDesignation').touched,
                          'text-success': form.controls.AdminPersonDesignation.valid && form.controls.AdminPersonDesignation.dirty}">
                                                    <label for="AdminPersonDesignation">Person Designation</label>
                                                    <input type="text" class="form-control tcslgn_inp" id="AdminPersonDesignation" maxlength="150" placeholder="Admin Person Designation" [(ngModel)]="AdminPersonDesignation" [formControl]="form.controls['AdminPersonDesignation']" />
                                                    <ul class="hp_blk">
                                                        <li *ngIf="form.controls['AdminPersonDesignation'].hasError('required') && isSubmitted" class="err">Admin Person Designation is Required</li>
                                                    </ul>                      </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sk End -->
                        <div class="col-md-12">
                            <div class="form-group frm_btn">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>
