<div class="d-flex align-items-stretch min-height-100 h-100 fix_height">
  <div class="bg-cover bg-1 hidden-sm-down col-md-6 col-lg-8 mybgs">
    <img src="assets/images/book-homework-learning-7354.jpg" width="100%" height="100%" />
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 zropad">
    <div class="frm_parent">
   
        <div class="logo_wrap">
          <img src="assets/images/tcslogo.png" class="avatar-xs mb-1 logopad" alt="logo">
          <!--<img [src]="sitelogo" width="100px">-->
          <p class="ff-headers text-uppercase">Sign in to your account</p>
        </div>
     
        <form [formGroup]="loginForm" class="lgr_frmwraper" (ngSubmit)="onLogin()">
          <fieldset class="form-group" [ngClass]="{'has-danger': loginForm.controls['Email'].hasError('required') && loginForm.controls['Email'].touched}">
            <input type="text" class="form-control" placeholder="Email" [formControl]="loginForm.controls['Email']" (keyup)="submit($event)" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngClass]="{'err': loginForm.controls['Email'].hasError('required') && isSubmitted}" />
            <div class="form-control-feedback err" *ngIf="loginForm.controls['Email'].hasError('required') && isSubmitted">Enter your Email address</div>
            <div class="form-control-feedback err" *ngIf="loginForm.controls['Email'].hasError('pattern') && isSubmitted"> Your email address is not a valid email address</div>
          </fieldset>

          <fieldset class="form-group" [ngClass]="{'has-danger': loginForm.controls['Password'].hasError('required') && loginForm.controls['Password'].touched}">
            <input type="password" class="form-control" placeholder="Password" [formControl]="loginForm.controls['Password']" (keyup)="submit($event)" [ngClass]="{'err': loginForm.controls['Password'].hasError('required') && isSubmitted}" />
            <div class="form-control-feedback err" *ngIf="loginForm.controls['Password'].hasError('required') && isSubmitted">Enter your Password</div>
          </fieldset>
          <div class="row mb-2" *ngIf="successMessage">
            <div class="col">
              <div class="d-flex justify-content-start">
                <span class="mr-auto">
                  <ngb-alert *ngIf="isError" type="danger" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

                </span>
              </div>
            </div>
          </div>


          <!--<div class="form-group">
    <label class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Stay logged in</span>
    </label>
    <button type="submit" class="btn btn-primary log log22">Login</button>
    <div class="clearfix"></div>
  </div>-->
          <div class="block"></div>
          <button class="btn btn-primary lgnbtn" type="button" (click)="onLogin()" id="btnLogin">Sign In</button>

        </form>


    </div>

  </div>
</div>
