.avatar-xs {
  width: 6rem;
}

.signin_formcenter {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.fix_height{ height: 100vh!important;}
.frm_parent{ position: relative; height: 100%; width: 80%; background-color: #fff;
             margin:0px auto; display:block;
              
}

.logopad {
  margin: 0px auto;
  padding-bottom: 15px;
  display: block;
  width: 200px;
}
.mybgs{ padding: 0px; margin:0px;}

.lgnbtn {
  
  float: right;
  outline: none;
  /*background: -moz-linear-gradient(left, #259dd0 0%, #162448 100%);
  background: -webkit-linear-gradient(left, #259dd0 0%,#162448 100%);
  background: linear-gradient(to right, #259dd0 0%,#162448 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#259dd0', endColorstr='#162448',GradientType=1 );*/
  border: none;
  background: #4895c8;
  -webkit-border-radius:0px; -moz-border-radius:0px; -ms-border-radius:0px; border-radius:0px;

}

.crt_btn {
  color: #259dd0;
  font-weight: 400;
}

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #259dd0 !important;
  border-color: #259dd0 !important;
}

.ff-headers {
  text-align: center;
}

.card {
  bottom: 50%;
}
.zropad{ padding-left: 0px; padding-right:0px; position:relative; background-color:#fff;
          padding-top:100px;
}


/*Checkbox css*/
.tcs_chkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#555;
}


  .tcs_chkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: none;
  border:1px solid #ccc;
}


.tcs_chkbox:hover input ~ .checkmark {
  background-color: #fff;
}


.tcs_chkbox input:checked ~ .checkmark {
  background-color: #2196F3;
  border-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.tcs_chkbox input:checked ~ .checkmark:after {
  display: block;
}

.tcs_chkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*TCS login css*/
.tcslgn_inp {
  font-size: 12px;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 14px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

  .tcslgn_inp::-webkit-input-placeholder {
    color: #ccc;
  }

  .tcslgn_inp:focus {
    border-color: #000;
    color: #000;
    box-shadow: none;
    -webkit-box-shadow: none;

  }
.tcslgn_label{ font-size:14px; color:#999;}
.log22{ float:right; position:relative; top:-40px;}
.err{color:red;}
