


<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="servicetypeUpdateFormGroup" (ngSubmit)="onUpdateServiceType(servicetype)" class="tcs_licfrm">
        <div class="row">
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="MasterAccount_Id">MasterAccountName</label>



              <select id="MasterAccount_Id" class="form-control" name="servicetype.MasterAccount_Id" (change)="test($event)" [(ngModel)]="servicetype.MasterAccount_Id" formControlName="servicetype.MasterAccount_Id">

                <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="servicetypeUpdateFormGroup.controls['servicetype.MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <label for="ServiceName">ServiceName</label>
            <input type="text" class="form-control tcslgn_inp" id="servicetype.ServiceName" name="servicetype.ServiceName" placeholder="ServiceName" [(ngModel)]="servicetype.ServiceName" [formControl]="servicetypeUpdateFormGroup.controls['servicetype.ServiceName']" />
            <ul class="help-block">
              <li *ngIf="servicetypeUpdateFormGroup.controls['servicetype.ServiceName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ServiceIcon">ServiceIcon</label>
              <input type="file" class="form-control tcslgn_inp" id="ServiceIcon" name="ServiceIcon" />
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">

            <label for="ServiceTypeStatus">ServiceTypeStatus:</label>
            <select id="ServiceTypeStatus" class="form-control tcslgn_inp" name="ServiceTypeStatus" [(ngModel)]="servicetype.ServiceTypeStatus" formControlName="servicetype.ServiceTypeStatus">
              <option [ngValue]="undefined" disabled selected> Select Status </option>
              <option>Active</option>
              <option>InActive</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="servicetypeUpdateFormGroup.controls['servicetype.ServiceTypeStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>


        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>

        </div>
      </form>
    </div>
  </div>

</div>

