
<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount" class="form-control" name="MasterAccount" (change)="onChange($event)" [(ngModel)]="MasterAccount">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>


      


      </div>

    </div>


    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>

    <!--<h3>ProgramCategory Details</h3>-->
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>Program Category Name</th>
            <th>Program Category Description</th>
            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofprogramcategory; let i=index" class="trdata">

            <td>{{i+1}}</td>
            <td>{{rec.ProgramCategoryName}}</td>
            <td>{{rec.ProgramCategoryDescription}}</td>
            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>



<div class="create_popup" id="crpop" >
  <h3 class="pop_heading">Create Program Category</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">
        <!--<h3>Create AccountManagement</h3>-->
        <!--popup content goes here-->
        <form [formGroup]="form" (ngSubmit)="onCreateProgramCategory()" class="tcs_licfrm">
          <div class="row">
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MasterAccount_Id">MasterAccount Name</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.MasterAccount_Id.valid && form.controls.MasterAccount_Id.errors
                         && form.controls.MasterAccount_Id.dirty && form.get('MasterAccount_Id').touched,
                'text-success': form.controls.MasterAccount_Id.valid &&form.controls.MasterAccount_Id.dirty}">


                  <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="test($event)" [(ngModel)]="MasterAccount_Id" formControlName="MasterAccount_Id">

                    <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.ProgramCategoryName.valid && form.controls.ProgramCategoryName.errors && form.controls.ProgramCategoryName.dirty && form.get('ProgramCategoryName').touched,
                                  'text-success': form.controls.ProgramCategoryName.valid && form.controls.ProgramCategoryName.dirty}">
                <label for="email">Program Category Name</label>
                <input type="text" class="form-control tcslgn_inp" id="ProgramCategoryName" placeholder="Program Category Name" [(ngModel)]="ProgramCategoryName" [formControl]="form.controls['ProgramCategoryName']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ProgramCategoryName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            </div>

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ProgramCategoryImgUrl">ProgramCategoryImgUrl</label>

                <input type="file" class="form-control tcslgn_inp" id="ProgramCategoryImgUrl" name="ProgramCategoryImgUrl" />




              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ProgramCategoryDescription.valid && form.controls.ProgramCategoryDescription.errors && form.controls.ProgramCategoryDescription.dirty && form.get('ProgramCategoryDescription').touched,
                                  'text-success': form.controls.ProgramCategoryDescription.valid && form.controls.ProgramCategoryDescription.dirty}">
                <label for="pwd">Program Category Description</label>
                <input type="text" class="form-control tcslgn_inp" id="ProgramCategoryDescription" placeholder="Program Category Description" [(ngModel)]="ProgramCategoryDescription" [formControl]="form.controls['ProgramCategoryDescription']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ProgramCategoryDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>






            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.ProgramCategoryStatus.valid && form.controls.ProgramCategoryStatus.errors && form.controls.ProgramCategoryStatus.dirty && form.controls('ProgramCategoryStatus').touched,
                                  'text-success': form.controls.ProgramCategoryStatus.valid && form.controls.ProgramCategoryStatus.dirty}">
                <label for="Country">Program Category Status :</label>
                <select id="ProgramCategoryStatus" class="form-control tcslgn_inp" name="ProgramCategoryStatus" [(ngModel)]="ProgramCategoryStatus" placeholder="Program Category Status" [formControl]="form.controls['ProgramCategoryStatus']">
                  <option [ngValue]="undefined" disabled selected> Select Status</option>
                  <option>Active</option>
                  <option>InActive</option>

                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['ProgramCategoryStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
          </div>
       
          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


