<div class="container-fluid memberform">
  <div class="row">
      
   <div class="card">
     <div class="card-body">
        <div class="col-md-12"><div class="hd_tit">Company Details</div></div>
    <div class="col-12">
      <form [formGroup]="viewwebFormGroup" (ngSubmit)="onUpdatewebclient(webclient)" class="tcs_licfrm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
                <label for="email">Company Name</label>
                <input type="text" class="form-control tcslgn_inp" id="webclient.CompanyName" maxlength="150"  placeholder="Company Name" [(ngModel)]="webclient.CompanyName" [formControl]="viewwebFormGroup.controls['webclient.CompanyName']" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.CompanyName'].hasError('required') && isSubmitted" class="err">Company Name is Required</li>
                </ul>
                <div [hidden]="viewwebFormGroup.controls['webclient.CompanyName'].valid || viewwebFormGroup.controls['webclient.CompanyName'].pristine"
                     class="err">
                  <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyName'].hasError('pattern')">Only alphabetsallowed</div>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
                <label for="LegalName">Legal Name</label>
                <input type="text" class="form-control tcslgn_inp" id="LegalName" maxlength="150"  placeholder="Legal Name" [(ngModel)]="webclient.LegalName" [formControl]="viewwebFormGroup.controls['webclient.LegalName']" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.LegalName'].hasError('required') && isSubmitted" class="err">Legal Name is Required</li>
                </ul>
                <div [hidden]="viewwebFormGroup.controls['webclient.LegalName'].valid || viewwebFormGroup.controls['webclient.LegalName'].pristine"
                     class="err">
                  <!--<div [hidden]="!form.controls['InstanceName'].hasError('required')">Name is required</div>-->
                  <div [hidden]="!viewwebFormGroup.controls['webclient.LegalName'].hasError('pattern')">Only alphabetsallowed</div>
                </div>
            </div>
          </div>

          <div class="col-md-4">
           <div class="form-group">
              <label for="pwd">Company Address Line1</label>
            <input type="text" class="form-control tcslgn_inp" maxlength="150"  id="webclient.CompanyAddressLine1" placeholder="Company Address Line1" [(ngModel)]="webclient.CompanyAddressLine1" [formControl]="viewwebFormGroup.controls['webclient.CompanyAddressLine1']" />
            <ul class="hp_blk">
              <li *ngIf="viewwebFormGroup.controls['webclient.CompanyAddressLine1'].hasError('required') && isSubmitted" class="err">Company Address Line1 is Required</li>
            </ul>
            <div [hidden]="viewwebFormGroup.controls['webclient.CompanyAddressLine1'].valid || viewwebFormGroup.controls['webclient.CompanyAddressLine1'].pristine"
                 class="err">
              <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyAddressLine1'].hasError('pattern')">Only alphabetsallowed</div>
            </div>
           </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
                <label for="pwd">Company Address Line2</label>
          
                <input type="text" class="form-control tcslgn_inp" maxlength="150"  id="webclient.CompanyAddressLine2" placeholder="Company Address Line2" [(ngModel)]="webclient.CompanyAddressLine2" [formControl]="viewwebFormGroup.controls['webclient.CompanyAddressLine2']" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.CompanyAddressLine2'].hasError('required') && isSubmitted" class="err">Company Address Line2 is Required</li>
                </ul>
                <div [hidden]="viewwebFormGroup.controls['webclient.CompanyAddressLine2'].valid || viewwebFormGroup.controls['webclient.CompanyAddressLine2'].pristine"
                     class="err">
                  <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyAddressLine2'].hasError('pattern')">Only alphabetsallowed</div>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
                <label for="pwd">Company Registration Number</label>
                <input type="text" class="form-control tcslgn_inp" id="webclient.CompanyRegistrationNumber" maxlength="150"  placeholder="Company Registration Number" [(ngModel)]="webclient.CompanyRegistrationNumber" [formControl]="viewwebFormGroup.controls['webclient.CompanyRegistrationNumber']" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.CompanyRegistrationNumber'].hasError('required') && isSubmitted" class="err">Company Registration Number is Required</li>
                </ul>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
                <label for="pwd">Company Email ID</label>
                <input type="email" class="form-control tcslgn_inp" id="webclient.CompanyEmailID" [(ngModel)]="webclient.CompanyEmailID" [formControl]="viewwebFormGroup.controls['webclient.CompanyEmailID']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.CompanyEmailID'].hasError('required') && isSubmitted" class="err">Company Email ID is Required</li>
                </ul>
    
                <div [hidden]="viewwebFormGroup.controls['webclient.CompanyEmailID'].valid || viewwebFormGroup.controls['webclient.CompanyEmailID'].pristine" class="err">
                  <!--<div [hidden]="!viewwebFormGroup.controls['webclient.CompanyEmailID'].hasError('required')">Email is required</div>-->
                  <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyEmailID'].hasError('pattern')">
                    Company Email ID format should be
                    <small> <b>john@something.com</b> </small>
                  </div>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
                <label for="pwd">Company Type</label>
                <select class="form-control tcslgn_inp" [(ngModel)]="webclient.CompanyType" name="webclient.CompanyType" id="webclient.CompanyType" [formControl]="viewwebFormGroup.controls['webclient.CompanyType']">
                  <option value="public">Public</option>
                  <option value="private ">Private </option>
                  <option value="corporation">Corporation</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.CompanyType'].hasError('required') && isSubmitted" class="err">Company Type is Required</li>
                </ul>
            </div> 
          </div>

          <div class="col-md-4">
           <div class="form-group">
             
            <label for="pwd">Company Established Date</label>
            <input type="date" class="form-control tcslgn_inp" format='mm-dd-yyyy' (change)="onCheckDOB()" [(ngModel)]="webclient.CompanyEstablishedDate" name="webclient.CompanyEstablishedDate" id="webclient.CompanyEstablishedDate" [formControl]="viewwebFormGroup.controls['webclient.CompanyEstablishedDate']" />
             <ul class="hp_blk">
               <li *ngIf="viewwebFormGroup.controls['webclient.CompanyEstablishedDate'].hasError('required') && isSubmitted" class="err">Company Established Date is Required</li>
             </ul>
             <div class="form-control-feedback err" *ngIf="doBCheck">Company Established Date Shouldn't be Greater Than Current Date</div>
             <!--</div>-->
           </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
                <label for="pwd">Display Name Of Company</label>
            
                <input type="text" class="form-control tcslgn_inp" maxlength="150"  id="webclient.DisplayNameOfCompany" placeholder="Display Name Of Company" [(ngModel)]="webclient.DisplayNameOfCompany" [formControl]="viewwebFormGroup.controls['webclient.DisplayNameOfCompany']" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.DisplayNameOfCompany'].hasError('required') && isSubmitted" class="err">Display Name Of Company is Required</li>
                </ul>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              
            <label for="CompanyPhone">Company Phone Number</label>
            <input type="text" class="form-control tcslgn_inp" id="CompanyPhone" placeholder="Company Phone Number" [(ngModel)]="webclient.CompanyPhone" [formControl]="viewwebFormGroup.controls['webclient.CompanyPhone']"  maxlength="15" pattern="[0-9]*" />
            <ul class="hp_blk">
              <li *ngIf="viewwebFormGroup.controls['webclient.CompanyPhone'].hasError('required') && isSubmitted" class="err">Please Enter Valid Company Phone Number</li>
            </ul>
            <div [hidden]="viewwebFormGroup.controls['webclient.CompanyPhone'].valid || viewwebFormGroup.controls['webclient.CompanyPhone'].pristine">

              <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyPhone'].hasError('minlength')" class="err">Company Phone Number should be 15digit</div>
            
              <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyPhone'].hasError('pattern')" class="err">Please Enter Valid Company Phone Number</div>
            </div>
            </div>

          </div>


          <div class="col-md-4">
            <div class="form-group">
              
            <label for="CompanyPersonName">Company Person Name</label>
            <input type="text" class="form-control tcslgn_inp" id="CompanyPersonName" maxlength="150"  placeholder="Company Person Name" [(ngModel)]="webclient.CompanyPersonName" [formControl]="viewwebFormGroup.controls['webclient.CompanyPersonName']" />
            <ul class="hp_blk">
              <li *ngIf="viewwebFormGroup.controls['webclient.CompanyPersonName'].hasError('required') && isSubmitted" class="err">Company Person Name is Required</li>
            </ul>
          </div>
        </div>
          <div class="col-md-4">
            <label for="CompanyPersonEmailID">Company Person Email ID</label>
            <input type="email" class="form-control tcslgn_inp" id="CompanyPersonEmailID" [(ngModel)]="webclient.CompanyPersonEmailID" [formControl]="viewwebFormGroup.controls['webclient.CompanyPersonEmailID']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />
            <ul class="hp_blk">
              <li *ngIf="viewwebFormGroup.controls['webclient.CompanyPersonEmailID'].hasError('required') && isSubmitted" class="err">Company Person Email ID is Required</li>
            </ul>
            <div [hidden]="viewwebFormGroup.controls['webclient.CompanyPersonEmailID'].valid || viewwebFormGroup.controls['webclient.CompanyPersonEmailID'].pristine" class="err">
             
              <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyPersonEmailID'].hasError('pattern')">
                Company Person Email format should be
                <small> <b>john@something.com</b> </small>
              </div>
            </div>
            </div>
          

          <div class="col-md-4">
            <div class="form-group">
                <label for="pwd">Logo Url</label>
                <input type="text" class="form-control tcslgn_inp" id="webclient.LogoUrl" required pattern="https?://.+" placeholder="Logo Url" [(ngModel)]="webclient.LogoUrl" [formControl]="viewwebFormGroup.controls['webclient.LogoUrl']" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.LogoUrl'].hasError('required') && isSubmitted" class="err">Logo Url is Required</li>
                </ul>
                <div [hidden]="!viewwebFormGroup.controls['webclient.LogoUrl'].hasError('pattern')" class="err">
                  Must be a valid URL!
                  <!--<small> <b>john@something.com</b> </small>-->
                </div>
                <!--</div>-->
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              
            <label for="CompanyPersonPhoneNumber">Company Person Phone Number</label>
            <input type="text" class="form-control tcslgn_inp" id="CompanyPersonPhoneNumber" placeholder="Company Person Phone Number" [(ngModel)]="webclient.CompanyPersonPhoneNumber" [formControl]="viewwebFormGroup.controls['webclient.CompanyPersonPhoneNumber']"  maxlength="15" pattern="[0-9]*" />
            <ul class="hp_blk">
              <li *ngIf="viewwebFormGroup.controls['webclient.CompanyPersonPhoneNumber'].hasError('required') && isSubmitted" class="err">Please Enter Valid Company Person Phone Number</li>
            </ul>
            <div [hidden]="viewwebFormGroup.controls['webclient.CompanyPersonPhoneNumber'].valid || viewwebFormGroup.controls['webclient.CompanyPersonPhoneNumber'].pristine">

              <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyPersonPhoneNumber'].hasError('minlength')" class="err">Company Person Phone Number should be 15digit</div>
              <!--<div [hidden]="!form.controls.AdminPhoneNumber.hasError('required')" class="err">Mobile is required</div>-->
              <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyPersonPhoneNumber'].hasError('pattern')" class="err">Please Enter Valid Company Person Phone Number</div>
            </div>
            </div>

          </div>

        </div>
        <hr />
        <div class="row"><div class="col-md-12"><div class="hd_tit">Admin Details</div></div></div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
                <label for="pwd">User Name</label>
                <input type="text" class="form-control tcslgn_inp" id="webclient.AdminUserName" maxlength="150"  placeholder="Admin User Name" [(ngModel)]="webclient.AdminUserName" [formControl]="viewwebFormGroup.controls['webclient.AdminUserName']" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.AdminUserName'].hasError('required') && isSubmitted" class="err">Admin User Name is Required</li>
                </ul>
                <div [hidden]="viewwebFormGroup.controls['webclient.AdminUserName'].valid || viewwebFormGroup.controls['webclient.AdminUserName'].pristine"
                     class="err">
                  <div [hidden]="!viewwebFormGroup.controls['webclient.AdminUserName'].hasError('pattern')">Only alphabetsallowed</div>
                </div>
    
                <!--</div>-->
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
                <label for="pwd">Email ID</label>
                <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                <input type="email" class="form-control tcslgn_inp" id="webclient.PrimaryAdminEmailID" [(ngModel)]="webclient.PrimaryAdminEmailID" [formControl]="viewwebFormGroup.controls['webclient.PrimaryAdminEmailID']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.PrimaryAdminEmailID'].hasError('required') && isSubmitted" class="err">Primary Admin Email ID is Required</li>
                </ul>
                <div [hidden]="viewwebFormGroup.controls['webclient.PrimaryAdminEmailID'].valid || viewwebFormGroup.controls['webclient.PrimaryAdminEmailID'].pristine" class="err">
                  <!--<div [hidden]="!viewwebFormGroup.controls['webclient.PrimaryAdminEmailID'].hasError('required')">Email is required</div>-->
                  <div [hidden]="!viewwebFormGroup.controls['webclient.PrimaryAdminEmailID'].hasError('pattern')">
                    Primary Admin Email format should be
                    <small> <b>john@something.com</b> </small>
                  </div>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
                <label for="AdminPhoneNumber">Phone Number</label>
                <input type="text" class="form-control tcslgn_inp" id="AdminPhoneNumber" placeholder="Phone Number" [(ngModel)]="webclient.AdminPhoneNumber" [formControl]="viewwebFormGroup.controls['webclient.AdminPhoneNumber']"  maxlength="15" pattern="[0-9]*" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.AdminPhoneNumber'].hasError('required') && isSubmitted" class="err">Please Enter Valid Admin Phone Number</li>
                </ul>
                <div [hidden]="viewwebFormGroup.controls['webclient.AdminPhoneNumber'].valid || viewwebFormGroup.controls['webclient.AdminPhoneNumber'].pristine">
    
                  <div [hidden]="!viewwebFormGroup.controls['webclient.AdminPhoneNumber'].hasError('minlength')" class="err">Admin Phone Number should be 15digit</div>
                  <div [hidden]="!viewwebFormGroup.controls['webclient.AdminPhoneNumber'].hasError('pattern')" class="err">Please Enter Valid Admin Phone Number</div>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
                <label for="AdminPersonDesignation">Person Designation</label>
                <input type="text" class="form-control tcslgn_inp" id="AdminPersonDesignation" maxlength="150"  placeholder="Admin Person Designation" [(ngModel)]="webclient.AdminPersonDesignation" [formControl]="viewwebFormGroup.controls['webclient.AdminPersonDesignation']" />
                <ul class="hp_blk">
                  <li *ngIf="viewwebFormGroup.controls['webclient.AdminPersonDesignation'].hasError('required') && isSubmitted" class="err">Person Designation is Required</li>
                </ul>
                <div [hidden]="viewwebFormGroup.controls['webclient.AdminPersonDesignation'].valid || viewwebFormGroup.controls['webclient.AdminPersonDesignation'].pristine"
                     class="err">
                  <!--<div [hidden]="!form.controls['InstanceName'].hasError('required')">Name is required</div>-->
                  <div [hidden]="!viewwebFormGroup.controls['webclient.AdminPersonDesignation'].hasError('pattern')">Only alphabetsallowed</div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group frm_btn">
            <button type="submit" class="btn btn-info">Update</button>
          </div>
        </div>
    
        <div class="row">



          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">-->
          <!--<div [ngClass]="{'has-error' : !form.controls.CompanyAdminEmailID.valid && form.controls.CompanyAdminEmailID.errors && form.controls.CompanyAdminEmailID.dirty && form.get('CompanyAdminEmailID').touched,
    'text-success': form.controls.CompanyAdminEmailID.valid && form.controls.CompanyAdminEmailID.dirty}">-->
          <!--<label for="pwd">CompanyAdminEmailID</label>-->
          <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
          <!--<input type="email" class="form-control tcslgn_inp" id="webclient.CompanyAdminEmailID" [(ngModel)]="webclient.CompanyAdminEmailID" [formControl]="viewwebFormGroup.controls['webclient.CompanyAdminEmailID']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />
    <ul class="hp_blk">
      <li *ngIf="viewwebFormGroup.controls['webclient.CompanyAdminEmailID'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>-->
          <!--</div>-->
          <!--<div [hidden]="viewwebFormGroup.controls['webclient.CompanyAdminEmailID'].valid || viewwebFormGroup.controls['webclient.CompanyAdminEmailID'].pristine" class="alert alert-danger err2">
        <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyAdminEmailID'].hasError('required')">Email is required</div>
        <div [hidden]="!viewwebFormGroup.controls['webclient.CompanyAdminEmailID'].hasError('pattern')">
          Email format should be
          <small> <b>john@something.com</b> </small>
        </div>
      </div>
    </div>-->
        </div>
        <div class="row">


        </div>
        <div class="row">
          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
      <div [ngClass]="{'has-error' : !form.controls.Instance_Id.valid && form.controls.Instance_Id.errors && form.controls.Instance_Id.dirty && form.get('Instance_Id').touched,
                          'text-success': form.controls.Instance_Id.valid && form.controls.Instance_Id.dirty}">
        <label for="pwd">Instance ID</label>

        <input type="text" class="form-control tcslgn_inp" id="Instance_Id" placeholder="InstanceID" [(ngModel)]="Instance_Id" [formControl]="form.controls['Instance_Id']" />
        <ul class="hp_blk">
          <li *ngIf="form.controls['Instance_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
        </ul>
      </div>
    </div>-->
          <!--<div class="col-12 col-md-6 mb-1">
      <div class="form-group">
        <label for="Instance_Id">Instance Name</label>



        <select id="Instance_Id" class="form-control" name="webclient.Instance_Id" (change)="test($event)" [(ngModel)]="webclient.Instance_Id" formControlName="webclient.Instance_Id">

          <option *ngFor="let item of listofinstances" [value]="item.Id">{{item.InstanceName}}</option>


        </select>

        <ul class="help-block">
          <li *ngIf="viewwebFormGroup.controls['webclient.Instance_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
        </ul>


      </div>
    </div>-->
          <!--<div class="col-12 col-md-6 mb-1">
      <div class="form-group">
        <label for="LicenseInfo">License Info</label>



        <select id="LicenseInfo" class="form-control" name="LicenseInfo" (change)="license($event)" [(ngModel)]="webclient.LicenseInfo" formControlName="webclient.LicenseInfo">

          <option *ngFor="let item of listofLicense" [value]="item.Id">{{item.CompanyName}}</option>


        </select>

        <ul class="help-block">
          <li *ngIf="viewwebFormGroup.controls['webclient.LicenseInfo'].hasError('required') && isSubmitted" class="err">This field is Required</li>
        </ul>


      </div>
    </div>-->
        </div>
        <div class="row">


        </div>
        <div class="row">
         
         
        </div>
        <div class="row">

        </div>
        <div class="row">
         


         
        </div>
        
      </form>
    </div>
     </div>
   </div>
  </div>
</div>
