
<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>


     


      </div>

    </div>


    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>

    <!--<h3>ProgramCategory Details</h3>-->
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>Program Category Name</th>
            <th>Program Category Description</th>
            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofprogramcategory; let i=index" class="trdata">

            <td>{{i+1}}</td>
            <td>{{rec.ProgramCategoryName}}</td>
            <td>{{rec.ProgramCategoryDescription}}</td>
            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>



<div class="create_popup" id="crpop">

  <h3 class="pop_heading">Create Module</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>

  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">

        <form [formGroup]="ModulesForm" (ngSubmit)="onCreateModules()" class="tcs_licfrm">

          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="Capability_Id">Capability Name</label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.Capability_Id.valid && ModulesForm.controls.Capability_Id.errors
                         && ModulesForm.controls.Capability_Id.dirty && ModulesForm.get('Capability_Id').touched,
                'text-success': ModulesForm.controls.Capability_Id.valid && ModulesForm.controls.Capability_Id.dirty}">

                  <select id="Capability_Id" class="form-control" name="Capability_Id" (change)="capability($event)" [(ngModel)]="Capability_Id" formControlName="Capability_Id">

                    <option *ngFor="let item of listofcapabilities" [value]="item.Id">{{item.CapabilityName}}</option>


                  </select>
                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['Capability_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ProgramStr_Id">ProgramStr Name</label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ProgramStr_Id.valid && ModulesForm.controls.ProgramStr_Id.errors
                         && ModulesForm.controls.ProgramStr_Id.dirty && ModulesForm.get('ProgramStr_Id').touched,
                'text-success': ModulesForm.controls.ProgramStr_Id.valid &&ModulesForm.controls.ProgramStr_Id.dirty}">


                  <select id="ProgramStr_Id" class="form-control" name="ProgramStr_Id" (change)="test($event)" [(ngModel)]="ProgramStr_Id" formControlName="ProgramStr_Id">

                    <option *ngFor="let item of listofprogramstructure" [value]="item.Id">{{item.ProgramStrName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ProgramStr_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">


              <label for="ProgramCategory_Id">Program Category Name :</label>
              <div class="multiselect">
                <div class="selectBox" (click)="ProgramCategorytest()">
                  <select class="form-control lg_email reg_email prefbx"
                          placeholder="ex : Football, Cricket" id="ProgramCategory_Id"
                          [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                          [(ngModel)]="ProgramCategory_Id" [formControl]="ModulesForm.controls['ProgramCategory_Id']" name="ProgramCategory_Id" (click)="ProgramCategorytest()">

                    <option>Please Select options </option>

                  </select>
                  <div class="overSelect"> </div>
                </div>
                <div *ngIf="secret">
                  <div id="ProgramCategory" *ngFor="let item of listofprogramcategory">
                    <label for="one">
                      <input type="checkbox" id="one" value="{{item.Id}}" (change)="Programcategory(item.Id)" />{{item.ProgramCategoryName}}
                    </label>

                  </div>
                </div>

              </div>



            </div>

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Module Title </label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ModuleTitle.valid &&
                            ModulesForm.controls.ModuleTitle.errors
                             && ModulesForm.controls.ModuleTitle.dirty && ModulesForm.get('ModuleTitle').touched,
                    'text-success':ModulesForm.controls.ModuleTitle.valid && ModulesForm.controls.ModuleTitle.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="ModuleTitle" name="ModuleTitle" [(ngModel)]="ModuleTitle" placeholder="Module Title" [formControl]="ModulesForm.controls['ModuleTitle']" />

                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ModuleTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ModuleType">Module Type </label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ModuleType.valid && ModulesForm.controls.ModuleType.errors
                                     && ModulesForm.controls.ModuleType.dirty && ModulesForm.get('ModuleType').touched,
                            'text-success': ModulesForm.controls.ModuleType.valid && ModulesForm.controls.ModuleType.dirty}">

                  <select class="form-control tcslgn_inp" id="ModuleType" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="ModuleType" [(ngModel)]="ModuleType" placeholder="Module Type" [formControl]="ModulesForm.controls['ModuleType']">
                    <option [ngValue]="undefined" disabled selected> Select ModuleType</option>
                    <option>Audio</option>
                    <option>Video</option>
                    <option>Blocks</option>
                    <option>Webseries</option>
                  </select>

                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ModuleType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Module Area</label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ModuleArea.valid &&
                                        ModulesForm.controls.ModuleArea.errors
                                         && ModulesForm.controls.ModuleArea.dirty && ModulesForm.get('ModuleArea').touched,
                                'text-success':ModulesForm.controls.ModuleArea.valid && ModulesForm.controls.ModuleArea.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="ModuleArea" name="ModuleArea" [(ngModel)]="ModuleArea" placeholder="Module Area" [formControl]="ModulesForm.controls['ModuleArea']" />

                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ModuleArea'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>


          <div class="row">


            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Module Access Type</label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ModuleAccessType.valid &&
                                              ModulesForm.controls.ModuleAccessType.errors
                                               && ModulesForm.controls.ModuleAccessType.dirty && ModulesForm.get('ModuleAccessType').touched,
                                      'text-success':ModulesForm.controls.ModuleAccessType.valid && ModulesForm.controls.ModuleAccessType.dirty}">

                  <select class="form-control tcslgn_inp" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" id="ModuleAccessType" name="ModuleAccessType" [(ngModel)]="ModuleAccessType" placeholder="Module Access Type" [formControl]="ModulesForm.controls['ModuleAccessType']">
                    <option [ngValue]="undefined" disabled selected>Select Content AccessType</option>
                    <option>Public</option>
                    <option>Private</option>

                  </select>
                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ModuleAccessType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ModulePrice">Module Listed Price</label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ModuleListedPrice.valid && ModulesForm.controls.ModuleListedPrice.errors
                                                 && ModulesForm.controls.ModuleListedPrice.dirty && ModulesForm.get('ModuleListedPrice').touched,
                                        'text-success': ModulesForm.controls.ModuleListedPrice.valid && ModulesForm.controls.ModuleListedPrice.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="ModuleListedPrice" name="ModuleListedPrice" [(ngModel)]="ModuleListedPrice" placeholder="Module Listed Price" [formControl]="ModulesForm.controls['ModuleListedPrice']" />


                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ModuleListedPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

          <div class="row">



            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Module Discount Price</label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ModuleDiscountPrice.valid &&
                                                    ModulesForm.controls.ModuleDiscountPrice.errors
                                                     && ModulesForm.controls.ModuleDiscountPrice.dirty && ModulesForm.get('ModuleDiscountPrice').touched,
                                            'text-success':ModulesForm.controls.ModuleDiscountPrice.valid && ModulesForm.controls.ModuleDiscountPrice.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="ModuleDiscountPrice" name="ModuleDiscountPrice" [(ngModel)]="ModuleDiscountPrice" placeholder="Module Discount Price" [formControl]="ModulesForm.controls['ModuleDiscountPrice']" />

                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ModuleDiscountPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ModuleDisplayDate">Module Display Date</label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ModuleDisplayDate.valid && ModulesForm.controls.ModuleDisplayDate.errors
                                                       && ModulesForm.controls.ModuleDisplayDate.dirty && ModulesForm.get('ModuleDisplayDate').touched,
                                              'text-success': ModulesForm.controls.ModuleDisplayDate.valid && ModulesForm.controls.ModuleDisplayDate.dirty}">

                  <input type="date" class="form-control tcslgn_inp" id="ModuleDisplayDate" name="ModuleDisplayDate" [(ngModel)]="ModuleDisplayDate" placeholder="Module Display Date" [formControl]="ModulesForm.controls['ModuleDisplayDate']" />


                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ModuleDisplayDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

          <div class="row">



            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Module Valid Till</label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ModuleValidTill.valid &&
                                                          ModulesForm.controls.ModuleValidTill.errors
                                                           && ModulesForm.controls.ModuleValidTill.dirty && ModulesForm.get('ModuleValidTill').touched,
                                                  'text-success':ModulesForm.controls.ModuleValidTill.valid && ModulesForm.controls.ModuleValidTill.dirty}">

                  <input type="date" class="form-control tcslgn_inp" id="ModuleValidTill" name="ModuleValidTill" [(ngModel)]="ModuleValidTill" placeholder="Content Valid Till" [formControl]="ModulesForm.controls['ModuleValidTill']" />

                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ModuleValidTill'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                  <div class="validation-error" style="color:red" *ngIf="ModuleDisplayDate > ModuleValidTill">
                    End Date Should Be Greater Than Start Date
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !ModulesForm.controls.ModuleDependency.valid && ModulesForm.controls.ModuleDependency.errors && ModulesForm.controls.ModuleDependency.dirty && ModulesForm.get('ModuleDependency').touched,
                                    'text-success': ModulesForm.controls.ModuleDependency.valid && ModulesForm.controls.ModuleDependency.dirty}">
                <label for="ModuleDependency">Module Dependency</label>
                <select class="form-control tcslgn_inp" id="ModuleDependency" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="ModuleDependency" [(ngModel)]="ModuleDependency"  [formControl]="ModulesForm.controls['ModuleDependency']">
                  <option [ngValue]="undefined" disabled selected> Select Dependency</option>
                  <option>Mutual Dependent</option>
                  <option>Mutual Independent</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="ModulesForm.controls['ModuleDependency'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ModuleStatus">Module Status</label>
                <div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ModuleStatus.valid && ModulesForm.controls.ModuleStatus.errors
                                                                         && ModulesForm.controls.ModuleStatus.dirty && ModulesForm.get('ModuleStatus').touched,
                                                                'text-success': ModulesForm.controls.ModuleStatus.valid &&ModulesForm.controls.ModuleStatus.dirty}">

                  <select class="form-control tcslgn_inp" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" id="ModuleStatus" name="ModuleStatus" [(ngModel)]="ModuleStatus" placeholder="Module Status" [formControl]="ModulesForm.controls['ModuleStatus']">
                    <option [ngValue]="undefined" disabled selected> Select Status</option>
                    <option>Active</option>
                    <option>Inactive</option>
                  </select>

                  <ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ModuleStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
          <div class="row">



            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">

                <!--<div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.IsModuleTracking.valid &&
                                                                            ModulesForm.controls.IsModuleTracking.errors
                                                                             && ModulesForm.controls.IsModuleTracking.dirty && ModulesForm.get('IsModuleTracking').touched,
                                                                    'text-success':ModulesForm.controls.IsModuleTracking.valid && ModulesForm.controls.IsModuleTracking.dirty}">-->

                <label>
                  <input type="checkbox" id="IsModuleTracking" placeholder="IsModuleTracking" [(ngModel)]="IsModuleTracking"
                         [formControl]="ModulesForm.controls['IsModuleTracking']" />   Is Module Tracking
                </label>

                <!--<ul class="help-block">
                    <li *ngIf="ModulesForm.controls['IsModuleTracking'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>-->
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">

                <!--<div class="member" [ngClass]="{'has-error' : !ModulesForm.controls.ModuleIsFree.valid &&
                                                                            ModulesForm.controls.ModuleIsFree.errors
                                                                             && ModulesForm.controls.ModuleIsFree.dirty && ModulesForm.get('ModuleIsFree').touched,
                                                                    'text-success':ModulesForm.controls.ModuleIsFree.valid && ModulesForm.controls.ModuleIsFree.dirty}">-->

                <label>
                  <input type="checkbox" id="ModuleIsFree" placeholder="ModuleIsFree" [(ngModel)]="ModuleIsFree"
                         [formControl]="ModulesForm.controls['ModuleIsFree']" />Module Is Free
                </label>

                <!--<ul class="help-block">
                    <li *ngIf="ModulesForm.controls['ModuleIsFree'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>-->
              </div>
            </div>
          </div>


          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>


      </div>
    </div>

    <form [formGroup]="Form" (ngSubmit)="onAddMedia()" class="tcs_licfrm">
      <div class="row">
        <div class="col-12 col-md-6 mb-1">
          <div class="form-group">
            <label>Module subtitle </label>
            <div class="member" [ngClass]="{'has-error' : !Form.controls.subtitle.valid &&
                    Form.controls.subtitle.errors
                     && Form.controls.subtitle.dirty && Form.get('subtitle').touched,
            'text-success':Form.controls.subtitle.valid && Form.controls.subtitle.dirty}">

              <input type="text" class="form-control tcslgn_inp" id="subtitle" name="subtitle" [(ngModel)]="subtitle" placeholder="Module Media Name" [formControl]="Form.controls['subtitle']">

              <ul class="help-block">
                <li *ngIf="Form.controls['subtitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-1">
          <div class="form-group">
            <label>Module title </label>
            <div class="member" [ngClass]="{'has-error' : !Form.controls.title.valid &&
                    Form.controls.title.errors
                     && Form.controls.title.dirty && Form.get('title').touched,
            'text-success':Form.controls.title.valid && Form.controls.title.dirty}">

              <input type="text" class="form-control tcslgn_inp" id="title" name="title" [(ngModel)]="title" placeholder="Title" [formControl]="Form.controls['title']">

              <ul class="help-block">
                <li *ngIf="Form.controls['title'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-1">
          <div class="form-group">
            <label for="ModuleMediaType">Module Media Type </label>
            <div class="member" [ngClass]="{'has-error' : !Form.controls.ModuleMediaType.valid && Form.controls.ModuleMediaType.errors
                     && Form.controls.ModuleMediaType.dirty && Form.get('ModuleMediaType').touched,
            'text-success': Form.controls.ModuleMediaType.valid &&Form.controls.ModuleMediaType.dirty}">

              <select class="form-control tcslgn_inp" id="ModuleMediaType" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="ModuleMediaType" [(ngModel)]="ModuleMediaType" placeholder="Module Media Type" [formControl]="Form.controls['ModuleMediaType']">
                <option [ngValue]="undefined" disabled selected> Select ModuleType</option>
                <option>Audio</option>
                <option>Video</option>
                <option>Blocks</option>
                <option>Webseries</option>
              </select>

              <ul class="help-block">
                <li *ngIf="Form.controls['ModuleMediaType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-1">
          <div class="form-group">
            <label>Module Description</label>
            <div class="member" [ngClass]="{'has-error' : !Form.controls.description.valid &&
                    Form.controls.description.errors
                     && Form.controls.description.dirty && Form.get('description').touched,
            'text-success':Form.controls.description.valid && Form.controls.description.dirty}">

              <input type="text" class="form-control tcslgn_inp" id="description" name="description" [(ngModel)]="description" placeholder="description" [formControl]="Form.controls['description']">

              <ul class="help-block">
                <li *ngIf="Form.controls['description'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

          <label for="sources">Module Media Sources</label>
          <input type="file" class="form-control tcslgn_inp" id="sources" />

        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

          <label for="sources">Module Media Thumb</label>
          <input type="file" class="form-control tcslgn_inp" id="thumb" />

        </div>
      </div>
     
        <div class="form-group">
          <button type="submit" class="btn btn-info">Add Media</button>
        </div>


    </form>





  </div>

</div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


