<div class="container-fluid memberform">
  <div class="row">
    
    <div class="col-12 vmp">
      <h3>View Member ProgramPurchase</h3>
      <hr>
      <p><span><strong>Member Name</strong> </span> : <span class="um">{{userName}}</span></p>
      <p><span><strong>PaymentTransactionRef_Id</strong> </span> : <span class="um">{{memberprogrampurchase.PaymentTransactionRef_Id}}</span></p>
      <p><span><strong>PaymentMode </strong> </span> : <span class="um">{{memberprogrampurchase.PaymentMode}}</span></p>
      <p><span><strong>PaymentGatewayResponseCode</strong>  </span> : <span class="um">{{memberprogrampurchase.PaymentGatewayResponseCode}}</span></p>
      <p><span><strong>ProgramStartDate </strong> </span> : <span class="um">{{memberprogrampurchase.ProgramStartDate}}</span></p>
      <p><span><strong>ProgramValidTillDate</strong> </span> : <span class="um">{{memberprogrampurchase.ProgramValidTillDate}}</span></p>
      <p><span><strong>ProgramAccessDuration </strong> </span> : <span class="um">{{memberprogrampurchase.ProgramAccessDuration}}</span></p>
      <p><span><strong>NextRenewalDate </strong> </span> : <span class="um">{{memberprogrampurchase.NextRenewalDate}}</span></p>
      <p><span><strong>MPPStatus </strong> </span> : <span class="um">{{memberprogrampurchase.MPPStatus}}</span></p>
      <p><span><strong>PaymentStatus </strong></span> : <span class="um">{{memberprogrampurchase.PaymentStatus}}</span></p>


    </div>
  </div>
</div>
