<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="viewprogramstructureform" (ngSubmit)="onUpdateProgramstructure()" class="tcs_licfrm">
        <div class="row">



          <div class="col-12 col-md-6 mb-1">

           
              <label for="ExerciseTypeName">ProgramStr Name</label>
              <input type="text" class="form-control tcslgn_inp" id="ProgramStrName" placeholder="ProgramStr Name" [(ngModel)]="programstructure.ProgramStrName" [formControl]="viewprogramstructureform.controls['programstructure.ProgramStrName']" />
            
            <ul class="hp_blk">
              <li *ngIf="viewprogramstructureform.controls['programstructure.ProgramStrName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <!--<div class="col-12 col-md-6 mb-1">

            <div [ngClass]="{'has-error' : !form.controls.NoOfCapabilities.valid && form.controls.NoOfCapabilities.errors && form.controls.NoOfCapabilities.dirty && form.get('NoOfCapabilities').touched,
                                'text-success': form.controls.NoOfCapabilities.valid && form.controls.NoOfCapabilities.dirty}">
              <label for="NoOfCapabilities">NoOfCapabilities</label>
              <input type="text" class="form-control tcslgn_inp" id="NoOfCapabilities" placeholder="NoOfCapabilities" [(ngModel)]="NoOfCapabilities" [formControl]="form.controls['NoOfCapabilities']" />
            </div>
            <ul class="hp_blk">
              <li *ngIf="form.controls['NoOfCapabilities'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>-->
          <!--<div class="col-12 col-md-6 mb-1">

            <div [ngClass]="{'has-error' : !form.controls.NoOfModules.valid && form.controls.NoOfModules.errors && form.controls.NoOfModules.dirty && form.get('NoOfModules').touched,
                                'text-success': form.controls.NoOfModules.valid && form.controls.NoOfModules.dirty}">
              <label for="NoOfModules">NoOfModules</label>
              <input type="text" class="form-control tcslgn_inp" id="NoOfModules" placeholder="NoOfModules" [(ngModel)]="NoOfModules" [formControl]="form.controls['NoOfModules']" />
            </div>
            <ul class="hp_blk">
              <li *ngIf="form.controls['NoOfModules'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>-->


          <div class="col-12 col-md-6 mb-1">

           
              <label for="ProgramStrType">ProgramStr Type</label>
              <select id="ProgramStrType" class="form-control" name="ProgramStrType" [(ngModel)]="programstructure.ProgramStrType" placeholder="ProgramStr Type" formControlName="programstructure.ProgramStrType">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Capabilities</option>
                <option>Modules</option>
                <option>Exercise</option>
              </select>
          
            <ul class="hp_blk">
              <li *ngIf="viewprogramstructureform.controls['programstructure.ProgramStrType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>







          <!--<div *ngIf="secret">-->
          <!--<div class="col-12 col-md-6 mb-1">

                    <div [ngClass]="{'has-error' : !form.controls.ProgramStrTitle.valid && form.controls.ProgramStrTitle.errors && form.controls.ProgramStrTitle.dirty && form.get('ProgramStrTitle').touched,
          'text-success': form.controls.ProgramStrTitle.valid && form.controls.ProgramStrTitle.dirty}">
                      <label for="ProgramStrTitle">ProgramStrTitle</label>
                      <select id="ProgramStrTitle" class="form-control" name="ProgramStrTitle" (change)="test($event)" [(ngModel)]="name" formControlName="ProgramStrTitle">

                        <option *ngFor="let item of this.dropdown" [value]="item.id">{{item.value}}</option>


                      </select>

                    </div>
                    <ul class="hp_blk">
                      <li *ngIf="form.controls['ProgramStrTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                    </ul>
                  </div>-->
          <!--</div>-->

          <div class="col-12 col-md-6 mb-1">

            
              <label for="ProgramStrDependency">ProgramStr Dependency</label>
              <select id="ProgramStrDependency" class="form-control" name="ProgramStrDependency" [(ngModel)]="programstructure.ProgramStrDependency" placeholder="ProgramStr Dependency" formControlName="programstructure.ProgramStrDependency">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Mutual Dependent</option>
                <option>Mutual In- Dependent</option>

              </select>
           
            <ul class="hp_blk">
              <li *ngIf="viewprogramstructureform.controls['programstructure.ProgramStrDependency'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>





          <div class="col-12 col-md-6 mb-1">


            <label for="ProgramStrCapabilities">Select Capabilities :</label>
            <div class="multiselect">
              <div class="selectBox" (click)="capabilitiestest()">
                <select class="form-control lg_email reg_email prefbx"
                        placeholder="ex : Football, Cricket" id="ProgramStrCapabilities"
                        [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                        [(ngModel)]="programstructure.ProgramStrCapabilities" name="ProgramStrCapabilities" (click)="capabilitiestest()" formControlName="programstructure.ProgramStrCapabilities">

                  <option>Please Select options </option>

                </select>
                <div class="overSelect"> </div>
              </div>
              <div *ngIf="secret">
                <div id="ProgramStrCapabilities" *ngFor="let item of this.listofcapabilities">
                  <label for="one">
                    <input type="checkbox" id="one" value="{{item.Id}}" [checked]="programstructure.ProgramStrCapabilities.includes(item.Id)?'checked':''" (change)="capabilities(item.Id)" />{{item.CapabilityName}}
                    l>
                  </label>

                </div>
              </div>

            </div>



          </div>
          <div class="col-12 col-md-6 mb-1">


            <label for="ProgramStrModules">Select Modules :</label>
            <div class="multiselect">
              <div class="selectBox" (click)="modulestest()">
                <select class="form-control lg_email reg_email prefbx"
                        id="ProgramStrModules"
                        [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                        [(ngModel)]="programstructure.ProgramStrModules" name="ProgramStrModules" (click)="modulestest()" formControlName="programstructure.ProgramStrModules">

                  <option>Please Select options </option>

                </select>
                <div class="overSelect"> </div>
              </div>

              <div *ngIf="secretmodule">
                <div id="ProgramStrModules" *ngFor="let item of this.listofModules">
                  <label for="one">
                    <input type="checkbox" id="one" value="{{item.Id}}" [checked]="programstructure.ProgramStrModules.includes(item.Id)?'checked':''" (change)="modules(item.Id)" />{{item.ModuleTitle}}
                    l>
                  </label>

                </div>
              </div>
            </div>

          </div>
          <div class="col-12 col-md-6 mb-1">


            <label for="ProgramStrExercise">Select Exercises :</label>
            <div class="multiselect">
              <div class="selectBox" (click)="exercisetest()">
                <select class="form-control lg_email reg_email prefbx"
                        id="ProgramStrExercise"
                        [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                        [(ngModel)]="programstructure.ProgramStrExercise" name="ProgramStrExercise" (click)="exercisestest()" formControlName="programstructure.ProgramStrExercise">

                  <option>Please Select options </option>

                </select>
                <div class="overSelect"> </div>
              </div>

              <div *ngIf="secretexercise">
                <div id="ProgramStrExercise" *ngFor="let item of this.listofexercise">
                  <label for="one">
                    <input type="checkbox" id="one" value="{{item.Id}}" [checked]="programstructure.ProgramStrExercise.includes(item.Id)?'checked':''" (change)="exercise(item.Id)" />{{item.ExerciseTitle}}
                    l>
                  </label>

                </div>
              </div>
            </div>

          </div>

          <!--<div class="col-12 col-md-6 mb-1">

            <div [ngClass]="{'has-error' : !form.controls.ProgramStrExercise.valid && form.controls.ProgramStrExercise.errors && form.controls.ProgramStrExercise.dirty && form.get('ProgramStrExercise').touched,
                                'text-success': form.controls.ProgramStrExercise.valid && form.controls.ProgramStrExercise.dirty}">
              <label for="ProgramStrExercise">ProgramStrExercise :</label>
              <select id="ProgramStrExercise" class="form-control" name="ProgramStrExercise" [(ngModel)]="ProgramStrExercise" placeholder="ProgramStrExercise" formControlName="ProgramStrExercise">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Active</option>
                <option>InActive</option>
              </select>
            </div>
            <ul class="hp_blk">
              <li *ngIf="form.controls['ProgramStrExercise'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>-->


          <div class="col-12 col-md-6 mb-1">

           
              <label for="ProgramStrAccessType">ProgramStr Access Type :</label>
              <select id="ProgramStrAccessType" class="form-control" name="ProgramStrAccessType" [(ngModel)]="programstructure.ProgramStrAccessType" placeholder="ProgramStr Access Type" formControlName="programstructure.ProgramStrAccessType">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Public</option>
                <option>Private</option>
              </select>
            
            <ul class="hp_blk">
              <li *ngIf="viewprogramstructureform.controls['programstructure.ProgramStrAccessType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>
          <div class="col-12 col-md-6 mb-1">


            <label for="ProgramCategory_Id">Program Category Name :</label>
            <div class="multiselect">
              <div class="selectBox" (click)="ProgramCategorytest()">
                <select class="form-control lg_email reg_email prefbx"
                        placeholder="ex : Football, Cricket" id="ProgramCategory"
                        [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                        [(ngModel)]="programstructure.ProgramCategory" name="ProgramCategory" (click)="ProgramCategorytest()" formControlName="programstructure.ProgramCategory">

                  <option>Please Select options </option>

                </select>
                <div class="overSelect"> </div>
              </div>
              <div *ngIf="secretprogram">
                <div id="ProgramCategory" *ngFor="let item of listofprogramcategory">
                  <label for="one">
                    <input type="checkbox" id="one" value="{{item.Id}}" [checked]="programstructure.ProgramCategory.includes(item.Id)?'checked':''" (change)="Programcategory(item.Id)" />{{item.ProgramCategoryName}}
                    l>
                  </label>

                </div>
              </div>

            </div>



          </div>
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramStrCoverPicture">ProgramStrCoverPicture</label>
              <input type="file" class="form-control tcslgn_inp" id="ProgramStrCoverPicture" name="ProgramStrCoverPicture" />
            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">

           
              <label for="ProgramStrListedPrice">ProgramStrListedPrice</label>
              <input type="text" class="form-control tcslgn_inp" id="ProgramStrListedPrice" placeholder="ProgramStrListedPrice" [(ngModel)]="programstructure.ProgramStrListedPrice" [formControl]="viewprogramstructureform.controls['programstructure.ProgramStrListedPrice']" />
           
            <ul class="hp_blk">
              <li *ngIf="viewprogramstructureform.controls['programstructure.ProgramStrListedPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>
          <div class="col-12 col-md-6 mb-1">

            
              <label for="ProgramStrDiscountPrice">Discounted Price</label>
              <input type="text" class="form-control tcslgn_inp" id="ProgramStrDiscountPrice" placeholder="Discounted Price" [(ngModel)]="programstructure.ProgramStrDiscountPrice" [formControl]="viewprogramstructureform.controls['programstructure.ProgramStrDiscountPrice']" />
           
            <ul class="hp_blk">
              <li *ngIf="viewprogramstructureform.controls['programstructure.ProgramStrDiscountPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>
          <div class="col-12 col-md-6 mb-1">

           
              <label for="ProgramStrDescription">ProgramStrDescription</label>
              <input type="text" class="form-control tcslgn_inp" id="ProgramStrDescription" placeholder="Discounted Price" [(ngModel)]="programstructure.ProgramStrDescription" [formControl]="viewprogramstructureform.controls['programstructure.ProgramStrDescription']" />
            
            <ul class="hp_blk">
              <li *ngIf="viewprogramstructureform.controls['programstructure.ProgramStrDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>

          <div class="col-12 col-md-6 mb-1">
           
              <label for="ProgramStrStatus">ProgramStrStatus :</label>
              <select id="ProgramStrStatus" class="form-control" name="ProgramStrStatus" [(ngModel)]="programstructure.ProgramStrStatus" placeholder="ProgramStr Status" formControlName="programstructure.ProgramStrStatus">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Active</option>
                <option>InActive</option>
              </select>
              <ul class="hp_blk">
                <li *ngIf="viewprogramstructureform.controls['programstructure.ProgramStrStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="ProgramStrIsFree">

              <input type="checkbox" [checked]="ProgramStrIsFree?'checked':''" [(ngModel)]="programstructure.ProgramStrIsFree" name="ProgramStrIsFree" id="ProgramStrIsFree" [formControl]="viewprogramstructureform.controls['programstructure.ProgramStrIsFree']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">ProgramStr IsFree</span>
            </label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>
