<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="viewaccountprogramsUpdateFormGroup" (ngSubmit)="onUpdateaccountprograms(viewaccountprograms)" class="tcs_licfrm">


        <div class="row">

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Client_Id">Client CompanyName</label>



              <select id="Client_Id" class="form-control" name="Client_Id" (change)="client($event)" [(ngModel)]="viewaccountprograms.Client_Id" formControlName="viewaccountprograms.Client_Id">

                <option *ngFor="let item of webclientslist" [value]="item.Id">{{item.CompanyName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.Client_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Capability_Id">Capability Name</label>
                <select id="Capability_Id" class="form-control" name="Capability_Id" (change)="capability($event)" [(ngModel)]="viewaccountprograms.Capability_Id" formControlName="viewaccountprograms.Capability_Id">
                  <option *ngFor="let item of listofcapabilities" [value]="item.Id">{{item.CapabilityName}}</option>
                </select>

                <ul class="help-block">
                  <li *ngIf="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.Capability_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

            
            </div>
          </div>

        </div>


        <div class="row">

      
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Capability_Id">MasterAccount Name</label>
                <select id="MasterAccount_Id" class="form-control" name="viewaccountprograms.MasterAccount_Id" (change)="account($event)" [(ngModel)]="viewaccountprograms.MasterAccount_Id" formControlName="viewaccountprograms.MasterAccount_Id">

                  <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

             
            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label>AccountProgram StartDate</label>


              <input type="date" class="form-control tcslgn_inp" id="viewaccountprograms.AccountProgramStartDate"
                     placeholder="AccountProgramStartDate" [(ngModel)]="viewaccountprograms.AccountProgramStartDate"
                     [formControl]="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.AccountProgramStartDate']" />
              <ul class="hp_blk">
                <li *ngIf="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.AccountProgramStartDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            </div>
          </div>

        </div>


        <div class="row">

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ClientID">AccountProgram EndDate</label>


              <input type="date" class="form-control tcslgn_inp" id="viewaccountprograms.AccountProgramEndDate"
                     placeholder="AccountProgramEndDate" [(ngModel)]="viewaccountprograms.AccountProgramEndDate"
                     [formControl]="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.AccountProgramEndDate']" />

              <ul class="hp_blk">
                <li *ngIf="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.AccountProgramEndDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label> AccountProgram AccessType</label>


              <select class="form-control tcslgn_inp" id="viewaccountprograms.AccountProgramAccessType"
                      placeholder="AccountProgramAccessType" [(ngModel)]="viewaccountprograms.AccountProgramAccessType"
                      [formControl]="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.AccountProgramAccessType']">
                <option [ngValue]="undefined" disabled selected> Select DisplayType </option>
                <option>Public</option>
                <option>Private</option>
              </select>

              <ul class="hp_blk">
                <li *ngIf="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.AccountProgramAccessType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ClientID">AccountProgram BusinessRule</label>

              <input type="text" class="form-control tcslgn_inp" id="viewaccountprograms.AccountProgramBusinessRule"
                     placeholder="AccountProgramBusinessRule" [(ngModel)]="viewaccountprograms.AccountProgramBusinessRule"
                     [formControl]="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.AccountProgramBusinessRule']" />
              <ul class="hp_blk">
                <li *ngIf="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.AccountProgramBusinessRule'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label> AccountProgram Status</label>


              <select class="form-control tcslgn_inp" id="viewaccountprograms.AccountProgramStatus"
                      placeholder="AccountProgramStatus" [(ngModel)]="viewaccountprograms.AccountProgramStatus"
                      [formControl]="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.AccountProgramStatus']">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Active</option>
                <option>InActive</option>
              </select>
              <ul class="hp_blk">
                <li *ngIf="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.AccountProgramStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramName">ProgramName</label>
              <input type="text" class="form-control tcslgn_inp" id="viewaccountprograms.ProgramInfo.ProgramName" name="viewaccountprograms.ProgramName" [(ngModel)]="viewaccountprograms.ProgramInfo.ProgramName" placeholder="ProgramName" [formControl]="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.ProgramInfo.ProgramName']" />
              <ul class="help-block">
                <li *ngIf="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.ProgramInfo.ProgramName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>

            
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramName">ProgramDescription</label>
              <input type="text" class="form-control tcslgn_inp" id="viewaccountprograms.ProgramInfo.ProgramDescription" name="viewaccountprograms.ProgramInfo.ProgramDescription" [(ngModel)]="viewaccountprograms.ProgramInfo.ProgramDescription" placeholder="ProgramDescription" [formControl]="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.ProgramInfo.ProgramDescription']" />

              <ul class="help-block">
                <li *ngIf="viewaccountprogramsUpdateFormGroup.controls['viewaccountprograms.ProgramInfo.ProgramDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramName">ProgramCoverPicture</label>

              <input type="file" class="form-control tcslgn_inp" id="ProgramCoverPicture" name="ProgramCoverPicture" />
            </div>
          </div>


        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
        </div>


      </form>

    </div>
  </div>
</div>
