<div class="card">
  <ngb-tabset class="card-tab">
    <ngb-tab title="UpComing Webinar">
      <ng-template ngbTabContent>
        <div class="activity-stream">
          <div class="container-fluid table_wrap">
            <div class="mid_table">
              <div class="row" *ngIf="message">
                <div class="col">
                  <div class="d-flex justify-content-start">
                    <span class="mr-auto">
                      <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
                      <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
                      <!--<strong>{{successMessage}}</strong>-->
                    </span>
                  </div>
                </div>
              </div>
              <div class="rht_btns">
                <!--<button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>-->
                <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

                <div class="clearfix"></div>
              </div>
              <div>
                <div class="form-group">
                  <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
                  <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="250">250</option>
                    <option [value]="500">500</option>
                  </select>
                </div>
                <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
                </ng2-smart-table>
              </div>

              <!--<h3>InstanceManager</h3>-->
              <!--<div class="table-responsive">
        <table width=99.90% datatable class="table row-border hover mytbl">
          <thead>
            <tr class="thdr">
              <th style="width:80px;">Id</th>
              <th>Name</th>
              <th>Install Admin</th>
              <th>License ExpiryDate</th>
              <th>Number of Clients</th>
              <th>Number Of Accounts</th>
              <th style="width:60px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rec of this.listofinstances let i=index" class="trdata">
              <td>{{i+1}}</td>
              <td>{{rec.Instance Name}}</td>
              <td>{{rec.Install Admin}}</td>
              <td>{{rec.License Expiry Date}}</td>
              <td>{{rec.Number of Clients}}</td>
              <td>{{rec.Number Of Accounts}}</td>
              <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
            </tr>
          </tbody>

        </table>




      </div>-->
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Historical Webinar</ng-template>
      <ng-template ngbTabContent>
        <div class="container-fluid table_wrap">
          <div class="mid_table">
            <div class="row" *ngIf="message">
              <div class="col">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">
                    <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
                    <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
                    <!--<strong>{{successMessage}}</strong>-->
                  </span>
                </div>
              </div>
            </div>
            <div class="rht_btns">
              <!--<button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>-->
              <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

              <div class="clearfix"></div>
            </div>
            <div>
              <div class="form-group">
                <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch1(search.value)">
                <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter1($event)">
                  <option [value]="50">50</option>
                  <option [value]="100">100</option>
                  <option [value]="250">250</option>
                  <option [value]="500">500</option>
                </select>
              </div>
              <ng2-smart-table [settings]="settings1" [source]="source1" (custom)="onEdit($event)">
              </ng2-smart-table>
            </div>

            <!--<h3>InstanceManager</h3>-->
            <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>Name</th>
            <th>Install Admin</th>
            <th>License ExpiryDate</th>
            <th>Number of Clients</th>
            <th>Number Of Accounts</th>
            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofinstances let i=index" class="trdata">
            <td>{{i+1}}</td>
            <td>{{rec.Instance Name}}</td>
            <td>{{rec.Install Admin}}</td>
            <td>{{rec.License Expiry Date}}</td>
            <td>{{rec.Number of Clients}}</td>
            <td>{{rec.Number Of Accounts}}</td>
            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
          </div>
        </div>

      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
