
<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <d
         iv class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>


    


      </div>

    </div>


    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>

    <!--<h3>ProgramCategory Details</h3>-->
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>Program Category Name</th>
            <th>Program Category Description</th>
            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofprogramcategory; let i=index" class="trdata">

            <td>{{i+1}}</td>
            <td>{{rec.ProgramCategoryName}}</td>
            <td>{{rec.ProgramCategoryDescription}}</td>
            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>



<div class="create_popup" id="crpop">
  <h3 class="pop_heading">Create Capability Details</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">



        <form [formGroup]="form" (ngSubmit)="onCreateCapabilities()" class="tcs_licfrm">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityName.valid && form.controls.CapabilityName.errors && form.controls.CapabilityName.dirty && form.get('CapabilityName').touched,
                                    'text-success': form.controls.CapabilityName.valid && form.controls.CapabilityName.dirty}">
                <label for="CapabilityName"> Capability Name</label>
                <input type="text" class="form-control tcslgn_inp" id="CapabilityName" placeholder="Capability Name" [(ngModel)]="CapabilityName" [formControl]="form.controls['CapabilityName']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ProgramStr_Id">ProgramStr Name</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.ProgramStr_Id.valid && form.controls.ProgramStr_Id.errors
                         && form.controls.ProgramStr_Id.dirty && form.get('ProgramStr_Id').touched,
                'text-success': form.controls.ProgramStr_Id.valid &&form.controls.ProgramStr_Id.dirty}">


                  <select id="ProgramStr_Id" class="form-control" name="ProgramStr_Id" (change)="test($event)" [(ngModel)]="name" formControlName="ProgramStr_Id">

                    <option *ngFor="let item of listofprogramstructure" [value]="item.Id">{{item.ProgramStrName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['ProgramStr_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">


              <label for="ProgramCategory_Id">Program Category Name :</label>
              <div class="multiselect">
                <div class="selectBox" (click)="ProgramCategorytest()">
                  <select class="form-control lg_email reg_email prefbx"
                          placeholder="ex : Football, Cricket" id="ProgramCategory"
                          [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                          [(ngModel)]="ProgramCategory_Id" name="ProgramCategory_Id" (click)="ProgramCategorytest()" formControlName="ProgramCategory_Id">

                    <option>Please Select options </option>

                  </select>
                  <div class="overSelect"> </div>
                </div>
                <div *ngIf="secret">
                  <div id="ProgramCategory" *ngFor="let item of listofprogramcategory">
                    <label for="one">
                      <input type="checkbox" id="one" value="{{item.Id}}" (change)="Programcategory(item.Id)" />{{item.ProgramCategoryName}}
                    </label>

                  </div>
                </div>

              </div>



            </div>



            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityDescription.valid && form.controls.CapabilityDescription.errors && form.controls.CapabilityDescription.dirty && form.get('CapabilityDescription').touched,
                                    'text-success': form.controls.CapabilityDescription.valid && form.controls.CapabilityDescription.dirty}">
                <label for="CapabilityDescription">Capability Description</label>
                <input type="text" class="form-control tcslgn_inp" id="CapabilityDescription" placeholder="Capability Description" [(ngModel)]="CapabilityDescription" [formControl]="form.controls['CapabilityDescription']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilitySynopsis.valid && form.controls.CapabilitySynopsis.errors && form.controls.CapabilitySynopsis.dirty && form.get('CapabilitySynopsis').touched,
                                    'text-success': form.controls.CapabilitySynopsis.valid && form.controls.CapabilitySynopsis.dirty}">
                <label for="CapabilitySynopsis"> Capability Synopsis</label>
                <input type="text" class="form-control tcslgn_inp" id="CapabilitySynopsis" placeholder="Capability Synopsis" [(ngModel)]="CapabilitySynopsis" [formControl]="form.controls['CapabilitySynopsis']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilitySynopsis'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>



            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <!--<div [ngClass]="{'has-error' : !form.controls.ProgramCoverPicture.valid && form.controls.ProgramCoverPicture.errors && form.controls.ProgramCoverPicture.dirty && form.get('ProgramCoverPicture').touched,
    'text-success': form.controls.ProgramCoverPicture.valid && form.controls.ProgramCoverPicture.dirty}">-->
              <label for="CapabilityCoverPicture">Capability Cover Picture</label>
              <input type="file" class="form-control tcslgn_inp" id="CapabilityCoverPicture" placeholder="Capability Cover Picture" />
              <!--<ul class="hp_blk">
        <li *ngIf="form.controls['ProgramCoverPicture'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>-->
            </div>




            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityType.valid && form.controls.CapabilityType.errors && form.controls.CapabilityType.dirty && form.get('CapabilityType').touched,
                                    'text-success': form.controls.CapabilityType.valid && form.controls.CapabilityType.dirty}">
                <label for="CapabilityType">Capability Type </label>
                <select class="form-control tcslgn_inp" id="CapabilityType" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="CapabilityType" [(ngModel)]="CapabilityType" placeholder="Capability Type" [formControl]="form.controls['CapabilityType']">
                  <option [ngValue]="undefined" disabled selected> Select Capability Type</option>
                  <option>audio</option>
                  <option>vedio</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>


            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityCategory.valid && form.controls.CapabilityCategory.errors && form.controls.CapabilityCategory.dirty && form.get('CapabilityCategory').touched,
                                    'text-success': form.controls.CapabilityCategory.valid && form.controls.CapabilityCategory.dirty}">
                <label for="CapabilityCategory">Capability Category</label>
                <select class="form-control tcslgn_inp" id="CapabilityCategory" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="CapabilityCategory" [(ngModel)]="CapabilityCategory" placeholder="Capability Category" [formControl]="form.controls['CapabilityCategory']">
                  <option [ngValue]="undefined" disabled selected> Select Capability Category</option>
                  <option>Active</option>
                  <option>blog</option>
                  <option>Inactive</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityCategory'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>






            <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <div [ngClass]="{'has-error' : !form.controls.CapabilityTags.valid && form.controls.CapabilityTags.errors && form.controls.CapabilityTags.dirty && form.get('CapabilityTags').touched,
                          'text-success': form.controls.CapabilityTags.valid && form.controls.CapabilityTags.dirty}">
      <label for="CapabilityTags">Capability Tags</label>
      <select class="form-control tcslgn_inp" id="CapabilityTags" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="CapabilityTags" [(ngModel)]="CapabilityTags" placeholder="Capability Tags" [formControl]="form.controls['CapabilityTags']">
        <option [ngValue]="undefined" disabled selected> Select Program Tags</option>
        <option>Active</option>
        <option>blog</option>
        <option>Inactive</option>
      </select>
      <ul class="hp_blk">
        <li *ngIf="form.controls['CapabilityTags'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>
  </div>-->

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.CapabilityTags.valid && form.controls.CapabilityTags.errors && form.controls.CapabilityTags.dirty && form.get('CapabilityTags').touched,
                        'text-success': form.controls.CapabilityTags.valid && form.controls.CapabilityTags.dirty}">
                <label for="CapabilityTags">CapabilityTags</label>
                <input type="text" class="form-control tcslgn_inp" id="CapabilityTags" placeholder="Ex:Coach,Coach One" [(ngModel)]="CapabilityTags" [formControl]="form.controls['CapabilityTags']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['CapabilityTags'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>



            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityStartDate.valid && form.controls.CapabilityStartDate.errors && form.controls.CapabilityStartDate.dirty && form.get('CapabilityStartDate').touched,
                                    'text-success': form.controls.CapabilityStartDate.valid && form.controls.CapabilityStartDate.dirty}">
                <label for="CapabilityStartDate">Capability Start Date </label>
                <input type="date" class="form-control tcslgn_inp" id="CapabilityStartDate" placeholder="Capability Start Date" [(ngModel)]="CapabilityStartDate" [formControl]="form.controls['CapabilityStartDate']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityStartDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>



            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityValidTill.valid && form.controls.CapabilityValidTill.errors && form.controls.CapabilityValidTill.dirty && form.get('CapabilityValidTill').touched,
                                    'text-success': form.controls.CapabilityValidTill.valid && form.controls.CapabilityValidTill.dirty}">
                <label for="CapabilityValidTill">Capability Valid Till</label>
                <input type="date" class="form-control tcslgn_inp" id="CapabilityValidTill" placeholder="Capability Valid Till" [(ngModel)]="CapabilityValidTill" [formControl]="form.controls['CapabilityValidTill']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityValidTill'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
                <div class="validation-error" style="color:red" *ngIf="CapabilityStartDate > CapabilityValidTill">
                  End Date Should Be Greater Than Start Date
                </div>
              </div>
            </div>



            <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <div [ngClass]="{'has-error' : !form.controls.CapabilityActualPrice.valid && form.controls.CapabilityActualPrice.errors && form.controls.CapabilityActualPrice.dirty && form.get('CapabilityActualPrice').touched,
                          'text-success': form.controls.CapabilityActualPrice.valid && form.controls.CapabilityActualPrice.dirty}">
      <label for="CapabilityActualPrice">CapabilityActualPrice</label>
      <input type="text" class="form-control tcslgn_inp" id="CapabilityActualPrice" placeholder="CapabilityActualPrice" [(ngModel)]="CapabilityActualPrice" [formControl]="form.controls['CapabilityActualPrice']" />
      <ul class="hp_blk">
        <li *ngIf="form.controls['CapabilityActualPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>
  </div>-->
            <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <div [ngClass]="{'has-error' : !form.controls.CapabilityDiscountPrice.valid && form.controls.CapabilityDiscountPrice.errors && form.controls.CapabilityDiscountPrice.dirty && form.get('CapabilityDiscountPrice').touched,
                          'text-success': form.controls.CapabilityDiscountPrice.valid && form.controls.CapabilityDiscountPrice.dirty}">
      <label for="CapabilityDiscountPrice">CapabilityDiscountPrice</label>
      <input type="text" class="form-control tcslgn_inp" id="CapabilityDiscountPrice" placeholder="CapabilityDiscountPrice" [(ngModel)]="CapabilityDiscountPrice" [formControl]="form.controls['CapabilityDiscountPrice']" />
      <ul class="hp_blk">
        <li *ngIf="form.controls['CapabilityDiscountPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>
  </div>-->


            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityAccessType.valid && form.controls.CapabilityAccessType.errors && form.controls.CapabilityAccessType.dirty && form.get('CapabilityAccessType').touched,
                                    'text-success': form.controls.CapabilityAccessType.valid && form.controls.CapabilityAccessType.dirty}">
                <label for="CapabilityAccessType">Capability Access Type</label>
                <!--<input type="text" class="form-control tcslgn_inp" id="ProgramAccessType" placeholder="ProgramAccessType" [(ngModel)]="ProgramAccessType" [formControl]="form.controls['ProgramAccessType']" />-->
                <select class="form-control tcslgn_inp" id="CapabilityAccessType" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="CapabilityAccessType" [(ngModel)]="CapabilityAccessType" placeholder="Capability Access Type" [formControl]="form.controls['CapabilityAccessType']">
                  <option [ngValue]="undefined" disabled selected> Select AccessType</option>
                  <option>Public</option>
                  <option>Private</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityAccessType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>


            <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <div [ngClass]="{'has-error' : !form.controls.CapabilityPlatforms.valid && form.controls.CapabilityPlatforms.errors && form.controls.CapabilityPlatforms.dirty && form.get('CapabilityPlatforms').touched,
                          'text-success': form.controls.CapabilityPlatforms.valid && form.controls.CapabilityPlatforms.dirty}">
      <label for="CapabilityPlatforms">Capability Plat forms</label>
      <select class="form-control tcslgn_inp" id="CapabilityPlatforms" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="CapabilityPlatforms" [(ngModel)]="CapabilityPlatforms" placeholder="Capability Plat forms" [formControl]="form.controls['CapabilityPlatforms']">
        <option [ngValue]="undefined" disabled selected> Select ProgramPlatforms</option>
        <option>mobile</option>
        <option>web</option>
        <option>Inactive</option>
      </select>
      <ul class="hp_blk">
        <li *ngIf="form.controls['CapabilityPlatforms'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>
  </div>-->

            <div class="col-12 col-md-6 mb-1">

              <div [ngClass]="{'has-error' : !form.controls.CapabilityPlatforms.valid && form.controls.CapabilityPlatforms.errors && form.controls.CapabilityPlatforms.dirty && form.get('CapabilityPlatforms').touched,
                        'text-success': form.controls.CapabilityPlatforms.valid && form.controls.CapabilityPlatforms.dirty}">
                <label for="CapabilityPlatforms">CapabilityPlatforms</label>
                <input type="text" class="form-control tcslgn_inp" id="CapabilityPlatforms" placeholder="Ex:Coach,Coach One" [(ngModel)]="CapabilityPlatforms" [formControl]="form.controls['CapabilityPlatforms']" />
              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['CapabilityPlatforms'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <!--<div [ngClass]="{'has-error' : !form.controls.ProgramCoverMediaFile.valid && form.controls.ProgramCoverMediaFile.errors && form.controls.ProgramCoverMediaFile.dirty && form.get('ProgramCoverMediaFile').touched,
    'text-success': form.controls.ProgramCoverMediaFile.valid && form.controls.ProgramCoverMediaFile.dirty}">-->
              <label for="CapabilityCoverMediaFile">Program Cover Media File</label>
              <input type="file" class="form-control tcslgn_inp" id="CapabilityCoverMediaFile" placeholder="Capability Cover Media File" />
              <!--<ul class="hp_blk">
        <li *ngIf="form.controls['ProgramCoverMediaFile'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>-->
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityListedPrice.valid && form.controls.CapabilityListedPrice.errors && form.controls.CapabilityListedPrice.dirty && form.get('CapabilityListedPrice').touched,
                                    'text-success': form.controls.CapabilityListedPrice.valid && form.controls.CapabilityListedPrice.dirty}">
                <label for="CapabilityListedPrice">Capability Listed Price</label>
                <input type="text" class="form-control tcslgn_inp" id="CapabilityListedPrice" placeholder="CapabilityListedPrice" [(ngModel)]="CapabilityListedPrice" [formControl]="form.controls['CapabilityListedPrice']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityListedPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityDiscountPrice.valid && form.controls.CapabilityDiscountPrice.errors && form.controls.CapabilityDiscountPrice.dirty && form.get('CapabilityDiscountPrice').touched,
                                    'text-success': form.controls.CapabilityDiscountPrice.valid && form.controls.CapabilityDiscountPrice.dirty}">
                <label for="CapabilityDiscountPrice">Capability Discount Price</label>
                <input type="text" class="form-control tcslgn_inp" id="CapabilityDiscountPrice" placeholder="Capability Discounted Price" [(ngModel)]="CapabilityDiscountPrice" [formControl]="form.controls['CapabilityDiscountPrice']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityDiscountPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityStatus.valid && form.controls.CapabilityStatus.errors && form.controls.CapabilityStatus.dirty && form.get('CapabilityStatus').touched,
                                    'text-success': form.controls.CapabilityStatus.valid && form.controls.CapabilityStatus.dirty}">
                <label for="CapabilityStatus">Capability Status</label>
                <select class="form-control tcslgn_inp" id="CapabilityStatus" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="CapabilityStatus" [(ngModel)]="CapabilityStatus" placeholder="Capability Status" [formControl]="form.controls['CapabilityStatus']">
                  <option [ngValue]="undefined" disabled selected> Select Status</option>
                  <option>Active</option>
                  <option>InActive</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.CapabilityDependency.valid && form.controls.CapabilityDependency.errors && form.controls.CapabilityDependency.dirty && form.get('CapabilityDependency').touched,
                                    'text-success': form.controls.CapabilityDependency.valid && form.controls.CapabilityDependency.dirty}">
                <label for="CapabilityDependency">Capability Dependency</label>
                <select class="form-control tcslgn_inp" id="CapabilityDependency" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="CapabilityDependency" [(ngModel)]="CapabilityDependency" placeholder="Capability Status" [formControl]="form.controls['CapabilityDependency']">
                  <option [ngValue]="undefined" disabled selected> Select Dependency</option>
                  <option>Mutual Dependent</option>
                  <option>Mutual Independent</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['CapabilityDependency'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>











            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.MetaTitle.valid && form.controls.MetaTitle.errors && form.controls.MetaTitle.dirty && form.get('MetaTitle').touched,
                        'text-success': form.controls.MetaTitle.valid && form.controls.MetaTitle.dirty}">
                <label for="MetaTitle">Meta Title</label>
                <input type="text" class="form-control" id="MetaTitle" placeholder="MetaTitle" [(ngModel)]="MetaTitle" [formControl]="form.controls['MetaTitle']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['MetaTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.MetaKeywords.valid && form.controls.MetaKeywords.errors && form.controls.MetaKeywords.dirty && form.get('MetaKeywords').touched,
                        'text-success': form.controls.MetaKeywords.valid && form.controls.MetaKeywords.dirty}">
                <label for="MetaKeywords">Meta Keywords</label>
                <input type="text" class="form-control" id="MetaKeywords" placeholder="MetaKeywords" [(ngModel)]="MetaKeywords" [formControl]="form.controls['MetaKeywords']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['MetaKeywords'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.MetaDescrition.valid && form.controls.MetaDescrition.errors && form.controls.MetaDescrition.dirty && form.get('MetaDescrition').touched,
                        'text-success': form.controls.MetaDescrition.valid && form.controls.MetaDescrition.dirty}">
                <label for="MetaDescrition">Meta Descrition</label>
                <input type="text" class="form-control" id="MetaDescrition" placeholder="MetaDescrition" [(ngModel)]="MetaDescrition" [formControl]="form.controls['MetaDescrition']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['MetaDescrition'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label class="custom-control custom-checkbox mb-3" for="CapabilityIsTracking">

                <input type="checkbox" [checked]="CapabilityIsTracking?'checked':''" [(ngModel)]="CapabilityIsTracking" name="CapabilityIsTracking" id="CapabilityIsTracking" [formControl]="form.controls['CapabilityIsTracking']" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Capability Is Tracking</span>
              </label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label class="custom-control custom-checkbox mb-3" for="CapabilityIsFree">

                <input type="checkbox" [checked]="CapabilityIsFree?'checked':''" [(ngModel)]="CapabilityIsFree" name="CapabilityIsFree" id="CapabilityIsFree" [formControl]="form.controls['CapabilityIsFree']" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Capability Is Free</span>
              </label>
            </div>

          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>


<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>



