<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="CapabilitiesUpdateFormGroup" (ngSubmit)="onUpdateCapabilities(capabilities)" class="tcs_licfrm">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityName">CapabilityName</label>
            <input type="text" class="form-control tcslgn_inp" id="capabilities.CapabilityName" placeholder="CapabilityName" [(ngModel)]="capabilities.CapabilityName" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityName']" />
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramStr_Id">ProgramStrName</label>


              <select id="ProgramStr_Id" class="form-control" name="ProgramStr_Id" (change)="test($event)" [(ngModel)]="capabilities.ProgramStr_Id" formControlName="capabilities.ProgramStr_Id">

                <option *ngFor="let item of listofprogramstructure" [value]="item.Id">{{item.ProgramStrName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.ProgramStr_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">


            <label for="ProgramCategory_Id">ProgramCategoryName :</label>
            <div class="multiselect">
              <div class="selectBox" (click)="ProgramCategorytest()">
                <select class="form-control lg_email reg_email prefbx"
                        placeholder="ex : Football, Cricket" id="ProgramCategory"
                        [style.background-image]="'url(\'assets/images/down-arrow2.png\')'"
                        [(ngModel)]="capabilities.ProgramCategory_Id" name="ProgramCategory_Id" (click)="ProgramCategorytest()" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.ProgramCategory_Id']">

                  <option>Please Select options </option>

                </select>
                <div class="overSelect"> </div>
              </div>
              <div *ngIf="secret">
                <div id="ProgramCategory" *ngFor="let item of listofprogramcategory">
                  <label for="one">
                    <input type="checkbox" id="one" value="{{item.Id}}" [checked]="capabilities.ProgramCategory_Id.includes(item.Id)?'checked':''" (change)="Programcategory(item.Id)" />{{item.ProgramCategoryName}}
                  </label>

                </div>
              </div>

            </div>



          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityDescription">CapabilityDescription</label>
            <input type="text" class="form-control tcslgn_inp" id="capabilities.CapabilityDescription" placeholder="CapabilityDescription" [(ngModel)]="capabilities.CapabilityDescription" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityDescription']" />
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilitySynopsis">CapabilitySynopsis</label>
            <input type="text" class="form-control tcslgn_inp" id="capabilities.CapabilitySynopsis" placeholder="CapabilitySynopsis" [(ngModel)]="capabilities.CapabilitySynopsis" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilitySynopsis']" />
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilitySynopsis'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityCoverPicture">CapabilityCoverPicture</label>
            <input type="file" class="form-control tcslgn_inp" id="CapabilityCoverPicture" />
            <!--<ul class="hp_blk">
      <li *ngIf="programmanagementUpdateFormGroup.controls['programmanagement.ProgramCoverPicture'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>-->
          </div>




          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityType">CapabilityType</label>
            <select class="form-control tcslgn_inp" id="capabilities.CapabilityType" name="CapabilityType" [(ngModel)]="capabilities.CapabilityType" placeholder="CapabilityType" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityType']">
              <option [ngValue]="undefined" disabled selected> Select ProgramType</option>
              <option>audio</option>
              <option>vedio</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityCategory">CapabilityCategory</label>
            <select class="form-control tcslgn_inp" id="capabilities.CapabilityCategory" name="CapabilityCategory" [(ngModel)]="capabilities.CapabilityCategory" placeholder="CapabilityCategory" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityCategory']">
              <option [ngValue]="undefined" disabled selected> Select CapabilityCategory</option>
              <option>Active</option>
              <option>blog</option>
              <option>Inactive</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityCategory'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>






          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">

    <label for="CapabilityTags">CapabilityTags</label>
    <select class="form-control tcslgn_inp" id="capabilities.CapabilityTags" name="CapabilityTags" [(ngModel)]="capabilities.CapabilityTags" placeholder="CapabilityTags" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityTags']">
      <option [ngValue]="undefined" disabled selected> Select ProgramTags</option>
      <option>Active</option>
      <option>blog</option>
      <option>Inactive</option>
    </select>
    <ul class="hp_blk">
      <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityTags'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->

          <div class="col-12 col-md-6 mb-1">


            <label for="CapabilityTags">CapabilityTags</label>
            <input type="text" class="form-control tcslgn_inp" id="CapabilityTags" placeholder="Ex:Coach,Coach One" [(ngModel)]="capabilities.CapabilityTags" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityTags']" />

            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityTags'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>




          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityStartDate">CapabilityStartDate</label>
            <input type="date" class="form-control tcslgn_inp" id="capabilities.CapabilityStartDate" placeholder="CapabilityStartDate" [(ngModel)]="capabilities.CapabilityStartDate" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityStartDate']" />
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityStartDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityValidTill">CapabilityValidTill</label>
            <input type="date" class="form-control tcslgn_inp" id="capabilities.CapabilityValidTill" placeholder="CapabilityValidTill" [(ngModel)]="capabilities.CapabilityValidTill" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityValidTill']" />
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityValidTill'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityListedPrice">CapabilityListedPrice</label>
            <input type="text" class="form-control tcslgn_inp" id="capabilities.CapabilityListedPrice" placeholder="CapabilityListedPrice" [(ngModel)]="capabilities.CapabilityListedPrice" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityListedPrice']" />
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityListedPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityDiscountPrice">CapabilityDiscountPrice</label>
            <input type="text" class="form-control tcslgn_inp" id="capabilities.CapabilityDiscountPrice" placeholder="CapabilityDiscountPrice" [(ngModel)]="capabilities.CapabilityDiscountPrice" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityDiscountPrice']" />
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityDiscountPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityAccessType">CapabilityAccessType</label>
            <!--<input type="text" class="form-control" id="programmanagement.ProgramAccessType" placeholder="ProgramAccessType" [(ngModel)]="programmanagement.ProgramAccessType" [formControl]="programmanagementUpdateFormGroup.controls['programmanagement.ProgramAccessType']" />-->
            <select class="form-control tcslgn_inp" id="capabilities.CapabilityAccessType" name="CapabilityAccessType" [(ngModel)]="capabilities.CapabilityAccessType" placeholder="CapabilityAccessType" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityAccessType']">
              <option [ngValue]="undefined" disabled selected> Select CapabilityAccessType</option>
              <option>Public</option>
              <option>Private</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityAccessType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

           
              <label for="CapabilityPlatforms">CapabilityPlatforms</label>
              <input type="text" class="form-control tcslgn_inp" id="CapabilityPlatforms" placeholder="Ex:Coach,Coach One" [(ngModel)]="capabilities.CapabilityPlatforms" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityPlatforms']" />
            
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityPlatforms'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>





          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">

    <label for="CapabilityPlatforms">CapabilityPlatforms</label>
    <select class="form-control tcslgn_inp" id="capabilities.CapabilityPlatforms" name="CapabilityPlatforms" [(ngModel)]="capabilities.CapabilityPlatforms" placeholder="CapabilityPlatforms" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityPlatforms']">
      <option [ngValue]="undefined" disabled selected> Select CapabilityPlatforms</option>
      <option>mobile</option>
      <option>web</option>
      <option>Inactive</option>
    </select>
    <ul class="hp_blk">
      <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityPlatforms'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityCoverMediaFile">CapabilityCoverMediaFile</label>
            <input type="file" class="form-control tcslgn_inp" id="CapabilityCoverMediaFile" />
            <!--<!--<ul class="hp_blk">
      <li *ngIf="programmanagementUpdateFormGroup.controls['programmanagement.ProgramCoverMediaFile'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>-->
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityDependency">Capability Dependency</label>
            <select class="form-control tcslgn_inp" id="CapabilityDependency" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="capabilities.CapabilityDependency" [(ngModel)]="capabilities.CapabilityDependency" placeholder="Capability Status" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityDependency']">
              <option [ngValue]="undefined" disabled selected> Select Dependency</option>
              <option>Mutual Dependent</option>
              <option>Mutual Independent</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityDependency'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="CapabilityStatus">CapabilityStatus</label>
            <select class="form-control tcslgn_inp" id="capabilities.CapabilityStatus" name="CapabilityStatus" [(ngModel)]="capabilities.CapabilityStatus" placeholder="CapabilityStatus" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityStatus']">
              <option [ngValue]="undefined" disabled selected> Select CapabilityStatus</option>
              <option>Active</option>
              <option>InActive</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.MetaTitle.valid && form.controls.MetaTitle.errors && form.controls.MetaTitle.dirty && form.get('MetaTitle').touched,
    'text-success': form.controls.MetaTitle.valid && form.controls.MetaTitle.dirty}">-->
            <label for="MetaTitle">MetaTitle</label>
            <input type="text" class="form-control tcslgn_inp" id="capabilities.CapabilitySocialElements.MetaTitle" placeholder="MetaTitle" [(ngModel)]="capabilities.CapabilitySocialElements.MetaTitle" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilitySocialElements.MetaTitle']" />
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilitySocialElements.MetaTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.MetaKeywords.valid && form.controls.MetaKeywords.errors && form.controls.MetaKeywords.dirty && form.get('MetaKeywords').touched,
    'text-success': form.controls.MetaKeywords.valid && form.controls.MetaKeywords.dirty}">-->
            <label for="MetaKeywords">MetaKeywords</label>
            <input type="text" class="form-control tcslgn_inp" id="capabilities.SocialElements.MetaKeywords" placeholder="MetaKeywords" [(ngModel)]="capabilities.CapabilitySocialElements.MetaKeywords" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilitySocialElements.MetaKeywords']" />
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilitySocialElements.MetaKeywords'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.MetaDescrition.valid && form.controls.MetaDescrition.errors && form.controls.MetaDescrition.dirty && form.get('MetaDescrition').touched,
    'text-success': form.controls.MetaDescrition.valid && form.controls.MetaDescrition.dirty}">-->
            <label for="MetaDescrition">MetaDescrition</label>
            <input type="text" class="form-control tcslgn_inp" id="capabilities.CapabilitySocialElements.MetaDescrition" placeholder="MetaDescrition" [(ngModel)]="capabilities.CapabilitySocialElements.MetaDescrition" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilitySocialElements.MetaDescrition']" />
            <ul class="hp_blk">
              <li *ngIf="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilitySocialElements.MetaDescrition'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <label class="custom-control custom-checkbox mb-3" for="CapabilityIsTracking">
              <!--<input type="checkbox" class="custom-control-input" [checked]="account.IsMobileEnableOrNot?'checked':''" [(ngModel)]="account.IsMobileEnableOrNot" name="account.IsMobileEnableOrNot" id="account.IsMobileEnableOrNot">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">IsMobileEnableOrNot</span>-->
              <input type="checkbox" [checked]="CapabilityIsTracking?'checked':''" [(ngModel)]="capabilities.CapabilityIsTracking" name="capabilities.CapabilityIsTracking" id="capabilities.CapabilityIsTracking" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityIsTracking']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"> CapabilityIsTracking</span>
            </label>

          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="CapabilityIsFree">

              <input type="checkbox" [checked]="CapabilityIsFree?'checked':''" [(ngModel)]="capabilities.CapabilityIsFree" name="capabilities.CapabilityIsFree" id="CapabilityIsFree" [formControl]="CapabilitiesUpdateFormGroup.controls['capabilities.CapabilityIsFree']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Capability Is Free</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
