<div class="container-fluid memberform">
    <div class="row">
       <div class="card">
         <div class="card-body">
            <div class="col-12">
                <form [formGroup]="licenseUpdateFormGroup" (ngSubmit)="onUpdateLicense(this.license)" class="tcs_licfrm">
                    <div class="row">
    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LegalName">Legal Name</label>
                                <input type="text" class="form-control tcslgn_inp" id="LegalName" placeholder="Legal Name" [(ngModel)]="license.LegalName" readonly="readonly" [formControl]="licenseUpdateFormGroup.controls['license.LegalName']" />
                                <ul class="hp_blk">
                                    <li *ngIf="licenseUpdateFormGroup.controls['license.LegalName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                                </ul>
                            </div>
                            <!--</div>-->
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CompanyName">Company Name</label>
                                <input type="text" class="form-control tcslgn_inp" id="CompanyName" placeholder="Company Name" [(ngModel)]="license.CompanyName" readonly="readonly" [formControl]="licenseUpdateFormGroup.controls['license.CompanyName']" />
                                <ul class="hp_blk">
                                    <li *ngIf="licenseUpdateFormGroup.controls['license.CompanyName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                                </ul>
                            </div>
                            <!--</div>-->
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="RegistrationNumber">Registration Number</label>
                                <input type="text" class="form-control tcslgn_inp" id="RegistrationNumber" placeholder="RegistrationNumber Number" readonly="readonly" [(ngModel)]="license.RegistrationNumber" [formControl]="licenseUpdateFormGroup.controls['license.RegistrationNumber']" />
                                <ul class="hp_blk">
                                    <li *ngIf="licenseUpdateFormGroup.controls['license.RegistrationNumber'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                                </ul>
                            </div>
                            <!--</div>-->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CompanyType">Company Type</label>
                                <input type="text" class="form-control tcslgn_inp" id="CompanyType" readonly="readonly" [(ngModel)]="license.CompanyType" [formControl]="licenseUpdateFormGroup.controls['license.CompanyType']" />
    
                                <ul class="hp_blk">
                                    <li *ngIf="licenseUpdateFormGroup.controls['license.CompanyType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="AddressLine1">Address Line1</label>
                            <input type="text" class="form-control tcslgn_inp" id="AddressLine1" readonly="readonly" [(ngModel)]="license.AddressLine1" [formControl]="licenseUpdateFormGroup.controls['license.AddressLine1']" />
                            <ul class="hp_blk">
                                <li *ngIf="licenseUpdateFormGroup.controls['license.AddressLine1'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                            </ul>
                           </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                              
                            <label for="AddressLine2">Address Line2</label>
                            <input type="text" class="form-control tcslgn_inp" id="AddressLine2" readonly="readonly" [(ngModel)]="license.AddressLine2" [formControl]="licenseUpdateFormGroup.controls['license.AddressLine2']" />
                            <ul class="hp_blk">
                                <li *ngIf="licenseUpdateFormGroup.controls['license.AddressLine2'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                            </ul>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                          <div class="form-group">
                            
                              <label for="EstablishedDate">Established Date </label>
                              <input type="date" class="form-control tcslgn_inp" id="webclient.EstablishedDate" placeholder="Established Date" readonly="readonly" [(ngModel)]="license.EstablishedDate" [formControl]="licenseUpdateFormGroup.controls['license.EstablishedDate']" />
                              <ul class="hp_blk">
                                  <li *ngIf="licenseUpdateFormGroup.controls['license.EstablishedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                              </ul>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
    
                                <label for="PrimaryAdminEmailID">Primary Admin Email ID</label>
                                <input type="email" class="form-control tcslgn_inp" id="PrimaryAdminEmailID" [(ngModel)]="license.PrimaryAdminEmailID" readonly="readonly" [formControl]="licenseUpdateFormGroup.controls['license.PrimaryAdminEmailID']" />
                                <ul class="hp_blk">
                                    <li *ngIf="licenseUpdateFormGroup.controls['license.PrimaryAdminEmailID'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                                </ul>
                              </div>
    
                        </div>
    
                        <div class="col-md-4">
                            <div lang="form-group">
                                <label for="CompanyPhone">Company Phone</label>
                                <input type="text" class="form-control" id="CompanyPhone" placeholder="Company Phone" readonly="readonly" [(ngModel)]="license.CompanyPhone" [formControl]="licenseUpdateFormGroup.controls['license.CompanyPhone']" />
                                <ul class="hp_blk">
                                    <li *ngIf="licenseUpdateFormGroup.controls['license.CompanyPhone'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                                </ul>
                            </div>
                            <!--</div>-->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CompanyEmailID">Company Email ID</label>
                                <input type="email" class="form-control tcslgn_inp" id="CompanyEmailID" [(ngModel)]="license.CompanyEmailID" [formControl]="licenseUpdateFormGroup.controls['license.CompanyEmailID']" readonly="readonly" />
                                <ul class="hp_blk">
                                    <li *ngIf="licenseUpdateFormGroup.controls['license.CompanyEmailID'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                                </ul>
                            </div>
                            <!--</div>-->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                              
                            <label for="PrimaryAdminPhone">Primary AdminPhone</label>
                            <input type="text" class="form-control tcslgn_inp" id="PrimaryAdminPhone" placeholder="Primary Admin Phone" readonly="readonly" [(ngModel)]="license.PrimaryAdminPhone" [formControl]="licenseUpdateFormGroup.controls['license.PrimaryAdminPhone']" />
                            <ul class="hp_blk">
                                <li *ngIf="licenseUpdateFormGroup.controls['license.PrimaryAdminPhone'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                            </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="InstancePublicIPAddress">Public IP Address</label>
                                <input type="text" class="form-control tcslgn_inp" id="InstancePublicIPAddress" readonly="readonly" placeholder="Public IP Address" [(ngModel)]="license.InstancePublicIPAddress" [formControl]="licenseUpdateFormGroup.controls['license.InstancePublicIPAddress']" />
                                <ul class="hp_blk">
                                    <li *ngIf="licenseUpdateFormGroup.controls['license.InstancePublicIPAddress'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                                </ul>
                            </div>
                            <!--</div>-->
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Client_Id">Client Info</label>
    
                                <select id="Client_Id" class="form-control" name="Client_Id" (change)="client($event)" [(ngModel)]="license.Client_Id" formControlName="license.Client_Id">
    
                                    <option *ngFor="let item of webclientslist" [value]="item._id">{{item.CompanyName}}</option>
    
                                </select>
    
                                <ul class="help-block">
                                    <li *ngIf="licenseUpdateFormGroup.controls['license.Client_Id'].hasError('required') && isSubmitted" class="err">Client Name is Required</li>
                                </ul>
    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Instance_Id">Instance Name</label>
    
                                <select id="Instance_Id" class="form-control" name="Instance_Id" (change)="test($event)" [(ngModel)]="license.Instance_Id" formControlName="license.Instance_Id">
    
                                    <option *ngFor="let item of listofinstances" [value]="item._id">{{item.InstanceName}}</option>
    
                                </select>
    
                                <ul class="help-block">
                                    <li *ngIf="licenseUpdateFormGroup.controls['license.Instance_Id'].hasError('required') && isSubmitted" class="err">Instance Name is Required</li>
                                </ul>
    
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                              
                            <label for="City">City</label>
                            <select id="license.City" class="form-control tcslgn_inp" [(ngModel)]="license.City" [formControl]="licenseUpdateFormGroup.controls['license.City']">
                                <option value="" selected>select</option>
                                <option>Kolkata</option>
                                <option>Mumbai</option>
                                <option>Hyderabad</option>
                            </select>
                            <ul class="hp_blk">
                                <li *ngIf="licenseUpdateFormGroup.controls['license.City'].hasError('required') && isSubmitted" class="err">City is Required</li>
                            </ul>
                            </div>
                        </div>
    
                        <div class="col-md-4">
    <div class="form-group">
      
        <label for="State">State</label>
        <select class="form-control tcslgn_inp" id="license.State" [(ngModel)]="license.State" placeholder="State" [formControl]="licenseUpdateFormGroup.controls['license.State']">
            <option value="" selected>select</option>
            <option>Andhrapradesh</option>
            <option>Tamilnadu</option>
            <option>Telangana</option>
        </select>
        <ul class="hp_blk">
            <li *ngIf="licenseUpdateFormGroup.controls['license.State'].hasError('required') && isSubmitted" class="err">State is Required</li>
        </ul>
    </div>
                        </div>
    
                        <div class="col-md-4">
                          <div class="form-group">
                            
                              <label for="Country">Country</label>
                              <select id="license.Country" class="form-control tcslgn_inp" [(ngModel)]="license.Country" placeholder="Country" [formControl]="licenseUpdateFormGroup.controls['license.Country']">
                                  <option value="" selected>select</option>
                                  <option>India</option>
                                  <option>Australia</option>
                                  <option>Newzealand</option>
                              </select>
                              <ul class="hp_blk">
                                  <li *ngIf="licenseUpdateFormGroup.controls['license.Country'].hasError('required') && isSubmitted" class="err">Country is Required</li>
                              </ul>
                          </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                              
                            <label for="ZipCode">ZIP Code</label>
                            <input type="text" id="license.ZipCode" class="form-control tcslgn_inp" placeholder="ZIP Code" [(ngModel)]="license.ZipCode" [formControl]="licenseUpdateFormGroup.controls['license.ZipCode']" pattern="[0-9]*" maxlength="5" />
                            <ul class="hp_blk">
                                <li *ngIf="licenseUpdateFormGroup.controls['license.ZipCode'].hasError('required') && isSubmitted" class="err">ZIP Code is Required</li>
                            </ul>
                            <div [hidden]="licenseUpdateFormGroup.controls['license.ZipCode'].valid || licenseUpdateFormGroup.controls['license.ZipCode'].pristine">
    
                                <div [hidden]="!licenseUpdateFormGroup.controls['license.ZipCode'].hasError('minlength')" class="err">Company Phone Number Should be 15 digit</div>
                                <!--<div [hidden]="!form.controls.AdminPhoneNumber.hasError('required')" class="err">Mobile is required</div>-->
                                <div [hidden]="!licenseUpdateFormGroup.controls['license.ZipCode'].hasError('pattern')" class="err">Please Enter Valid ZIP Code</div>
                            </div>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                          <div class="form-group">
                            
                              <label for="Industry">Industry</label>
                              <input type="text" id="license.Industry" maxlength="150" required pattern="[a-zA-Z][a-zA-Z ]+" class="form-control tcslgn_inp" placeholder="Industry" [(ngModel)]="license.Industry" [formControl]="licenseUpdateFormGroup.controls['license.Industry']" />
                              <ul class="hp_blk">
                                  <li *ngIf="licenseUpdateFormGroup.controls['license.Industry'].hasError('required') && isSubmitted" class="err">Industry is Required</li>
                              </ul>
                              <div [hidden]="licenseUpdateFormGroup.controls['license.Industry'].valid || licenseUpdateFormGroup.controls['license.Industry'].pristine" class="err">
                                  <!--<div [hidden]="!form.controls['InstanceName'].hasError('required')">Name is required</div>-->
                                  <div [hidden]="!licenseUpdateFormGroup.controls['license.Industry'].hasError('pattern')">Only alphabetsallowed</div>
                              </div>
                          </div>
                        </div>
    
                        <div class="col-md-4">
                          <div class="form-group">
                            
                              <label for="AreaOfBusiness">Area Of Business</label>
                              <input type="text" class="form-control tcslgn_inp" id="license.AreaOfBusiness" maxlength="150" required pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Area Of Business" [(ngModel)]="license.AreaOfBusiness" [formControl]="licenseUpdateFormGroup.controls['license.AreaOfBusiness']" />
                              <ul class="hp_blk">
                                  <li *ngIf="licenseUpdateFormGroup.controls['license.AreaOfBusiness'].hasError('required') && isSubmitted" class="err">Area Of Business is Required</li>
                              </ul>
                              <div [hidden]="licenseUpdateFormGroup.controls['license.AreaOfBusiness'].valid || licenseUpdateFormGroup.controls['license.AreaOfBusiness'].pristine" class="err">
                                  <!--<div [hidden]="!form.controls['InstanceName'].hasError('required')">Name is required</div>-->
                                  <div [hidden]="!licenseUpdateFormGroup.controls['license.AreaOfBusiness'].hasError('pattern')">Only alphabetsallowed</div>
                              </div>
                          </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                              
                            <label for="OperatingCountries">Operating Countries</label>
                            <input type="text" class="form-control tcslgn_inp" id="license.OperatingCountries" placeholder="Operating Countries" maxlength="150" [(ngModel)]="license.OperatingCountries" [formControl]="licenseUpdateFormGroup.controls['license.OperatingCountries']" />
                            <ul class="hp_blk">
                                <li *ngIf="licenseUpdateFormGroup.controls['license.OperatingCountries'].hasError('required') && isSubmitted" class="err">Operating Countries is Required</li>
                            </ul>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                          <div class="form-group">
                            
                              <label for="CompanyWebsite">Company Website URL</label>
                              <input type="text" class="form-control tcslgn_inp" id="license.CompanyWebsite" placeholder="Company Website URL" [(ngModel)]="license.CompanyWebsite" [formControl]="licenseUpdateFormGroup.controls['license.CompanyWebsite']" />
                              <ul class="hp_blk">
                                  <li *ngIf="licenseUpdateFormGroup.controls['license.CompanyWebsite'].hasError('required') && isSubmitted" class="err">Company Website is Required</li>
                              </ul>
                          </div>
                        </div>
    
                        <div class="col-md-4">
                          <div class="form-group">
                            
                              <label for="CompanySocialUrls">Company Social Url</label>
                              <input type="text" class="form-control tcslgn_inp" id="license.CompanySocialUrls" placeholder="Company Social URL" [(ngModel)]="license.CompanySocialUrls" [formControl]="licenseUpdateFormGroup.controls['license.CompanySocialUrls']" />
                              <ul class="hp_blk">
                                  <li *ngIf="licenseUpdateFormGroup.controls['license.CompanySocialUrls'].hasError('required') && isSubmitted" class="err">Company Social Url is Required</li>
                              </ul>
                          </div>
                        </div>
    
                        <div class="col-md-4">
                          <div class="fomr-group">
                            
                              <label for="PrimaryAdminPassword">Primary Admin Password</label>
                              <input type="password" class="form-control tcslgn_inp" id="license.PrimaryAdminPassword" placeholder="Primary Admin Password" [(ngModel)]="license.PrimaryAdminPassword" [formControl]="licenseUpdateFormGroup.controls['license.PrimaryAdminPassword']" />
                              <ul class="hp_blk">
                                  <li *ngIf="licenseUpdateFormGroup.controls['license.PrimaryAdminPassword'].hasError('required') && isSubmitted" class="err">Primary Admin Password is Required</li>
                              </ul>
                          </div>
                        </div>
    
                        <!--<div class="col-md-4">
                          <div class="form-group">
                            
                              <label for="ClientAgentDetails">Client Agent Details</label>
                              <input type="text" class="form-control tcslgn_inp" id="license.ClientAgentDetails" placeholder="Client Agent Details" maxlength="150" required pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="license.ClientAgentDetails" [formControl]="licenseUpdateFormGroup.controls['license.ClientAgentDetails']" />
                              <ul class="hp_blk">
                                  <li *ngIf="licenseUpdateFormGroup.controls['license.ClientAgentDetails'].hasError('required') && isSubmitted" class="err">Client Agent Details is Required</li>
                              </ul>
                              <div [hidden]="licenseUpdateFormGroup.controls['license.ClientAgentDetails'].valid || licenseUpdateFormGroup.controls['license.ClientAgentDetails'].pristine" class="err">
                                  
                                  <div [hidden]="!licenseUpdateFormGroup.controls['license.ClientAgentDetails'].hasError('pattern')">Only alphabetsallowed</div>
                              </div>
                          </div>
                        </div>-->
    
                        <div class="col-md-4">
                          <div class="form-group">
                              <label for="RequestStatus">Request Status</label>
                            <select id="license.RequestStatus" class="form-control tcslgn_inp" [(ngModel)]="license.RequestStatus" placeholder="Country" [formControl]="licenseUpdateFormGroup.controls['license.RequestStatus']">
                                <option value="" selected>select</option>
                                <!--<option>Requestreceived</option>-->
                                <option>InProcess</option>
                                <!--<option>Approved</option>-->
                            </select>
                            <ul class="hp_blk">
                                <li *ngIf="licenseUpdateFormGroup.controls['license.RequestStatus'].hasError('required') && isSubmitted" class="err">Request Status is Required</li>
                            </ul>
                          </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                              
                            <label for="Remarks">Remarks</label>
                            <input type="text" class="form-control tcslgn_inp" id="license.Remarks" maxlength="150" required pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Remarks" [(ngModel)]="license.Remarks" [formControl]="licenseUpdateFormGroup.controls['license.Remarks']" />
                            <ul class="hp_blk">
                                <li *ngIf="licenseUpdateFormGroup.controls['license.Remarks'].hasError('required') && isSubmitted" class="err">Remarks is Required</li>
                            </ul>
                            <div [hidden]="licenseUpdateFormGroup.controls['license.Remarks'].valid || licenseUpdateFormGroup.controls['license.Remarks'].pristine" class="err">
                                <!--<div [hidden]="!form.controls['InstanceName'].hasError('required')">Name is required</div>-->
                                <div [hidden]="!licenseUpdateFormGroup.controls['license.Remarks'].hasError('pattern')">Only alphabetsallowed</div>
                            </div>
                            </div>
                        </div>
                        <!--<div class="col-md-4">
                          <div class="form-group">
                              <label for="DecodeScript">Decode Script </label>
                              <input type="text" class="form-control tcslgn_inp" id="license.DecodeScript" maxlength="150" required pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Decode Script" [(ngModel)]="license.DecodeScript" [formControl]="licenseUpdateFormGroup.controls['license.DecodeScript']" />
                              <ul class="hp_blk">
                                  <li *ngIf="licenseUpdateFormGroup.controls['license.DecodeScript'].hasError('required') && isSubmitted" class="err">Decode Script is Required</li>
                              </ul>
                              <div [hidden]="licenseUpdateFormGroup.controls['license.DecodeScript'].valid || licenseUpdateFormGroup.controls['license.DecodeScript'].pristine" class="err">
                                 
                                  <div [hidden]="!licenseUpdateFormGroup.controls['license.DecodeScript'].hasError('pattern')">Only alphabetsallowed</div>
                              </div>
                          </div>
                        </div>-->
                    </div>
    
                    <div class="col-md-12">
                        <div class="form-group form-group frm_btn">
                            <button type="submit" class="btn btn-info">Update</button>
                        </div>
                    </div>
                </form>
            </div>
         </div>
       </div>
    </div>
</div>
