<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <!--<h3>Create AccountManagement</h3>-->
      <!--popup content goes here-->
      <form [formGroup]="ViewEventtypeform" (ngSubmit)="onUpdateEventtype(eventtype)" class="tcs_licfrm">
        <div class="row">
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="MasterAccount_Id">MasterAccount Name</label>



              <select id="MasterAccount_Id" class="form-control" name="eventtype.MasterAccount_Id" (change)="test($event)" [(ngModel)]="eventtype.MasterAccount_Id" formControlName="eventtype.MasterAccount_Id">

                <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="ViewEventtypeform.controls['eventtype.MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">

            <!--<div [ngClass]="{'has-error' : !form.controls.Watch.valid && form.controls.Watch.errors && form.controls.Watch.dirty && form.get('Watch').touched,
    'text-success': form.controls.Watch.valid && form.controls.Watch.dirty}">-->
            <label for="EventName">Event Name</label>
            <input type="text" class="form-control tcslgn_inp" id="eventtype.EventName" name="eventtype.ProgramCategoryName" [(ngModel)]="eventtype.EventName" [formControl]="ViewEventtypeform.controls['eventtype.EventName']" />
            <!--</div>-->
            <ul class="hp_blk">
              <li *ngIf="ViewEventtypeform.controls['eventtype.EventName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="EventIcon">EventIcon</label>
              <input type="file" class="form-control tcslgn_inp" id="EventIcon" name="EventIcon" />
            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.Listen.valid && form.controls.Listen.errors && form.controls.Listen.dirty && form.get('Listen').touched,
    'text-success': form.controls.Listen.valid && form.controls.Listen.dirty}">-->
            <label for="EventDescription">Event Description </label>
            <input type="text" class="form-control tcslgn_inp" id="eventtype.EventDescription" name="eventtype.EventDescription" [(ngModel)]="eventtype.EventDescription" [formControl]="ViewEventtypeform.controls['eventtype.EventDescription']" />
            <ul class="hp_blk">
              <li *ngIf="ViewEventtypeform.controls['eventtype.EventDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.ProgramCategoryStatus.valid && form.controls.ProgramCategoryStatus.errors && form.controls.ProgramCategoryStatus.dirty && form.controls('ProgramCategoryStatus').touched,
              'text-success': form.controls.ProgramCategoryStatus.valid && form.controls.ProgramCategoryStatus.dirty}">-->
            <label for="EventStatus">EventStatus :</label>
            <select id="eventtype.EventStatus" class="form-control tcslgn_inp" name="eventtype.EventStatus" [(ngModel)]="eventtype.EventStatus" placeholder="EventStatus" [formControl]="ViewEventtypeform.controls['eventtype.EventStatus']">
              <option [ngValue]="undefined" disabled selected> Select Status</option>
              <option>Active</option>
              <option>InActive</option>

            </select>
            <ul class="hp_blk">
              <li *ngIf="ViewEventtypeform.controls['eventtype.EventStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
