<!--<p>
  viewportalmanagement works!
</p>-->
<!--<form >
  <div>
    <div class="row">
      <div class="col-12 col-sm-5 col-md-5">

        <table>
          <tr>
            <td>
              Portal Name
            </td>
            <td>
              <input type="text" class="form-control"value="{{edureka}}" name="" id="" />
            </td>
            <td></td>
          </tr>

          <tr>
            <td>
              Description
            </td>
            <td>
              <input type="text" class="form-control" name="" id="" />
            </td>
          </tr>
          <tr>
            Company
            <td>
              <input type="text" class="form-control" name="" id="" />
            </td>
          </tr>
          <tr>
            License
            <td>
              <input type="text" class="form-control" name="" id="" />
            </td>
          </tr>

          <!--   <tr>
    Permissions
    <td>
      <input type="text" [(ngModel)]="user.permissions" name="user.permissions" id="user.permissions" [formControl]="usersFormGroup.controls['user.permissions']" />
    </td>
  </tr>-->
<!--<tr>
        <td></td>
        <td>
          <button type="submit">Update</button>
        </td>
      </tr>
    </table>

  </div>





</div>-->
<!--[(ngModel)]="contracts.remarks"-->
<!--</div>
</form>-->

<form class="form-group">
  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <label for="email">Tracking ID</label>
    <input type="email" class="form-control" id="email" placeholder="">
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <label for="pwd">Tracking Name</label>
    <input type="text" class="form-control" id="pwd" placeholder="">
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <label for="pwd">Description</label>
    <!--<input type="text" class="form-control" id="pwd" placeholder="">-->
    <textarea rows="4" class="form-control" cols="50" placeholder="Enter Description" name="comment" form="usrform"></textarea>
  </div>
  <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <label for="pwd">License</label>
    <input type="text" class="form-control" id="pwd" placeholder="">
  </div>-->

  <button align="center" type="submit" class="btn btn-default">Submit</button>
</form>
