
<div class="container-fluid table_wrap">
 <div class="card">
   <div class="card-body">
     <div class="row">
       <div class="col-md-12">
         <div class="mid_table">
           <div class="row" *ngIf="message">
             <div class="col">
               <div class="d-flex justify-content-start">
                 <span class="mr-auto">
                   <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
                   <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>

                 </span>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-md-4">
               <div class="tlt_cnt">Total Instances:{{count}}</div>
             </div>
           </div>
           <div class="clearfix"></div>
           <div>
             <div class="form-group">
               <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
               <ul class=" rpt_stat">
                 <li> <button class="btn btn-primary" (click)="openCpopup()" type="button"><i class="fas fa-plus"></i> Create</button></li>
                 <li>  <a href="javascript:;" (click)="onExport()" class="down_rpt"><i class="fas fa-download"></i> Download Report</a></li>
                 <div class="clearfix"></div>
               </ul>
               <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
                 <option [value]="50">50</option>
                 <option [value]="100">100</option>
                 <option [value]="250">250</option>
                 <option [value]="500">500</option>
               </select>
             </div>
             <ng2-smart-table [settings]="settings" class="sai" [source]="source" (custom)="onEdit($event)">
             </ng2-smart-table>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
  </div>



<div class="modal hide" id="crpop" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" role="document">
      <div class="modal-header">
        <h3 class="pop_heading">Create a New Instance</h3>
        <hr />
        <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
        <!--<h3>Create AccountManagement</h3>-->
        <!--popup content goes here-->
      </div>
      <div class="modal-content">
        <div class="container-fluid memberform">
          <div class="row">
            <div class="col-12">
              <!--<h3>Create AccountManagement</h3>-->
              <!--popup content goes here-->
              <form [formGroup]="form" (ngSubmit)="onCreateInstance()" class="tcs_licfrm">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div [ngClass]="{'has-error' : !form.controls.InstanceName.valid && form.controls.InstanceName.errors && form.controls.InstanceName.dirty && form.get('InstanceName').touched,
                                  'text-success': form.controls.InstanceName.valid && form.controls.InstanceName.dirty}">
                        <label for="email">Instance Name</label>
                        <input type="text" class="form-control tcslgn_inp" id="InstanceName" maxlength="150"  placeholder="Instance Name" [(ngModel)]="InstanceName" [formControl]="form.controls['InstanceName']" />
                        <ul class="hp_blk">
                          <li *ngIf="form.controls['InstanceName'].hasError('required') && isSubmitted" class="err">Instance Name is Required</li>
                        </ul>
                        <div [hidden]="form.controls['InstanceName'].valid || form.controls['InstanceName'].pristine"
                             class="err">
                          <!--<div [hidden]="!form.controls['InstanceName'].hasError('required')">Name is required</div>-->
                          <div [hidden]="!form.controls['InstanceName'].hasError('pattern')">Only alphabetsallowed</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div [ngClass]="{'has-error' : !form.controls.ServerName.valid && form.controls.ServerName.errors && form.controls.ServerName.dirty && form.get('ServerName').touched,
                                  'text-success': form.controls.ServerName.valid && form.controls.ServerName.dirty}">
                        <label for="pwd">Server Name</label>
                        <input type="text" class="form-control tcslgn_inp" id="ServerName" maxlength="150" placeholder="Server Name" [(ngModel)]="ServerName" [formControl]="form.controls['ServerName']" />
                        <ul class="hp_blk">
                          <li *ngIf="form.controls['ServerName'].hasError('required') && isSubmitted" class="err">Server Name is Required</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <div [ngClass]="{'has-error' : !form.controls.OSDetails.valid && form.controls.OSDetails.errors && form.controls.OSDetails.dirty && form.get('OSDetails').touched,
                                  'text-success': form.controls.OSDetails.valid && form.controls.OSDetails.dirty}">
                        <label for="pwd">OS Details</label>

                        <input type="text" class="form-control tcslgn_inp" id="OSDetails" maxlength="150" placeholder="OS Details" [(ngModel)]="OSDetails" [formControl]="form.controls['OSDetails']" />
                        <ul class="hp_blk">
                          <li *ngIf="form.controls['OSDetails'].hasError('required') && isSubmitted" class="err">OS Details is Required</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div [ngClass]="{'has-error' : !form.controls.InstanceAdmin.valid && form.controls.InstanceAdmin.errors && form.controls.InstanceAdmin.dirty && form.get('InstanceAdmin').touched,
                                  'text-success': form.controls.InstanceAdmin.valid && form.controls.InstanceAdmin.dirty}">
                        <label for="pwd">Instance Admin</label>
                        <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                        <input type="text" class="form-control tcslgn_inp" id="InstanceAdmin" maxlength="150"  placeholder="Instance Admin" [(ngModel)]="InstanceAdmin" [formControl]="form.controls['InstanceAdmin']" />
                        <ul class="hp_blk">
                          <li *ngIf="form.controls['InstanceAdmin'].hasError('required') && isSubmitted" class="err">Instance Admin is Required</li>
                        </ul>
                        <div [hidden]="form.controls['InstanceAdmin'].valid || form.controls['InstanceAdmin'].pristine"
                             class="err">
                          <!--<div [hidden]="!form.controls['InstanceName'].hasError('required')">Name is required</div>-->
                          <div [hidden]="!form.controls['InstanceAdmin'].hasError('pattern')">Only alphabetsallowed</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <div [ngClass]="{'has-error' : !form.controls.SetupDateTime.valid && form.controls.SetupDateTime.errors && form.controls.SetupDateTime.dirty && form.get('SetupDateTime').touched,
                                  'text-success': form.controls.SetupDateTime.valid && form.controls.SetupDateTime.dirty}">
                        <label for="Set Up DateTime">Setup Date Time</label>
                        <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                        <input type="date" class="form-control tcslgn_inp" id="SetupDateTime" (change)="onCheckDOB()" [(ngModel)]="SetupDateTime" [formControl]="form.controls['SetupDateTime']" />
                        <ul class="hp_blk">
                          <li *ngIf="form.controls['SetupDateTime'].hasError('required') && isSubmitted" class="err">Setup Date Time is Required</li>
                        </ul>
                        <div class="form-control-feedback err" *ngIf="doBCheck">Setup Date Time Shouldn't be Greater Than Current Date</div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-group">
                      <div [ngClass]="{'has-error' : !form.controls.NumberofClients.valid && form.controls.NumberofClients.errors && form.controls.NumberofClients.dirty && form.get('NumberofClients').touched,
                                  'text-success': form.controls.NumberofClients.valid && form.controls.NumberofClients.dirty}">
                        <label for="pwd">Number of Clients</label>
                        <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                        <input type="text" class="form-control tcslgn_inp" maxlength="5" id="NumberofClients" pattern="[0-9]*" placeholder="Number Of Clients" [(ngModel)]="NumberofClients" [formControl]="form.controls['NumberofClients']" />
                        <ul class="hp_blk">
                          <li *ngIf="form.controls['NumberofClients'].hasError('required') && isSubmitted" class="err">Number of Clients is Required</li>
                        </ul>
                        <div [hidden]="form.controls.NumberofClients.valid || form.controls.NumberofClients.pristine">

                          <!--<div [hidden]="!form.controls.NumberofClients.hasError('minlength')" class="err">Company Phone Number Should be 15 digit</div>-->
                          <!--<div [hidden]="!form.controls.AdminPhoneNumber.hasError('required')" class="err">Mobile is required</div>-->
                          <div [hidden]="!form.controls.NumberofClients.hasError('pattern')" class="err">Please Enter Only Digits</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <div [ngClass]="{'has-error' : !form.controls.NumberOfAccounts.valid && form.controls.NumberOfAccounts.errors && form.controls.NumberOfAccounts.dirty && form.get('NumberOfAccounts').touched,
                                  'text-success': form.controls.NumberOfAccounts.valid && form.controls.NumberOfAccounts.dirty}">
                        <label for="pwd">Number Of Accounts</label>
                        <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                        <input type="text" class="form-control tcslgn_inp" maxlength="5" id="NumberOfAccounts" pattern="[0-9]*" placeholder="Number Of Accounts" [(ngModel)]="NumberOfAccounts" [formControl]="form.controls['NumberOfAccounts']" />
                        <ul class="hp_blk">
                          <li *ngIf="form.controls['NumberOfAccounts'].hasError('required') && isSubmitted" class="err">Number Of Accounts is Required</li>
                        </ul>
                        <div [hidden]="form.controls.NumberOfAccounts.valid || form.controls.NumberOfAccounts.pristine">

                          <!--<div [hidden]="!form.controls.NumberofClients.hasError('minlength')" class="err">Company Phone Number Should be 15 digit</div>-->
                          <!--<div [hidden]="!form.controls.AdminPhoneNumber.hasError('required')" class="err">Mobile is required</div>-->
                          <div [hidden]="!form.controls.NumberOfAccounts.hasError('pattern')" class="err">Please Enter Only Digits</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div [ngClass]="{'has-error' : !form.controls.InstancePublicIPAddress.valid && form.controls.InstancePublicIPAddress.errors && form.controls.InstancePublicIPAddress.dirty && form.get('InstancePublicIPAddress').touched,
                                  'text-success': form.controls.InstancePublicIPAddress.valid && form.controls.InstancePublicIPAddress.dirty}">
                        <label for="pwd">Instance Public IP Address</label>
                        <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                        <input type="text" class="form-control tcslgn_inp" id="InstancePublicIPAddress" reqired pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" placeholder='0.0.0.0' [(ngModel)]="InstancePublicIPAddress" [formControl]="form.controls['InstancePublicIPAddress']" />
                        <ul class="hp_blk">
                          <li *ngIf="form.controls['InstancePublicIPAddress'].hasError('required') && isSubmitted" class="err">Instance Public IP Address is Required</li>
                        </ul>
                        <div [hidden]="!form.controls.InstancePublicIPAddress.hasError('pattern')" class="err">
                          Must be a valid Instance Public IP Address!
                          <!--<small> <b>john@something.com</b> </small>-->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <div [ngClass]="{'has-error' : !form.controls.InstancePublicIPAddress.valid && form.controls.InstancePublicIPAddress.errors && form.controls.InstancePublicIPAddress.dirty && form.get('InstancePublicIPAddress').touched,
                                  'text-success': form.controls.InstancePublicIPAddress.valid && form.controls.InstancePublicIPAddress.dirty}">
                        <label for="pwd">Instance Private IP Address</label>
                        <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                        <input type="text" class="form-control tcslgn_inp" id="InstancePrivateIPAddress" reqired pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" placeholder='0.0.0.0' [(ngModel)]="InstancePrivateIPAddress" [formControl]="form.controls['InstancePrivateIPAddress']" />
                        <ul class="hp_blk">
                          <li *ngIf="form.controls['InstancePrivateIPAddress'].hasError('required') && isSubmitted" class="err">Instance Private IP Address is Required</li>
                        </ul>
                        <div [hidden]="!form.controls.InstancePrivateIPAddress.hasError('pattern')" class="err">
                          Must be a valid Instance Private IP Address!
                          <!--<small> <b>john@something.com</b> </small>-->
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="row">


                </div>
                <div class="row">

                  <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                <div [ngClass]="{'has-error' : !form.controls.AssociatedLicenseInfo.valid && form.controls.AssociatedLicenseInfo.errors && form.controls.AssociatedLicenseInfo.dirty && form.get('AssociatedLicenseInfo').touched,
                                    'text-success': form.controls.AssociatedLicenseInfo.valid && form.controls.AssociatedLicenseInfo.dirty}">
                  <label for="pwd">Associated License Info</label>

                  <input type="text" class="form-control tcslgn_inp" id="AssociatedLicenseInfo" placeholder="Associated License Info" [(ngModel)]="AssociatedLicenseInfo" [formControl]="form.controls['AssociatedLicenseInfo']" />
                  <ul class="hp_blk">
                    <li *ngIf="form.controls['AssociatedLicenseInfo'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                </div>
              </div>-->
                  <!--<div class="col-12 col-md-6 mb-1">
                <div class="form-group">
                  <label for="AssociatedLicenseInfo">AssociatedLicense Info</label>
                  <div class="member" [ngClass]="{'has-error' : !form.controls.AssociatedLicenseInfo.valid && form.controls.AssociatedLicenseInfo.errors
                           && form.controls.AssociatedLicenseInfo.dirty && form.get('AssociatedLicenseInfo').touched,
                  'text-success': form.controls.AssociatedLicenseInfo.valid &&form.controls.AssociatedLicenseInfo.dirty}">


                    <select id="AssociatedLicenseInfo" class="form-control" name="AssociatedLicenseInfo" (change)="license($event)" [(ngModel)]="AssociatedLicenseInfo" formControlName="AssociatedLicenseInfo">

                      <option *ngFor="let item of listofLicense" [value]="item.Id">{{item.CompanyName}}</option>


                    </select>

                    <ul class="help-block">
                      <li *ngIf="form.controls['AssociatedLicenseInfo'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                    </ul>

                  </div>
                </div>
              </div>-->
                </div>
                <div class="row">
                  <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.LicenseExpiryDate.valid && form.controls.LicenseExpiryDate.errors && form.controls.LicenseExpiryDate.dirty && form.get('LicenseExpiryDate').touched,
                                  'text-success': form.controls.LicenseExpiryDate.valid && form.controls.LicenseExpiryDate.dirty}">
                <label for="pwd">License Expiry Date</label>
                <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                  <!--<input type="text" id="instancemanager.LicenseExpiryDate" placeholder="LicenseExpiryDate" [(ngModel)]="instancemanager.LicenseExpiryDate" [formControl]="form.controls['instancemanager.LicenseExpiryDate']" />-->
                  <!--<input type="date" class="form-control tcslgn_inp" format='mm-dd-yyyy' [(ngModel)]="LicenseExpiryDate" name="LicenseExpiryDate" id="LicenseExpiryDate" [formControl]="form.controls['LicenseExpiryDate']" />
                  <ul class="hp_blk">
                    <li *ngIf="form.controls['LicenseExpiryDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                </div>
              </div>-->
                  <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.LicenseType.valid && form.controls.LicenseType.errors && form.controls.LicenseType.dirty && form.get('LicenseType').touched,
                                  'text-success': form.controls.LicenseType.valid && form.controls.LicenseType.dirty}">
                <label for="pwd">License Type</label>
                <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
                  <!-- <input type="text" id="instancemanager.LicenseType" placeholder="LicenseType" [(ngModel)]="instancemanager.LicenseType" [formControl]="form.controls['instancemanager.LicenseType']" />-->
                  <!--<select class="form-control tcslgn_inp" [(ngModel)]="LicenseType" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="LicenseType" id="LicenseType" [formControl]="form.controls['LicenseType']">
                    <option [ngValue]="undefined" disabled selected> Select LicenseType</option>
                    <option value="corporate">Corporate</option>
                    <option value="individuval ">Individuval </option>

                  </select>
                  <ul class="hp_blk">
                    <li *ngIf="form.controls['LicenseType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                </div>
              </div>-->

                </div>
                <div class="row">


                </div>
                <div class="row">


                </div>
                <div class="col-md-12">
                  <div class="form-group frm_btn">
                    <button type="submit" class="btn btn-info">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="create_mask" id="crmask" (click)="closeCpopup()"></div>



