<div class="container-fluid table_wrap">
  <div class="">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12">
          <!-- <div class="rht_btns">
      <div class="clearfix"></div>
  </div> -->
          <div class="row" *ngIf="message">
            <div class="col">
              <div class="d-flex justify-content-start">
                <span class="mr-auto">
                  <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
                  <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="tlt_cnt">Total Clients:{{count}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
            <div class="mid_table">

            
        
                <!--<h3>LicenseManager</h3>-->
                <div class="table-responsive sai">
                    <div class="col-md-12">
                        <ul class="rpt_stat">
                            <li>
                                <button class="btn btn-primary " (click)="openCpopup()" type="button"><i class="fas fa-plus"></i> Create</button>
                            </li>
                            <li><a href="javascript:;" (click)="onExport()" class="down_rpt"><i class="fas fa-download"></i> Download Report</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <table width=99.90% datatable class="table row-border hover mytbl">
                        <thead>
                            <tr class="thdr">
                                <th style="width:50px;">Id</th>
                                <th style="width:80px;">Company Name</th>
                                <th style="width:80px;">Registration Number</th>
                                <th style="width:80px;">Primary Admin Email ID</th>
                                <th style="width:80px;">Request Status</th>
                                <!--<th style="width:80px;">License Status</th>-->
                                <th style="width:50px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rec of this.listofLicense; let i=index" class="trdata">
                                <td>{{i+1}}</td>
                                <td>{{rec.CompanyName}}</td>
                                <td>{{rec.RegistrationNumber}}</td>
                                <td>{{rec.PrimaryAdminEmailID}}</td>
                                <td>{{rec.RequestStatus}}</td>
                                <!--<td>{{rec.LicenseStatus}}</td>-->
                                <!--<td>
                      <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button>
                      <i class="fas fa-eye gric"></i>
                    </td>-->
                                <td class="gear_icn">
                                    <span (click)="showPopActions(rec._id)"><i class="fas fa-cog gric"></i></span>
                                    <div class="pop_actions" *ngIf="showActions==rec._id" id="two">
                                        <p (click)="onEdit(rec._id)">View Record</p>
                                        <p *ngIf="this.requestStatus" (click)="GenerateLicense(rec._id)">Generate License</p>
                                        <p *ngIf="requestStatus==false" (click)="ViewLicenseInfo(rec._id)">View LicenseInfo</p>
                                        <p class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></p>
                                        <!--<span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
        
                    </table>
        
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
        
    </div>

    
</div>

<div class="modal hide" id="crpop" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h3 class="pop_heading">Create a New License</h3>
                <hr />
                <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
                <!--<h3>Create AccountManagement</h3>-->
                <!--popup content goes here-->
            </div>
            <div class="modal-content">
                <form [formGroup]="form" (ngSubmit)="onCreateLicenses()" class="tcs_licfrm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ClientInfo">Client Name</label>
                                <div class="member" [ngClass]="{'has-error' : !form.controls.ClientInfo.valid && form.controls.ClientInfo.errors
                         && form.controls.ClientInfo.dirty && form.get('ClientInfo').touched,
                'text-success': form.controls.ClientInfo.valid &&form.controls.ClientInfo.dirty}">
                                    <select id="ClientInfo" class="form-control" name="ClientInfo" (change)="client($event)" [(ngModel)]="ClientInfo" formControlName="ClientInfo">
                                        <option *ngFor="let item of webclientslist" [value]="item._id">{{item.CompanyName}}</option>
                                    </select>
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['ClientInfo'].hasError('required') && isSubmitted" class="err">Client Name is Required</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CompanyName">Company Name</label>
                                <input type="text" class="form-control tcslgn_inp" id="CompanyName" placeholder="Company Name" [(ngModel)]="webclient.CompanyName" readonly="readonly" [formControl]="form.controls['webclient.CompanyName']" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['webclient.CompanyName'].hasError('required') && isSubmitted" class="err">Company Name is Required</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LegalName">Legal Name</label>
                                <input type="text" class="form-control tcslgn_inp" id="LegalName" placeholder="Legal Name" [(ngModel)]="webclient.LegalName" readonly="readonly" [formControl]="form.controls['webclient.LegalName']" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['webclient.LegalName'].hasError('required') && isSubmitted" class="err">Legal Name is Required</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="RegistrationNumber">Registration Number</label>
                                <input type="text" class="form-control tcslgn_inp" id="CompanyRegistrationNumber" placeholder="CompanyRegistrationNumber Number" readonly="readonly" [(ngModel)]="webclient.CompanyRegistrationNumber" [formControl]="form.controls['webclient.CompanyRegistrationNumber']" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['webclient.CompanyRegistrationNumber'].hasError('required') && isSubmitted" class="err">Registration Number is Required</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CompanyType">Company Type</label>
                                <input type="text" class="form-control tcslgn_inp" id="CompanyType" readonly="readonly" placeholder="Company Type" [(ngModel)]="webclient.CompanyType" [formControl]="form.controls['webclient.CompanyType']" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['webclient.CompanyType'].hasError('required') && isSubmitted" class="err">Company Type is Required</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="AddressLine1">Address Line1</label>
                                <input type="text" class="form-control tcslgn_inp" id="CompanyAddressLine1" placeholder="Address Line1" readonly="readonly" [(ngModel)]="webclient.CompanyAddressLine1" [formControl]="form.controls['webclient.CompanyAddressLine1']" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['webclient.CompanyAddressLine1'].hasError('required') && isSubmitted" class="err">Address Line1 is Required</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="AddressLine2">Address Line2</label>
                                <input type="text" class="form-control tcslgn_inp" id="CompanyAddressLine2" placeholder="Address Line2" readonly="readonly" [(ngModel)]="webclient.CompanyAddressLine2" [formControl]="form.controls['webclient.CompanyAddressLine2']" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['webclient.CompanyAddressLine2'].hasError('required') && isSubmitted" class="err">Address Line2 is Required</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <!--<div [ngClass]="{'has-error' : !form.controls.EstablishedDate.valid && form.controls.EstablishedDate.errors && form.controls.EstablishedDate.dirty && form.controls('EstablishedDate').touched,
          'text-success': form.controls.EstablishedDate.valid && form.controls.EstablishedDate.dirty}">-->
                            <div class="form-group">
                                <label for="EstablishedDate">Established Date</label>
                                <input type="date" class="form-control tcslgn_inp" id="EstablishedDate" readonly="readonly" [(ngModel)]="webclient.CompanyEstablishedDate" [formControl]="form.controls['webclient.CompanyEstablishedDate']" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['webclient.CompanyEstablishedDate'].hasError('required') && isSubmitted" class="err">Established Date is Required</li>
                                </ul>
                            </div>
                            <!--</div>-->
                        </div>

                        <div class="col-md-4">
                            <div>
                                <!--<div [ngClass]="{'has-error' : !form.controls.PrimaryAdminEmailID.valid && form.controls.PrimaryAdminEmailID.errors && form.controls.PrimaryAdminEmailID.dirty && form.controls('PrimaryAdminEmailID').touched,
            'text-success': form.controls.PrimaryAdminEmailID.valid && form.controls.PrimaryAdminEmailID.dirty}">-->
                                <div class="form-group">
                                    <label for="PrimaryAdminEmailID">Primary Admin Email ID</label>
                                    <input type="email" class="form-control tcslgn_inp" id="PrimaryAdminEmailID" placeholder="Primary Admin Email ID" [(ngModel)]="webclient.PrimaryAdminEmailID" readonly="readonly" [formControl]="form.controls['webclient.PrimaryAdminEmailID']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['webclient.PrimaryAdminEmailID'].hasError('required') && isSubmitted" class="err">Primary Admin Email ID is Required</li>
                                    </ul>
                                </div>
                                <!--<div [hidden]="form.controls.PrimaryAdminEmailID.valid || form.controls.PrimaryAdminEmailID.pristine" class="alert alert-danger err2">
              <div [hidden]="!form.controls.PrimaryAdminEmailID.hasError('required')">Email is required</div>
              <div [hidden]="!form.controls.PrimaryAdminEmailID.hasError('pattern')">
                Email format should be
                <small> <b>john@something.com</b> </small>
              </div>
            </div>-->
                            </div>
                            <!--</div>-->
                        </div>
                        <div class="col-md-4">
                            <!--<div [ngClass]="{'has-error' : !form.controls.CompanyPhone.valid && form.controls.CompanyPhone.errors && form.controls.CompanyPhone.dirty && form.controls('CompanyPhone').touched,
          'text-success': form.controls.CompanyPhone.valid && form.controls.CompanyPhone.dirty}">-->
                            <div class="form-group">
                                <label for="CompanyPhone">Company Phone</label>
                                <input type="text" class="form-control" id="CompanyPhone" placeholder="Company Phone" readonly="readonly" [(ngModel)]="webclient.CompanyPhone" [formControl]="form.controls['webclient.CompanyPhone']" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['webclient.CompanyPhone'].hasError('required') && isSubmitted" class="err">Company Phone is Required</li>
                                </ul>
                            </div>
                            <!--</div>-->
                        </div>

                        <div class="col-md-4">
                            <!--<div [ngClass]="{'has-error' : !form.controls.CompanyEmailID.valid && form.controls.CompanyEmailID.errors && form.controls.CompanyEmailID .dirty && form.controls('CompanyEmailID').touched,
          'text-success': form.controls.CompanyEmailID.valid && form.controls.CompanyEmailID.dirty}">-->
                            <div class="form-group">
                                <label for="CompanyEmailID">Company Email ID</label>
                                <input type="email" class="form-control tcslgn_inp" placeholder="Company Email ID" id="CompanyEmailID" [(ngModel)]="webclient.CompanyEmailID" [formControl]="form.controls['webclient.CompanyEmailID']" readonly="readonly" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['webclient.CompanyEmailID'].hasError('required') && isSubmitted" class="err">Company Email ID is Required</li>
                                </ul>
                                <!--<div [hidden]="form.controls.CompanyEmailID.valid || form.controls.CompanyEmailID.pristine" class="alert alert-danger err2">
              <div [hidden]="!form.controls.CompanyEmailID.hasError('required')">Email is required</div>
              <div [hidden]="!form.controls.CompanyEmailID.hasError('pattern')">
                Email format should be
                <small> <b>john@something.com</b> </small>
              </div>
            </div>-->
                            </div>
                            <!--</div>-->
                        </div>

                        <div class="col-md-4">
                            <!--<div [ngClass]="{'has-error' : !form.controls.PrimaryAdminPhone.valid && form.controls.PrimaryAdminPhone.errors && form.controls.PrimaryAdminPhone.dirty && form.controls('PrimaryAdminPhone').touched,
          'text-success': form.controls.PrimaryAdminPhone.valid && form.controls.PrimaryAdminPhone.dirty}">-->
                            <div class="form-group">
                                <label for="PrimaryAdminPhone">Primary Admin Phone</label>
                                <input type="text" class="form-control tcslgn_inp" id="PrimaryAdminPhone" placeholder="Primary Admin Phone" [(ngModel)]="webclient.AdminPhoneNumber" readonly="readonly" [formControl]="form.controls['webclient.AdminPhoneNumber']" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['webclient.AdminPhoneNumber'].hasError('required') && isSubmitted" class="err">Primary Admin Phone is Required</li>
                                </ul>
                            </div>
                            <!--</div>-->
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Instance_Id">Instance Name</label>
                                <div class="member" [ngClass]="{'has-error' : !form.controls.Instance_Id.valid && form.controls.Instance_Id.errors
                   && form.controls.Instance_Id.dirty && form.get('Instance_Id').touched,
          'text-success': form.controls.Instance_Id.valid &&form.controls.Instance_Id.dirty}">
                                    <select id="Instance_Id" class="form-control" name="Instance_Id" (change)="test($event)" [(ngModel)]="Instance_Id" formControlName="Instance_Id">
                                        <option *ngFor="let item of listofinstances" [value]="item._id">{{item.InstanceName}}</option>
                                    </select>
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['Instance_Id'].hasError('required') && isSubmitted" class="err">Instance Name is Required</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <!--<div [ngClass]="{'has-error' : !form.controls.InstancePublicIPAddress.valid && form.controls.InstancePublicIPAddress .errors && form.controls.InstancePublicIPAddress .dirty && form.controls('InstancePublicIPAddress').touched,
          'text-success': form.controls.InstancePublicIPAddress.valid && form.controls.InstancePublicIPAddress.dirty}">-->
                            <div class="form-group">
                                <label for="InstancePublicIPAddress">Public IP Address</label>
                                <input type="text" class="form-control tcslgn_inp" id="InstancePublicIPAddress" readonly="readonly" placeholder="Public IP Address" [(ngModel)]="instancemanager.InstancePublicIPAddress" [formControl]="form.controls['instancemanager.InstancePublicIPAddress']" />
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['instancemanager.InstancePublicIPAddress'].hasError('required') && isSubmitted" class="err">Public IP Address is Required</li>
                                </ul>
                            </div>
                            <!--</div>-->
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.City.valid && form.controls.City.errors && form.controls.City.dirty && form.controls('City').touched,
                  'text-success': form.controls.City.valid && form.controls.City.dirty}">
                                    <label for="City">City</label>
                                    <select id="City" class="form-control tcslgn_inp" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="City" [(ngModel)]="City" [formControl]="form.controls['City']">
                                        <option [ngValue]="undefined" disabled selected> Select City </option>
                                        <option>Kolkata</option>
                                        <option>Mumbai</option>
                                        <option>Hyderabad</option>
                                    </select>
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['City'].hasError('required') && isSubmitted" class="err">City is Required</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.State.valid && form.controls.State.errors && form.controls.State.dirty && form.controls('State').touched,
                  'text-success': form.controls.State.valid && form.controls.State.dirty}">
                                    <label for="State">State</label>
                                    <select class="form-control tcslgn_inp" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" id="State" name="State" [(ngModel)]="State" placeholder="State" [formControl]="form.controls['State']">
                                        <option [ngValue]="undefined" disabled selected> Select State </option>
                                        <option>Andhrapradesh</option>
                                        <option>Tamilnadu</option>
                                        <option>Telangana</option>
                                    </select>
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['State'].hasError('required') && isSubmitted" class="err">State is Required</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.Country.valid && form.controls.Country.errors && form.controls.Country.dirty && form.controls('Country').touched,
                  'text-success': form.controls.Country.valid && form.controls.Country.dirty}">
                                    <label for="Country">Country </label>
                                    <select id="Country" class="form-control tcslgn_inp" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="Country" [(ngModel)]="Country" placeholder="Country" formControlName="Country">
                                        <option [ngValue]="undefined" disabled selected> Select Country </option>
                                        <option>India</option>
                                        <option>Australia</option>
                                        <option>Newzealand</option>
                                    </select>
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['Country'].hasError('required') && isSubmitted" class="err">Country is Required</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.ZipCode.valid && form.controls.ZipCode.errors && form.controls.ZipCode.dirty && form.controls('ZipCode').touched,
                                  'text-success': form.controls.ZipCode.valid && form.controls.ZipCode.dirty}">

                                    <label for="Zip Code">ZIP Code</label>
                                    <input type="text" id="ZipCode" class="form-control tcslgn_inp" placeholder="ZIP Code" [(ngModel)]="ZipCode" [formControl]="form.controls['ZipCode']" pattern="[0-9]*" maxlength="5" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['ZipCode'].hasError('required') && isSubmitted" class="err">ZIP Code is Required</li>
                                    </ul>
                                    <div [hidden]="form.controls['ZipCode'].valid || form.controls['ZipCode'].pristine">

                                        <div [hidden]="!form.controls['ZipCode'].hasError('minlength')" class="err">Company Phone Number Should be 15 digit</div>
                                        <!--<div [hidden]="!form.controls.AdminPhoneNumber.hasError('required')" class="err">Mobile is required</div>-->
                                        <div [hidden]="!form.controls['ZipCode'].hasError('pattern')" class="err">Please Enter Valid ZIP Code</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.Industry.valid && form.controls.Industry.errors && form.controls.Industry.dirty && form.controls('Industry').touched,
                    'text-success': form.controls.Industry.valid && form.controls.Industry.dirty}">

                                    <label for="Industry">Industry</label>
                                    <input type="text" id="Industry" class="form-control tcslgn_inp" maxlength="150" placeholder="Industry" [(ngModel)]="Industry" [formControl]="form.controls['Industry']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['Industry'].hasError('required') && isSubmitted" class="err">Industry is Required</li>
                                    </ul>
                                    <!--<div [hidden]="form.controls['Industry'].valid || form.controls['Industry'].pristine"
                                   class="err">

                                <div [hidden]="!form.controls['Industry'].hasError('pattern')">Only alphabetsallowed</div>
                              </div>-->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.AreaOfBusiness.valid && form.controls.AreaOfBusiness.errors && form.controls.AreaOfBusiness.dirty && form.controls('AreaOfBusiness').touched,
                    'text-success': form.controls.AreaOfBusiness.valid && form.controls.AreaOfBusiness.dirty}">
                                    <label for="AreaOfBusiness">Area Of Business</label>
                                    <input type="text" class="form-control tcslgn_inp" id="AreaOfBusiness" maxlength="150" placeholder="Area Of Business" [(ngModel)]="AreaOfBusiness" [formControl]="form.controls['AreaOfBusiness']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['AreaOfBusiness'].hasError('required') && isSubmitted" class="err">Area Of Business is Required</li>
                                    </ul>
                                    <!--<div [hidden]="form.controls['AreaOfBusiness'].valid || form.controls['AreaOfBusiness'].pristine"
                            class="err">

                          <div [hidden]="!form.controls['AreaOfBusiness'].hasError('pattern')">Only alphabetsallowed</div>
                        </div>-->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.OperatingCountries.valid && form.controls.OperatingCountries.errors && form.controls.OperatingCountries.dirty && form.controls('OperatingCountries').touched,
                                  'text-success': form.controls.OperatingCountries.valid && form.controls.OperatingCountries.dirty}">
                                    <label for="OperatingCountries">Operating Countries</label>
                                    <input type="text" class="form-control tcslgn_inp" id="OperatingCountries" maxlength="150" placeholder="Ex:India,Australia,Newzeland,...." [(ngModel)]="OperatingCountries" [formControl]="form.controls['OperatingCountries']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['OperatingCountries'].hasError('required') && isSubmitted" class="err">Operating Countries is Required</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.CompanyWebsite.valid && form.controls.CompanyWebsite.errors && form.controls.CompanyWebsite.dirty && form.controls('CompanyWebsite').touched,
                  'text-success': form.controls.CompanyWebsite.valid && form.controls.CompanyWebsite.dirty}">
                                    <label for="CompanyWebsite">Company Website URL</label>
                                    <input type="text" class="form-control" id="CompanyWebsite" required pattern="^(?!\s|.*\s$).*$" placeholder="Company Website URL" [(ngModel)]="CompanyWebsite" [formControl]="form.controls['CompanyWebsite']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['CompanyWebsite'].hasError('required') && isSubmitted" class="err">Company Website is Required</li>
                                    </ul>
                                    <div [hidden]="!form.controls.CompanyWebsite.hasError('pattern')" class="err">
                                        Must be a valid Company Website!
                                        <!--<small> <b>john@something.com</b> </small>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.CompanySocialUrls.valid && form.controls.CompanySocialUrls.errors && form.controls.CompanySocialUrls.dirty && form.get('CompanySocialUrls').touched,
                  'text-success': form.controls.CompanySocialUrls.valid && form.controls.CompanySocialUrls.dirty}">
                                    <label for="pwd">Company Social URL</label>
                                    <input type="text" class="form-control tcslgn_inp" required pattern="https?://.+" id="CompanySocialUrls" placeholder="Company Social URL" [(ngModel)]="CompanySocialUrls" [formControl]="form.controls['CompanySocialUrls']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['CompanySocialUrls'].hasError('required') && isSubmitted" class="err">Company Social URL is Required</li>
                                    </ul>

                                    <div [hidden]="!form.controls.CompanySocialUrls.hasError('pattern')" class="err">
                                        Must be a valid Company Social URL!
                                        <!--<small> <b>john@something.com</b> </small>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <span class="mr-auto">Primary Admin Password</span>
                                <div [ngClass]="{'has-error' : !form.controls['PrimaryAdminPassword'].valid && form.controls['PrimaryAdminPassword'].errors && form.controls['PrimaryAdminPassword'].dirty && form.controls['PrimaryAdminPassword'].touched,
                                  'text-success': form.controls['PrimaryAdminPassword'].valid && form.controls['PrimaryAdminPassword'].dirty}">

                                    <input type="password" pattern="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,20})" class="form-control" [(ngModel)]="PrimaryAdminPassword" id="PrimaryAdminPassword" placeholder="**********" name="PrimaryAdminPassword" [formControl]="form.controls['PrimaryAdminPassword']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['PrimaryAdminPassword'].hasError('required') && isSubmittedPwd" class="err">Primary Admin Password</li>
                                        <li *ngIf="form.controls['PrimaryAdminPassword'].hasError('pattern') && isSubmittedPwd" class="err"> Password must include one lowercase character, one uppercase character, a number, and a special character </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <!--<div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.ClientAgentDetails.valid && form.controls.ClientAgentDetails.errors && form.controls.ClientAgentDetails.dirty && form.controls('ClientAgentDetails').touched,
                                  'text-success': form.controls.ClientAgentDetails.valid && form.controls.ClientAgentDetails.dirty}">
                                    <label for="ClientAgentDetails">Client Agent Details</label>
                                    <input type="text" class="form-control tcslgn_inp" id="ClientAgentDetails" maxlength="150" placeholder="Client Agent Details" [(ngModel)]="ClientAgentDetails" [formControl]="form.controls['ClientAgentDetails']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['ClientAgentDetails'].hasError('required') && isSubmitted" class="err">Client Agent Details is Required</li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->

                        <div class="col-md-4">
                            <div [ngClass]="{'has-error' : !form.controls.RequestStatus.valid && form.controls.RequestStatus.errors && form.controls.RequestStatus.dirty && form.controls('RequestStatus').touched,
                                  'text-success': form.controls.RequestStatus.valid && form.controls.RequestStatus.dirty}">
                                <label for="Country">Request Status</label>
                                <select id="RequestStatus" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" class="form-control tcslgn_inp" name="RequestStatus" [(ngModel)]="RequestStatus" [formControl]="form.controls['RequestStatus']">
                                    <option [ngValue]="undefined" disabled selected> Select Status </option>
                                    <!--<option>Requestreceived</option>-->
                                    <option>InProcess</option>
                                    <!--<option>Approved</option>-->

                                </select>
                                <ul class="hp_blk">
                                    <li *ngIf="form.controls['RequestStatus'].hasError('required') && isSubmitted" class="err">Request Status is Required</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.Remarks.valid && form.controls.Remarks.errors && form.controls.Remarks.dirty && form.controls('Remarks').touched,
                  'text-success': form.controls.Remarks.valid && form.controls.Remarks.dirty}">
                                    <label for="Remarks">Remarks</label>
                                    <input type="text" class="form-control tcslgn_inp" id="Remarks" maxlength="150" placeholder="Remarks" [(ngModel)]="Remarks" [formControl]="form.controls['Remarks']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['Remarks'].hasError('required') && isSubmitted" class="err">Remarks is Required</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-md-4">
                            <div class="form-group">
                                <div [ngClass]="{'has-error' : !form.controls.DecodeScript.valid && form.controls.DecodeScript.errors && form.controls.DecodeScript.dirty && form.controls('DecodeScript').touched,
                  'text-success': form.controls.DecodeScript.valid && form.controls.DecodeScript.dirty}">
                                    <label for="DecodeScript">Decode Script </label>
                                    <input type="text" class="form-control tcslgn_inp" maxlength="150" id="DecodeScript" placeholder="Decode Script" [(ngModel)]="DecodeScript" [formControl]="form.controls['DecodeScript']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="form.controls['DecodeScript'].hasError('required') && isSubmitted" class="err">Decode Script is Required</li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->

                    </div>

                    <div class="form-group frm_btn">
                        <button type="submit" class="btn btn-info btn_submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>
