

<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <form  [formGroup]="serviceUpdateFormGroup" (ngSubmit)="onUpdateService(service)" class="tcs_licfrm">
        <div class="row">


          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ServiceType_Id">ServiceType</label>


              <select id="ServiceType_Id" class="form-control" name="service.ServiceType_Id" (change)="services($event)" [(ngModel)]="service.ServiceType_Id" formControlName="service.ServiceType_Id">

                <option *ngFor="let item of listofservicetypes" [value]="item.Id">{{item.ServiceName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceType_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">


            <label for="ServiceTitle">ServiceTitle</label>
            <input type="text" class="form-control tcslgn_inp" id="ServiceTitle" placeholder="ServiceTitle" [(ngModel)]="service.ServiceTitle" [formControl]="serviceUpdateFormGroup.controls['service.ServiceTitle']" />

            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">


            <label for="ServiceDescription">ServiceDescription</label>
            <input type="text" class="form-control tcslgn_inp" id="ServiceDescription" placeholder="ServiceDescription" [(ngModel)]="service.ServiceDescription" [formControl]="serviceUpdateFormGroup.controls['service.ServiceDescription']" />

            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">


            <label for="ServiceContributor">ServiceContributor</label>
            <input type="text" class="form-control tcslgn_inp" id="ServiceContributor" placeholder="ServiceContributor" [(ngModel)]="service.ServiceContributor" [formControl]="serviceUpdateFormGroup.controls['service.ServiceContributor']" />

            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceContributor'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>




     

          <div class="col-12 col-md-6 mb-1">


            <label for="ServiceTag">ServiceTag</label>
            <input type="text" class="form-control tcslgn_inp" id="ServiceTag" placeholder="Ex:Coach,Coach One" [(ngModel)]="service.ServiceTag" [formControl]="serviceUpdateFormGroup.controls['service.ServiceTag']" />

            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceTag'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>

          <div class="col-12 col-md-6 mb-1">


            <label for="ServiceLink">ServiceLink</label>
            <input type="text" class="form-control tcslgn_inp" id="ServiceLink" placeholder="Ex:Coach,Coach One" [(ngModel)]="service.ServiceLink" [formControl]="serviceUpdateFormGroup.controls['service.ServiceLink']" />

            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceLink'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>
          <!--<div class="col-12 col-md-6 mb-1">


    <span class="mr-auto prcode">ServiceTag</span>
    <select multiple class="form-control prcinp" [(ngModel)]="service.ServiceTag" name="ServiceTag" id="ServiceTag" [formControl]="serviceUpdateFormGroup.controls['service.ServiceTag']" (change)="onSelectServiceTag(ServiceTag)">
      <option value="Coach" >Coach</option>
      <option value="Coach 1">Coach 1</option>
      <option value="Coach 2">Coach 2</option>
    </select>


  </div>-->
          <!--<div class="col-12 col-md-6 mb-1">


    <span class="mr-auto prcode"> <div class="col-12 col-md-6 mb-1">


            <label for="ServiceTag">ServiceTag</label>
            <input type="text" class="form-control tcslgn_inp" id="ServiceTag" placeholder="Ex:Coach,Coach One" [(ngModel)]="service.ServiceTag" [formControl]="serviceUpdateFormGroup.controls['service.ServiceTag']" />

            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceTag'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div> </span>
    <select multiple class="form-control prcinp" [(ngModel)]="service.ServiceLink" name="ServiceLink" id="ServiceLink" [formControl]="serviceUpdateFormGroup.controls['service.ServiceLink']" (change)="onSelectServiceLink(ServiceLink)">
      <option value="Twitter">Twitter</option>
      <option value="Facebook">Facebook</option>
      <option value="Instagram">Instagram </option>
    </select>


  </div>-->
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ServiceCoverPicture">ServiceCoverPicture</label>
            <input type="file" class="form-control tcslgn_inp" id="ServiceCoverPicture" placeholder="Module Media File Path" />

          </div>






          <div class="col-12 col-md-6 mb-1">


            <label for="ServiceDiscountedPrice">ServiceDiscountedPrice</label>
            <input type="text" class="form-control tcslgn_inp" id="ServiceDiscountedPrice" placeholder="ServiceDiscountedPrice" [(ngModel)]="service.ServiceDiscountedPrice" [formControl]="serviceUpdateFormGroup.controls['service.ServiceDiscountedPrice']" />

            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceDiscountedPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>

          <div class="col-12 col-md-6 mb-1">


            <label for="ServiceStartDate">ServiceStartDate</label>
            <input type="date" class="form-control tcslgn_inp" id="ServiceValidStartDate" placeholder="ServiceValidStartDate" [(ngModel)]="service.ServiceValidStartDate" [formControl]="serviceUpdateFormGroup.controls['service.ServiceValidStartDate']" />

            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceValidStartDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>

          <div class="col-12 col-md-6 mb-1">


            <label for="ServiceValidEndDate">ServiceValidEndDate</label>
            <input type="date" class="form-control tcslgn_inp" id="ServiceValidEndDate" placeholder="ServiceValidEndDate" [(ngModel)]="service.ServiceValidEndDate" [formControl]="serviceUpdateFormGroup.controls['service.ServiceValidEndDate']" />

            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceValidEndDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">


            <label for="ServiceListedPrice">ServiceListedPrice</label>
            <input type="text" class="form-control tcslgn_inp" id="ServiceListedPrice" placeholder="ServiceListedPrice" [(ngModel)]="service.ServiceListedPrice" [formControl]="serviceUpdateFormGroup.controls['service.ServiceListedPrice']" />

            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceListedPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="ServiceStatus">ServiceStatus :</label>
            <select id="ServiceStatus" class="form-control" name="ServiceStatus" [(ngModel)]="service.ServiceStatus" placeholder="ServiceStatus" formControlName="service.ServiceStatus">
              <option [ngValue]="undefined" disabled selected> Select Status </option>
              <option>Active</option>
              <option>InActive</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="serviceUpdateFormGroup.controls['service.ServiceStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>
          <div class="col-12 col-md-6 mb-1">
            <label class="custom-control custom-checkbox mb-3" for="IsFreeService">
              <input type="checkbox" [checked]="IsFreeService?'checked':''" [(ngModel)]="service.IsFreeService" name="IsFreeService" id="IsFreeService" [formControl]="serviceUpdateFormGroup.controls['service.IsFreeService']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">IsFree Service</span>
            </label>
          </div>

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>

</div>
