
<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <!--<button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>-->
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>





      </div>

    </div>




    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>ForumName</th>

            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofthemestudio let i=index" class="trdata">
            <td>{{i+1}}</td>
            <td>{{rec.ExerciseTitle}}</td>


            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>




<div class="create_popup" id="crpop" >
  <h3 class="pop_heading">Create Exercise answer</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>

  <form [formGroup]="form" (ngSubmit)="onCreateExerciseAnswer()" class="tcs_licfrm">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

        <div [ngClass]="{'has-error' : !form.controls.ExerciseAnswer.valid && form.controls.ExerciseAnswer.errors && form.controls.ExerciseAnswer.dirty && form.get('ExerciseAnswer').touched,
                                  'text-success': form.controls.ExerciseAnswer.valid && form.controls.ExerciseAnswer.dirty}">
          <label for="ExerciseAnswer">Exercise Answer</label>
          <input type="text" class="form-control tcslgn_inp" id="ExerciseAnswer" placeholder="ExerciseAnswer" [(ngModel)]="ExerciseAnswer" [formControl]="form.controls['ExerciseAnswer']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExerciseAnswer'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>




      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.Submission_Id.valid && form.controls.Submission_Id.errors && form.controls.Submission_Id.dirty && form.get('Submission_Id').touched,
                                  'text-success': form.controls.Submission_Id.valid && form.controls.Submission_Id.dirty}">
          <label for="SubmissionId">Submission Id</label>
          <input type="text" class="form-control tcslgn_inp" id="Submission_Id" placeholder="SubmissionId" [(ngModel)]="Submission_Id" [formControl]="form.controls['Submission_Id']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['Submission_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.Exercise_Question_Id.valid && form.controls.Exercise_Question_Id.errors && form.controls.Exercise_Question_Id.dirty && form.get('Exercise_Question_Id ').touched,
                                  'text-success': form.controls.Exercise_Question_Id.valid && form.controls.Exercise_Question_Id.dirty}">
          <label for="ExerciseQuestionID">Exercise Question ID</label>
          <input type="text" class="form-control tcslgn_inp" id="Exercise_Question_Id" placeholder="ExerciseQuestionID" [(ngModel)]="Exercise_Question_Id" [formControl]="form.controls['Exercise_Question_Id']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['Exercise_Question_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>


      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.Exercise_Id.valid && form.controls.Exercise_Id.errors && form.controls.Exercise_Id.dirty && form.get('Exercise_Id').touched,
                                  'text-success': form.controls.Exercise_Id.valid && form.controls.Exercise_Id.dirty}">
          <label for="email">Exercise ID</label>
          <input type="text" class="form-control tcslgn_inp" id="Exercise_Id" placeholder="ExerciseID" [(ngModel)]="Exercise_Id" [formControl]="form.controls['Exercise_Id']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['Exercise_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>




      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.Member_Id.valid && form.controls.Member_Id.errors && form.controls.Member_Id.dirty && form.get('Member_Id').touched,
                                  'text-success': form.controls.Member_Id.valid && form.controls.Member_Id.dirty}">
          <label for="MemoryID">Memory ID</label>
          <input type="text" class="form-control tcslgn_inp" id="Member_Id" placeholder="MemoryID" [(ngModel)]="Member_Id" [formControl]="form.controls['Member_Id']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>



      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.ExAnsSelectedAnswerOptions.valid && form.controls.ExAnsSelectedAnswerOptions.errors && form.controls.ExAnsSelectedAnswerOptions.dirty && form.get('ExAnsSelectedAnswerOptions').touched,
                                  'text-success': form.controls.ExAnsSelectedAnswerOptions.valid && form.controls.ExAnsSelectedAnswerOptions.dirty}">
          <label for="ExAnsSelectedAnswerOptions">Ex AnsSelected AnswerOptions</label>
          <input type="text" class="form-control tcslgn_inp" id="ExAnsSelectedAnswerOptions" placeholder="ExAnsSelectedAnswerOptions" [(ngModel)]="ExAnsSelectedAnswerOptions" [formControl]="form.controls['ExAnsSelectedAnswerOptions']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExAnsSelectedAnswerOptions'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>


      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.ExerciseAnswerDetails.valid && form.controls.ExerciseAnswerDetails.errors && form.controls.ExerciseAnswerDetails.dirty && form.get('ExerciseAnswerDetails').touched,
                                  'text-success': form.controls.ExerciseAnswerDetails.valid && form.controls.ExerciseAnswerDetails.dirty}">
          <label for="ExerciseAnswerDetails">Exercise Answer Details</label>
          <input type="text" class="form-control tcslgn_inp" id="ExerciseAnswerDetails" placeholder="ExerciseAnswerDetails" [(ngModel)]="ExerciseAnswerDetails" [formControl]="form.controls['ExerciseAnswerDetails']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExerciseAnswerDetails'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.ExerciseAnswerRemarks.valid && form.controls.ExerciseAnswerRemarks.errors && form.controls.ExerciseAnswerRemarks.dirty && form.get('ExerciseAnswerRemarks').touched,
                                  'text-success': form.controls.ExerciseAnswerRemarks.valid && form.controls.ExerciseAnswerRemarks.dirty}">
          <label for="ExerciseAnswerRemarks">Exercise Answer Remarks</label>
          <input type="text" class="form-control tcslgn_inp" id="ExerciseAnswerRemarks" placeholder="ExerciseAnswerRemarks" [(ngModel)]="ExerciseAnswerRemarks" [formControl]="form.controls['ExerciseAnswerRemarks']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExerciseAnswerRemarks'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>


      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.ExerciseAnswerSubmissionDateTime.valid && form.controls.ExerciseAnswerSubmissionDateTime.errors && form.controls.ExerciseAnswerSubmissionDateTime.dirty && form.get('ExerciseAnswerSubmissionDateTime').touched,
                                  'text-success': form.controls.ExerciseAnswerSubmissionDateTime.valid && form.controls.ExerciseAnswerSubmissionDateTime.dirty}">
          <label for="ExerciseAnswerSubmissionDateTime">Exercise Answer Submission DateTime</label>
          <input type="date" class="form-control tcslgn_inp" id="ExerciseAnswerSubmissionDateTime" placeholder="ExerciseAnswerSubmissionDateTime" [(ngModel)]="ExerciseAnswerSubmissionDateTime" [formControl]="form.controls['ExerciseAnswerSubmissionDateTime']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExerciseAnswerSubmissionDateTime'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>


      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.ExerciseAnswerValidityStatus.valid && form.controls.ExerciseAnswerValidityStatus.errors && form.controls.ExerciseAnswerValidityStatus.dirty && form.get('ExerciseAnswerValidityStatus').touched,
                                  'text-success': form.controls.ExerciseAnswerValidityStatus.valid && form.controls.ExerciseAnswerValidityStatus.dirty}">
          <label for="ExerciseAnswerValidityStatus">Exercise Answer Validity Status</label>
          <select id="ExerciseAnswerValidityStatus" class="form-control tcslgn_inp" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="ExerciseAnswerValidityStatus" [(ngModel)]="ExerciseAnswerValidityStatus"  formControlName="ExerciseAnswerValidityStatus">
            <option [ngValue]="undefined" disabled selected> Select Status </option>
            <option>Active</option>
            <option>InActive</option>

          </select>
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExerciseAnswerValidityStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>


      <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.ExerciseAnswerCreatedDate.valid && form.controls.ExerciseAnswerCreatedDate.errors && form.controls.ExerciseAnswerCreatedDate.dirty && form.get('ExerciseAnswerCreatedDate').touched,
                                  'text-success': form.controls.ExerciseAnswerCreatedDate.valid && form.controls.ExerciseAnswerCreatedDate.dirty}">
          <label for="ExerciseAnswerCreatedDate">ExerciseAnswerCreatedDate</label>
          <input type="date" class="form-control tcslgn_inp" id="ExerciseAnswerCreatedDate" placeholder="ExerciseAnswerCreatedDate" [(ngModel)]="ExerciseAnswerCreatedDate" [formControl]="form.controls['ExerciseAnswerCreatedDate']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExerciseAnswerCreatedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>-->


      <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.ExerciseAnswerCreatedBy.valid && form.controls.ExerciseAnswerCreatedBy.errors && form.controls.ExerciseAnswerCreatedBy.dirty && form.get('ExerciseAnswerCreatedBy').touched,
                                  'text-success': form.controls.ExerciseAnswerCreatedBy.valid && form.controls.ExerciseAnswerCreatedBy.dirty}">
          <label for="ExerciseAnswerCreatedBy">ExerciseAnswerCreatedBy</label>
          <input type="text" class="form-control tcslgn_inp" id="ExerciseAnswerCreatedBy" placeholder="ExerciseAnswerCreatedBy" [(ngModel)]="ExerciseAnswerCreatedBy" [formControl]="form.controls['ExerciseAnswerCreatedBy']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExerciseAnswerCreatedBy'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>-->


      <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.ExerciseAnswerUpdatedDate.valid && form.controls.ExerciseAnswerUpdatedDate.errors && form.controls.ExerciseAnswerUpdatedDate.dirty && form.get('ExerciseAnswerUpdatedDate').touched,
                                  'text-success': form.controls.ExerciseAnswerUpdatedDate.valid && form.controls.ExerciseAnswerUpdatedDate.dirty}">
          <label for="ExerciseAnswerUpdatedDate">ExerciseAnswerUpdatedDate</label>
          <input type="date" class="form-control tcslgn_inp" id="ExerciseAnswerUpdatedDate" placeholder="ExerciseAnswerUpdatedDate" [(ngModel)]="ExerciseAnswerUpdatedDate" [formControl]="form.controls['ExerciseAnswerUpdatedDate']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExerciseAnswerUpdatedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>-->


      <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.ExerciseAnswerUpdatedBy.valid && form.controls.ExerciseAnswerUpdatedBy.errors && form.controls.ExerciseAnswerUpdatedBy.dirty && form.get('ExerciseAnswerUpdatedBy').touched,
                                  'text-success': form.controls.ExerciseAnswerUpdatedBy.valid && form.controls.ExerciseAnswerUpdatedBy.dirty}">
          <label for="ExerciseAnswerUpdatedBy">ExerciseAnswerUpdatedBy</label>
          <input type="text" class="form-control tcslgn_inp" id="ExerciseAnswerUpdatedBy" placeholder="ExerciseAnswerUpdatedBy" [(ngModel)]="ExerciseAnswerUpdatedBy" [formControl]="form.controls['ExerciseAnswerUpdatedBy']" />
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExerciseAnswerUpdatedBy'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>-->

      <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
        <div [ngClass]="{'has-error' : !form.controls.ExerciseAnswerStatus.valid && form.controls.ExerciseAnswerStatus.errors && form.controls.ExerciseAnswerStatus.dirty && form.controls('ExerciseAnswerStatus').touched,
                                  'text-success': form.controls.ExerciseAnswerStatus.valid && form.controls.ExerciseAnswerStatus.dirty}">
          <label for="ExerciseAnswerStatus">Exercise Answer Status :</label>
          <select id="ExerciseAnswerStatus" class="form-control tcslgn_inp" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="ExerciseAnswerStatus" [(ngModel)]="ExerciseAnswerStatus" placeholder="ExerciseAnswerStatus" formControlName="ExerciseAnswerStatus">
            <option [ngValue]="undefined" disabled selected> Select Status </option>
            <option>Active</option>
            <option>InActive</option>

          </select>
          <ul class="hp_blk">
            <li *ngIf="form.controls['ExerciseAnswerStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>


    </div>







    <div class="form-group">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </form>
</div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>



