
<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item._id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>


    


      </div>

    </div>


    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>

    <!--<h3>ProgramCategory Details</h3>-->
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>Program Category Name</th>
            <th>Program Category Description</th>
            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofprogramcategory; let i=index" class="trdata">

            <td>{{i+1}}</td>
            <td>{{rec.ProgramCategoryName}}</td>
            <td>{{rec.ProgramCategoryDescription}}</td>
            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>



<div class="create_popup" id="crpop">
  <h3 class="pop_heading">Create Event Master</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">



        <form [formGroup]="form" (ngSubmit)="onCreateEventmaster()" class="tcs_licfrm">
          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="EventType_Id">EventType Id</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.EventType_Id.valid && form.controls.EventType_Id.errors
                         && form.controls.EventType_Id.dirty && form.get('EventType_Id').touched,
                'text-success': form.controls.EventType_Id.valid &&form.controls.EventType_Id.dirty}">


                  <select id="EventType_Id" class="form-control" name="EventType_Id" (change)="test($event)" [(ngModel)]="EventType_Id" formControlName="EventType_Id">

                    <option *ngFor="let item of listofeventtypes" [value]="item._id">{{item.EventName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['EventType_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ProgramCategory_Id">Program Category Id</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.ProgramCategory_Id.valid && form.controls.ProgramCategory_Id.errors
                         && form.controls.ProgramCategory_Id.dirty && form.get('ProgramCategory_Id').touched,
                'text-success': form.controls.ProgramCategory_Id.valid &&form.controls.ProgramCategory_Id.dirty}">


                  <select id="ProgramCategory_Id" class="form-control" name="ProgramCategory_Id" (change)="test1($event)" [(ngModel)]="ProgramCategory_Id" formControlName="ProgramCategory_Id">

                    <option *ngFor="let item of listofprogramcategory" [value]="item._id">{{item.ProgramCategoryName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['ProgramCategory_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="Member_Id">Member Name</label>
                <div class="member" [ngClass]="{'has-error' : !form.controls.Member_Id.valid && form.controls.Member_Id.errors
                         && form.controls.Member_Id.dirty && form.get('Member_Id').touched,
                'text-success': form.controls.Member_Id.valid &&form.controls.Member_Id.dirty}">


                  <select id="Member_Id" class="form-control" name="Member_Id" (change)="member($event)" [(ngModel)]="Member_Id" formControlName="Member_Id">

                    <option *ngFor="let item of listofMembers" [value]="item._id">{{item.UserName}}</option>


                  </select>

                  <ul class="help-block">
                    <li *ngIf="form.controls['Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventTitle.valid && form.controls.EventTitle.errors && form.controls.EventTitle.dirty && form.get('EventTitle').touched,
                                    'text-success': form.controls.EventTitle.valid && form.controls.EventTitle.dirty}">
                <label for="EventTitle"> Event Title</label>
                <input type="text" class="form-control tcslgn_inp" id="EventTitle" placeholder="EventTitle" [(ngModel)]="EventTitle" [formControl]="form.controls['EventTitle']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>




            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventName.valid && form.controls.EventName.errors && form.controls.EventName.dirty && form.get('EventName').touched,
                                    'text-success': form.controls.EventName.valid && form.controls.EventName.dirty}">
                <label for="EventName">Event Name</label>
                <input type="text" class="form-control tcslgn_inp" id="EventName" placeholder="Event Name" [(ngModel)]="EventName" [formControl]="form.controls['EventName']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventDescription.valid && form.controls.EventDescription.errors && form.controls.EventDescription.dirty && form.get('EventDescription').touched,
                                    'text-success': form.controls.EventDescription.valid && form.controls.EventDescription.dirty}">
                <label for="EventDescription"> Event Description</label>
                <input type="text" class="form-control tcslgn_inp" id="EventDescription" placeholder="Event Description" [(ngModel)]="EventDescription" [formControl]="form.controls['EventDescription']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>



            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label for="EventImageUrl">Event Image URL</label>
              <input type="file" class="form-control tcslgn_inp" id="eventFile" name="eventFile" (change)="readURL($event)" />

            </div>



            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventScheduledStartDate.valid && form.controls.EventScheduledStartDate.errors && form.controls.EventScheduledStartDate.dirty && form.get('EventScheduledStartDate').touched,
                                    'text-success': form.controls.EventScheduledStartDate.valid && form.controls.EventScheduledStartDate.dirty}">
                <label for="EventScheduledStartDate">Event Scheduled Start Date </label>
                <input type="datetime-local" class="form-control tcslgn_inp" id="EventScheduledStartDate" placeholder="Event Scheduled Start Date" [(ngModel)]="EventScheduledStartDate" [formControl]="form.controls['EventScheduledStartDate']" />
                <!--<p-calendar [(ngModel)]="EventScheduledStartDate" [inline]="true"></p-calendar>-->
                <!--<label class="example-input-wrapper">
        Date Time:
        <input placeholder="Date Time:"
               [(ngModel)]="EventScheduledStartDate"
               [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
        <owl-date-time #dt></owl-date-time>
      </label>-->
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventScheduledStartDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>



            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventScheduledStartTime.valid && form.controls.EventScheduledStartTime.errors && form.controls.EventScheduledStartTime.dirty && form.get('EventScheduledStartTime').touched,
                                    'text-success': form.controls.EventScheduledStartTime.valid && form.controls.EventScheduledStartTime.dirty}">
                <label for="EventScheduledStartTime">Event Scheduled Start Time</label>
                <input type="time" class="form-control tcslgn_inp" id="EventScheduledStartTime" placeholder="Event Scheduled Start Time" [(ngModel)]="EventScheduledStartTime" [formControl]="form.controls['EventScheduledStartTime']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventScheduledStartTime'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>



            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventScheduledEndDate.valid && form.controls.EventScheduledEndDate.errors && form.controls.EventScheduledEndDate.dirty && form.get('EventScheduledEndDate').touched,
                          'text-success': form.controls.EventScheduledEndDate.valid && form.controls.EventScheduledEndDate.dirty}">
                <label for="EventScheduledEndDate">Event Scheduled End Date</label>
                <input type="datetime-local"  class="form-control tcslgn_inp"  id="EventScheduledEndDate" placeholder="Event Scheduled End Date" [(ngModel)]="EventScheduledEndDate" [formControl]="form.controls['EventScheduledEndDate']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventScheduledEndDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
                <div class="validation-error" style="color:red" *ngIf="EventScheduledStartDate > EventScheduledEndDate">
                  End Date Should Be Greater Than Start Date
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventScheduledEndTime.valid && form.controls.EventScheduledEndTime.errors && form.controls.EventScheduledEndTime.dirty && form.get('EventScheduledEndTime').touched,
                          'text-success': form.controls.EventScheduledEndTime.valid && form.controls.EventScheduledEndTime.dirty}">
                <label for="EventScheduledEndTime">Event Scheduled End Time</label>
                <input type="time" class="form-control tcslgn_inp" id="EventScheduledEndTime" placeholder="Event Scheduled End Time" [(ngModel)]="EventScheduledEndTime" [formControl]="form.controls['EventScheduledEndTime']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventScheduledEndTime'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventAccessUrl.valid && form.controls.EventAccessUrl.errors && form.controls.EventAccessUrl.dirty && form.get('EventAccessUrl').touched,
                          'text-success': form.controls.EventAccessUrl.valid && form.controls.EventAccessUrl.dirty}">
                <label for="EventAccessUrl">Event Access URL</label>
                <input type="text" class="form-control tcslgn_inp" id="EventAccessUrl" placeholder="Event Access URL" [(ngModel)]="EventAccessUrl" [formControl]="form.controls['EventAccessUrl']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventAccessUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventRegistrationUrl.valid && form.controls.EventRegistrationUrl.errors && form.controls.EventRegistrationUrl.dirty && form.get('EventRegistrationUrl').touched,
                          'text-success': form.controls.EventAccessUrl.valid && form.controls.EventAccessUrl.dirty}">
                <label for="EventRegistrationUrl">Event Registration URL</label>
                <input type="text" class="form-control tcslgn_inp" id="EventRegistrationUrl" placeholder="Event Registration URL" [(ngModel)]="EventRegistrationUrl" [formControl]="form.controls['EventRegistrationUrl']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventRegistrationUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label for="EventPresenterImageUrl">Event Presenter Image URL</label>
              <input type="file" class="form-control tcslgn_inp" id="eventPresenterFile" name="eventPresenterFile" (change)="readURLPresenter($event)" />

            </div>


            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventCompletionTemplate.valid && form.controls.EventCompletionTemplate.errors && form.controls.EventCompletionTemplate.dirty && form.get('EventCompletionTemplate').touched,
                                    'text-success': form.controls.EventCompletionTemplate.valid && form.controls.EventCompletionTemplate.dirty}">
                <label for="EventCompletionTemplate">Event Completion Template</label>
                <input type="text" class="form-control tcslgn_inp" id="EventCompletionTemplate" placeholder="Event Completion Template" [(ngModel)]="EventCompletionTemplate" [formControl]="form.controls['EventCompletionTemplate']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventCompletionTemplate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventReminderTemplate.valid && form.controls.EventReminderTemplate.errors && form.controls.EventReminderTemplate.dirty && form.get('EventReminderTemplate').touched,
                                    'text-success': form.controls.EventReminderTemplate.valid && form.controls.EventReminderTemplate.dirty}">
                <label for="EventReminderTemplate">Event Reminder Template</label>
                <input type="text" class="form-control tcslgn_inp" id="EventReminderTemplate" placeholder="Event Reminder Template" [(ngModel)]="EventReminderTemplate" [formControl]="form.controls['EventReminderTemplate']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventReminderTemplate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventResultsUrl.valid && form.controls.EventResultsUrl.errors && form.controls.EventResultsUrl.dirty && form.get('EventResultsUrl').touched,
                                    'text-success': form.controls.EventResultsUrl.valid && form.controls.EventResultsUrl.dirty}">
                <label for="EventResultsUrl">Event Results URL</label>
                <input type="text" class="form-control tcslgn_inp" id="EventResultsUrl" placeholder="Event Results URL" [(ngModel)]="EventResultsUrl" [formControl]="form.controls['EventResultsUrl']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventResultsUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventSurveyUrl.valid && form.controls.EventSurveyUrl.errors && form.controls.EventSurveyUrl.dirty && form.get('EventSurveyUrl').touched,
                                    'text-success': form.controls.EventSurveyUrl.valid && form.controls.EventSurveyUrl.dirty}">
                <label for="EventSurveyUrl">Event Survey URL</label>
                <input type="text" class="form-control tcslgn_inp" id="EventSurveyUrl" placeholder="Event Survey URL" [(ngModel)]="EventSurveyUrl" [formControl]="form.controls['EventSurveyUrl']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventSurveyUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventExerciseUrl.valid && form.controls.EventExerciseUrl.errors && form.controls.EventExerciseUrl.dirty && form.get('EventExerciseUrl').touched,
                                    'text-success': form.controls.EventExerciseUrl.valid && form.controls.EventExerciseUrl.dirty}">
                <label for="EventExerciseUrl">Event Exercise URL</label>
                <input type="text" class="form-control tcslgn_inp" id="EventExerciseUrl" placeholder="Event Exercise URL" [(ngModel)]="EventExerciseUrl" [formControl]="form.controls['EventExerciseUrl']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventExerciseUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventAssignmentUrl.valid && form.controls.EventAssignmentUrl.errors && form.controls.EventAssignmentUrl.dirty && form.get('EventAssignmentUrl').touched,
                                    'text-success': form.controls.EventExerciseUrl.valid && form.controls.EventAssignmentUrl.dirty}">
                <label for="EventAssignmentUrl">Event Assignment URL</label>
                <input type="text" class="form-control tcslgn_inp" id="EventAssignmentUrl" placeholder="Event Assignment URL" [(ngModel)]="EventAssignmentUrl" [formControl]="form.controls['EventAssignmentUrl']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventAssignmentUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventFeedbackUrl.valid && form.controls.EventFeedbackUrl.errors && form.controls.EventFeedbackUrl.dirty && form.get('EventFeedbackUrl').touched,
                                    'text-success': form.controls.EventFeedbackUrl.valid && form.controls.EventFeedbackUrl.dirty}">
                <label for="EventFeedbackUrl">Event Feedback URL</label>
                <input type="text" class="form-control tcslgn_inp" id="EventFeedbackUrl" placeholder="Event Feedback URL" [(ngModel)]="EventFeedbackUrl" [formControl]="form.controls['EventFeedbackUrl']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventFeedbackUrl'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventParticipationCount.valid && form.controls.EventParticipationCount.errors && form.controls.EventParticipationCount.dirty && form.get('EventParticipationCount').touched,
                                    'text-success': form.controls.EventParticipationCount.valid && form.controls.EventParticipationCount.dirty}">
                <label for="EventFeedbackUrl">EventParticipation Count</label>
                <input type="text" class="form-control tcslgn_inp" id="EventParticipationCount" placeholder="Event Participation Count" [(ngModel)]="EventParticipationCount" [formControl]="form.controls['EventParticipationCount']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventParticipationCount'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>


            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventStatus.valid && form.controls.EventStatus.errors && form.controls.EventStatus.dirty && form.get('EventStatus').touched,
                                    'text-success': form.controls.EventStatus.valid && form.controls.EventStatus.dirty}">
                <label for="EventStatus">Event Status</label>
                <select class="form-control tcslgn_inp" id="EventStatus" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="EventStatus" [(ngModel)]="EventStatus" placeholder="EventStatus" [formControl]="form.controls['EventStatus']">
                  <option [ngValue]="undefined" disabled selected> Select Status</option>
                  <option>Active</option>
                  <option>InActive</option>
                </select>
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>




            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventLocation.valid && form.controls.EventLocation.errors && form.controls.EventLocation.dirty && form.get('EventLocation').touched,
                        'text-success': form.controls.EventLocation.valid && form.controls.EventLocation.dirty}">
                <label for="EventLocation">Event Location</label>
                <input type="text" class="form-control" id="EventLocation" placeholder="Event Location" [(ngModel)]="EventLocation" [formControl]="form.controls['EventLocation']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventLocation'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventPrice.valid && form.controls.EventPrice.errors && form.controls.EventPrice.dirty && form.get('EventPrice').touched,
                        'text-success': form.controls.EventPrice.valid && form.controls.EventPrice.dirty}">
                <label for="EventPrice">Event Price</label>
                <input type="text" class="form-control" id="EventPrice" placeholder="Event Price" [(ngModel)]="EventPrice" [formControl]="form.controls['EventPrice']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventPrice'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.EventCategoryName.valid && form.controls.EventCategoryName.errors && form.controls.EventCategoryName.dirty && form.get('EventCategoryName').touched,
                        'text-success': form.controls.EventCategoryName.valid && form.controls.EventCategoryName.dirty}">
                <label for="EventCategoryName">Event Category Name</label>
                <input type="text" class="form-control" id="EventCategoryName" placeholder="Event Category Name" [(ngModel)]="EventCategoryName" [formControl]="form.controls['EventCategoryName']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['EventCategoryName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.GuidelineName.valid && form.controls.GuidelineName.errors && form.controls.GuidelineName.dirty && form.get('GuidelineName').touched,
                        'text-success': form.controls.GuidelineName.valid && form.controls.GuidelineName.dirty}">
                <label for="GuidelineName">EventGuideline Name</label>
                <input type="text" class="form-control" id="GuidelineName" placeholder="Guideline Name" [(ngModel)]="GuidelineName" [formControl]="form.controls['GuidelineName']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['GuidelineName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.GuidelineDescription.valid && form.controls.GuidelineDescription.errors && form.controls.GuidelineDescription.dirty && form.get('GuidelineDescription').touched,
                        'text-success': form.controls.GuidelineDescription.valid && form.controls.GuidelineDescription.dirty}">
                <label for="GuidelineDescription">EventGuideline Description</label>
                <input type="text" class="form-control" id="GuidelineDescription" placeholder="Guideline Description" [(ngModel)]="GuidelineDescription" [formControl]="form.controls['GuidelineDescription']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['GuidelineDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.TemplateName.valid && form.controls.TemplateName.errors && form.controls.TemplateName.dirty && form.get('TemplateName').touched,
                        'text-success': form.controls.TemplateName.valid && form.controls.TemplateName.dirty}">
                <label for="TemplateName">EventRegistrationTemplate Name</label>
                <input type="text" class="form-control" id="TemplateName" placeholder="Template Name" [(ngModel)]="TemplateName" [formControl]="form.controls['TemplateName']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['TemplateName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
              <div [ngClass]="{'has-error' : !form.controls.Attributes.valid && form.controls.Attributes.errors && form.controls.Attributes.dirty && form.get('Attributes').touched,
                        'text-success': form.controls.Attributes.valid && form.controls.Attributes.dirty}">
                <label for="Attributes">EventRegistration Attributes</label>
                <input type="text" class="form-control" id="Attributes" placeholder="Attributes" [(ngModel)]="Attributes" [formControl]="form.controls['Attributes']" />
                <ul class="hp_blk">
                  <li *ngIf="form.controls['Attributes'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label class="custom-control custom-checkbox mb-3" for="EventIsRemindersEnabled">

                <input type="checkbox" [checked]="EventIsRemindersEnabled?'checked':''" [(ngModel)]="EventIsRemindersEnabled" name="EventIsRemindersEnabled" id="EventIsRemindersEnabled" [formControl]="form.controls['EventIsRemindersEnabled']" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Event Is Reminders Enabled</span>
              </label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label class="custom-control custom-checkbox mb-3" for="EventIsNotificationsEnabled">

                <input type="checkbox" [checked]="EventIsNotificationsEnabled?'checked':''" [(ngModel)]="EventIsNotificationsEnabled" name="EventIsNotificationsEnabled" id="EventIsNotificationsEnabled" [formControl]="form.controls['EventIsNotificationsEnabled']" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Event IsNotifications Enabled</span>
              </label>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

              <label class="custom-control custom-checkbox mb-3" for="EventIsFree">

                <input type="checkbox" [checked]="EventIsFree?'checked':''" [(ngModel)]="EventIsFree" name="EventIsFree" (change)="onChangePrice($event)" id="EventIsFree" [formControl]="form.controls['EventIsFree']" />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Event IsFree</span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>


<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


