.admin_dshb{ padding: 30px; margin: 0px; background-color: #e4e5e6;}
.count{ font-size:28px; font-weight:600;}
.count.green { color: #40d4c2;}
.count.blue { color: #036aa4;}
.tile_count{ 
}
.tile_stats_count{ padding: 0 10px 0 20px; position: relative;}
.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}
.tile_count .tile_stats_count span {
    font-size: 13px;
}
.green {
    color: #1ABB9C;
}
.tile_count .tile_stats_count .count_bottom i {
    width: 12px;
}
.red {
    color: #E74C3C;
}
.first_cont:before{ display: none;}


.nopad{ padding: 30px 0px 0px 0px; margin: 0px;}
.pie_chart{ background-color: #fff;  padding-top: 30px; padding-bottom: 30px;
    -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; border-radius:4px;
    -webkit-box-shadow: 0px 0px 1px #999; -moz-box-shadow: 0px 0px 1px #999; box-shadow: 0px 0px 1px #999;
}
.linchr{ background-color: #fff;  padding-top: 20px; padding-bottom: 10px;
    -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; border-radius:4px;
    -webkit-box-shadow: 0px 0px 1px #999; -moz-box-shadow: 0px 0px 1px #999; box-shadow: 0px 0px 1px #999;
}
.zeropader{ padding-right: 0px; padding-left: 0px;}
.zeropader2{ padding-right: 0px; }

.burbs{ -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; border-radius:4px;
    background-color: #fff;  padding: 20px 20px 10px 20px; position: relative;
    -webkit-box-shadow: 0px 0px 1px #999; -moz-box-shadow: 0px 0px 1px #999; box-shadow: 0px 0px 1px #999;
}
.cnt{ font-size:30px; font-weight:200; color: #1ABB9C;}
.cnt.cnt2{ color: #036aa4;}
.cnt.cnt3{ color: #000;}
.cnt.cnt4{ color: #0e9ee5;}
.burbs > p{ color: #666; text-transform: uppercase; font-size: 14px;}
.geropad{ padding-right: 0px;}
.icon_circ{ width: 40px; height:40px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%;
    border-radius: 100%; position: absolute; top: 35%; right: 20px; background-color: #1ABB9C; z-index: 1;
}
.icon_circ.cir2{ background-color: #036aa4;}
.icon_circ.cir3{ background-color: #000;}
.icon_circ.cir4{ background-color: #0e9ee5;}
.mycn{ text-align: center; font-size: 1.2rem; color: #fff; position: relative; top: 9px; left: 10px;}
.mycn.mcn2{ left: 8px;}
.pie2{ padding: 49px 30px;}
.pie1{ padding-left: 20px; padding-right:20px; padding-bottom: 50px;}
.dshb_contributes{
    -webkit-box-shadow: 0px 0px 1px #999; -moz-box-shadow: 0px 0px 1px #999; box-shadow: 0px 0px 1px #999;
}
.dshb_contributes > h3{ font-size:15px; color: #fff; background-color: #1ABB9C; padding: 20px 30px;
    -webkit-border-radius: 4px 4px 0px 0px; -moz-border-radius: 4px 4px 0px 0px; -ms-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px; margin: 0px;
}
.contrs{ list-style: none; padding: 10px 20px; margin:0px; background-color: #fff; position: relative; border-top:1px solid #e4e5e6;
    
}
.contrs > li{ padding: 0px; display: block; float: left;}
.boy_bg{ width: 30px; height:30px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%;
    border-radius: 100%; border:1px solid #ddd; display: inline-block; overflow: hidden;
}
.lastchil{ position: absolute; right: 15px; font-size: 13px; font-weight:600; top: 15px; color: #1ABB9C;}
.contr_title{ font-size:12px; position: relative; top: 5px; left: 10px;}