<!--<p>
  admindashboards works!
</p>-->
<!--<p style="margin-right:10px;">
  dashboard works! test
</p>-->

<div class="container-fluid admin_dshb">

  
    <div class="row tile_count">
        <div class="col-12 col-sm-6 col-md-3 geropad">
            <div class="burbs">
                <span class="cnt">5450</span>
                <p>Orders Recieved</p>
                <div class="icon_circ">
                  <i class="fas fa-check fa-2x mycn"></i>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3 geropad">
            <div class="burbs">
                <span class="cnt cnt2">1000+</span>
                <p>Videos Downloaded</p>
                <div class="icon_circ cir2"><i class="fas fa-download fa-2x mycn"></i></div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3 geropad">
            <div class="burbs">
                <span class="cnt cnt3">10000+</span>
                <p>Happy Clients</p>
                <div class="icon_circ cir3"><i class="fas fa-users fa-2x mycn mcn2"></i></div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3 ">
            <div class="burbs">
                <span class="cnt cnt4">$250k</span>
                <p>Earnings</p>
                <div class="icon_circ cir4"><i class="far fa-money-bill-alt fa-2x mycn mcn2"></i></div>
            </div>
        </div>


      </div>


        <div class="row nopad">
         <div class="col-12 linchr">
           <div class="">
            
              <canvas id="linechart" width="auto" height="100"></canvas>
           </div>
          
         </div>

         
        
          
        </div>

        <div class="row nopad">
           
   
            <div class="col-12 col-sm-6 col-md-6 zeropader">
               <div class="pie_chart pie1">
                 <canvas id="doughnut-chart" width="auto" height="auto"></canvas>
               </div>
           </div>
   
           <div class="col-12 col-sm-6 col-md-6 zeropader2">
               <div class="pie_chart pie2">
                 <canvas id="bar-chart" width="auto" height="auto"></canvas>
               </div>
           </div>
           
             
        </div>



        <div class="row nopad">
             <div class="col-12 col-sm-4 col-md-4 zeropader">
                 <div class="dshb_contributes">
                     <h3>Top 5 best contributers</h3>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">Steve Smith</li>
                        <li class="lastchil">456 Contributions</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">John Doe</li>
                        <li class="lastchil">401 Contributions</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">Lori</li>
                        <li class="lastchil">389 Contributions</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">Julia</li>
                        <li class="lastchil">267 Contributions</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">Mark Henry</li>
                        <li class="lastchil">222 Contributions</li>
                        <div class="clearfix"></div>
                     </ul>
                 </div>
             </div>

             <div class="col-12 col-sm-4 col-md-4 zeropader2">
                <div class="dshb_contributes">
                    <h3>Top 5 most watched assets</h3>
                    

                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">Phyton intraduction for begginers</li>
                        <li class="lastchil">500 Views</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">Javascript adwanced for devs</li>
                        <li class="lastchil">400 Views</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">Java intraduction for begginers</li>
                        <li class="lastchil">300 Views</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">C# adwanced for devs</li>
                        <li class="lastchil">200 Views</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">C intraduction for begginers</li>
                        <li class="lastchil">100 Views</li>
                        <div class="clearfix"></div>
                     </ul>
                </div>
            </div>

            <div class="col-12 col-sm-4 col-md-4 zeropader2">
                <div class="dshb_contributes">
                    <h3>Most completed cources</h3>
                    <ul class="contrs">
                        <li style="height:40px;"></li>
                        <li class="contr_title">Design Thinking</li>
                        <li class="lastchil">20%</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">John Doe</li>
                        <li class="lastchil">401 Contributions</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">Lori</li>
                        <li class="lastchil">389 Contributions</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">Julia</li>
                        <li class="lastchil">267 Contributions</li>
                        <div class="clearfix"></div>
                     </ul>
                     <ul class="contrs">
                        <li><span class="boy_bg"><img src="assets/images/boy.png" width="100%" alt="boy" title="boy"></span></li>
                        <li class="contr_title">Mark Henry</li>
                        <li class="lastchil">222 Contributions</li>
                        <div class="clearfix"></div>
                     </ul>
                </div>
            </div>


        </div>





      
</div>
