
<div class="container-fluid table_wrap">
 <div class="">
   <div class="card">
     <div class="card-body">
       <div class="mid_table">
         <!--<div *ngIf="success">
    <div>
      <i class="fas fa-check"></i>{{message}}
    </div>
  </div>-->

         <div class="row" *ngIf="message">
           <div class="col">
             <div class="d-flex justify-content-start">
               <span class="mr-auto">
                 <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
                 <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
                 <!--<strong>{{successMessage}}</strong>-->
               </span>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-md-4">
             <div class="tlt_cnt">Total Accounts:{{count}}</div>
           </div>
         </div>
         <div class="rht_btns">
           <button class="btn btn-primary" (click)="openCpopup()" type="button"><i class="fas fa-plus"></i> Create</button>
           <a href="javascript:;" (click)="onExport()" class="down_rpt"><i class="fas fa-download"></i> Download Report</a>

           <div class="clearfix"></div>
         </div>
         <!--<div class="clearfix"></div>-->
         <div>
           <div class="form-group">
             <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">

             <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
               <option [value]="50">50</option>
               <option [value]="100">100</option>
               <option [value]="250">250</option>
               <option [value]="500">500</option>
             </select>
           </div>
           <ng2-smart-table [settings]="settings" class="sai" [source]="source" (custom)="onEdit($event)">
           </ng2-smart-table>
         </div>

         <!--<h3>AccountMaster</h3>-->
         <!--<div class="table-responsive">
    <table  width=99.90%   datatable class="table row-border hover mytbl">
      <thead>
        <tr class="thdr">
          <th style="width:80px;">Id</th>
          <th>Account Name</th>
          <th>Account Admin</th>
          <th>Is Live Status</th>
          <th>Client Info</th>
          <th>Instance Info</th>
          <th style="width:60px;">Action</th>
        </tr>
       </thead>
       <tbody>
         <tr *ngFor="let rec of this.listofAccounts let i=index" class="trdata">
           <td>{{i+1}}</td>
           <td>{{rec.AccountName}}</td>
           <td>{{rec.AccountAdmin}}</td>
           <td>{{rec.IsLiveStatus}}</td>
           <td>{{rec.ClientInfo}}</td>
           <td>{{rec.InstanceInfo}}</td>
           <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
         </tr>
       </tbody>

         </table>




  </div>-->
       </div>
     </div>
   </div>
 </div>
  </div>
  
  
  
<div class="modal hide" id="crpop" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" role="document">
      <div class="modal-header">
        <h3 class="pop_heading">Create a New Account Master</h3>
        <hr />
        <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
        <!--<h3>Create AccountManagement</h3>-->
        <!--popup content goes here-->
      </div>
      <!--<h3>Create AccountMaster</h3>-->
      <div class="modal-content">

        <div class="container-fluid memberform">
          <div class="row">
            <div class="col-12">
              <!--<h3>Create AccountManagement</h3>-->
              <!--popup content goes here-->
              <form [formGroup]="form" (ngSubmit)="onCreateAccount()" class="tcs_licfrm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-12 col-md-6">
                          <div class="form-group">
                            
                        <div [ngClass]="{'has-error' : !form.controls.AccountName.valid && form.controls.AccountName.errors && form.controls.AccountName.dirty && form.get('AccountName').touched,
                        'text-success': form.controls.AccountName.valid && form.controls.AccountName.dirty}">
                <label for="email">Account Name</label>
                <input type="text" class="form-control tcslgn_inp" maxlength="150"  id="AccountName" placeholder="Account Name" [(ngModel)]="AccountName" [formControl]="form.controls['AccountName']" />

              </div>
              <ul class="hp_blk">
                <li *ngIf="form.controls['AccountName'].hasError('required') && isSubmitted" class="err">Account Name is Required</li>
              </ul>
                          </div>
                        <!--<div [hidden]="form.controls['AccountName'].valid || form.controls['AccountName'].pristine"
                             class="err">
                        
                          <div [hidden]="!form.controls['AccountName'].hasError('pattern')">Only alphabetsallowed</div>
                        </div>-->
                      </div>
                      <div class="col-12 col-md-6">
                       <div class="form-group">
                          <div [ngClass]="{'has-error' : !form.controls.AccountWebUrl.valid && form.controls.AccountWebUrl.errors && form.controls.AccountWebUrl.dirty && form.get('AccountWebUrl').touched,
                                  'text-success': form.controls.AccountWebUrl.valid && form.controls.AccountWebUrl.dirty}">
                          <label for="pwd">Account Web Url</label>
                          <input type="text" class="form-control tcslgn_inp" id="AccountWebUrl" required pattern="https?://.+" placeholder="Account Web URL" [(ngModel)]="AccountWebUrl" [formControl]="form.controls['AccountWebUrl']" />
                          <ul class="hp_blk">
                            <li *ngIf="form.controls['AccountWebUrl'].hasError('required') && isSubmitted" class="err">Account Web Url is Required</li>
                          </ul>
                          <div [hidden]="!form.controls.AccountWebUrl.hasError('pattern')" class="err">
                            Must be a valid Web Url!
                            <!--<small> <b>john@something.com</b> </small>-->
                          </div>
                        </div>
                       </div>
                      </div>

                      <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div [ngClass]="{'has-error' : !form.controls.DevUrl.valid && form.controls.DevUrl.errors && form.controls.DevUrl.dirty && form.get('DevUrl').touched,
                            'text-success': form.controls.DevUrl.valid && form.controls.DevUrl.dirty}">

                    <label for="pwd">Dev Url</label>

                    <input type="text" class="form-control tcslgn_inp" id="DevUrl" required pattern="https?://.+" placeholder="Dev URL" [(ngModel)]="DevUrl" [formControl]="form.controls['DevUrl']" />
                    <ul class="hp_blk">
                      <li *ngIf="form.controls['DevUrl'].hasError('required') && isSubmitted" class="err">Dev Url is Required</li>
                    </ul>
                    <div [hidden]="!form.controls.DevUrl.hasError('pattern')" class="err">
                      Must be a valid Dev Url!
                      <!--<small> <b>john@something.com</b> </small>-->
                    </div>
                  </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div [ngClass]="{'has-error' : !form.controls.AccountAdmin.valid && form.controls.AccountAdmin.errors && form.controls.AccountAdmin.dirty && form.get('AccountAdmin').touched,
                            'text-success': form.controls.AccountAdmin.valid && form.controls.AccountAdmin.dirty}">
                    <label for="pwd">Account Admin</label>

                    <input type="text" class="form-control tcslgn_inp" maxlength="150"  id="AccountAdmin" placeholder="Account Admin" [(ngModel)]="AccountAdmin" [formControl]="form.controls['AccountAdmin']" />
                    <ul class="hp_blk">
                      <li *ngIf="form.controls['AccountAdmin'].hasError('required') && isSubmitted" class="err">Account Admin is Required</li>
                    </ul>
                    <!--<div [hidden]="form.controls['AccountAdmin'].valid || form.controls['AccountAdmin'].pristine"
                         class="err">
                      
                      <div [hidden]="!form.controls['AccountAdmin'].hasError('pattern')">Only alphabetsallowed</div>
                    </div>-->
                  </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="ClientInfo">Client Name</label>
                          <div class="member" [ngClass]="{'has-error' : !form.controls.ClientInfo.valid && form.controls.ClientInfo.errors
                         && form.controls.ClientInfo.dirty && form.get('ClientInfo').touched,
                'text-success': form.controls.ClientInfo.valid &&form.controls.ClientInfo.dirty}">


                            <select id="ClientInfo" class="form-control" name="ClientInfo" (change)="client($event)" [(ngModel)]="ClientInfo" formControlName="ClientInfo">

                              <option *ngFor="let item of webclientslist" [value]="item._id">{{item.CompanyName}}</option>


                            </select>

                            <ul class="hp_blk">
                              <li *ngIf="form.controls['ClientInfo'].hasError('required') && isSubmitted" class="err">Client Info is Required</li>
                            </ul>

                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="InstanceInfo">Instance Name</label>
                          <div class="member" [ngClass]="{'has-error' : !form.controls.InstanceInfo.valid && form.controls.InstanceInfo.errors
                         && form.controls.InstanceInfo.dirty && form.get('InstanceInfo').touched,
                'text-success': form.controls.InstanceInfo.valid &&form.controls.InstanceInfo.dirty}">


                            <select id="InstanceInfo" class="form-control" name="InstanceInfo" (change)="test($event)" [(ngModel)]="InstanceInfo" formControlName="InstanceInfo">

                              <option *ngFor="let item of listofinstances" [value]="item._id">{{item.InstanceName}}</option>


                            </select>

                            <ul class="hp_blk">
                              <li *ngIf="form.controls['InstanceInfo'].hasError('required') && isSubmitted" class="err">Instance Name is Required</li>
                            </ul>

                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="LicenseInfo">License Info</label>
                          <div class="member" [ngClass]="{'has-error' : !form.controls.LicenseInfo.valid && form.controls.LicenseInfo.errors
                         && form.controls.LicenseInfo.dirty && form.get('LicenseInfo').touched,
                'text-success': form.controls.LicenseInfo.valid &&form.controls.LicenseInfo.dirty}">


                            <select id="LicenseInfo" class="form-control" name="LicenseInfo" (change)="license($event)" [(ngModel)]="LicenseInfo" formControlName="LicenseInfo">

                              <option *ngFor="let item of listofLicense" [value]="item._id">{{item.CompanyName}}</option>


                            </select>

                            <ul class="hp_blk">
                              <li *ngIf="form.controls['LicenseInfo'].hasError('required') && isSubmitted" class="err">License Info is Required</li>
                            </ul>

                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div [ngClass]="{'has-error' : !form.controls.AppUrl.valid && form.controls.AppUrl.errors && form.controls.AppUrl.dirty && form.get('AppUrl').touched,
                            'text-success': form.controls.AppUrl.valid && form.controls.AppUrl.dirty}">
                    <label for="pwd">App Url</label>

                    <input type="text" class="form-control tcslgn_inp" id="AppUrl" required pattern="https?://.+" placeholder="App URL" [(ngModel)]="AppUrl" [formControl]="form.controls['AppUrl']" />
                    <ul class="hp_blk">
                      <li *ngIf="form.controls['AppUrl'].hasError('required') && isSubmitted" class="err">App Url is Required</li>
                    </ul>
                    <div [hidden]="!form.controls.AppUrl.hasError('pattern')" class="err">
                      Must be a valid App Url!
                      <!--<small> <b>john@something.com</b> </small>-->
                    </div>
                  </div>
                        </div>
                      </div>
 
                      <!--<div class="col-md-12">
                          <div class="form-group">
                              <div class="d-flex justify-content-start">
                                  <label class="custom-control custom-checkbox mb-3 pl-0" for="IsMobileEnabled">
                                   
                                    <input type="checkbox" [checked]="IsMobileEnabled?'checked':''" [(ngModel)]="IsMobileEnabled" name="IsMobileEnabled" id="IsMobileEnabled" [formControl]="form.controls['IsMobileEnabled']" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Is Mobile Enabled</span>
                                  </label>
                
                
                
                                  <label class="custom-control custom-checkbox mb-3" for="IsAndroidAppPublic">
                                    
                                    <input type="checkbox" [checked]="IsAndroidAppPublic?'checked':''" [(ngModel)]="IsAndroidAppPublic" name="IsAndroidAppPublic" id="IsAndroidAppPublic" [formControl]="form.controls['IsAndroidAppPublic']" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Is Android App Public</span>
                                  </label>
                
                                  <label class="custom-control custom-checkbox mb-3" for="IsIOSAppPublic">
                
                                    <input type="checkbox" [checked]="IsIOSAppPublic?'checked':''" [(ngModel)]="IsIOSAppPublic" name="IsIOSAppPublic" id="IsIOSAppPublic" [formControl]="form.controls['IsIOSAppPublic']" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Is IOS App Public</span>
                                  </label>
                
                                  <label class="custom-control custom-checkbox mb-3" for="IsHttpsEnabled">
                                   
                                    <input type="checkbox" [checked]="IsHttpsEnabled?'checked':''" [(ngModel)]="IsHttpsEnabled" name="IsHttpsEnabled" id="IsHttpsEnabled" [formControl]="form.controls['IsHttpsEnabled']" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Is Https Enabled</span>
                                  </label>
                
                                  <label class="custom-control custom-checkbox mb-3" for="IsLiveStatus">
                                  
                                    <input type="checkbox" [checked]="IsLiveStatus?'checked':''" [(ngModel)]="IsLiveStatus" name="IsLiveStatus" id="IsLiveStatus" [formControl]="form.controls['IsLiveStatus']" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Is Live Status</span>
                                  </label>
                
                
                                </div>
                          </div>
                        </div>-->

                    </div>
                  </div>


                </div>

                <div class="row">

                  <!--<div class="col-12 col-md-6">
                <div [ngClass]="{'has-error' : !form.controls.AccountCreatedDate.valid && form.controls.AccountCreatedDate.errors && form.controls.AccountCreatedDate.dirty && form.get('AccountCreatedDate').touched,
                                    'text-success': form.controls.AccountCreatedDate.valid && form.controls.AccountCreatedDate.dirty}">
                  <label for="pwd">AccountCreatedDate</label>

                  <input type="date" class="form-control tcslgn_inp" format='mm-dd-yyyy' id="AccountCreatedDate" placeholder="AccountCreatedDate" [(ngModel)]="AccountCreatedDate" [formControl]="form.controls['AccountCreatedDate']" />
                  <ul class="hp_blk">
                    <li *ngIf="form.controls['AccountCreatedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                </div>
              </div>-->
                  <!--</div>-->



                </div>
                <div class="row">
                  <!--<div class="col-12 col-md-6 mb-1">
                <div [ngClass]="{'has-error' : !form.controls.ClientInfo.valid && form.controls.ClientInfo.errors && form.controls.ClientInfo.dirty && form.get('ClientInfo').touched,
                                    'text-success': form.controls.ClientInfo.valid && form.controls.ClientInfo.dirty}">
                  <label for="pwd">Client Info</label>

                  <input type="text" class="form-control tcslgn_inp" id="ClientInfo" placeholder="Client Info" [(ngModel)]="ClientInfo" [formControl]="form.controls['ClientInfo']" />
                  <ul class="hp_blk">
                    <li *ngIf="form.controls['ClientInfo'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                </div>
              </div>-->
                  <!--</div>-->
                  <!--<div class="row">-->
                  <!--<div class="col-12 col-md-6 mb-1">
                <div [ngClass]="{'has-error' : !form.controls.InstanceInfo.valid && form.controls.InstanceInfo.errors && form.controls.InstanceInfo.dirty && form.get('InstanceInfo').touched,
                                    'text-success': form.controls.InstanceInfo.valid && form.controls.InstanceInfo.dirty}">
                  <label for="pwd">Instance Info</label>

                  <input type="text" class="form-control tcslgn_inp" id="InstanceInfo" placeholder="Instance Info" [(ngModel)]="InstanceInfo" [formControl]="form.controls['InstanceInfo']" />
                  <ul class="hp_blk">
                    <li *ngIf="form.controls['InstanceInfo'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                </div>
              </div>-->

                </div>
                <div class="row">
                  <!--<div class="col-12 col-md-6 mb-1">
                <div [ngClass]="{'has-error' : !form.controls.LicenseInfo.valid && form.controls.LicenseInfo.errors && form.controls.LicenseInfo.dirty && form.get('LicenseInfo').touched,
                                    'text-success': form.controls.LicenseInfo.valid && form.controls.LicenseInfo.dirty}">
                  <label for="pwd">License Info</label>

                  <input type="text" class="form-control tcslgn_inp" id="LicenseInfo" placeholder="License Info" [(ngModel)]="LicenseInfo" [formControl]="form.controls['LicenseInfo']" />
                  <ul class="hp_blk">
                    <li *ngIf="form.controls['LicenseInfo'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                </div>
              </div>-->
                  <!--</div>-->
                  <!--<div class="row">-->

                </div>
                
                <div class="d-flex justify-content-start">





                </div>
                <div class="col-md-12">
                  <div class="form-group frm_btn">
                    <button type="submit" class="btn btn-info">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


