<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <!--<h3>Create AccountManagement</h3>-->
      <!--popup content goes here-->
      <form [formGroup]="ForumUpdateFormGroup" (ngSubmit)="onUpdateForum(forum)" class="tcs_licfrm">


        <div class="row">

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="MasterAccount_Id">MasterAccount Name</label>


              <select id="MasterAccount_Id" class="form-control" name="forum.MasterAccount_Id" (change)="test($event)" [(ngModel)]="forum.MasterAccount_Id" formControlName="forum.MasterAccount_Id">

                <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="ForumUpdateFormGroup.controls['forum.MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">


            <label for="ForumName">ForumName</label>

            <input type="text" class="form-control tcslgn_inp" id="forum.ForumName" placeholder="ForumName" [(ngModel)]="forum.ForumName" [formControl]="ForumUpdateFormGroup.controls['forum.ForumName']" />
            <ul class="hp_blk">
              <li *ngIf="ForumUpdateFormGroup.controls['forum.ForumName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ForumIcon">ForumIcon</label>
              <input type="file" class="form-control tcslgn_inp" id="ForumIcon" name="ForumIcon" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ForumStatus">ForumStatus :</label>
            <select id="forum.ForumStatus" class="form-control tcslgn_inp" name="forum.ForumStatus" [(ngModel)]="forum.ForumStatus" placeholder="EventStatus" [formControl]="ForumUpdateFormGroup.controls['forum.ForumStatus']">
              <option [ngValue]="undefined" disabled selected> Select Status</option>
              <option>Active</option>
              <option>InActive</option>

            </select>
            <ul class="hp_blk">
              <li *ngIf="ForumUpdateFormGroup.controls['forum.ForumStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="ForumIsModerated">

              <input type="checkbox" [checked]="ForumIsModerated?'checked':''" [(ngModel)]="forum.ForumIsModerated" name="forum.ForumIsModerated" id="forum.ForumIsModerated" [formControl]="ForumUpdateFormGroup.controls['forum.ForumIsModerated']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Forum IsModerated</span>
            </label>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="ForumIsDeleted">

              <input type="checkbox" [checked]="ForumIsDeleted?'checked':''" [(ngModel)]="forum.ForumIsDeleted" name="forum.ForumIsDeleted" id="forum.ForumIsDeleted" [formControl]="ForumUpdateFormGroup.controls['forum.ForumIsDeleted']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Forum IsDeleted</span>
            </label>
          </div>


        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>


    </div>
  </div>
</div>
