

<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="themestudioUpdateFormGroup" (ngSubmit)="onUpdateThemeStudio(themestudio)">
        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <label for="Client_Id">Client_Id</label>
            <input type="text" class="form-control" id="themestudio.Client_Id" name="themestudio.Client_Id" placeholder="Client_Id" [(ngModel)]="themestudio.Client_Id" [formControl]="themestudioUpdateFormGroup.controls['themestudio.Client_Id']" />
          </div>




          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <label for="ThemeName">ThemeName</label>
            <input type="text" class="form-control" id="themestudio.ThemeName" name="themestudio.ThemeName" placeholder="ThemeName" [(ngModel)]="themestudio.ThemeName" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeName']" />
          </div>





          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <label for="ThemeTitle">ThemeTitle</label>
            <input type="text" class="form-control" id="themestudio.ThemeTitle" name="themestudio.ThemeTitle" placeholder="ThemeTitle" [(ngModel)]="themestudio.ThemeTitle" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeTitle']" />
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemePrimaryColor">ThemePrimaryColor</label>
            <input type="text" class="form-control" id="themestudio.ThemePrimaryColor" name="themestudio.ThemePrimaryColor" placeholder="ThemePrimaryColor" [(ngModel)]="themestudio.ThemePrimaryColor" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemePrimaryColor']" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeSecondaryColor">ThemeSecondaryColor</label>
            <input type="text" class="form-control" id="themestudio.ThemeSecondaryColor" name="themestudio.ThemeSecondaryColor" placeholder="ThemeSecondaryColor" [(ngModel)]="themestudio.ThemeSecondaryColor" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeSecondaryColor']" />

          </div>




          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeLogoUrl">ThemeLogoUrl</label>
            <input type="text" class="form-control" id="themestudio.ThemeLogoUrl" name="themestudio.ThemeLogoUrl" placeholder="ThemeLogoUrl" [(ngModel)]="themestudio.ThemeLogoUrl" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeLogoUrl']" />

          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeH1">ThemeH1</label>
            <input type="text" class="form-control" id="themestudio.ThemeH1" name="themestudio.ThemeH1" placeholder="ThemeH1" [(ngModel)]="themestudio.ThemeH1" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeH1']" />

          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeH2">ThemeH2</label>
            <input type="text" class="form-control" id="themestudio.ThemeH2" name="themestudio.ThemeH2" placeholder="ThemeH2" [(ngModel)]="themestudio.ThemeH2" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeH2']" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeH3">ThemeH3</label>
            <input type="text" class="form-control" id="themestudio.ThemeH3" name="themestudio.ThemeH3" placeholder="ThemeH3" [(ngModel)]="themestudio.ThemeH3" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeH3']" />

          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeHeader">ThemeHeader</label>
            <input type="text" class="form-control" id="themestudio.ThemeHeader" name="themestudio.ThemeHeader" placeholder="ThemeHeader" [(ngModel)]="themestudio.ThemeHeader" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeHeader']" />

          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeSubHeader">ThemeSubHeader</label>
            <input type="text" class="form-control" id="themestudio.ThemeSubHeader" name="themestudio.ThemeSubHeader" placeholder="ThemeSubHeader" [(ngModel)]="themestudio.ThemeSubHeader" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeSubHeader']" />

          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeNormalText">ThemeNormalText</label>
            <input type="text" class="form-control" id="themestudio.ThemeNormalText" name="themestudio.ThemeNormalText" placeholder="ThemeNormalText" [(ngModel)]="themestudio.ThemeNormalText" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeNormalText']" />

          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeParagraphText">ThemeParagraphText</label>
            <input type="text" class="form-control" id="themestudio.ThemeParagraphText" name="themestudio.ThemeParagraphText" placeholder="ThemeParagraphText" [(ngModel)]="themestudio.ThemeParagraphText" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeParagraphText']" />

          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemePrimaryFont">ThemePrimaryFont</label>
            <input type="text" class="form-control" id="themestudio.ThemePrimaryFont" name="themestudio.ThemePrimaryFont" placeholder="ThemePrimaryFont" [(ngModel)]="themestudio.ThemePrimaryFont" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemePrimaryFont']" />

          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeSecondaryFont">ThemeSecondaryFont</label>
            <input type="text" class="form-control" id="themestudio.ThemeSecondaryFont" name="themestudio.ThemeSecondaryFont" placeholder="ThemeSecondaryFont" [(ngModel)]="themestudio.ThemeSecondaryFont" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeSecondaryFont']" />

          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeBorderColor">ThemeBorderColor</label>
            <input type="text" class="form-control" id="themestudio.ThemeBorderColor" name="themestudio.ThemeBorderColor" placeholder="ThemeBorderColor" [(ngModel)]="themestudio.ThemeBorderColor" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeBorderColor']" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeBorderWidth">ThemeBorderWidth</label>
            <input type="text" class="form-control" id="themestudio.ThemeBorderWidth" name="themestudio.ThemeBorderWidth" placeholder="ThemeBorderWidth" [(ngModel)]="themestudio.ThemeBorderWidth" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeBorderWidth']" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeALink">ThemeALink</label>
            <input type="text" class="form-control" id="themestudio.ThemeALink" name="themestudio.ThemeALink" placeholder="ThemeALink" [(ngModel)]="themestudio.ThemeALink" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeALink']" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeHrefLink">ThemeHrefLink</label>
            <input type="text" class="form-control" id="themestudio.ThemeHrefLink" name="themestudio.ThemeHrefLink" placeholder="ThemeHrefLink" [(ngModel)]="themestudio.ThemeHrefLink" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeHrefLink']" />

          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeHrefLink">ThemeHrefLink</label>
            <input type="text" class="form-control" id="themestudio.ThemeHrefLink" name="themestudio.ThemeHrefLink" placeholder="ThemeHrefLink" [(ngModel)]="themestudio.ThemeHrefLink" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeHrefLink']" />

          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeLiStyle">ThemeLiStyle</label>
            <input type="text" class="form-control" id="themestudio.ThemeLiStyle" name="themestudio.ThemeLiStyle" placeholder="ThemeLiStyle" [(ngModel)]="themestudio.ThemeLiStyle" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeLiStyle']" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeButton">ThemeButton</label>
            <input type="text" class="form-control" id="themestudio.ThemeButton" name="themestudio.ThemeButton" placeholder="ThemeButton" [(ngModel)]="themestudio.ThemeButton" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeButton']" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeControlColor">ThemeControlColor</label>
            <input type="text" class="form-control" id="themestudio.ThemeControlColor" name="themestudio.ThemeH3" placeholder="ThemeControlColor" [(ngModel)]="themestudio.ThemeControlColor" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeControlColor']" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeTextBoxStyle">ThemeTextBoxStyle</label>
            <input type="text" class="form-control" id="themestudio.ThemeTextBoxStyle" name="themestudio.ThemeTextBoxStyle" placeholder="ThemeTextBoxStyle" [(ngModel)]="themestudio.ThemeTextBoxStyle" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeTextBoxStyle']" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeAreaStyle">ThemeAreaStyle</label>
            <input type="text" class="form-control" id="themestudio.ThemeAreaStyle" name="themestudio.ThemeAreaStyle" placeholder="ThemeAreaStyleThemeAreaStyle" [(ngModel)]="themestudio.ThemeAreaStyle" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeAreaStyle']" />

          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeControlStyle">ThemeControlStyle</label>
            <input type="text" class="form-control" id="themestudio.ThemeControlStyle" name="themestudio.ThemeControlStyle" placeholder="ThemeControlStyle" [(ngModel)]="themestudio.ThemeControlStyle" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeControlStyle']" />

          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="ThemeEmbeddedStyle">ThemeEmbeddedStyle</label>
            <input type="text" class="form-control" id="themestudio.ThemeEmbeddedStyle" name="themestudio.ThemeEmbeddedStyle" placeholder="ThemeEmbeddedStyle" [(ngModel)]="themestudio.ThemeControlStyle" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeEmbeddedStyle']" />

          </div>

          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">


    <label for="ThemeCreatedDate">ThemeCreatedDate</label>
    <input type="text" class="form-control" id="themestudio.ThemeCreatedDate" name="themestudio.ThemeCreatedDate" placeholder="ThemeCreatedDate" [(ngModel)]="themestudio.ThemeCreatedDate" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeCreatedDate']" />

  </div>

  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


    <label for="ThemeCreatedBy">ThemeCreatedBy</label>
    <input type="text" class="form-control" id="themestudio.ThemeCreatedBy" name="themestudio.ThemeControlStyle" placeholder="ThemeCreatedBy" [(ngModel)]="themestudio.ThemeControlStyle" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeCreatedBy']" />

  </div>

  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


    <label for="ThemeUpdatedDate">ThemeUpdatedDate</label>
    <input type="text" class="form-control" id="themestudio.ThemeUpdatedDate" name="themestudio.ThemeUpdatedDate" placeholder="ThemeUpdatedDate" [(ngModel)]="themestudio.ThemeUpdatedDate" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeUpdatedDate']" />

  </div>

  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


    <label for="ThemeUpdatedBy">ThemeUpdatedBy</label>
    <input type="text" class="form-control" id="themestudio.ThemeUpdatedBy" name="themestudio.ThemeUpdatedBy" placeholder="ThemeUpdatedBy" [(ngModel)]="themestudio.ThemeUpdatedBy" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeUpdatedBy']" />

  </div>

  <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


    <label for="ThemeStatus">ThemeStatus</label>
    <input type="text" class="form-control" id="themestudio.ThemeStatus" name="themestudio.ThemeStatus" placeholder="ThemeStatus" [(ngModel)]="themestudio.ThemeStatus" [formControl]="themestudioUpdateFormGroup.controls['themestudio.ThemeStatus']" />

  </div>-->


          <div class="col-12 col-md-6">
          
              <label for="ThemeStatus">ThemeStatus :</label>
              <select id="themestudio.ThemeStatus" class="form-control" name="themestudio.ThemeStatus" [(ngModel)]="themestudio.ExerciseTypeStatus" placeholder="ThemeStatus" formControlName="themestudio.ThemeStatus">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Active</option>
                <option>InActive</option>
              </select>
              <!--<ul class="hp_blk">
                <li *ngIf="form.controls['ThemeStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>-->
            
          </div>

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>

</div>



