<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <!--<h3>Create AccountManagement</h3>-->
      <!--popup content goes here-->
      <form [formGroup]="ViewProgramCategoryform" (ngSubmit)="onUpdateProgramCategory(programcategory)" class="tcs_licfrm">
        <div class="row">


          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="MasterAccount_Id">MasterAccount Name</label>



              <select id="MasterAccount_Id" class="form-control" name="programcategory.MasterAccount_Id" (change)="test($event)" [(ngModel)]="programcategory.MasterAccount_Id" formControlName="programcategory.MasterAccount_Id">

                <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="ViewProgramCategoryform.controls['programcategory.MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">

            <!--<div [ngClass]="{'has-error' : !form.controls.Watch.valid && form.controls.Watch.errors && form.controls.Watch.dirty && form.get('Watch').touched,
    'text-success': form.controls.Watch.valid && form.controls.Watch.dirty}">-->
            <label for="ProgramCategoryName">Program Category Name</label>
            <input type="text" class="form-control tcslgn_inp" id="programcategory.ProgramCategoryName" name="programcategory.ProgramCategoryName" [(ngModel)]="programcategory.ProgramCategoryName" [formControl]="ViewProgramCategoryform.controls['programcategory.ProgramCategoryName']" />
            <!--</div>-->
            <ul class="hp_blk">
              <li *ngIf="ViewProgramCategoryform.controls['programcategory.ProgramCategoryName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ProgramCategoryImgUrl">ProgramCategoryImgUrl</label>

              <input type="file" class="form-control tcslgn_inp" id="ProgramCategoryImgUrl" name="ProgramCategoryImgUrl" />




            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.Listen.valid && form.controls.Listen.errors && form.controls.Listen.dirty && form.get('Listen').touched,
    'text-success': form.controls.Listen.valid && form.controls.Listen.dirty}">-->
            <label for="ProgramCategoryDescription">ProgramCategory Description</label>
            <input type="text" class="form-control tcslgn_inp" id="programcategory.ProgramCategoryDescription" name="programcategory.ProgramCategoryDescription" [(ngModel)]="programcategory.ProgramCategoryDescription" [formControl]="ViewProgramCategoryform.controls['programcategory.ProgramCategoryDescription']" />
            <ul class="hp_blk">
              <li *ngIf="ViewProgramCategoryform.controls['programcategory.ProgramCategoryDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <!--</div>-->
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.ProgramCategoryStatus.valid && form.controls.ProgramCategoryStatus.errors && form.controls.ProgramCategoryStatus.dirty && form.controls('ProgramCategoryStatus').touched,
              'text-success': form.controls.ProgramCategoryStatus.valid && form.controls.ProgramCategoryStatus.dirty}">-->
            <label for="ProgramCategoryStatus">ProgramCategoryStatus :</label>
            <select id="programcategory.ProgramCategoryStatus" class="form-control tcslgn_inp" name="programcategory.ProgramCategoryStatus" [(ngModel)]="programcategory.ProgramCategoryStatus" placeholder="programcategory.ProgramCategoryStatus" [formControl]="ViewProgramCategoryform.controls['programcategory.ProgramCategoryStatus']">
              <option [ngValue]="undefined" disabled selected> Select Status</option>
              <option>Active</option>
              <option>InActive</option>

            </select>
            <ul class="hp_blk">
    <li *ngIf="ViewProgramCategoryform.controls['programcategory.ProgramCategoryStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
  </ul>
            <!--</div>-->
          </div>

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
