<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="exercisequestionUpdateFormGroup" (ngSubmit)="onUpdateExerciseQuestion(exercisequestion)" class="tcs_licfrm">
        <div class="row">
          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">

    <label for="ExerciseId">ExerciseId</label>
    <input type="text" class="form-control tcslgn_inp" id="exercisequestion.Exercise_Id" placeholder="ExerciseId" [(ngModel)]="exercisequestion.Exercise_Id" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.Exercise_Id']" />
    <ul class="hp_blk">
      <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.Exercise_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Exercise_Id">Exercise Name</label>

              <select id="Exercise_Id" class="form-control" name="exercisequestion.Exercise_Id" (change)="test($event)" [(ngModel)]="exercisequestion.Exercise_Id" formControlName="exercisequestion.Exercise_Id">

                <option *ngFor="let item of listofexercise" [value]="item.Id">{{item.ExerciseTitle}}</option>

              </select>

              <ul class="help-block">
                <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.Exercise_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseQuestion">ExerciseQuestion</label>
            <input type="text" class="form-control tcslgn_inp" id="exercisequestion.ExerciseQuestion" placeholder="ExerciseQuestion" [(ngModel)]="exercisequestion.ExerciseQuestion" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestion']" />
            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestion'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseQuestionSummary">ExerciseQuestionSummary</label>
            <input type="text" class="form-control tcslgn_inp" id="exercisequestion.ExerciseQuestionSummary" placeholder="ExerciseQuestionSummary" [(ngModel)]="exercisequestion.ExerciseQuestionSummary" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionSummary']" />
            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionSummary'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseQuestionDescription">ExerciseQuestionDescription</label>
            <input type="text" class="form-control tcslgn_inp" id="exercisequestion.ExerciseQuestionDescription" placeholder="ExerciseQuestionDescription" [(ngModel)]="exercisequestion.ExerciseQuestionDescription" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionDescription']" />
            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>





          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseQuestionAnswers">ExerciseQuestionAnswers</label>
            <input type="text" class="form-control tcslgn_inp" id="exercisequestion.ExerciseQuestionAnswers" placeholder="ExerciseQuestionAnswers" [(ngModel)]="exercisequestion.ExerciseQuestionAnswers" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionAnswers']" />
            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionAnswers'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>




          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseQuestionAnswerOptions">ExerciseQuestionAnswerOptions</label>
            <input type="text" class="form-control tcslgn_inp" id="exercisequestion.ExerciseQuestionAnswerOptions" placeholder="ExerciseQuestionAnswerOptions" [(ngModel)]="exercisequestion.ExerciseQuestionAnswerOptions" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionAnswerOptions']" />
            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionAnswerOptions'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseQuestionAnswerHints">ExerciseQuestionAnswerHints</label>
            <input type="text" class="form-control tcslgn_inp" id="exercisequestion.ExerciseQuestionAnswerHints" placeholder="ExerciseQuestionAnswerHints" [(ngModel)]="exercisequestion.ExerciseQuestionAnswerHints" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionAnswerHints']" />
            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionAnswerHints'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseQuestionAnswerDisplayType">ExerciseQuestionAnswerDisplayType</label>
            <select class="form-control tcslgn_inp" id="exercisequestion.ExerciseQuestionAnswerDisplayType"
                    placeholder="contenttype" [(ngModel)]="exercisequestion.ExerciseQuestionAnswerDisplayType"
                    [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionAnswerDisplayType']">
              <option [ngValue]="undefined" disabled selected> Select DisplayType </option>
              <option>MultipleChoice</option>
              <option>TextArea</option>
              <option>TextBox</option>
            </select>

            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionAnswerDisplayType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseQuestionAnswerExclusionGroups">ExerciseQuestionAnswerExclusionGroups</label>
            <input type="text" class="form-control tcslgn_inp" id="exercisequestion.ExerciseQuestionAnswerExclusionGroups" placeholder="ExerciseQuestionAnswerExclusionGroups" [(ngModel)]="exercisequestion.ExerciseQuestionAnswerExclusionGroups" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionAnswerExclusionGroups']" />
            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionAnswerExclusionGroups'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>







          <!--<div class="col-12 col-md-6">

    <label for="ExerciseQuestionCreatedDate">ExerciseQuestionCreatedDate</label>
    <input type="text" class="form-control" id="exercisequestion.ExerciseQuestionCreatedDate" placeholder="ExerciseQuestionCreatedDate" [(ngModel)]="exercisequestion.ExerciseQuestionCreatedDate" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionCreatedDate']" />

  </div>-->
          <!--<div class="col-12 col-md-6">

    <label for="ExerciseQuestionCreatedBy">ExerciseQuestionCreatedBy</label>
    <input type="text" class="form-control" id="exercisequestion.ExerciseQuestionCreatedBy" placeholder="ExerciseQuestionCreatedBy" [(ngModel)]="exercisequestion.ExerciseQuestionCreatedBy" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionCreatedBy']" />

  </div>-->
          <!--<div class="col-12 col-md-6">

    <label for="ExerciseQuestionUpdatedDate">ExerciseQuestionUpdatedDate</label>
    <input type="text" class="form-control" id="exercisequestion.ExerciseQuestionUpdatedDate" placeholder="ExerciseQuestionUpdatedDate" [(ngModel)]="exercisequestion.ExerciseQuestionUpdatedDate" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionUpdatedDate']" />

  </div>-->
          <!--<div class="col-12 col-md-6">

    <label for="ExerciseQuestionUpdatedBy">ExerciseQuestionUpdatedBy</label>
    <input type="text" class="form-control" id="exercisequestion.ExerciseQuestionUpdatedBy" placeholder="ExerciseQuestionUpdatedBy" [(ngModel)]="exercisequestion.ExerciseQuestionUpdatedBy" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionUpdatedBy']" />

  </div>-->



          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseQuestionStatus">ExerciseQuestionStatus</label>
            <select class="form-control tcslgn_inp" id="exercisequestion.ExerciseQuestionStatus"
                    placeholder="contenttype" [(ngModel)]="exercisequestion.ExerciseQuestionStatus"
                    [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionStatus']">
              <option [ngValue]="undefined" disabled selected> Select Status </option>
              <option>Active</option>
              <option>Inactive</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="ExerciseQuestionIsMandatory">
              <!--<input type="checkbox" class="custom-control-input" [checked]="account.IsMobileEnableOrNot?'checked':''" [(ngModel)]="account.IsMobileEnableOrNot" name="account.IsMobileEnableOrNot" id="account.IsMobileEnableOrNot">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">IsMobileEnableOrNot</span>-->
              <input type="checkbox" [checked]="ExerciseQuestionIsMandatory?'checked':''" [(ngModel)]="exercisequestion.ExerciseQuestionIsMandatory" name="exercisequestion.ExerciseQuestionIsMandatory" id="exercisequestion.ExerciseQuestionIsMandatory" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionIsMandatory']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">ExerciseQuestionIsMandatory</span>
            </label>
            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionIsMandatory'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="ExerciseQuestionIsProficient">
              <!--<input type="checkbox" class="custom-control-input" [checked]="account.IsMobileEnableOrNot?'checked':''" [(ngModel)]="account.IsMobileEnableOrNot" name="account.IsMobileEnableOrNot" id="account.IsMobileEnableOrNot">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">IsMobileEnableOrNot</span>-->
              <input type="checkbox" [checked]="ExerciseQuestionIsProficient?'checked':''" [(ngModel)]="exercisequestion.ExerciseQuestionIsProficient" name="exercisequestion.ExerciseQuestionIsProficient" id="exercisequestion.ExerciseQuestionIsProficient" [formControl]="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionIsProficient']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">ExerciseQuestionIsProficient</span>
            </label>
            <ul class="hp_blk">
              <li *ngIf="exercisequestionUpdateFormGroup.controls['exercisequestion.ExerciseQuestionIsProficient'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


        </div>



        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>


