<div class="container-fluid memberform">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="InstanceFormGroup" (ngSubmit)="onUpdateInstance(instancemanager)" class="tcs_licfrm">
                        <div class="row">
                            <div class="col-md-4">
                               <div class="form-group">
                                  <label for="email">Instance Name</label>
                                <input type="text" class="form-control tcslgn_inp" id="instancemanager.InstanceName" maxlength="150" placeholder="Instance Name" [(ngModel)]="instancemanager.InstanceName" [formControl]="InstanceFormGroup.controls['instancemanager.InstanceName']" />
                                <ul class="hp_blk">
                                    <li *ngIf="InstanceFormGroup.controls['instancemanager.InstanceName'].hasError('required') && isSubmitted" class="err">Instance Name is Required</li>
                                </ul>
                               </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                  <label for="pwd">Server Name</label>
                                  <input type="text" class="form-control tcslgn_inp" maxlength="150" id="instancemanager.ServerName" placeholder="Server Name" [(ngModel)]="instancemanager.ServerName" [formControl]="InstanceFormGroup.controls['instancemanager.ServerName']" />
                                  <ul class="hp_blk">
                                      <li *ngIf="InstanceFormGroup.controls['instancemanager.ServerName'].hasError('required') && isSubmitted" class="err">Server Name is Required</li>
                                  </ul>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="pwd">OS Details</label>
                                    <input type="text" class="form-control tcslgn_inp" id="instancemanager.OSDetails" maxlength="150" placeholder="OS Details" [(ngModel)]="instancemanager.OSDetails" [formControl]="InstanceFormGroup.controls['instancemanager.OSDetails']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="InstanceFormGroup.controls['instancemanager.OSDetails'].hasError('required') && isSubmitted" class="err">OS Details is Required</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="pwd">Instance Admin</label>
                                    <input type="text" class="form-control tcslgn_inp " maxlength="150" id="instancemanager.InstanceAdmin" placeholder="Instance Admin" [(ngModel)]="instancemanager.InstanceAdmin" [formControl]="InstanceFormGroup.controls['instancemanager.InstanceAdmin']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="InstanceFormGroup.controls['instancemanager.InstanceAdmin'].hasError('required') && isSubmitted" class="err">Instance Admin is Required</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                               <div class="form-group">
                                  <label for="pwd">Setup Date Time</label>
                                <input type="date" class="form-control tcslgn_inp" id="instancemanager.SetupDateTime" placeholder="SetupDateTime" [(ngModel)]="instancemanager.SetupDateTime" [formControl]="InstanceFormGroup.controls['instancemanager.SetupDateTime']" />
                                <ul class="hp_blk">
                                    <li *ngIf="InstanceFormGroup.controls['instancemanager.SetupDateTime'].hasError('required') && isSubmitted" class="err">Setup Date Time is Required</li>
                                </ul>
                               </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="pwd">Number of Clients</label>
                                    <input type="text" class="form-control tcslgn_inp" maxlength="5" id="instancemanager.NumberofClients" pattern="[0-9]*" placeholder="NumberofClients" [(ngModel)]="instancemanager.NumberofClients" [formControl]="InstanceFormGroup.controls['instancemanager.NumberofClients']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="InstanceFormGroup.controls['instancemanager.NumberofClients'].hasError('required') && isSubmitted" class="err">Number of Clients is Required</li>
                                    </ul>
                                    <div [hidden]="InstanceFormGroup.controls['instancemanager.NumberofClients'].valid || InstanceFormGroup.controls['instancemanager.NumberofClients'].pristine">
    
                                        <div [hidden]="!InstanceFormGroup.controls['instancemanager.NumberofClients'].hasError('pattern')" class="err">Please Enter Only Digits</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="pwd">Number Of Accounts</label>
                                    <input type="text" class="form-control tcslgn_inp" id="instancemanager.NumberOfAccounts" maxlength="5" pattern="[0-9]*" placeholder="NumberOfAccounts" [(ngModel)]="instancemanager.NumberOfAccounts" [formControl]="InstanceFormGroup.controls['instancemanager.NumberOfAccounts']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="InstanceFormGroup.controls['instancemanager.NumberOfAccounts'].hasError('required') && isSubmitted" class="err">Number Of Accounts is Required</li>
                                    </ul>
                                    <div [hidden]="InstanceFormGroup.controls['instancemanager.NumberOfAccounts'].valid || InstanceFormGroup.controls['instancemanager.NumberOfAccounts'].pristine">
    
                                        <div [hidden]="!InstanceFormGroup.controls['instancemanager.NumberOfAccounts'].hasError('pattern')" class="err">Please Enter Only Digits</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="pwd">Instance Public IP Address</label>
                                    <input type="text" class="form-control tcslgn_inp" id="instancemanager.InstancePublicIPAddress" reqired pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" placeholder="0.0.0.0" [(ngModel)]="instancemanager.InstancePublicIPAddress" [formControl]="InstanceFormGroup.controls['instancemanager.InstancePublicIPAddress']" />
                                    <ul class="hp_blk">
                                        <li *ngIf="InstanceFormGroup.controls['instancemanager.InstancePublicIPAddress'].hasError('required') && isSubmitted" class="err">Instance Public IP Address is Required</li>
                                    </ul>
                                    <div [hidden]="!InstanceFormGroup.controls['instancemanager.InstancePublicIPAddress'].hasError('pattern')" class="err">
                                        Must be a valid Instance Public IP Address!
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                               <div class="form-group">
                                  <label for="pwd">Instance Private IP Address</label>
                                <input type="text" class="form-control tcslgn_inp" id="instancemanager.InstancePrivateIPAddress" reqired pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" placeholder="0.0.0.0" [(ngModel)]="instancemanager.InstancePrivateIPAddress" [formControl]="InstanceFormGroup.controls['instancemanager.InstancePrivateIPAddress']" />
                                <ul class="hp_blk">
                                    <li *ngIf="InstanceFormGroup.controls['instancemanager.InstancePrivateIPAddress'].hasError('required') && isSubmitted" class="err">Instance Private IP Address is Required</li>
                                </ul>
                                <div [hidden]="!InstanceFormGroup.controls['instancemanager.InstancePrivateIPAddress'].hasError('pattern')" class="err">
                                    Must be a valid Instance Private IP Address!
                                </div>
                               </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group frm_btn">
                                <button type="submit" class="btn btn-info">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>