<div class="container-fluid table_wrap">


  <div class="usr__prf">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

          <div class="usr_dts">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="table-responsive">
                  <table class="table table-borderless w-100 sai">
                    <tbody>
                      <tr>
                        <td>
                          <strong>Company Name : </strong> {{license.CompanyName}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Registration Number : </strong> {{license.RegistrationNumber}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Primary Admin Email Id : </strong> {{license.PrimaryAdminEmailID}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Company Phone : </strong> {{license.CompanyPhone}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>License Status : </strong> {{license.LicenseStatus}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>License Start Date : </strong> {{license.LicenseStartDate}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>License End Date : </strong> {{license.LicenseEndDate}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>License Type : </strong> {{license.LicenseType}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>

  </div>
 
  </div>


  <!--<div class="container-fluid memberform">
    <div class="row">
      <h3>ViewLicenseInfo</h3>
      <div class="col-12">
        <label> CompanyName : {{license.CompanyName}}</label>
        <br />
        <label>RegistrationNumber:{{license.RegistrationNumber}}</label>
        <br />
        <label>PrimaryAdminEmailID:{{license.PrimaryAdminEmailID}}</label>
        <br />
        <label>CompanyPhone:{{license.CompanyPhone}}</label>
        <br />
        <label>LicenseStatus:{{license.LicenseStatus}}</label>
        <br/>
        <label>LicenseStartDate:{{license.LicenseStartDate}}</label>
        <br />
        <label>LicenseEndDate:{{license.LicenseEndDate}}</label>
        <br/>
        <label>LicenseType:{{license.LicenseType}}</label>
      </div>
    </div>
  </div>-->
