.lgncrte {
  background: #259dd0;
  margin-bottom: 10px;
  outline: none;
  margin-left: 1020px;
  /*background: -moz-linear-gradient(left, #259dd0 0%, #162448 100%);
    background: -webkit-linear-gradient(left, #259dd0 0%,#162448 100%);
    background: linear-gradient(to right, #259dd0 0%,#162448 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#259dd0', endColorstr='#162448',GradientType=1 );*/
  border: none;
}

.bedit {
  background-color: white;
  color: black;
  border: /*2px solid #008CBA*/ none;
}

  .bedit:hover {
    background-color: #008CBA;
    color: white;
  }

.create_popup {
  width: 95%;
  height: 90%;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 100;
  display: none;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 50px;
}

.crpop {
  display: block;
}

.create_mask {
  width: 100%;
  z-index: 99;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: crosshair;
  display: none;
}

table {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  padding: 0px;
}

.table_wrap {
  background-color: #fff;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.mid_table {
  margin: 0px 20px;
  background-color: #fff;
  padding: 20px;
}

.err {
  background-color: none !important;
  border-color: none !important;
  padding: 5px 0px 0px 0px;
  color: red;
}

.member {
  /* width: 40%;
      float:left; */
  margin-bottom: 15px;
}

.memberform {
  padding: 50px;
}

.member > label {
  display: block;
  font-size: 13px;
}

.member > input {
  display: block;
  width: 96%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
  font-size: 13px;
}

.member > select {
  display: block;
  width: 96%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
  font-size: 13px;
}

.member > checkbox {
  font-size: 13px;
}

.frmlable > label {
  display: block !important;
}

.myfrm {
  display: block;
  width: 100%;
}

.table.table.table-borderless.w-100 tbody tr td {
  vertical-align: middle;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #132e58;
  text-transform: capitalize;
  background: #fff;
  padding-bottom: 20px;
  border: 1px solid #e0e0ef;
}

  .table.table.table-borderless.w-100 tbody tr td strong {
    padding: 0px 10px 0px 2px;
    vertical-align: middle;
    align-items: center;
  }

