<!--<p style="margin-right:10px;">
  dashboard works! test
</p>-->

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white "><i class="fas fa-users"></i></div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          600 / 500 <span><i class="fas fa-circle grn"></i></span>
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Registered Members</strong>
        </small>
      </div>



    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-blue text-white"><i class="fas fa-star"></i> </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          400 / 300 <span><i class="fas fa-circle grn"></i></span>
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Top Users</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-teal text-white"> <i class="fas fa-download"></i> </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          7000 / 1200 *
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>App Installations</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-red text-white"> <i class="fas fa-street-view"></i> </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          1000 / 999 <span><i class="fas fa-circle grn"></i></span>
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Fans</strong>
        </small>
      </div>
    </div>
  </div>
</div>

