
<div class="container-fluid table_wrap">
  <div class="row">

    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">
          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>


    


      </div>

    </div>




    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)">
      </ng2-smart-table>
    </div>
    <!--<div class="table-responsive">
      <table width=99.90% datatable class="table row-border hover mytbl">
        <thead>
          <tr class="thdr">
            <th style="width:80px;">Id</th>
            <th>ForumName</th>

            <th style="width:60px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.listofthemestudio let i=index" class="trdata">
            <td>{{i+1}}</td>
            <td>{{rec.ExerciseTitle}}</td>


            <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
          </tr>
        </tbody>

      </table>




    </div>-->
  </div>
</div>



<div class="create_popup" id="crpop" >
  <h3 class="pop_heading">Create Exercise Question</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="onCreateExerciseQuestion()" class="tcs_licfrm">

        <div class="row">
          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <div [ngClass]="{'has-error' : !form.controls.Exercise_Id.valid && form.controls.Exercise_Id.errors && form.controls.Exercise_Id.dirty && form.get('Exercise_Id').touched,
                          'text-success': form.controls.Exercise_Id.valid && form.controls.Exercise_Id.dirty}">
      <label for="ExerciseID">Exercise ID</label>
      <input type="text" class="form-control tcslgn_inp" id="Exercise_Id" placeholder="Exercise ID" [(ngModel)]="Exercise_Id" [formControl]="form.controls['Exercise_Id']" />
      <ul class="hp_blk">
        <li *ngIf="form.controls['Exercise_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>
  </div>-->

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Exercise_Id">Exercise Name</label>
             
                <select id="Exercise_Id" class="form-control" name="Exercise_Id" (change)="test($event)" [(ngModel)]="Exercise_Id" formControlName="Exercise_Id">

                  <option *ngFor="let item of listofexercise" [value]="item.Id">{{item.ExerciseTitle}}</option>

                </select>

                <ul class="help-block">
                  <li *ngIf="form.controls['Exercise_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              
            </div>
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestion.valid && form.controls.ExerciseQuestion.errors && form.controls.ExerciseQuestion.dirty && form.get('ExerciseQuestion').touched,
                                  'text-success': form.controls.ExerciseQuestion.valid && form.controls.ExerciseQuestion.dirty}">
              <label for="ExerciseQuestion">Exercise Question</label>
              <input type="text" class="form-control tcslgn_inp" id="ExerciseQuestion" placeholder="Exercise Question" [(ngModel)]="ExerciseQuestion" [formControl]="form.controls['ExerciseQuestion']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseQuestion'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionSummary.valid && form.controls.ExerciseQuestionSummary.errors && form.controls.ExerciseQuestionSummary.dirty && form.get('ExerciseQuestionSummary').touched,
                                  'text-success': form.controls.ExerciseQuestionSummary.valid && form.controls.ExerciseQuestionSummary.dirty}">
              <label for="ExerciseQuestionSummary">Exercise Question Summary</label>
              <input type="text" class="form-control tcslgn_inp" id="ExerciseQuestionSummary" placeholder="Exercise Question Summary" [(ngModel)]="ExerciseQuestionSummary" [formControl]="form.controls['ExerciseQuestionSummary']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseQuestionSummary'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionDescription.valid && form.controls.ExerciseQuestionDescription.errors && form.controls.ExerciseQuestionDescription.dirty && form.get('ExerciseQuestionDescription').touched,
                                  'text-success': form.controls.ExerciseQuestionDescription.valid && form.controls.ExerciseQuestionDescription.dirty}">
              <label for="ExerciseQuestionDescription">Exercise Question Description</label>
              <input type="text" class="form-control tcslgn_inp" id="ExerciseQuestionDescription" placeholder="Exercise Question Description" [(ngModel)]="ExerciseQuestionDescription" [formControl]="form.controls['ExerciseQuestionDescription']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseQuestionDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>




          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionAnswers.valid && form.controls.ExerciseQuestionAnswers.errors && form.controls.ExerciseQuestionAnswers.dirty && form.get('ExerciseQuestionAnswers').touched,
                                  'text-success': form.controls.ExerciseQuestionAnswers.valid && form.controls.ExerciseQuestionAnswers.dirty}">
              <label for="ExerciseQuestionAnswers">Exercise Question Answers</label>
              <input type="text" class="form-control tcslgn_inp" id="ExerciseQuestionAnswers" placeholder="Exercise Question Answers" [(ngModel)]="ExerciseQuestionAnswers" [formControl]="form.controls['ExerciseQuestionAnswers']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseQuestionAnswers'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionAnswerOptions.valid && form.controls.ExerciseQuestionAnswerOptions.errors && form.controls.ExerciseQuestionAnswerOptions.dirty && form.get('ExerciseQuestionAnswerOptions').touched,
                                  'text-success': form.controls.ExerciseQuestionAnswerOptions.valid && form.controls.ExerciseQuestionAnswerOptions.dirty}">
              <label for="ExerciseQuestionAnswerOptions">Exercise Question Answer Options</label>
              <input type="text" class="form-control tcslgn_inp" id="ExerciseQuestionAnswerOptions" placeholder="Exercise Question Answer Options" [(ngModel)]="ExerciseQuestionAnswerOptions" [formControl]="form.controls['ExerciseQuestionAnswerOptions']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseQuestionAnswerOptions'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionAnswerHints.valid && form.controls.ExerciseQuestionAnswerHints.errors && form.controls.ExerciseQuestionAnswerHints.dirty && form.get('ExerciseQuestionAnswerHints').touched,
                                  'text-success': form.controls.ExerciseQuestionAnswerHints.valid && form.controls.ExerciseQuestionAnswerHints.dirty}">
              <label for="ExerciseQuestionAnswerHints">Exercise Question Answer Hints</label>
              <input type="text" class="form-control tcslgn_inp" id="ExerciseQuestionAnswerHints" placeholder="Exercise Question Answer Hints" [(ngModel)]="ExerciseQuestionAnswerHints" [formControl]="form.controls['ExerciseQuestionAnswerHints']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseQuestionAnswerHints'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionAnswerDisplayType.valid && form.controls.ExerciseQuestionAnswerDisplayType.errors && form.controls.ExerciseQuestionAnswerDisplayType.dirty && form.get('ExerciseQuestionAnswerDisplayType').touched,
                                  'text-success': form.controls.ExerciseQuestionAnswerDisplayType.valid && form.controls.ExerciseQuestionAnswerDisplayType.dirty}">
              <label for="ExerciseQuestionAnswerDisplayType">Exercise Question Answer Display Type</label>
              <select id="ExerciseQuestionAnswerDisplayType" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" class="form-control tcslgn_inp" name="ExerciseQuestionAnswerDisplayType" [(ngModel)]="ExerciseQuestionAnswerDisplayType" [formControl]="form.controls['ExerciseQuestionAnswerDisplayType']">
                <option [ngValue]="undefined" disabled selected> Select Display Type</option>
                <option>MultipleChoice</option>
                <option>TextArea</option>
                <option>TextBox</option>

              </select>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseQuestionAnswerDisplayType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionAnswerExclusionGroups.valid && form.controls.ExerciseQuestionAnswerExclusionGroups.errors && form.controls.ExerciseQuestionAnswerExclusionGroups.dirty && form.get('ExerciseQuestionAnswerExclusionGroups').touched,
                                  'text-success': form.controls.ExerciseQuestionAnswerExclusionGroups.valid && form.controls.ExerciseQuestionAnswerExclusionGroups.dirty}">
              <label for="ExerciseQuestionAnswerExclusionGroups">Exercise Question Answer Exclusion Groups</label>
              <input type="text" class="form-control tcslgn_inp" id="ExerciseQuestionAnswerExclusionGroups" placeholder="Exercise Question Answer Exclusion Groups" [(ngModel)]="ExerciseQuestionAnswerExclusionGroups" [formControl]="form.controls['ExerciseQuestionAnswerExclusionGroups']" />
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseQuestionAnswerExclusionGroups'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>

          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionCreatedDate.valid && form.controls.ExerciseQuestionCreatedDate.errors && form.controls.ExerciseQuestionCreatedDate.dirty && form.get('ExerciseQuestionCreatedDate').touched,
                          'text-success': form.controls.ExerciseQuestionCreatedDate.valid && form.controls.ExerciseQuestionCreatedDate.dirty}">
      <label for="ExerciseQuestionCreatedDate">ExerciseQuestionCreatedDate</label>
      <input type="date" class="form-control tcslgn_inp" id="ExerciseQuestionCreatedDate" placeholder="ExerciseQuestionCreatedDate" [(ngModel)]="ExerciseQuestionCreatedDate" [formControl]="form.controls['ExerciseQuestionCreatedDate']" />
      <ul class="hp_blk">
        <li *ngIf="form.controls['ExerciseQuestionCreatedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>
  </div>-->
          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionCreatedBy.valid && form.controls.ExerciseQuestionCreatedBy.errors && form.controls.ExerciseQuestionCreatedBy.dirty && form.get('ExerciseQuestionCreatedBy').touched,
                          'text-success': form.controls.ExerciseQuestionCreatedBy.valid && form.controls.ExerciseQuestionCreatedBy.dirty}">
      <label for="ExerciseQuestionCreatedBy">ExerciseQuestionCreatedBy</label>
      <input type="text" class="form-control tcslgn_inp" id="ExerciseQuestionCreatedBy" placeholder="ExerciseQuestionCreatedBy" [(ngModel)]="ExerciseQuestionCreatedBy" [formControl]="form.controls['ExerciseQuestionCreatedBy']" />
      <ul class="hp_blk">
        <li *ngIf="form.controls['ExerciseQuestionCreatedBy'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>
  </div>-->
          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionUpdatedDate.valid && form.controls.ExerciseQuestionUpdatedDate.errors && form.controls.ExerciseQuestionUpdatedDate.dirty && form.get('ExerciseQuestionUpdatedDate').touched,
                          'text-success': form.controls.ExerciseQuestionUpdatedDate.valid && form.controls.ExerciseQuestionUpdatedDate.dirty}">
      <label for="ExerciseQuestionUpdatedDate">ExerciseQuestionUpdatedDate</label>
      <input type="date" class="form-control tcslgn_inp" id="ExerciseQuestionUpdatedDate" placeholder="ExerciseQuestionUpdatedDate" [(ngModel)]="ExerciseQuestionUpdatedDate" [formControl]="form.controls['ExerciseQuestionUpdatedDate']" />
      <ul class="hp_blk">
        <li *ngIf="form.controls['ExerciseQuestionUpdatedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>
  </div>-->
          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionUpdatedBy.valid && form.controls.ExerciseQuestionUpdatedBy.errors && form.controls.ExerciseQuestionUpdatedBy.dirty && form.get('ExerciseQuestionUpdatedBy').touched,
                          'text-success': form.controls.ExerciseQuestionUpdatedBy.valid && form.controls.ExerciseQuestionUpdatedBy.dirty}">
      <label for="ExerciseQuestionUpdatedBy">ExerciseQuestionUpdatedBy</label>
      <input type="text" class="form-control tcslgn_inp" id="ExerciseQuestionUpdatedBy" placeholder="ExerciseQuestionUpdatedBy" [(ngModel)]="ExerciseQuestionUpdatedBy" [formControl]="form.controls['ExerciseQuestionUpdatedBy']" />
      <ul class="hp_blk">
        <li *ngIf="form.controls['ExerciseQuestionUpdatedBy'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>
  </div>-->


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionStatus.valid && form.controls.ExerciseQuestionStatus.errors && form.controls.ExerciseQuestionStatus.dirty && form.get('ExerciseQuestionStatus').touched,
                                  'text-success': form.controls.ExerciseQuestionStatus.valid && form.controls.ExerciseQuestionStatus.dirty}">
              <label for="Country">Exercise Question Status :</label>
              <select id="ExerciseQuestionStatus" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" class="form-control tcslgn_inp" name="ExerciseQuestionStatus" [(ngModel)]="ExerciseQuestionStatus" [formControl]="form.controls['ExerciseQuestionStatus']">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Active</option>
                <option>Inactive</option>

              </select>
              <ul class="hp_blk">
                <li *ngIf="form.controls['ExerciseQuestionStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionIsMandatory.valid && form.controls.ExerciseQuestionIsMandatory.errors && form.controls.ExerciseQuestionIsMandatory.dirty && form.get('ExerciseQuestionIsMandatory').touched,
    'text-success': form.controls.ExerciseQuestionIsMandatory.valid && form.controls.ExerciseQuestionIsMandatory.dirty}">-->
            <label class="custom-control custom-checkbox mb-3" for="ExerciseQuestionIsMandatory">
              <input type="checkbox" [checked]="ExerciseQuestionIsMandatory?'checked':''" [(ngModel)]="ExerciseQuestionIsMandatory" name="ExerciseQuestionIsMandatory" id="ExerciseQuestionIsMandatory" [formControl]="form.controls['ExerciseQuestionIsMandatory']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Exercise Question Is Mandatory</span>
            </label>
            <!--<ul class="hp_blk">
        <li *ngIf="form.controls['ExerciseQuestionIsMandatory'].hasError('required') && isSubmitted" class="err">This field is Required</li>
      </ul>
    </div>-->
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.ExerciseQuestionIsProficient.valid && form.controls.ExerciseQuestionIsProficient.errors && form.controls.ExerciseQuestionIsProficient.dirty && form.get('ExerciseQuestionIsProficient').touched,
    'text-success': form.controls.ExerciseQuestionIsProficient.valid && form.controls.ExerciseQuestionIsProficient.dirty}">-->
            <!--<label for="ExerciseQuestionIsProficient">ExerciseQuestionIsProficient</label>-->
            <label class="custom-control custom-checkbox mb-3" for="ExerciseQuestionIsProficient">
              <input type="checkbox" [checked]="ExerciseQuestionIsProficient?'checked':''" [(ngModel)]="ExerciseQuestionIsProficient" name="ExerciseQuestionIsProficient" id="ExerciseQuestionIsProficient" [formControl]="form.controls['ExerciseQuestionIsProficient']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Exercise Question Is Proficient</span>
            </label>
            <!--<ul class="hp_blk">
      <li *ngIf="form.controls['ExerciseQuestionIsProficient'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>-->
            <!--</div>-->
          </div>

        </div>





        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>







