
<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="exercisetypeUpdateFormGroup" (ngSubmit)="onUpdateExerciseType(exercisetype)" class="tcs_licfrm">
        <div class="row">
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="MasterAccount_Id">MasterAccount Name</label>



              <select id="MasterAccount_Id" class="form-control" name="exercisetype.MasterAccount_Id" (change)="test($event)" [(ngModel)]="exercisetype.MasterAccount_Id" formControlName="exercisetype.MasterAccount_Id">

                <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="exercisetypeUpdateFormGroup.controls['exercisetype.MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <label for="ExerciseTypeName">ExerciseTypeName</label>
            <input type="text" class="form-control tcslgn_inp" id="exercisetype.ExerciseTypeName" name="exercisetype.ExerciseTypeName" placeholder="ExerciseTypeName" [(ngModel)]="exercisetype.ExerciseTypeName" [formControl]="exercisetypeUpdateFormGroup.controls['exercisetype.ExerciseTypeName']" />
            <ul class="help-block">
              <li *ngIf="exercisetypeUpdateFormGroup.controls['exercisetype.ExerciseTypeName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ExerciseTypeIcon">ExerciseTypeIcon</label>
              <input type="file" class="form-control tcslgn_inp" id="ExerciseTypeIcon" name="ExerciseTypeIcon" />
            </div>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <label for="ExerciseTypeDescription">ExerciseType Description</label>
            <input type="text" class="form-control tcslgn_inp" id="exercisetype.ExerciseTypeDescription" name="exercisetype.ExerciseTypeDescription" placeholder="ExerciseTypeDescription" [(ngModel)]="exercisetype.ExerciseTypeDescription" [formControl]="exercisetypeUpdateFormGroup.controls['exercisetype.ExerciseTypeDescription']" />
            <ul class="help-block">
              <li *ngIf="exercisetypeUpdateFormGroup.controls['exercisetype.ExerciseTypeDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
    <label for="ExerciseTypeName">ExerciseTypeName</label>
    <input type="text" class="form-control tcslgn_inp" id="exercisetype.ExerciseTypeName" name="exercisetype.ExerciseTypeName" placeholder="ExerciseTypeName" [(ngModel)]="exercisetype.ExerciseTypeName" [formControl]="exercisetypeUpdateFormGroup.controls['exercisetype.ExerciseTypeName']" />
  </div>-->





          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseTypeStatus">ExerciseTypeStatus :</label>
            <select id="exercisetype.ExerciseTypeStatus" class="form-control tcslgn_inp" name="exercisetype.ExerciseTypeStatus" [(ngModel)]="exercisetype.ExerciseTypeStatus" placeholder="ExerciseTypeStatus" formControlName="exercisetype.ExerciseTypeStatus">
              <option [ngValue]="undefined" disabled selected> Select Status </option>
              <option>Active</option>
              <option>InActive</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="exercisetypeUpdateFormGroup.controls['exercisetype.ExerciseTypeStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>



        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>

</div>
