<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">



      <form [formGroup]="Viewforumdiscussionform" (ngSubmit)="onUpdateForumdiscussion(forumdiscussion)" class="tcs_licfrm">
        <div class="row">

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Forum_Id">Forum Id</label>
             


                <select id="Forum_Id" class="form-control" name="forumdiscussion.Forum_Id" (change)="test($event)" [(ngModel)]="forumdiscussion.Forum_Id" formControlName="forumdiscussion.Forum_Id">

                  <option *ngFor="let item of listofForums" [value]="item.Id">{{item.ForumName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="Viewforumdiscussionform.controls['forumdiscussion.Forum_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

             
            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ForumTopics_Id">Forum Topic Title</label>
             


                <select id="ForumTopics_Id" class="form-control" name="forumdiscussion.ForumTopics_Id" (change)="test1($event)" [(ngModel)]="forumdiscussion.ForumTopics_Id" formControlName="forumdiscussion.ForumTopics_Id">

                  <option *ngFor="let item of listofForumtopics" [value]="item.Id">{{item.ForumTopicTitle}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="Viewforumdiscussionform.controls['forumdiscussion.ForumTopics_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Member_Id">Forum Topic Title</label>
             


                <select id="Member_Id" class="form-control" name="forumdiscussion.Member_Id" (change)="test2($event)" [(ngModel)]="forumdiscussion.Member_Id" formControlName="forumdiscussion.Member_Id">

                  <option *ngFor="let item of listofMembers" [value]="item.Id">{{item.UserName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="Viewforumdiscussionform.controls['forumdiscussion.Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          
              <label for="ForumDiscussionComments"> Forum Discussion Comments</label>
              <input type="text" class="form-control tcslgn_inp" id="forumdiscussion.ForumDiscussionComments" placeholder="ForumDiscussionComments" [(ngModel)]="forumdiscussion.ForumDiscussionComments" [formControl]="Viewforumdiscussionform.controls['forumdiscussion.ForumDiscussionComments']" />
              <ul class="hp_blk">
                <li *ngIf="Viewforumdiscussionform.controls['forumdiscussion.ForumDiscussionComments'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
           
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ForumDiscussionFile1">Forum Discussion File1</label>
            <input type="file" class="form-control tcslgn_inp" id="ForumDiscussionFile1" />

          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ForumDiscussionFile2">Forum Discussion File2</label>
            <input type="file" class="form-control tcslgn_inp" id="ForumDiscussionFile2" />

          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ForumDiscussionFile3">Forum Discussion File3</label>
            <input type="file" class="form-control tcslgn_inp" id="ForumDiscussionFile3" />

          </div>




          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="ForumDiscussionPositiveCounters">Forum Discussion Positive Counters </label>
              <input type="text" class="form-control tcslgn_inp" id="forumdiscussion.ForumDiscussionPositiveCounters" placeholder="ForumDiscussionPositiveCounters" [(ngModel)]="forumdiscussion.ForumDiscussionPositiveCounters" [formControl]="Viewforumdiscussionform.controls['forumdiscussion.ForumDiscussionPositiveCounters']" />
              <ul class="hp_blk">
                <li *ngIf="Viewforumdiscussionform.controls['forumdiscussion.ForumDiscussionPositiveCounters'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            
          </div>-->



          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="ForumDiscussionNegativeCounters">Forum Discussion Negative Counters</label>
              <input type="text" class="form-control tcslgn_inp" id="forumdiscussion.ForumDiscussionNegativeCounters" placeholder="ForumDiscussionNegativeCounters" [(ngModel)]="forumdiscussion.ForumDiscussionNegativeCounters" [formControl]="Viewforumdiscussionform.controls['forumdiscussion.ForumDiscussionNegativeCounters']" />
              <ul class="hp_blk">
                <li *ngIf="Viewforumdiscussionform.controls['forumdiscussion.ForumDiscussionNegativeCounters'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
          
          </div>-->


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
           
              <label for="ForumDiscussionStatus">Forum Discussion Status</label>
              <select class="form-control tcslgn_inp" id="forumdiscussion.EventStatus"  name="ForumDiscussionStatus" [(ngModel)]="forumdiscussion.ForumDiscussionStatus" placeholder="ForumDiscussionStatus" [formControl]="Viewforumdiscussionform.controls['forumdiscussion.ForumDiscussionStatus']">
                <option [ngValue]="undefined" disabled selected> Select Status</option>
                <option>Active</option>
                <option>InActive</option>
              </select>
              <ul class="hp_blk">
                <li *ngIf="Viewforumdiscussionform.controls['forumdiscussion.ForumDiscussionStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
           
          </div>

          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="ForumDiscussionIsModerated">

              <input type="checkbox" [checked]="ForumDiscussionIsModerated?'checked':''" [(ngModel)]="forumdiscussion.ForumDiscussionIsModerated" name="forumdiscussion.ForumDiscussionIsModerated" id="forumdiscussion.ForumDiscussionIsModerated" [formControl]="Viewforumdiscussionform.controls['forumdiscussion.ForumDiscussionIsModerated']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Forum Discussion Is Moderated</span>
            </label>
          </div>-->

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
