
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    border-collapse: collapse;
    width: 100%;
  
  }
  
  td, th {
   
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    padding: 0px;
  }
  .table_wrap{  background-color: #fff; margin:0px 0px 0px 0px; padding: 0px;}
  .mid_table{ margin:0px 20px; background-color: #fff; padding: 20px;}


.dataTables_filter > label > input{
    border-radius: 4px; padding: 5px 10px; border:1px solid #ddd; margin-bottom: 5px;
}
  .paging_simple_numbers{ margin:10px 0px 0px 0px;}
  .current{ background: #259dd0!important; border-color:#259dd0!important; color: #fff!important;}
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #259dd0!important; border-color:#259dd0!important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff!important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current,
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { color: #fff!important;}

  .thdr > th{ font-size:14px; background-color: #f5f5f5; color: #000;}

  table.dataTable thead th, table.dataTable thead td {
   padding: 10px 13px!important;
    border-bottom: 1px solid #ddd!important;
    background-image: none!important;
}
.trdata > td{ font-size: 13px; color: #333;}
.mybtnedit{ width: 100%; height: 30px; line-height: 13px; font-size: 13px; color: #fff; font-weight:bold; margin-top:5px; background-color: #259dd0;}

.lgncrte {
  background: #259dd0;
margin-bottom:10px;
  outline: none;
  float:right;
  border: none;
}

body {
  background-color: #e4e5e6;
  font-family: 'Roboto', sans-serif;
}

.tcs_licfrm > .row > .mb-1 > div > label {
  font-size: 13px;
  color: #999;
}
.size_red {
  font-size: 13px;
  color: #999;
}

.memberform{ background-color:#fff; padding :50px 20px;}


.sai table.table.table-bordered {
  border: 1px solid rgba(242, 242, 242, 0.58);
  box-shadow: 0 0.75rem 1.5rem rgba(236, 242, 247, 0.56);
}

  .sai table.table.table-bordered thead tr.ng2-smart-titles th.ng2-smart-th {
    position: relative;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #3a68b1 !important;
    border: 1px solid #e0e0ef;
    border-right: none;
    border-top: none;
    border-left: none;
  }

.sai table tbody tr:nth-of-type(odd) {
  background-color: #f9fbfd;
}

.sai table tbody tr td {
  border: 0px;
  border-bottom: 1px solid #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #132e58;
  border: 0px;
  padding: 10px 10px;
}

.theme-light .table thead th {
  background-color: #fff;
  border: 1px solid #e0e0ef;
  border-right: none;
  border-top: none;
  border-left: none;
}


th.ng2-smart-th:before {
  right: 0px;
  content: "\2191";
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
  line-height: 2.5;
  font-size: 0.65rem;
}

th.ng2-smart-th:after {
  font-size: 0.65rem;
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
  right: 0.5em;
  content: "\2193";
}

th.ng2-smart-actions {
  background-color: #fff !important;
  border: 0px;
  border-bottom: 1px solid #e0e0ef !important;
}
input.form-control.txtcls {
  border-radius: 0px;
}

label {
  font-size: 13px;
  color: #999;
}
span.mr-auto {
  color: #999;
  font-size: 13px;
}


.card {
  border: 1px solid rgba(242, 242, 242, 0.58);
  box-shadow: 0 0.75rem 1.5rem rgba(236, 242, 247, 0.56);
  border-radius: 3px;
}
  .card .card-body {
    padding: 1.88rem 1.81rem;
  }

.content-wrapper {
  background: #f9fbfd;
  padding: 1.5rem 1.7rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

body {
  background-color: #e4e5e6;
  font-family: 'Roboto', sans-serif;
  background: #f9fbfd;
}

.modal {
  overflow-y: scroll !important;
}

.modal-dialog {
  width: 80% !important;
  max-width: 80% !important;
}

.snack-bar-container.mat-snack-bar-container.ng-tns-c9-2.ng-trigger.ng-trigger-state.mat-snack-bar-center.ng-star-inserted {
  position: absolute !important;
  top: 0px !important;
  padding: 20px 20px !important;
}

snack-bar-container.mat-snack-bar-container.ng-tns-c9-0.ng-trigger.ng-trigger-state.mat-snack-bar-center.ng-star-inserted {
  position: absolute !important;
  top: 0px !important;
  padding: 20px 20px !important;
}

.mat-simple-snackbar {
  position: absolute !important;
  top: 0px !important;
  padding: 20px 20px !important;
}
.mat-snack-bar-container {
  position: absolute !important;
  top: 0px !important;
  padding: 20px 20px !important;
}
