

<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="accountmembershipUpdateFormGroup" (ngSubmit)="onUpdateAccountMembership(accountmembership)" class="tcs_licfrm">
        <div class="row">
          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">

    <label for="MemberID">MemberID</label>
    <input type="text" class="form-control tcslgn_inp" id="accountmembership.Member_Id" name="accountmembership.Member_Id" placeholder="MemberId" [(ngModel)]="accountmembership.Member_Id" [formControl]="accountmembershipUpdateFormGroup.controls['accountmembership.Member_Id']" />
    <ul class="hp_blk">
      <li *ngIf="accountmembershipUpdateFormGroup.controls['accountmembership.Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="Member_Id">Member Name</label>

              <select id="Member_Id" class="form-control" name="accountmembership.Member_Id" (change)="member($event)" [(ngModel)]="accountmembership.Member_Id" formControlName="accountmembership.Member_Id">

                <option *ngFor="let item of listofMembers" [value]="item.Id">{{item.UserName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="accountmembershipUpdateFormGroup.controls['accountmembership.Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>



          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">


    <label for="MemberAccountId">Member Account Id</label>
    <input type="text" class="form-control tcslgn_inp" id="accountmembership.MemberAccount_Id" name="accountmembership.MemberAccount_Id" placeholder="Member Account Id" [(ngModel)]="accountmembership.MemberAccount_Id" [formControl]="accountmembershipUpdateFormGroup.controls['accountmembership.MemberAccount_Id']" />
    <ul class="hp_blk">
      <li *ngIf="accountmembershipUpdateFormGroup.controls['accountmembership.MemberAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="MemberAccount_Id">MasterAccount Name</label>



              <select id="MemberAccount_Id" class="form-control" name="accountmembership.MemberAccount_Id" (change)="test($event)" [(ngModel)]="accountmembership.MemberAccount_Id" formControlName="accountmembership.MemberAccount_Id">

                <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="accountmembershipUpdateFormGroup.controls['accountmembership.MemberAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="UserName">User Name</label>
            <input type="text" class="form-control tcslgn_inp" id="accountmembership.ACM_UserName" name="accountmembership.ACM_UserName" placeholder="User Name" [(ngModel)]="accountmembership.ACM_UserName" [formControl]="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_UserName']" />
            <ul class="hp_blk">
              <li *ngIf="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_UserName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="email">Email</label>
            <input type="email" class="form-control tcslgn_inp" id="accountmembership.ACM_Email" name="accountmembership.Email" [(ngModel)]="accountmembership.ACM_Email" [formControl]="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_Email']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />
            <ul class="hp_blk">
              <li *ngIf="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_Email'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <div [hidden]="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_Email'].valid || accountmembershipUpdateFormGroup.controls['accountmembership.ACM_Email'].pristine" class="alert alert-danger err2">
              <div [hidden]="!accountmembershipUpdateFormGroup.controls['accountmembership.ACM_Email'].hasError('required')">Email is required</div>
              <div [hidden]="!accountmembershipUpdateFormGroup.controls['accountmembership.ACM_Email'].hasError('pattern')">
                Email format should be
                <small> <b>john@something.com</b> </small>
              </div>
            </div>
          </div>





          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="Password">Password</label>
            <input type="password" class="form-control tcslgn_inp" id="accountmembership.ACM_Password" name="accountmembership.ACM_Password" placeholder="Password" [(ngModel)]="accountmembership.ACM_Password" [formControl]="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_Password']" />
            <ul class="hp_blk">
              <li *ngIf="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_Password'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>

          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ACM_ImageUrl">ACM ImageUrl</label>

              <input type="file" class="form-control tcslgn_inp" id="ACM_ImageUrl" name="ACM_ImageUrl" />




            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="LastLogin">Last Login</label>
            <input type="date" class="form-control tcslgn_inp" id="accountmembership.ACM_LastLogin" name="accountmembership.ACM_LastLogin" placeholder="Last Login" [(ngModel)]="accountmembership.ACM_LastLogin" [formControl]="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_LastLogin']" />
            <ul class="hp_blk">
              <li *ngIf="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_LastLogin'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="RoleID">Role ID</label>
            <input type="text" class="form-control tcslgn_inp" id="accountmembership.ACM_Role_Id" name="accountmembership.ACM_Role_Id" placeholder="Role ID" [(ngModel)]="accountmembership.ACM_Role_Id" [formControl]="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_Role_Id']" />
            <ul class="hp_blk">
              <li *ngIf="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_Role_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">


            <label for="LoginStatus">Login Status</label>
            <select id="accountmembership.ACM_LoginStatus" class="form-control tcslgn_inp" name="accountmembership.ACM_LoginStatus" [(ngModel)]="accountmembership.ACM_LoginStatus" placeholder="Login Status" [formControl]="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_LoginStatus']">
              <option value="" selected>select</option>
              <option>Active</option>
              <option>InActive</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="accountmembershipUpdateFormGroup.controls['accountmembership.ACM_LoginStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>

</div>



