

<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="exerciseUpdateFormGroup" (ngSubmit)="onUpdateExercise(exercise)" class="tcs_licfrm">
        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <label for="ExerciseTitle">ExerciseTitle</label>
            <input type="text" class="form-control tcslgn_inp" id="exercise.ExerciseTitle" name="exercise.ExerciseTitle" placeholder="ExerciseTitle" [(ngModel)]="exercise.ExerciseTitle" [formControl]="exerciseUpdateFormGroup.controls['exercise.ExerciseTitle']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseUpdateFormGroup.controls['exercise.ExerciseTitle'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>




          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="NoofQuestions">NoofQuestions</label>
            <input type="text" class="form-control tcslgn_inp" id="exercise.NoofQuestions" placeholder="NoofQuestions" [(ngModel)]="exercise.NoofQuestions" [formControl]="exerciseUpdateFormGroup.controls['exercise.NoofQuestions']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseUpdateFormGroup.controls['exercise.NoofQuestions'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <!--<div class="col-xl-6 col-lg-6 col-md-12 mb-1">

    <label for="Exercise_Type_Id">Exercise TypeId</label>
    <input type="text" class="form-control tcslgn_inp" id="exercise.Exercise_Type_Id" placeholder="Exercise_Type_Id" [(ngModel)]="exercise.Exercise_Type_Id" [formControl]="exerciseUpdateFormGroup.controls['exercise.Exercise_Type_Id']" />
    <ul class="hp_blk">
      <li *ngIf="exerciseUpdateFormGroup.controls['exercise.Exercise_Type_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->
          <div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="ExerciseType_Id">ExerciseType Name</label>


              <select id="ExerciseType_Id" class="form-control" name="exercise.ExerciseType_Id" (change)="test($event)" [(ngModel)]="exercise.ExerciseType_Id" formControlName="exercise.ExerciseType_Id">

                <option *ngFor="let item of listofexercisetype" [value]="item.Id">{{item.ExerciseTypeName}}</option>


              </select>

              <ul class="help-block">
                <li *ngIf="exerciseUpdateFormGroup.controls['exercise.ExerciseType_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>


            </div>
          </div>






          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ExerciseDescription">Exercise Description</label>
            <input type="text" class="form-control tcslgn_inp" id="exercise.ExerciseDescription" placeholder="ExerciseDescription" [(ngModel)]="exercise.ExerciseDescription" [formControl]="exerciseUpdateFormGroup.controls['exercise.ExerciseDescription']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseUpdateFormGroup.controls['exercise.ExerciseDescription'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ExerciseSynopsis">Exercise Synopsis</label>
            <input type="text" class="form-control tcslgn_inp" id="exercise.ExerciseSynopsis" placeholder="ExerciseSynopsis" [(ngModel)]="exercise.ExerciseSynopsis" [formControl]="exerciseUpdateFormGroup.controls['exercise.ExerciseSynopsis']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseUpdateFormGroup.controls['exercise.ExerciseSynopsis'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>




          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ExerciseObjectives">Exercise Objectives</label>
            <input type="text" class="form-control tcslgn_inp" id="exercise.ExerciseObjectives" placeholder="ExerciseObjectives" [(ngModel)]="exercise.ExerciseObjectives" [formControl]="exerciseUpdateFormGroup.controls['exercise.ExerciseObjectives']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseUpdateFormGroup.controls['exercise.ExerciseObjectives'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>




          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ExerciseAccessType">Exercise AccessType</label>
            <input type="text" class="form-control tcslgn_inp" id="exercise.ExerciseAccessType" placeholder="ExerciseAccessType" [(ngModel)]="exercise.ExerciseAccessType" [formControl]="exerciseUpdateFormGroup.controls['exercise.ExerciseAccessType']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseUpdateFormGroup.controls['exercise.ExerciseObjectives'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ExerciseDependency">Exercise Dependency</label>
            <select class="form-control tcslgn_inp" id="ExerciseDependency" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" name="ExerciseDependency" [(ngModel)]="exercise.ExerciseDependency" [formControl]="exerciseUpdateFormGroup.controls['exercise.ExerciseDependency']">
              <option [ngValue]="undefined" disabled selected> Select Dependency</option>
              <option>Mutual Dependent</option>
              <option>Mutual Independent</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="exerciseUpdateFormGroup.controls['exercise.ExerciseDependency'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>
          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseStatus">Exercise Status :</label>
            <select id="ExerciseStatus" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" class="form-control tcslgn_inp" name="ExerciseStatus" [(ngModel)]="exercise.ExerciseStatus" placeholder="ExerciseStatus" formControlName="exercise.ExerciseStatus">
              <option [ngValue]="undefined" disabled selected> Select Status </option>
              <option>Active</option>
              <option>InActive</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="exerciseUpdateFormGroup.controls['exercise.ExerciseStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label class="custom-control custom-checkbox mb-3" for="IsExerciseModerated">

              <input type="checkbox" [checked]="IsExerciseModerated?'checked':''" [(ngModel)]="exercise.IsExerciseModerated" name="exercise.IsExerciseModerated" id="exercise.IsExerciseModerated" [formControl]="exerciseUpdateFormGroup.controls['exercise.IsExerciseModerated']" />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">IsExercise Moderated</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>

        </div>
      </form>
    </div>
  </div>

</div>
