
<div class="container-fluid table_wrap">
  <div class="mid_table">

<button class="btn btn-primary lgncrte" (click)="openCpopup()" type="button">Create</button>
<div class="clearfix"></div>

  <div class="table-responsive">
    <table  width=99.90%   datatable class="table row-border hover mytbl" *ngIf="this.temp_var">
      <thead>
         <tr class="thdr">
           <th style="width:80px;">Portal Id</th>
           <th>Portal Name </th>
           <th>Description</th>
           <th style="width:60px;">Action</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let rec of this.data" class="trdata">
           <td>{{rec.userId}}</td>
           <td>{{rec.title}}</td>
           <td>{{rec.body}}</td>
           <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit()">Edit</button></td> 
      </tr>
       </tbody>
       
         </table>
  



  </div>
</div>
</div>



<div class="create_popup" id="crpop">
    <!--popup content goes here-->
    <form>
      <div class="form-group">
        <label for="email">Portal ID</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Port ID">
      </div>
      <div class="form-group">
        <label for="pwd">Portal Name</label>
        <input type="text" class="form-control" id="pwd" placeholder="Enter Port Name">
      </div>
      <div class="form-group">
        <label for="pwd">Description</label>
        <!--<input type="text" class="form-control" id="pwd" placeholder="Enter Company Name">-->
        <textarea rows="4" class="form-control" cols="50"placeholder="Enter Description" name="comment" form="usrform"></textarea>
      </div>
      <!--<div class="form-group">
        <label for="pwd">License</label>
        <input type="text" class="form-control" id="pwd" placeholder="Enter License">
      </div>-->
      <!--<div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>-->
      <button type="submit" class="btn btn-default">Submit</button>
    </form>


  </div>

<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


