
<div class="container-fluid table_wrap">

  <div class="row">
    <div class="col-12">
      <div class="rht_btns rht_btns2">
        <button class="btn btn-primary lgncrte btncrt" (click)="openCpopup()" type="button">Create</button>
        <a href="javascript:;" (click)="onExport()"><i class="far fa-share-square fa-2x wxpicn"></i></a>
        <button class="btn btn-primary lgncrte" (click)="openCpopup1()" type="button">Send Notifications</button>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>


  <div class="mid_table">
    <div class="row" *ngIf="message">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="success" type="success" (close)="message = null">{{ message }}</ngb-alert>
            <ngb-alert *ngIf="!success" type="danger" (close)="message = null">{{ message }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roleId != ''">
      <div class="row">
        <div class="col-12 col-md-8 mb-1">

          <div class="form-group frmgrp">
            <label for="MasterAccount_Id">MasterAccount Name</label>
            <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="onChange($event)" [(ngModel)]="MasterAccount_Id">
              <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>
            </select>

          </div>

          <div class="form-group">
            <button type="submit" (click)="reset()" class="btn btn-info reset_btn">Reset</button>
          </div>
        </div>






      </div>


    </div>
    


    <div>
      <div class="form-group">
        <input style="float:left" #search type="text" class="form-control txtcls" placeholder="Search and Press Enter..." (keydown.enter)="onSearch(search.value)">
        <select class="form-control selectBx" [(ngModel)]="selectedValue" (change)="onSelectedFilter($event)">
          <option [value]="50">50</option>
          <option [value]="100">100</option>
          <option [value]="250">250</option>
          <option [value]="500">500</option>
        </select>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)" (userRowSelect)="onGetMemberId($event)">
      </ng2-smart-table>
    </div>
    <!--<h3>Members Details</h3>-->
    <!--<div class="table-responsive">
    <table width=99.90% datatable class="table row-border hover mytbl">
      <thead>
        <tr class="thdr">
          <th style="width:80px;">Id</th>
          <th>UserName </th>
          <th>MobileNumber</th>
          <th style="width:60px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rec of this.listofMembers; let i=index" class="trdata">
          <td>{{i+1}}</td>
          <td>{{rec.UserName}}</td>
          <td>{{rec.MobileNumber}}</td>
          <td> <button class="btn btn-defualt mybtnedit" type="button" (click)="onEdit(rec.Id)">Edit</button></td>
        </tr>
      </tbody>

    </table>




  </div>-->
  </div>
</div>

<div class="create_popup1" id="crpop1">

  <h3 class="pop_heading">Send Notifications</h3>
  <hr />
  <div class="tcsclose_btn1" (click)="closeCpopup1()"><i class="far fa-times-circle fa-2x mycrooser1"></i></div>

  <div class="container-fluid memberform">
    <div class="row">

      <div class="col-12">

        <form method="post" [formGroup]="Sendnotificationsform" (ngSubmit)="NotificationsSubmit()" class="tcs_licfrm">
          <!--<div class="row">-->
          <div class="col-12 col-md-6 mb-1">
            <div [ngClass]="{'has-error' : !Sendnotificationsform.controls.ActivityType.valid && Sendnotificationsform.controls.ActivityType.errors && Sendnotificationsform.controls.ActivityType.dirty && Sendnotificationsform.controls('ActivityType').touched,
                                  'text-success': Sendnotificationsform.controls.ActivityType.valid && Sendnotificationsform.controls.ActivityType.dirty}">
              <label for="ActivityType">Activity Type :</label>
              <select id="ActivityType" class="form-control" name="ActivityType" [(ngModel)]="ActivityType" formControlName="ActivityType">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Marketing</option>
                <option>Webinar</option>
              </select>
              <ul class="hp_blk">
                <li *ngIf="Sendnotificationsform.controls['ActivityType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>
          <!--<div class="col-12 col-md-6 mb-1">
            <div class="form-group">
              <label for="MasterAccount_Id">MasterAccount Name</label>
              <div class="member" [ngClass]="{'has-error' : !form.controls.MasterAccount_Id.valid && form.controls.MasterAccount_Id.errors
                     && form.controls.MasterAccount_Id.dirty && form.get('MasterAccount_Id').touched,
            'text-success': form.controls.MasterAccount_Id.valid &&form.controls.MasterAccount_Id.dirty}">


                <select id="MasterAccount_Id" class="form-control" name="MasterAccount_Id" (change)="test($event)" [(ngModel)]="MasterAccount_Id" formControlName="MasterAccount_Id">

                  <option *ngFor="let item of listofAccounts" [value]="item.Id">{{item.AccountName}}</option>


                </select>

                <ul class="help-block">
                  <li *ngIf="form.controls['MasterAccount_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>

              </div>
            </div>
          </div>-->
          <div class="col-12 col-md-6 mb-1">
            <div [ngClass]="{'has-error' : !Sendnotificationsform.controls.NotificationChanelType.valid && Sendnotificationsform.controls.NotificationChanelType.errors && Sendnotificationsform.controls.NotificationChanelType.dirty && Sendnotificationsform.controls('NotificationChanelType').touched,
                                  'text-success': Sendnotificationsform.controls.NotificationChanelType.valid && Sendnotificationsform.controls.NotificationChanelType.dirty}">
              <label for="NotificationChanelType">NotificationChanel Type :</label>
              <select id="NotificationChanelType" class="form-control" name="NotificationChanelType" [(ngModel)]="NotificationChanelType" formControlName="NotificationChanelType">
                <option [ngValue]="undefined" disabled selected> Select Status </option>
                <option>Email_Notification</option>
                <option>Push_Notification</option>
              </select>
              <ul class="hp_blk">
                <li *ngIf="Sendnotificationsform.controls['NotificationChanelType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-1">

            <div [ngClass]="{'has-error' : !Sendnotificationsform.controls.Message.valid && Sendnotificationsform.controls.Message.errors && Sendnotificationsform.controls.Message.dirty && Sendnotificationsform.get('Message').touched,
                                  'text-success': Sendnotificationsform.controls.Message.valid && Sendnotificationsform.controls.Message.dirty}">
              <label for="Message">Message</label>
              <input type="text" class="form-control tcslgn_inp" id="Message" placeholder="Message" [(ngModel)]="Message" [formControl]="Sendnotificationsform.controls['Message']" />
            </div>
            <ul class="hp_blk">
              <li *ngIf="Sendnotificationsform.controls['Message'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>

          <!--<div class="col-12 col-md-6 mb-1">

            <div [ngClass]="{'has-error' : !Sendnotificationsform.controls.Message.valid && Sendnotificationsform.controls.Message.errors && Sendnotificationsform.controls.Message.dirty && Sendnotificationsform.get('Message').touched,
                              'text-success': Sendnotificationsform.controls.Message.valid && Sendnotificationsform.controls.Message.dirty}">
              <label for="Message">Message</label>
              <input type="text" class="form-control tcslgn_inp" id="Message" placeholder="Message" [(ngModel)]="Message" [formControl]="Sendnotificationsform.controls['Message']" />
            </div>
            <ul class="hp_blk">
              <li *ngIf="Sendnotificationsform.controls['Message'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>-->
          <div class="col-12 col-md-6 mb-1">

            <div [ngClass]="{'has-error' : !Sendnotificationsform.controls.MessageBody.valid && Sendnotificationsform.controls.MessageBody.errors && Sendnotificationsform.controls.MessageBody.dirty && Sendnotificationsform.get('MessageBody').touched,
                                  'text-success': Sendnotificationsform.controls.MessageBody.valid && Sendnotificationsform.controls.MessageBody.dirty}">
              <label for="Body">Body</label>
              <input type="text" class="form-control tcslgn_inp" id="MessageBody" placeholder="Body" [(ngModel)]="MessageBody" [formControl]="Sendnotificationsform.controls['MessageBody']" />
            </div>
            <ul class="hp_blk">
              <li *ngIf="Sendnotificationsform.controls['MessageBody'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <!--</div>-->

          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>


<div class="create_popup" id="crpop">
  <!--<h3>Create Members</h3>-->
  <h3 class="pop_heading">Create Members</h3>
  <hr />
  <div class="tcsclose_btn" (click)="closeCpopup()"><i class="far fa-times-circle fa-2x mycrooser"></i></div>

  <div class="container-fluid memberform">
    <div class="row">
      <div class="col-12">

        <form [formGroup]="MembersForm" (submit)="onRegisterSubmit()" class="tcs_licfrm">
          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">First Name</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.FirstName.valid && MembersForm.controls.FirstName.errors
                                 && MembersForm.controls.FirstName.dirty && MembersForm.get('FirstName').touched,
                        'text-success': MembersForm.controls.FirstName.valid && MembersForm.controls.FirstName.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="FirstName" name="FirstName" [(ngModel)]="FirstName" placeholder="First Name" formControlName="FirstName">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['FirstName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Last Name</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.LastName.valid &&
                                    MembersForm.controls.LastName.errors
                                     && MembersForm.controls.LastName.dirty && MembersForm.get('LastName').touched,
                            'text-success': MembersForm.controls.LastName.valid && MembersForm.controls.LastName.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="LastName" name="LastName" [(ngModel)]="LastName" placeholder="Last Name" formControlName="LastName">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['LastName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Middle Name</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.MiddleName.valid && MembersForm.controls.MiddleName.errors
                                     && MembersForm.controls.MiddleName.dirty && MembersForm.get('MiddleName').touched,
                            'text-success': MembersForm.controls.MiddleName.valid && MembersForm.controls.MiddleName.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="MiddleName" name="MiddleName" [(ngModel)]="MiddleName" placeholder="Middle Name" formControlName="MiddleName">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['MiddleName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>User Name</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.UserName.valid &&
                                        MembersForm.controls.UserName.errors
                                         && MembersForm.controls.UserName.dirty && MembersForm.get('UserName').touched,
                                'text-success': MembersForm.controls.UserName.valid && MembersForm.controls.UserName.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="UserName" name="UserName" [(ngModel)]="UserName" placeholder="User Name" formControlName="UserName">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['UserName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>



          </div>

          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Password</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Password.valid &&
                            MembersForm.controls.Password.errors
                             && MembersForm.controls.Password.dirty && MembersForm.get('Password').touched,
                    'text-success': MembersForm.controls.Password.valid && MembersForm.controls.Password.dirty}">

                  <input type="Password" class="form-control tcslgn_inp" id="Password" name="Password" [(ngModel)]="Password" placeholder="Password" formControlName="Password">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['Password'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                  <div [hidden]="MembersForm.controls.Password.valid || MembersForm.controls.Password.pristine"
                       class="alert alert-danger err">
                    Password is required
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Confirm Password</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.ConfirmPassword.valid &&
                            MembersForm.controls.ConfirmPassword.errors
                             && MembersForm.controls.ConfirmPassword.dirty && MembersForm.get('ConfirmPassword').touched,
                    'text-success': MembersForm.controls.ConfirmPassword.valid && MembersForm.controls.ConfirmPassword.dirty}">

                  <input type="Password" class="form-control tcslgn_inp" id="ConfirmPassword" name="ConfirmPassword" [(ngModel)]="ConfirmPassword" placeholder="Confirm Password" formControlName="ConfirmPassword">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['ConfirmPassword'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>
                  <div class="err" *ngIf="MembersForm.controls.ConfirmPassword.errors?.MatchPassword">Password not match</div>

                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Marital Status</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.MaritalStatus.valid &&
                                MembersForm.controls.MaritalStatus.errors
                                 && MembersForm.controls.MaritalStatus.dirty && MembersForm.get('MaritalStatus').touched,
                        'text-success': MembersForm.controls.MaritalStatus && MembersForm.controls.MaritalStatus.dirty}">

                  <select class="form-control tcslgn_inp" id="MaritalStatus" name="MaritalStatus" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" [(ngModel)]="MaritalStatus" placeholder="Marital Status" formControlName="MaritalStatus">
                    <option [ngValue]="undefined" disabled selected> Select Maritalstatus</option>
                    <option>Married</option>
                    <option>Unmarried</option>
                  </select>
                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['MaritalStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>DOB</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.DOB.valid &&
                            MembersForm.controls.DOB.errors
                             && MembersForm.controls.DOB.dirty && MembersForm.get('DOB').touched,
                    'text-success': MembersForm.controls.DOB.valid && MembersForm.controls.DOB.dirty}">

                  <input type="Date" class="form-control tcslgn_inp" id="DOB" name="DOB" [(ngModel)]="DOB" placeholder="DOB" formControlName="DOB">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['DOB'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Mobile Number</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.MobileNumber.valid && MembersForm.controls.MobileNumber.errors
                         && MembersForm.controls.MobileNumber.dirty && MembersForm.get('MobileNumber').touched,
                'text-success': MembersForm.controls.MobileNumber.valid && MembersForm.controls.MobileNumber.dirty}">

                  <input type="number" class="form-control tcslgn_inp" id="MobileNumber" name="MobileNumber" [(ngModel)]="MobileNumber" placeholder="Mobile Number" formControlName="MobileNumber" pattern="[0-9]*">

                  <!--<ul class="help-block">
            <li *ngIf="MembersForm.controls['MembersForm'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>-->
                  <ul class="help-block">
                    <li class="err" *ngIf="MembersForm.controls.MobileNumber.errors?.required && isSubmitted">This field is Required</li>
                  </ul>
                  <div [hidden]="MembersForm.controls.MobileNumber.valid || MembersForm.controls.MobileNumber.pristine" class="alert alert-danger err">
                    <!--<div [hidden]="!MembersForm.controls.MobileNumber.hasError('minlength')">Mobile should be 10digit</div>-->
                    <div [hidden]="!MembersForm.controls.MobileNumber.hasError('required')">Mobile is required</div>
                    <div [hidden]="!MembersForm.controls.MobileNumber.hasError('pattern')">Mobile numberr should be only numbers</div>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">

                <label>Email</label>
                <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Email.valid &&
                MembersForm.controls.Email.errors
                 && MembersForm.controls.Email.dirty && MembersForm.get('Email').touched,
        'text-success': MembersForm.controls.Email.valid && MembersForm.controls.Email.dirty}">-->

                <input type="email" class="form-control tcslgn_inp" id="Email" name="Email" [(ngModel)]="Email" formControlName="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />

                <ul class="hp_blk">
                  <li *ngIf="MembersForm.controls.Email.hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
                <div [hidden]="MembersForm.controls.Email.valid || MembersForm.controls.Email.pristine" class="alert alert-danger err2">
                  <div [hidden]="!MembersForm.controls.Email.hasError('required')">Email is required</div>
                  <div [hidden]="!MembersForm.controls.Email.hasError('pattern')">
                    Email format should be
                    <small> <b>john@something.com</b> </small>
                  </div>
                </div>

                <!--</div>-->
              </div>
            </div>

          </div>




          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Gender</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Gender.valid && MembersForm.controls.Gender.errors
                         && MembersForm.controls.Gender.dirty && MembersForm.get('Gender').touched,
                'text-success': MembersForm.controls.Gender.valid && MembersForm.controls.Gender.dirty}">

                  <select class="form-control tcslgn_inp" id="Gender" name="Gender" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" [(ngModel)]="Gender" placeholder="Gender" formControlName="Gender">
                    <option [ngValue]="undefined" disabled selected> Select Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['Gender'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Industry</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Industry.valid &&
                            MembersForm.controls.Industry.errors
                             && MembersForm.controls.Industry.dirty && MembersForm.get('Industry').touched,
                    'text-success': MembersForm.controls.Industry.valid && MembersForm.controls.Industry.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="Industry" name="Industry" [(ngModel)]="Industry" placeholder="Industry" formControlName="Industry">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['Industry'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Profession</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Profession.valid && MembersForm.controls.Profession.errors
                         && MembersForm.controls.Profession.dirty && MembersForm.get('Profession').touched,
                'text-success': MembersForm.controls.Profession.valid && MembersForm.controls.Profession.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="Profession" name="Profession" [(ngModel)]="Profession" placeholder="Profession" formControlName="Profession">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['Profession'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Address Line1</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.AddressLine1.valid &&
                            MembersForm.controls.AddressLine1.errors
                             && MembersForm.controls.AddressLine1.dirty && MembersForm.get('AddressLine1').touched,
                    'text-success': MembersForm.controls.AddressLine1.valid && MembersForm.controls.AddressLine1.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="AddressLine1" name="AddressLine1" [(ngModel)]="AddressLine1" placeholder="Address Line1" formControlName="AddressLine1">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['AddressLine1'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>


          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Address Line2</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.AddressLine2.valid && MembersForm.controls.AddressLine2.errors
                         && MembersForm.controls.AddressLine2.dirty && MembersForm.get('AddressLine2').touched,
                'text-success': MembersForm.controls.AddressLine2.valid && MembersForm.controls.AddressLine2.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="AddressLine2" name="AddressLine2" [(ngModel)]="AddressLine2" placeholder="Address Line2" formControlName="AddressLine2">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['AddressLine2'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>City</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.City.valid &&
                        MembersForm.controls.City.errors
                         && MembersForm.controls.City.dirty && MembersForm.get('City').touched,
                'text-success': MembersForm.controls.City.valid && MembersForm.controls.City.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="City" name="City" [(ngModel)]="City" placeholder="City" formControlName="City">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['City'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">State</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.State.valid && MembersForm.controls.State.errors
                     && MembersForm.controls.State.dirty && MembersForm.get('State').touched,
            'text-success': MembersForm.controls.State.valid && MembersForm.controls.State.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="State" name="State" [(ngModel)]="State" placeholder="State" formControlName="State">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['State'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Zip Code</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.ZipCode.valid &&
                    MembersForm.controls.ZipCode.errors
                     && MembersForm.controls.ZipCode.dirty && MembersForm.get('ZipCode').touched,
            'text-success': MembersForm.controls.ZipCode.valid && MembersForm.controls.ZipCode.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="ZipCode" name="ZipCode" [(ngModel)]="ZipCode" placeholder="ZipCode" formControlName="ZipCode">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['ZipCode'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="Country">Country</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Country.valid && MembersForm.controls.Country.errors
                     && MembersForm.controls.Country.dirty && MembersForm.get('Country').touched,
            'text-success': MembersForm.controls.Country.valid && MembersForm.controls.Country.dirty}">

                  <select class="form-control tcslgn_inp" id="Country" name="Country" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" [(ngModel)]="Country"
                          formControlName="Country">



                    <option [ngValue]="undefined" disabled selected> Select Country</option>
                    <option>India</option>
                    <option>Australia</option>
                    <option>US</option>
                    <option>Canada</option>
                  </select>

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['Country'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Company Name</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyName.valid &&
                    MembersForm.controls.CompanyName.errors
                     && MembersForm.controls.CompanyName.dirty && MembersForm.get('CompanyName').touched,
            'text-success': MembersForm.controls.CompanyName.valid && MembersForm.controls.CompanyName.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="CompanyName" name="CompanyName" [(ngModel)]="CompanyName" placeholder="Company Name" formControlName="CompanyName">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['CompanyName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>


          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Company Address Line1</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyAddressLine1.valid && MembersForm.controls.CompanyAddressLine1.errors
                     && MembersForm.controls.CompanyAddressLine1.dirty && MembersForm.get('CompanyAddressLine1').touched,
            'text-success': MembersForm.controls.CompanyAddressLine1.valid && MembersForm.controls.CompanyAddressLine1.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="CompanyAddressLine1" name="CompanyAddressLine1" [(ngModel)]="CompanyAddressLine1" placeholder="Company Address Line1" formControlName="CompanyAddressLine1">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['CompanyAddressLine1'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Company Address Line2</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyAddressLine2.valid &&
                    MembersForm.controls.CompanyAddressLine2.errors
                     && MembersForm.controls.CompanyAddressLine2.dirty && MembersForm.get('CompanyAddressLine2').touched,
            'text-success': MembersForm.controls.CompanyAddressLine2.valid && MembersForm.controls.CompanyAddressLine2.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="CompanyAddressLine2" name="CompanyAddressLine2" [(ngModel)]="CompanyAddressLine2" placeholder="Company Address Line2" formControlName="CompanyAddressLine2">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['CompanyAddressLine2'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Company City</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyCity.valid && MembersForm.controls.CompanyCity.errors
                     && MembersForm.controls.CompanyCity.dirty && MembersForm.get('CompanyCity').touched,
            'text-success': MembersForm.controls.CompanyCity.valid && MembersForm.controls.CompanyCity.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="CompanyCity" name="CompanyCity" [(ngModel)]="CompanyCity" placeholder="Company City" formControlName="CompanyCity">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['CompanyCity'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Company Country</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyCountry.valid &&
                    MembersForm.controls.CompanyCountry.errors
                     && MembersForm.controls.CompanyCountry.dirty && MembersForm.get('CompanyCountry').touched,
            'text-success': MembersForm.controlsCompanyCountryvalid && MembersForm.controls.CompanyCountry.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="CompanyCountry" name="CompanyCountry" [(ngModel)]="CompanyCountry" placeholder="Company Country" formControlName="CompanyCountry">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['CompanyCountry'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Company Email</label>
                <!--<div class="member" [ngClass]="{'has-error' : !MembersForm.controls.CompanyEmail.valid && MembersForm.controls.CompanyEmail.errors
                 && MembersForm.controls.CompanyEmail.dirty && MembersForm.get('CompanyEmail').touched,
        'text-success': MembersForm.controls.CompanyEmail.valid && MembersForm.controls.CompanyEmail.dirty}">-->

                <input type="text" class="form-control tcslgn_inp" id="CompanyEmail" name="CompanyEmail" [(ngModel)]="CompanyEmail" formControlName="CompanyEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="ex : john@something.com" />

                <ul class="hp_blk">
                  <li *ngIf="MembersForm.controls.CompanyEmail.hasError('required') && isSubmitted" class="err">This field is Required</li>
                </ul>
                <div [hidden]="MembersForm.controls.CompanyEmail.valid || MembersForm.controls.CompanyEmail.pristine" class="alert alert-danger err2">
                  <div [hidden]="!MembersForm.controls.CompanyEmail.hasError('required')">Email is required</div>
                  <div [hidden]="!MembersForm.controls.CompanyEmail.hasError('pattern')">
                    Email format should be
                    <small> <b>john@something.com</b> </small>
                  </div>
                </div>

                <!--</div>-->
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Alternate Phone Number</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.AlternatePhoneNumber.valid &&
                    MembersForm.controls.AlternatePhoneNumber.errors
                     && MembersForm.controls.AlternatePhoneNumber.dirty && MembersForm.get('AlternatePhoneNumber').touched,
            'text-success': MembersForm.controls.AlternatePhoneNumber && MembersForm.controls.AlternatePhoneNumber.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="AlternatePhoneNumber" name="AlternatePhoneNumber" [(ngModel)]="AlternatePhoneNumber" placeholder="Alternate Phone Number" formControlName="AlternatePhoneNumber">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['AlternatePhoneNumber'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Blood Group</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.BloodGroup.valid && MembersForm.controls.BloodGroup.errors
                     && MembersForm.controls.BloodGroup.dirty && MembersForm.get('BloodGroup').touched,
            'text-success': MembersForm.controls.BloodGroup.valid && MembersForm.controls.BloodGroup.dirty}">

                  <select class="form-control tcslgn_inp" id="BloodGroup" name="BloodGroup" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" [(ngModel)]="BloodGroup"
                          formControlName="BloodGroup">



                    <option [ngValue]="undefined" disabled selected> Select BloodGroup</option>
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>O+</option>
                    <option>O-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                  </select>

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['BloodGroup'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>








            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Family Type</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.FamilyType.valid &&
                    MembersForm.controls.FamilyType.errors
                     && MembersForm.controls.FamilyType.dirty && MembersForm.get('FamilyType').touched,
            'text-success': MembersForm.controls.FamilyType && MembersForm.controls.FamilyType.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="FamilyType" name="FamilyType" [(ngModel)]="FamilyType" placeholder="Family Type" formControlName="FamilyType">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['FamilyType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Origin</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Origin.valid && MembersForm.controls.Origin.errors
                     && MembersForm.controls.Origin.dirty && MembersForm.get('Origin').touched,
            'text-success': MembersForm.controls.Origin.valid && MembersForm.controls.Origin.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="Origin" name="Origin" [(ngModel)]="Origin" placeholder="Origin" formControlName="Origin">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['Origin'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label>Time Zone</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.TimeZone.valid &&
                    MembersForm.controls.TimeZone.errors
                     && MembersForm.controls.TimeZone.dirty && MembersForm.get('TimeZone').touched,
            'text-success': MembersForm.controls.TimeZone && MembersForm.controls.TimeZone.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="TimeZone" name="TimeZone" [(ngModel)]="TimeZone" placeholder="Time Zone" formControlName="TimeZone">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['TimeZone'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Hobbies</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.Hobbies.valid && MembersForm.controls.Hobbies.errors
                     && MembersForm.controls.Hobbies.dirty && MembersForm.get('Hobbies').touched,
            'text-success': MembersForm.controls.Hobbies.valid && MembersForm.controls.Hobbies.dirty}">

                  <input type="text" class="form-control tcslgn_inp" id="Hobbies" name="Hobbies" [(ngModel)]="Hobbies" placeholder="Hobbies" formControlName="Hobbies">

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['Hobbies'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="MembersId">Member Status</label>
                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.MemberStatus.valid && MembersForm.controls.MemberStatus.errors
                         && MembersForm.controls.MemberStatus.dirty && MembersForm.get('MemberStatus').touched,
                'text-success': MembersForm.controls.MemberStatus.valid && MembersForm.controls.MemberStatus.dirty}">

                  <select class="form-control tcslgn_inp" id="MemberStatus" name="MemberStatus" [style.background-image]="'url(\'assets/images/dwnarw.png\')'" [(ngModel)]="MemberStatus" placeholder="Member Status" formControlName="MemberStatus">
                    <option [ngValue]="undefined" disabled selected> Select Status</option>
                    <option>Active</option>
                    <option>Inactive</option>
                  </select>
                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['MemberStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">
                <label for="ImageUrl">ImageUrl</label>

                <input type="file" class="form-control tcslgn_inp" id="imageFile" (change)="readURL($event)" name="imageFile" />




              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">

                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.IsMobileVerified.valid &&
                    MembersForm.controls.IsMobileVerified.errors
                     && MembersForm.controls.IsMobileVerified.dirty && MembersForm.get('IsMobileVerified').touched,
            'text-success': MembersForm.controls.IsMobileVerified && MembersForm.controls.IsMobileVerified.dirty}">

                  <label>
                    <input type="checkbox" id="IsMobileVerified" placeholder="Is Mobile Verified" [(ngModel)]="IsMobileVerified"
                           [formControl]="MembersForm.controls['IsMobileVerified']" formControlName="IsMobileVerified">Is MobileVerified
                  </label>

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['IsMobileVerified'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <div class="form-group">

                <div class="member" [ngClass]="{'has-error' : !MembersForm.controls.IsEmailVerified.valid &&
                    MembersForm.controls.IsEmailVerified.errors
                     && MembersForm.controls.IsEmailVerified.dirty && MembersForm.get('IsEmailVerified').touched,
            'text-success': MembersForm.controls.IsEmailVerified && MembersForm.controls.IsEmailVerified.dirty}">

                  <label>
                    <input type="checkbox" id="IsEmailVerified" placeholder="Is Email Verified" [(ngModel)]="IsEmailVerified"
                           [formControl]="MembersForm.controls['IsEmailVerified']" formControlName="IsEmailVerified">Is EmailVerified
                  </label>

                  <ul class="help-block">
                    <li *ngIf="MembersForm.controls['IsEmailVerified'].hasError('required') && isSubmitted" class="err">This field is Required</li>
                  </ul>

                </div>
              </div>
            </div>



          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>


        </form>

      </div>
    </div>
  </div>


</div>



<div class="create_mask" id="crmask" (click)="closeCpopup()"></div>


<div class="create_mask1" id="crmask1" (click)="closeCpopup1()"></div>
