<div class="container-fluid memberform">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <!--<h3>Create AccountManagement</h3>-->
                    <!--popup content goes here-->
                    <form [formGroup]="accountUpdateFormGroup" (ngSubmit)="onUpdateAccount(accountmanagement)" class="tcs_licfrm">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                       <div class="form-group">
                                          <label for="email">Account Name</label>
                                        <input type="text" class="form-control tcslgn_inp" maxlength="150" id="accountmanagement.AccountName" placeholder="AccountName" [(ngModel)]="accountmanagement.AccountName" [formControl]="accountUpdateFormGroup.controls['accountmanagement.AccountName']" />
                                        <ul class="hp_blk">
                                            <li *ngIf="accountUpdateFormGroup.controls['accountmanagement.AccountName'].hasError('required') && isSubmitted" class="err">Account Name is Required</li>
                                        </ul>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                         <div class="form-group">
                                            <label for="pwd">Account Web Url</label>
                                            <input type="text" class="form-control tcslgn_inp" required pattern="https?://.+" id="accountmanagement.AccountWebUrl" placeholder="AccountWebUrl" [(ngModel)]="accountmanagement.AccountWebUrl" [formControl]="accountUpdateFormGroup.controls['accountmanagement.AccountWebUrl']" />
                                            <ul class="hp_blk">
                                                <li *ngIf="accountUpdateFormGroup.controls['accountmanagement.AccountWebUrl'].hasError('required') && isSubmitted" class="err">Account Web Url is Required</li>
                                            </ul>
                                            <div [hidden]="!accountUpdateFormGroup.controls['accountmanagement.AccountWebUrl'].hasError('pattern')" class="err">
                                                Must be a valid Web Url!
                                            </div>
                                         </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="pwd">Account Admin</label>
                                            <input type="text" class="form-control tcslgn_inp" maxlength="150" id="accountmanagement.AccountAdmin" placeholder="AccountAdmin" [(ngModel)]="accountmanagement.AccountAdmin" [formControl]="accountUpdateFormGroup.controls['accountmanagement.AccountAdmin']" />
                                            <ul class="hp_blk">
                                                <li *ngIf="accountUpdateFormGroup.controls['accountmanagement.AccountAdmin'].hasError('required') && isSubmitted" class="err">Account Admin is Required</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="pwd">Dev Url</label>
                                            <input type="text" class="form-control tcslgn_inp" required pattern="https?://.+" id="accountmanagement.DevUrl" placeholder="DevUrl" [(ngModel)]="accountmanagement.DevUrl" [formControl]="accountUpdateFormGroup.controls['accountmanagement.DevUrl']" />
                                            <ul class="hp_blk">
                                                <li *ngIf="accountUpdateFormGroup.controls['accountmanagement.DevUrl'].hasError('required') && isSubmitted" class="err">Dev Url is Required</li>
                                            </ul>
                                            <div [hidden]="!accountUpdateFormGroup.controls['accountmanagement.DevUrl'].hasError('pattern')" class="err">
                                                Must be a valid Dev Url!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="pwd">App Url</label>
                                            <input type="text" class="form-control tcslgn_inp" required pattern="https?://.+" id="accountmanagement.AppUrl" placeholder="AppUrl" [(ngModel)]="accountmanagement.AppUrl" [formControl]="accountUpdateFormGroup.controls['accountmanagement.AppUrl']" />
                                            <ul class="hp_blk">
                                                <li *ngIf="accountUpdateFormGroup.controls['accountmanagement.AppUrl'].hasError('required') && isSubmitted" class="err">App Url is Required</li>
                                            </ul>
                                            <div [hidden]="!accountUpdateFormGroup.controls['accountmanagement.AppUrl'].hasError('pattern')" class="err">
                                                Must be a valid App Url!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ClientInfo">Client Name</label>
                                            <select *ngIf="ClientInfo" id="ClientInfo" class="form-control" name="ClientInfo" (change)="client($event)" [(ngModel)]="ClientInfo" formControlName="ClientInfo">

                                                <option *ngFor="let item of webclientslist" [value]="item._id">{{item.CompanyName}}</option>

                                            </select>

                                            <ul class="help-block">
                                                <li *ngIf="accountUpdateFormGroup.controls['ClientInfo'].hasError('required') && isSubmitted" class="err">Client Name is Required</li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="accountmanagement.InstanceInfo.InstanceName">Instance Name</label>
                                            <select id="accountmanagement.InstanceInfo.InstanceName" class="form-control" name="accountmanagement.InstanceInfo.InstanceName" (change)="test($event)" [(ngModel)]="accountmanagement.InstanceInfo.InstanceName" formControlName="accountmanagement.InstanceInfo.InstanceName">
                                                <option *ngFor="let item of listofinstances" [value]="item._id">{{item.InstanceName}}</option>
                                            </select>
                                            <ul class="help-block">
                                                <li *ngIf="accountUpdateFormGroup.controls['accountmanagement.InstanceInfo.InstanceName'].hasError('required') && isSubmitted" class="err">Instance Name is Required</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="LicenseInfo">License Info</label>
                                            <select id="LicenseInfo" class="form-control" name="accountmanagement.LicenseInfo" (change)="license($event)" [(ngModel)]="accountmanagement.LicenseInfo.CompanyName" formControlName="accountmanagement.LicenseInfo.CompanyName">
                                                <option *ngFor="let item of listofLicense" [value]="item._id">{{item.CompanyName}}</option>
                                            </select>
                                            <ul class="help-block">
                                                <li *ngIf="accountUpdateFormGroup.controls['accountmanagement.LicenseInfo.CompanyName'].hasError('required') && isSubmitted" class="err">License Info is Required</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                       <!--<div class="col-md-12">
                         <div class="row">
                            <div class="d-flex justify-content-start">
                                <label class="custom-control custom-checkbox mb-3 pl-0" for="IsMobileEnabled">
                                    <input type="checkbox" [checked]="IsMobileEnabled?'checked':''" [(ngModel)]="accountmanagement.IsMobileEnabled" name="accountmanagement.IsMobileEnabled" id="accountmanagement.IsMobileEnabled" [formControl]="accountUpdateFormGroup.controls['accountmanagement.IsMobileEnabled']" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Is Mobile Enabled</span>
                                </label>
    
                                <label class="custom-control custom-checkbox mb-3" for="IsAndroidAppPublic">
                                    <input type="checkbox" [checked]="IsAndroidAppPublic?'checked':''" [(ngModel)]="accountmanagement.IsAndroidAppPublic" name="accountmanagement.IsAndroidAppPublic" id="accountmanagement.IsAndroidAppPublic" [formControl]="accountUpdateFormGroup.controls['accountmanagement.IsAndroidAppPublic']" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Is Android App Public</span>
                                </label>
    
                                <label class="custom-control custom-checkbox mb-3" for="IsIOSAppPublic">
    
                                    <input type="checkbox" [checked]="IsIOSAppPublic?'checked':''" [(ngModel)]="accountmanagement.IsIOSAppPublic" name="accountmanagement.IsIOSAppPublic" id="accountmanagement.IsIOSAppPublic" [formControl]="accountUpdateFormGroup.controls['accountmanagement.IsIOSAppPublic']" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Is IOS App Public</span>
                                </label>
    
                                <label class="custom-control custom-checkbox mb-3" for="IsHttpsEnabled">
                                    <input type="checkbox" [checked]="IsHttpsEnabled?'checked':''" [(ngModel)]="accountmanagement.IsHttpsEnabled" name="IsHttpsEnabled" id="accountmanagement.IsHttpsEnabled" [formControl]="accountUpdateFormGroup.controls['accountmanagement.IsHttpsEnabled']" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Is Https Enabled</span>
                                </label>
                                <label class="custom-control custom-checkbox mb-3" for="IsLiveStatus">
                                    <input type="checkbox" [checked]="IsLiveStatus?'checked':''" [(ngModel)]="accountmanagement.IsLiveStatus" name="IsLiveStatus" id="accountmanagement.IsLiveStatus" [formControl]="accountUpdateFormGroup.controls['accountmanagement.IsLiveStatus']" />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Is Live Status</span>
                                </label>
    
                            </div>
                         </div>
                       </div>-->
                        <div class="d-flex justify-content-start">

                        </div>
                        <div class="col-md-6">
                            <div class="form-group frm_btn">
                                <button type="submit" class="btn btn-info">Update</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
