<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <!--<h3>Create AccountManagement</h3>-->
      <!--popup content goes here-->
      <form  [formGroup]="contentcategoryFormGroup" (ngSubmit)="onUpdateContentCategory(contentcategory)" class="tcs_licfrm">
        <div class="row">
          <div class="col-12 col-md-6 mb-1">

            <!--<div [ngClass]="{'has-error' : !form.controls.ContentCategoryName.valid && form.controls.ContentCategoryName.errors && form.controls.ContentCategoryName.dirty && form.get('ContentCategoryName').touched,
              'text-success': form.controls.AccountName.valid && form.controls.AccountName.dirty}">-->
            <label for="ContentCategoryName">Content Category Name</label>
            <input type="text" class="form-control tcslgn_inp" id="contentcategory.ContentCategoryName" placeholder="Content Category Name" [(ngModel)]="contentcategory.ContentCategoryName" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryName']" />
            <!--</div>-->
  <ul class="hp_blk">
    <li *ngIf="contentcategoryFormGroup.controls['contentcategory.ContentCategoryName'].hasError('required') && isSubmitted" class="err">This field is Required</li>
  </ul>

          </div>
          <div class="col-12 col-md-6 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.ContentCategoryType.valid && form.controls.ContentCategoryType.errors && form.controls.ContentCategoryType.dirty && form.get('ContentCategoryType').touched,
    'text-success': form.controls.AccountWebUrl.valid && form.controls.AccountWebUrl.dirty}">-->
            <label for="ContentCategoryType">Content Category Type</label>
            <select id="contentcategory.ContentCategoryType" class="form-control tcslgn_inp" name="contentcategory.ContentCategoryType" [(ngModel)]="contentcategory.ContentCategoryType" placeholder="Content Category Status" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryType']">
              <option [ngValue]="undefined" disabled selected>Content Category Type </option>
              <option>Audio</option>
              <option>Video</option>
              <option>Files</option>

            </select>
            <!--<input type="text" class="form-control" id="contentcategory.ContentCategoryType" placeholder="ContentCategoryType" [(ngModel)]="contentcategory.ContentCategoryType" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryType']" />-->
            <ul class="hp_blk">
      <li *ngIf="contentcategoryFormGroup.controls['contentcategory.ContentCategoryType'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  <!--</div>-->
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.ContentCategoryStartedDate.valid && form.controls.ContentCategoryStartedDate.errors && form.controls.ContentCategoryStartedDate.dirty && form.get('ContentCategoryStartedDate').touched,
              'text-success': form.controls.AccountAdmin.valid && form.controls.AccountAdmin.dirty}">-->
            <label for="ContentCategoryStartedDate">Content Category Started Date</label>

            <input type="date" class="form-control tcslgn_inp" id="contentcategory.ContentCategoryStartedDate" placeholder="Content Category Started Date" [(ngModel)]="contentcategory.ContentCategoryStartedDate" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryStartedDate']" />
            <ul class="hp_blk">
      <li *ngIf="contentcategoryFormGroup.controls['contentcategory.ContentCategoryStartedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  <!--</div>-->
          </div>
          <div class="col-12 col-md-6 mb-1">
            <!--<div [ngClass]="{'has-error' : !form.controls.ContentCategoryValidTill.valid && form.controls.ContentCategoryValidTill.errors && form.controls.ContentCategoryValidTill.dirty && form.get('ContentCategoryValidTill').touched,
    'text-success': form.controls.ContentCategoryValidTill.valid && form.controls.ContentCategoryValidTill.dirty}">-->
            <label for="ContentCategoryValidTill">Content Category Valid Till</label>

            <input type="date" class="form-control tcslgn_inp" format='mm-dd-yyyy' id="contentcategory.ContentCategoryValidTill" placeholder="Content Category Valid Till" [(ngModel)]="contentcategory.ContentCategoryValidTill" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryValidTill']" />
            <ul class="hp_blk">
              <li *ngIf="contentcategoryFormGroup.controls['contentcategory.ContentCategoryValidTill'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
            <div class="validation-error" style="color:red" *ngIf="contentcategory.ContentCategoryStartedDate > contentcategory.ContentCategoryValidTill">
              End Date Should Be Greater Than Start Date
            </div>
            <!--</div>-->
          </div>
        </div>
        <!--<div class="row">
          <div class="col-12 col-md-6">-->
            <!--<div [ngClass]="{'has-error' : !form.controls.ContentCategoryCreatedDate.valid && form.controls.ContentCategoryCreatedDate.errors && form.controls.ContentCategoryCreatedDate.dirty && form.get('ContentCategoryCreatedDate').touched,
                                  'text-success': form.controls.ContentCategoryCreatedDate.valid && form.controls.ContentCategoryCreatedDate.dirty}">-->

            <!--<label for="pwd">ContentCategoryCreatedDate</label>

              <input type="date" class="form-control" format='mm-dd-yyyy' id="contentcategory.ContentCategoryCreatedDate" placeholder="" [(ngModel)]="contentcategory.ContentCategoryCreatedDate" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryCreatedDate']" />-->
              <!--<ul class="hp_blk">
                <li *ngIf="form.controls['ContentCategoryCreatedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
              </ul>
            </div>-->
          <!--</div>-->


          <!--<div class="col-12 col-md-6">-->
            <!-- <div [ngClass]="{'has-error' : !form.controls.ContentCategoryCreatedBy.valid && form.controls.ContentCategoryCreatedBy.errors && form.controls.ContentCategoryCreatedBy.dirty && form.get('ContentCategoryCreatedBy').touched,-->
            <!--'text-success': form.controls.ClientInfo.valid && form.controls.ClientInfo.dirty}">-->
            <!--<label for="pwd">ContentCategory CreatedBy</label>-->

            <!--<input type="text" class="form-control"  id="contentcategory.ContentCategoryCreatedBy" placeholder="ContentCategoryCreatedBy" [(ngModel)]="contentcategory.ContentCategoryCreatedBy" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryCreatedBy']" />-->
            <!--<ul class="hp_blk">
      <li *ngIf="form.controls['ContentCategoryCreatedBy'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  </div>-->
            <!--</div>
  </div>-->
            <!--<div class="row">
              <div class="col-12 col-md-6">-->
                <!--<div [ngClass]="{'has-error' : !form.controls.ContentCategoryUpdatedDate.valid && form.controls.ContentCategoryUpdatedDate.errors && form.controls.ContentCategoryUpdatedDate.dirty && form.get('ContentCategoryUpdatedDate').touched,
                            'text-success': form.controls.ContentCategoryUpdatedDate.valid && form.controls.ContentCategoryUpdatedDate.dirty}">-->
                <!--<label for="pwd">ContentCategoryUpdatedDate</label>

                <input type="date" class="form-control" format='mm-dd-yyyy' id="contentcategory.ContentCategoryUpdatedDate" placeholder="ContentCategoryUpdatedDate" [(ngModel)]="contentcategory.ContentCategoryUpdatedDate" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryUpdatedDate']" />-->
                <!--<ul class="hp_blk">
          <li *ngIf="form.controls['ContentCategoryUpdatedDate'].hasError('required') && isSubmitted" class="err">This field is Required</li>
        </ul>
      </div>-->
              <!--</div>-->


              <!--<div class="col-12 col-md-6">-->
                <!--<div [ngClass]="{'has-error' : !form.controls.ContentCategoryUpdatedBy.valid && form.controls.ContentCategoryUpdatedBy.errors && form.controls.ContentCategoryUpdatedBy.dirty && form.get('ContentCategoryUpdatedBy').touched,
                            'text-success': form.controls.ContentCategoryUpdatedBy.valid && form.controls.ContentCategoryUpdatedBy.dirty}">-->
                <!--<label for="pwd">ContentCategoryUpdatedBy</label>

                <input type="text" class="form-control" id="contentcategory.ContentCategoryUpdatedBy" placeholder="ContentCategoryUpdatedBy" [(ngModel)]="contentcategory.ContentCategoryUpdatedBy" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryUpdatedBy']" />-->
                <!--<ul class="hp_blk">
          <li *ngIf="form.controls['ContentCategoryUpdatedBy'].hasError('required') && isSubmitted" class="err">This field is Required</li>
        </ul>
      </div>-->
              <!--</div>
            </div>-->
            <div class="row">
              <div class="col-12 col-md-6 mb-1">
                <!--<div [ngClass]="{'has-error' : !form.controls.ContentCategoryStatus.valid && form.controls.ContentCategoryStatus.errors && form.controls.ContentCategoryStatus.dirty && form.get('ContentCategoryStatus').touched,
  'text-success': form.controls.AppUrl.valid && form.controls.AppUrl.dirty}">-->
                <label for="ContentCategoryStatus">Content Category Status</label>
                <select id="contentcategory.ContentCategoryStatus" class="form-control tcslgn_inp" name="contentcategory.ContentCategoryStatus" [(ngModel)]="contentcategory.ContentCategoryStatus" placeholder="Content Category Status" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryStatus']">
                  <option [ngValue]="undefined" disabled selected> Select Status </option>
                  <option>Active</option>
                  <option>InActive</option>

                </select>
                <!--<input type="text" class="form-control" id="contentcategory.ContentCategoryStatus" placeholder="ContentCategoryStatus" [(ngModel)]="contentcategory.ContentCategoryStatus" [formControl]="contentcategoryFormGroup.controls['contentcategory.ContentCategoryStatus']" />-->
                <ul class="hp_blk">
      <li *ngIf="contentcategoryFormGroup.controls['contentcategory.ContentCategoryStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
    </ul>
  <!--</div>-->
              </div>
            </div>


            <div class="form-group">
              <button type="submit" class="btn btn-info">Update</button>
            </div>
</form>
    </div>
  </div>
</div>
