<div class="container-fluid memberform">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="exerciseanswerUpdateFormGroup" (ngSubmit)="onUpdateExerciseAnswer(exerciseanswer)" class="tcs_licfrm">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">

            <label for="ExerciseAnswer">ExerciseAnswer</label>
            <input type="text" class="form-control tcslgn_inp" id="exerciseanswer.ExerciseAnswer" placeholder="ExerciseAnswer" [(ngModel)]="exerciseanswer.ExerciseAnswer" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswer']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswer'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">

            <label for="SubmissionId">SubmissionId</label>
            <input type="text" class="form-control tcslgn_inp" id="exerciseanswer.Submission_Id" placeholder="Submission_Id" [(ngModel)]="exerciseanswer.Submission_Id" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.Submission_Id']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.Submission_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>


          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseQuestionID">ExerciseQuestionID</label>
            <input type="text" class="form-control tcslgn_inp" id="exerciseanswer.Exercise_Question_Id" placeholder="ExerciseQuestionID" [(ngModel)]="exerciseanswer.Exercise_Question_Id" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.Exercise_Question_Id']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.Exercise_Question_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseID">ExerciseID</label>
            <input type="text" class="form-control tcslgn_inp" id="exerciseanswer.Exercise_Id" placeholder="ExerciseID" [(ngModel)]="exerciseanswer.Exercise_Id" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.Exercise_Id']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.Exercise_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>





          <div class="col-12 col-md-6 mb-1">

            <label for="memberID">MemberID</label>
            <input type="text" class="form-control tcslgn_inp" id="exerciseanswer.Member_Id" placeholder="memberId" [(ngModel)]="exerciseanswer.Member_Id" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.Member_Id']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.Member_Id'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>




          <div class="col-12 col-md-6 mb-1">

            <label for="ExAnsSelectedAnswerOptions">ExAnsSelectedAnswerOptions</label>
            <input type="text" class="form-control tcslgn_inp" id="exerciseanswer.ExAnsSelectedAnswerOptions" placeholder="ExAnsSelectedAnswerOptions" [(ngModel)]="exerciseanswer.ExAnsSelectedAnswerOptions" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExAnsSelectedAnswerOptions']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExAnsSelectedAnswerOptions'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseAnswerDetails">ExerciseAnswerDetails</label>
            <input type="text" class="form-control tcslgn_inp" id="exerciseanswer.ExerciseAnswerDetails" placeholder="ExerciseAnswerDetails" [(ngModel)]="exerciseanswer.ExerciseAnswerDetails" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerDetails']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerDetails'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseAnswerRemarks">ExerciseAnswerRemarks</label>
            <input type="text" class="form-control tcslgn_inp" id="exerciseanswer.ExerciseAnswerRemarks" placeholder="ExerciseAnswerRemarks" [(ngModel)]="exerciseanswer.ExerciseAnswerRemarks" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerRemarks']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerRemarks'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseAnswerSubmissionDateTime">ExerciseAnswerSubmissionDateTime</label>
            <input type="date" class="form-control tcslgn_inp" id="exerciseanswer.ExerciseAnswerSubmissionDateTime" placeholder="ExerciseAnswerSubmissionDateTime" [(ngModel)]="exerciseanswer.ExerciseAnswerSubmissionDateTime" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerSubmissionDateTime']" />
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerSubmissionDateTime'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>



          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseAnswerValidityStatus">ExerciseAnswerValidityStatus</label>

            <select class="form-control tcslgn_inp" id="exerciseanswer.ExerciseAnswerValidityStatus"
                    placeholder="contenttype" [(ngModel)]="exerciseanswer.ExerciseAnswerValidityStatus"
                    [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerValidityStatus']">
              <option [ngValue]="undefined" disabled selected> Select Status </option>
              <option>Active</option>
              <option>Inactive</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerValidityStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>
          </div>




          <!--<div class="col-12 col-md-6">

    <label for="ExerciseAnswerCreatedDate">ExerciseAnswerCreatedDate</label>
    <input type="date" class="form-control" id="exerciseanswer.ExerciseAnswerCreatedDate" placeholder="ExerciseAnswerCreatedDate" [(ngModel)]="exerciseanswer.ExerciseAnswerCreatedDate" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerCreatedDate']" />

  </div>-->
          <!--<div class="col-12 col-md-6">

    <label for="ExerciseAnswerCreatedBy">ExerciseAnswerCreatedBy</label>
    <input type="text" class="form-control" id="exerciseanswer.ExerciseAnswerCreatedBy" placeholder="ExerciseAnswerCreatedBy" [(ngModel)]="exerciseanswer.ExerciseAnswerCreatedBy" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerCreatedBy']" />

  </div>-->
          <!--<div class="col-12 col-md-6">

    <label for="ExerciseAnswerUpdatedDate">ExerciseAnswerUpdatedDate</label>
    <input type="date" class="form-control" id="exerciseanswer.ExerciseAnswerUpdatedDate" placeholder="ExerciseAnswerUpdatedDate" [(ngModel)]="exerciseanswer.ExerciseAnswerUpdatedDate" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerUpdatedDate']" />

  </div>-->
          <!--<div class="col-12 col-md-6">

    <label for="ExerciseAnswerUpdatedBy">ExerciseAnswerUpdatedBy</label>
    <input type="text" class="form-control" id="exerciseanswer.ExerciseAnswerUpdatedBy" placeholder="ExerciseAnswerUpdatedBy" [(ngModel)]="exerciseanswer.ExerciseAnswerUpdatedBy" [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerUpdatedBy']" />

  </div>-->





          <div class="col-12 col-md-6 mb-1">

            <label for="ExerciseAnswerStatus">ExerciseAnswerStatus</label>
            <select class="form-control tcslgn_inp" id="exerciseanswer.ExerciseAnswerStatus"
                    placeholder="contenttype" [(ngModel)]="exerciseanswer.ExerciseAnswerStatus"
                    [formControl]="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerStatus']">
              <option [ngValue]="undefined" disabled selected> Select Status </option>
              <option>Active</option>
              <option>Inactive</option>
            </select>
            <ul class="hp_blk">
              <li *ngIf="exerciseanswerUpdateFormGroup.controls['exerciseanswer.ExerciseAnswerStatus'].hasError('required') && isSubmitted" class="err">This field is Required</li>
            </ul>

          </div>
         

        </div>



        <div class="form-group">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

